<template>
<div class="content">
   <hr>
   <hr>
   <p><strong><a href="/">Back</a></strong></p>
   <hr>
   <hr>
   <p><strong><a href="https://i.imgur.com/orjG1Qd.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
   <hr>
   <hr>
   <h1>► Adblocking</h1>
   <ul>
      <li><strong><a href="https://canyoublockit.com/">Can You Block It?</a></strong>, <a href="https://adblock-tester.com/">AdBlock Tester</a> or <a href="https://d3ward.github.io/toolz/src/adblock">Ad Blocker Test</a> - <em>Adblocking Test</em></li>
      <li><a href="https://stoptargetingads.me/">Stop Targeting Ads at Me</a> or <a href="https://simpleoptout.com/">Simple Opt Out</a> - <em>Turn off Targeted Ads</em></li>
      <li><a href="https://someonewhocares.org/hosts/">someonewhocares</a>, <a href="https://winhelp2002.mvps.org/hosts.htm">winhelp2002</a>, <a href="https://github.com/StevenBlack/hosts">Hosts</a> or <a href="https://github.com/2ndalpha/gasmask">Gas Mask</a> (Mac) - <em>Block Ads with Host Files</em> </li>
   </ul>
   <hr>
   <h2>▷ Adblocking Extensions</h2>
   <ul>
      <li><strong><a href="https://github.com/gorhill/uBlock#installation">uBlock Origin</a></strong> / <a href="https://github.com/gorhill/uBO-Extra">Extra</a> / <a href="https://github.com/el1t/uBlock-Safari">Safari</a>, <a href="https://adnauseam.io/">AdNauseam</a> or <a href="https://tblock.codeberg.page/">TBlock</a> - <em>Adblockers</em></li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_ublock_filters">Adblock Filters</a></strong> - <em>Filters for Adblockers / <a href="http://raymondhill.net/ublock/adbox.html">Test Filters</a> / <a href="https://abpvn.com/ruleChecker/redundantRuleChecker.html">Duplicate Check</a></em> </li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_adblock_defenders">Adblock Defenders</a></strong> - <em>Prevent Sites from Detecting Adblockers / <a href="https://blockads.fivefilters.org/">Test Defenders</a></em></li>
      <li><strong><a href="https://sponsor.ajay.app/">SponsorBlock</a></strong> - <em>Skip Sponsored YouTube Ads / <a href="https://github.com/nichobi/sponsorblockcast">Chromecast</a></em></li>
      <li><strong><a href="https://github.com/gorhill/uMatrix#umatrix">uMatrix</a></strong>, <a href="https://noscript.net/">NoScript</a> or <a href="https://www.andryou.com/scriptsafe">ScriptSafe</a> - <em>Blocks Malicious Scripts</em></li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_popup_blocker_links">Popup Blocker</a></strong> - <em>Blocks Malicious Popups &amp; Tabs</em></li>
      <li><strong><a href="https://universal-bypass.org/">Universal Bypass</a></strong>, <a href="https://thebypasser.com/versions/version2.html">Ad-Link Bypasser V2</a> or <a href="https://adsbypasser.github.io/">AdsBypasser</a> - <em>Skips Link Shorteners</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_skip_redirect">Skip Redirect</a> - <em>Bypass Redirects</em></li>
      <li><a href="https://greasyfork.org/en/scripts/409156-linkvertise-bypass">Linkvertise Bypass</a> or <a href="https://github.com/gamb2t/linkvertise-bypass">linkvertise-bypass</a> - <em>Bypass Linkvertise Redirects / <a href="https://discord.gg/cRmb8PrFdS">Discord</a></em> </li>
      <li><a href="https://openvideofs.github.io">OpenVideo</a> - <em>Plays videos from streaming sites in a ad free player</em></li>
      <li><a href="https://www.fakespot.com/">Fakespot</a> - <em>Identifies Fake Reviews &amp; Counterfeits</em></li>
      <li><a href="https://chrome.google.com/webstore/detail/ttv-lol/ofbbahodfeppoklmgjiokgfdgcndngjm">TTV LOL</a>, <a href="https://github.com/saucettv/VideoAdBlockForTwitch">VideoAdBlockForTwitch</a>, <a href="https://github.com/saucettv/VideoAdBlockForTwitch">VideoAdBlockForTwitch</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/purpleadblock/">Purple AdBlock</a> - <em>Twitch Adblocker</em> </li>
      <li><a href="https://github.com/pixeltris/TwitchAdSolutions">TwitchAdSolutions</a> - <em>Multiple Twitch Adblocking Methods</em></li>
      <li><a href="https://greasyfork.org/en/scripts/404309-facebook-hide-ads-a-k-a-sponsored-posts">Facebook Hide Ads</a> - <em>Remove Sponsored Posts from Facebook</em> </li>
      <li><a href="https://greasyfork.org/en/scripts/379003-linkedin-unsponsored">LinkedIn Unsponsored</a> - <em>Remove Sponsored Posts from LinkedIn</em> </li>
      <li><a href="https://github.com/NicolaeNMV/BehindTheOverlay">BehindTheOverlay</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/behind-the-overlay-revival/">Behind The Overlay Revival</a> - <em>Close Website Overlays</em> </li>
      <li><a href="https://romanisthere.github.io/PopUpOFF-Website/index.html">PopUpOFF</a> - <em>Overlay / Popup Blocker</em> </li>
      <li><a href="https://addons.mozilla.org/en-US/firefox/user/12781645/">Don&#39;t Touch My Tabs!</a> - <em>Prevent hyperlinks from controlling other window objects</em> </li>
   </ul>
   <hr>
   <h2>▷ DNS Adblocking</h2>
   <ul>
      <li><strong><a href="https://github.com/AdguardTeam/AdGuardHome/wiki/Docker">AdGuard Home</a></strong> - <em>Network-wide DNS Adblocking / <a href="https://github.com/klutchell/balena-adguard">Setup</a></em> </li>
      <li><a href="https://adguard.com/en/adguard-dns/overview.html">Adguard</a> - <em><a href="https://filters.adtidy.org/extension/chromium/filters/10.txt">Unblock Search Ads</a> / <a href="https://github.com/hl2guide/Filterlist-for-AdGuard-or-PiHole">Filters</a>, <a href="https://github.com/AdguardTeam/AdguardFilters/blob/master/EnglishFilter/sections/content_blocker.txt">2</a> / <a href="https://github.com/AdguardTeam/AdguardBrowserExtension#installation">Extension</a></em></li>
      <li><a href="https://blahdns.com/">Blah DNS</a></li>
      <li><a href="https://pi-hole.net/">Pi-Hole</a> - <em><a href="https://firebog.net/">Filter</a>, <a href="https://ftpihole.com/">2</a>, <a href="https://github.com/hl2guide/Filterlist-for-AdGuard">3</a> / <a href="https://addons.mozilla.org/en-US/firefox/addon/alanine/">Firefox</a> / <a href="https://chrome.google.com/webstore/detail/alanine/lohlpbknpcngpjifmofkidennikljlfi">Chrome</a> / <a href="https://hub.docker.com/repository/docker/kulda22/alanine">Docker</a></em></li>
      <li><a href="https://quad9.net/">Quad9</a> </li>
      <li><a href="https://ahadns.com/">ahadns</a> </li>
      <li><a href="https://adhole.org/">Adhole</a> </li>
      <li><a href="https://rethinkdns.com/">Rethink</a></li>
      <li><a href="https://www.dnscrypt.org">DNSCrypt</a> - <em><a href="https://simplednscrypt.org/">Manager</a></em></li>
      <li><a href="https://alternate-dns.com/index.php">AlternateDNS</a></li>
      <li><a href="https://github.com/getdnsapi/stubby">Stubby</a></li>
      <li><a href="https://diversion.ch/">Diversion</a> </li>
      <li><a href="https://nextdns.io">NextDNS</a> - <em><a href="https://redd.it/jt28e8">Email leak warning</a></em></li>
      <li><a href="https://www.duckdns.org/">DuckDNS</a>, <a href="https://freedns.afraid.org/">FreeDNS</a>, <a href="https://www.noip.com/">NoIP</a>, <a href="https://freemyip.com/">FreeMyIP</a> or <a href="https://desec.io/">Desec</a> - <em>Dynamic DNS Service</em></li>
      <li><a href="https://www.privacytools.io/providers/dns/">Encrypted DNS Resolvers</a></li>
      <li><a href="https://www.proxynation.org/">ProxyNation</a></li>
      <li><a href="https://docs.nixnet.services/DNS">nixnet DNS</a></li>
      <li><a href="https://controld.com/">ControlD</a> - <em>DNS Manager</em></li>
      <li><a href="https://www.spamhaus.org/">Spamhaus</a> - <em>DNS Blocklists</em></li>
      <li><a href="https://gitlab.isc.org/isc-projects/bind9">BIND</a> - <em>Portable DNS Protocol</em></li>
      <li><a href="https://maza-ad-blocking.andros.dev/">Maza</a> - <em>Local DNS Adblocking</em> </li>
      <li><a href="https://zenz-solutions.de/personaldnsfilter/">personalDNSfilter</a> - <em>DNS filter proxy</em></li>
      <li><a href="https://encrypted-dns.party/">DNS Party</a> - <em>DNS Config Profiles for Apple Devices Encrypted</em> </li>
   </ul>
   <hr>
   <h2>▷ <a href="/ai">Android Adblocking</a></h2>
   <hr>
   <h2>▷ <a href="/ai">iOS Adblocking</a></h2>
   <hr>
   <h1>► Antivirus</h1>
   <ul>
      <li><strong><a href="https://github.com/rshipp/awesome-malware-analysis">Awesome Malware Analysis</a></strong> - <em>Malware Analysis Tools / Resources</em></li>
      <li><strong><a href="https://www.reddit.com/r/Piracy/wiki/browsing_and_downloading_guide">How to Avoid Malware</a></strong> - <em>Malware avoidance guide</em></li>
      <li><strong><a href="https://www.malwarebytes.com/">Malwarebytes</a></strong>, <a href="https://www.iobit.com/en/malware-fighter.php">IOBit</a> or  <a href="https://www.immunet.com">Immunet</a> - <em>Anti-Malware / Antivirus</em></li>
      <li><strong><a href="https://www.malwarebytes.com/adwcleaner/">AdwCleaner</a></strong> or <a href="https://www.carifred.com/ultra_adware_killer/">Ultra Adware Killer</a> - <em>Anti-Adware</em></li>
      <li><strong><a href="https://www.virustotal.com/">VirusTotal</a></strong>, <a href="https://www.virscan.org/">VirSCAN</a>, <a href="https://lab.bitbaan.com/en/home">BitBaan</a>, <a href="https://www.joesandbox.com/">Joe Sandbox</a>, <a href="https://metadefender.opswat.com/?lang=en">MetaDefender</a>, <a href="https://www.fortiguard.com/faq/onlinescanner">Fortiguard</a> or <a href="https://virusscan.jotti.org/en">Jotti</a> - <em>File Scanners / <a href="https://t.me/virus_total_scan_bot">Telegram Bot</a> / <a href="https://github.com/SamuelTulach/VirusTotalUploader">Uploader</a></em> </li>
      <li><strong><a href="https://www.hybrid-analysis.com/">Hybrid Analysis</a></strong> or <a href="https://jevereg.amnpardaz.com/">Amnpardaz</a> - <em>Scan EXE Files</em></li>
      <li><strong><a href="https://www.urlvoid.com/">URL Void</a></strong>, <a href="https://threatstop.com/checkip">ThreatStop</a>, <a href="https://urlscan.io/">urlscan.io</a>, <a href="https://www.scamadviser.com/">Scamadviser</a>, <a href="https://sitecheck.sucuri.net/">SiteSheck</a>, <a href="https://www.islegitsite.com/">IsLegitSite</a> or <a href="https://transparencyreport.google.com/safe-browsing/search">Google Safe Browsing</a> - <em>Check Site Legitimacy</em></li>
      <li><a href="https://hard-configurator.com/">Hard_Configurator</a> - <em>GUI to manage Software Restriction Policy</em> </li>
      <li><a href="https://github.com/securitywithoutborders/hardentools">Hardentools</a> - <em>Disables Risky Windows Features</em></li>
      <li><a href="https://unchecky.com/">Unchecky</a> - <em>Clears Software Installation Checkboxes</em></li>
      <li><a href="https://usa.kaspersky.com/free-cloud-antivirus">Antivirus Kaspersky Cloud</a> or <a href="https://www.adaware.com/free-antivirus-download">Adaware Antivirus</a> - <em>Antivirus</em></li>
      <li><a href="https://www.mcshield.net/">MCShield</a> - <em>Removable Drive Antivirus</em> </li>
      <li><a href="https://www.shouldiremoveit.com/">Should I Remove It?</a> - <em>Easily Find &amp; Remove Adware, Spyware ect.</em> </li>
      <li><a href="https://www.wisecleaner.com/wise-anti-malware.html">Wise Anti-Malware</a> - <em>Anti-Malware</em></li>
      <li><a href="https://github.com/Neo23x0/Rewind">Rewind</a> - <em>Immediate Virus Infection Counter Measures</em></li>
      <li><a href="https://www.safer-networking.org/products/spybot-free-edition/">Spybot</a> or <a href="https://www.superantispyware.com/free-edition.html">SUPERAntiSpyware</a> - <em>Anti-spyware</em></li>
      <li><a href="https://leminhthanh.me/antilogger/">LMT Anti-Logger </a> - <em>Anti-Loggers (e.g. Keyloggers)</em></li>
      <li><a href="https://support.virustotal.com/hc/en-us/articles/115002700745-Browser-Extensions">VT4Browsers</a> - <em>Easily Scan Downloads</em></li>
      <li><a href="https://app.any.run/">Any Run</a> or <a href="https://cuckoosandbox.org/">Cuckoo</a> - <em>Malware Analysis Tool</em> </li>
      <li><a href="https://github.com/LordNoteworthy/al-khaser">Al-Khaser</a> - <em>Anti-Malware Stress Test</em></li>
      <li><a href="https://www.wireshark.org/">WireShark</a> - <em>Network Protocol Analyzer</em> </li>
      <li><a href="https://packettotal.com/">PacketTotal</a> - <em>PCAP / Network Analysis</em> </li>
      <li><a href="https://github.com/ericalexanderorg/should-i-trust">should-i-trust</a> - <em>Evaluates OSINT Signals for a Domain</em> </li>
      <li><a href="https://phish.ly/">Phish.ly</a> - <em>Scan Suspicious Emails</em></li>
      <li><a href="https://github.com/cuckoosandbox/cuckoo">Cuckoo</a> - <em>Automated Malware Analysis System</em></li>
      <li><a href="https://any.run/">Any.Run</a> - <em>Interactive Malware Sandbox</em></li>
      <li><a href="https://testsafebrowsing.appspot.com/">testsafebrowsing</a> - <em>Safe Browsing Testing Links</em> </li>
      <li><a href="https://quicksand.io/">QuickSand</a> - <em>PDF / Document Malware Scanner</em> </li>
      <li><a href="https://dangerzone.rocks/">Dangerzone</a> - <em>Convert dangerous PDF to safe PDF</em></li>
      <li><a href="https://threatmap.checkpoint.com/">ThreatMap</a> - <em>Live Malware Distribution Map</em></li>
      <li><a href="https://www.mywot.com/">Web Of Trust</a> - <em>Check Website Safety</em> </li>
      <li><a href="https://scamalytics.com/ip">Scamalytics</a> or <a href="https://www.ipqualityscore.com/free-ip-lookup-proxy-vpn-test/">IP Address Lookup</a> - <em>IP Address Fraud Check</em></li>
      <li><a href="https://add0n.com/virus-checker.html">Virus Checker</a> - <em>Virus Check for Downloads</em> </li>
      <li><a href="https://addons.mozilla.org/en-US/firefox/addon/malware-search-plusplusplus/">Malware Search+++</a> - <em>Malware Search Extension</em> </li>
      <li><a href="https://cse.google.com/cse?cx=011750002002865445766%3Apc60zx1rliu">Malware Analysis Search</a></li>
      <li><a href="https://virusshare.com/">VirusShare</a> - <em>Search / Share Malware Samples</em> </li>
      <li><a href="https://github.com/secretsquirrel/SigThief">SigThief</a> - <em>Signature Test</em> </li>
      <li><a href="https://github.com/enaqx/awesome-pentest">Awesome Penetration Testing</a> - <em>Penetration Testing Index</em></li>
      <li><a href="https://gitlab.com/urbanware-org/wideredist">wideredist</a> - <em>Update Windows Defender Definitions Locally</em></li>
   </ul>
   <hr>
   <h1>► Privacy</h1>
   <h2>▷ Privacy Tools</h2>
   <ul>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_privacy_tools">Privacy Tools / Services</a></strong> - <em>Indexes of Privacy Tools / Services</em></li>
      <li><strong><a href="https://docs.google.com/spreadsheets/d/1-UlA4-tslROBDS9IqHalWVztqZo7uxlCeKPQ-8uoFOU">Encrypted Messangers</a></strong>, <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_encrypted_messangers">2</a>  - <em>Encrypted Messaging App Index</em> </li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_sms_verification_sites">SMS Verification Sites</a></strong> - <em>Anonymous Text Verification</em></li>
      <li><strong><a href="https://twofactorauth.org/">Two Factor Auth</a></strong> - <em>List of Sites with 2FA Support</em></li>
      <li><strong><a href="https://authy.com/">Authy</a></strong> or <a href="https://winauth.github.io/winauth/">WinAuth</a> - <em>Two-Factor Authentication</em>  </li>
      <li><a href="https://obsidianapp.io/">Obsidian</a> - <em>OS X/ iOS Two-Factor Authentication</em></li>
      <li><a href="https://authenticator.cc/">Authenticator</a> - <em>Generate Two-Factor Codes / <a href="https://gitlab.gnome.org/World/Authenticator">GitHub</a></em> </li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_privacy_guides">Privacy / Safety Guides</a> - <em>Internet Privacy / Safety Guides</em> </li>
      <li><a href="https://privacy.sexy/">Privacy.Sexy</a> - <em>Privacy Scripts</em> </li>
      <li><a href="https://www.te-home.net/">Team Elite</a> - <em>Security Software</em></li>
      <li><a href="https://github.com/ashishb/osx-and-ios-security-awesome">macOS Security Tools</a> - <em>OS X Security Tools</em></li>
      <li><a href="https://inventory.raw.pm/">Rawsec&#39;s CyberSecurity Inventory</a> - <em>CyberSecurity Tool Index</em></li>
      <li><a href="https://github.com/danoctavian/awesome-anti-censorship">awesome-anti-censorship</a> - <em>Anti-Censorship tool index</em> </li>
      <li><a href="https://github.com/trimstray/the-practical-linux-hardening-guide">The Practical Linux Hardening Guide</a> - <em>Linux Privacy Guide</em> </li>
      <li><a href="https://element.io/">Element</a> / <a href="https://github.com/aaronraimist/element-themes">Themes</a>, <a href="https://qtox.github.io/">qTox</a>, <a href="https://u.is/en/">Utopia</a>, <a href="https://jami.net/">Jami</a>, <a href="https://tox.chat/">Tox</a>, <a href="https://bitmask.net/">Bitmask</a> or <a href="https://wickr.com/">Wickr</a> - <em>Encrypted Messaging / Video Calls</em> </li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_encrypted_xmpp_servers">Encrypted XMPP Servers</a></li>
      <li><a href="https://github.com/tallero/PGPgram">PGPgram</a> - <em>GPG Encrypted Telegram Backups</em></li>
      <li><a href="http://doggyfipznipbaia.onion/">Cryptodog</a> or <a href="http://torbitamzta34aai.onion/">torbitamzta34aai</a> - <em>Anonymous Chat Room / .onion</em>  </li>
      <li><a href="https://hexchat.github.io/">Hexchat</a> - <em>Private IRC Client</em> </li>
      <li><a href="https://github.com/shazow/ssh-chat">ssh-chat</a> - <em>Chat over SSH / <a href="https://shazow.net/posts/ssh-how-does-it-even/">Info</a></em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_windows_10_antispy_tools">Windows 10 Antispy Tools</a></li>
      <li><a href="https://github.com/builtbybel/privatezilla">Privatezilla</a> - <em>Find and fix Windows 10 Privacy / Security Issues</em> </li>
      <li><a href="https://github.com/henrypp/simplewall">simplewall</a> - <em>Configure Windows Filtering Platform</em> </li>
      <li><a href="https://github.com/basil00/TorWall">TorWall</a> or <a href="https://www.whonix.org/">Whonix</a> - <em>Use Tor to encrypt your Internet traffic</em></li>
      <li><a href="https://github.com/yaelwrites/Big-Ass-Data-Broker-Opt-Out-List">Big Ass Data Broker Opt-Out List</a> - <em>List of Data Broker Opt-Out Resources</em> </li>
      <li><a href="https://dnt.abine.com/">Blur</a> - <em>Protect Passwords &amp; Personal Information</em> </li>
      <li><a href="https://www.f-secure.com/en/home/free-tools/identity-theft-checker">F-Secure Identity Theft Checker</a> - <em>Identity Theft Check</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_name_.26amp.3B_identity_generators">Name &amp; Identity Generators</a> - <em>Generate Fake Names / Identities</em> </li>
      <li><a href="https://fakeaddressgenerator.com/">Fake Address Generator</a> - <em>Create a fake Address</em></li>
      <li><a href="https://randomuser.me/">Random User Generator</a> - <em>Generator Fake User Details</em> </li>
      <li><a href="https://tails.boum.org/">Tails</a> or <a href="https://www.qubes-os.org/">Qubes</a> - <em>OS that protects privacy / avoids censorship</em></li>
      <li><a href="https://mofolinux.com/">Mofolinux</a> - <em>Linux OS that protects privacy / avoids censorship</em></li>
      <li><a href="https://leecher.me/">Leecher</a> - <em>Anonymous Link / Download Generator</em> </li>
      <li><a href="https://trackthis.link/">Track This</a> - <em>Confuse Personal Advertising by opening 100 tabs</em> </li>
      <li><a href="https://www.veracrypt.fr/en/Home.html">VeraCrypt</a> or <a href="https://gitlab.com/cryptsetup/cryptsetup">CryptSetup</a> - <em>Disk Encryption Software</em></li>
      <li><a href="https://support.apple.com/en-us/HT204837">FileVault</a> - <em>Mac Disk Encryption</em> </li>
      <li><a href="https://cryptomator.org/">Cryptomator</a>, <a href="https://www.boxcryptor.com/en/">Boxcryptor</a>, <a href="https://tahoe-lafs.org/trac/tahoe-lafs">Tahoe-LAFS</a>, <a href="https://filen.io/">Filen</a> or <a href="https://xordrive.io/">xordrive</a> - <em>Cloud File Encryption</em></li>
      <li><a href="https://wormhole.app/">Wormhole</a>, <a href="https://vault.ooo/">Vualt.ooo</a>, <a href="https://skytransfer.hns.siasky.net">Skytransfer</a> or <a href="https://upload.vaa.red/">upload-vaa</a> - <em>Encrypted File Host</em> </li>
      <li><a href="https://encfsmp.sourceforge.io/index.html">EncFS MP</a>, <a href="https://www.ciphershed.org/">CipherShed</a> or <a href="https://github.com/HACKERALERT/Picocrypt">Picocrypt</a> - <em>File Encryption Tool</em> </li>
      <li><a href="https://remotestre.am/">RemoteStream</a> - <em>Encrypt your Google Drive links</em> </li>
      <li><a href="https://pdfencrypt.net/">PDFEncrypt</a> - <em>PDF File Encryption</em></li>
      <li><a href="https://www.gnupg.org/index.html">GnuPG</a> or <a href="https://gpgtools.org/">GPGTools</a> - <em>Encrypt &amp; Sign Data / Communications</em> </li>
      <li><a href="https://unsee.cc/">Unsee</a> - <em>Private / Temporary Image Host</em> </li>
      <li><a href="https://imgproxify.com/">ImgProxify</a> - <em>Image Proxy Generator</em></li>
      <li><a href="https://privnote.com/">PrivNote</a> or <a href="https://ipnote.io/">IPNote</a> - <em>Notes that Auto Delete After Being Read</em> </li>
      <li><a href="https://eraser.heidi.ie/">Eraser</a> - <em>Remove / Overwrite Hard Drive Data</em> </li>
      <li><a href="https://www.cleanersoft.com/hidefolder/free_hide_folder.htm">Free Hide Folder</a> or <a href="http://www.wisecleaner.com/wise-folder-hider-free.html">Wise Folder Hider</a> - <em>Hide Folders / Files</em> </li>
      <li><a href="https://tails.boum.org/">Tails</a> or <a href="https://www.qubes-os.org/">Qubes</a> - <em>OS that protects privacy / avoids censorship</em></li>
      <li><a href="https://mofolinux.com/">Mofolinux</a> - <em>Privacy Focused Linux OS</em></li>
      <li><a href="https://github.com/aforensics/HiddenVM">HiddenVM</a> - <em>Run a Oracle VM on TailsOS</em></li>
      <li><a href="https://www.safer-networking.org/products/spybot-anti-beacon/">Spybot Anti-Beacon</a> - <em>Stop Telemetry Data Leaks</em></li>
      <li><a href="https://iknowwhatyoudownload.com/">IKnowWhatYouDownload</a> - <em>Track Torrent Download Leaks</em></li>
      <li><a href="https://safing.io/">Safing</a> - <em>Monitor Network / Block Trackers</em></li>
      <li><a href="http://www.sphinx-soft.com/Vista/index.html">Win10 Firewall Control</a> or <a href="https://www.glasswire.com/">GlassWire</a> - <em>Firewall / Network Monitor</em> </li>
      <li><a href="http://metal.fortiguard.com/">Test Your Metal</a> - <em>Test Firewall</em> </li>
      <li><a href="https://objective-see.com/products/lulu.html">LuLu</a> - <em>Mac Firewall</em> </li>
      <li><a href="https://github.com/evilsocket/opensnitch">OpenSnitch</a> or <a href="http://gufw.org/">Gufw</a> - <em>Linux Firewall</em> </li>
      <li><a href="https://greasyfork.org/en/scripts/406540-undiscord-delete-all-messages-in-a-discord-channel-or-dm-bulk-deletion">Undiscord</a>, <a href="https://github.com/adversarialtools/discord-delete">discord-delete</a>, <a href="https://github.com/victornpb/deleteDiscordMessages">deleteDiscordMessages</a> or <a href="https://u.nu/9i9jk">QuickDeleteMessages</a> - <em>Delete Discord Messages / <a href="https://i.imgur.com/Kt8G430.png">Warning</a></em> </li>
      <li><a href="https://spyware.neocities.org/">Spyware Watchdog</a> - <em>Spyware Program Index</em></li>
      <li><a href="https://tosdr.org/">Terms of Service; Didn&#39;t Read</a> - <em>TLDR TOS</em></li>
      <li><a href="https://v2ray.com/en/">V2Ray</a> - <em>Build your own Privacy Network / <a href="https://qv2ray.net/">GUI</a>, <a href="https://github.com/2dust/v2rayN">v2rayN</a></em> </li>
      <li><a href="https://www.scout.tel/phone-number-lookup">Scout</a> - <em>Phone Number Lookup / Safety Check</em> </li>
      <li><a href="https://www.freecarrierlookup.com/">FreeCarrierLookup</a> - <em>Get Telephone Carrier Data</em> </li>
      <li>/r/privacy - <em>Privacy Discussion</em> </li>
      <li><a href="https://privacy.com/">Privacy.com</a> - <em>Make Secure Payments / US only</em> </li>
      <li><a href="https://github.com/paolostivanin/OTPClient">OTPClient</a> - <em>One-Time Password Client</em> </li>
      <li><a href="https://github.com/ctfs/">ctfs</a> - <em>Information Security Competition Writeups</em></li>
      <li><a href="https://www.globaleaks.org/">Globaleaks</a> - <em>Self-Hosted Whistleblowing Platform</em></li>
      <li><a href="https://github.com/hukkelas/">DeepPrivacy</a> - <em>A Generative Adversarial Network for Face Anonymization</em></li>
      <li><a href="https://github.com/everestpipkin/image-scrubber">image-scrubber</a> - <em>Anonymize Protest Photos</em></li>
   </ul>
   <hr>
   <h2>▷ Privacy Extensions</h2>
   <ul>
      <li><strong><a href="https://github.com/ClearURLs/Addon/releases">ClearURLs</a></strong> / <a href="https://gitlab.com/KevinRoebert/ClearUrls">2</a>, <a href="https://mybrowseraddon.com/link-cleaner.html">Link Cleaner</a> or <a href="https://greasyfork.org/en/scripts/374699-link-sanitizer">Link Sanitizer</a> - <em>Removes tracking elements from URLs</em></li>
      <li><strong><a href="https://www.localcdn.org/">LocalCDN</a></strong>, <a href="https://addons.mozilla.org/en-US/firefox/addon/whatcampaign/">WhatCampaign</a> or <a href="http://trackmenot.io/">TrackMeNot</a> - <em>Tracking Protection</em></li>
      <li><a href="https://mybrowseraddon.com/file-encryptor.html">File Guard</a> - <em>File Encryption / Decryption</em></li>
      <li><a href="https://absolutedouble.co.uk/trace/">Trace</a> - <em>Privacy Toolkit</em> </li>
      <li><a href="https://github.com/wooque/site-bleacher">Site Bleacher</a> - <em>Auto remove cookies, local storages, IndexedDBs, service workers, cache storages, filesystems &amp; webSQLs</em></li>
      <li><a href="https://github.com/SimonBrazell/privacy-redirect">Privacy Redirect</a> - <em>Redirects Twitter, YouTube, Instagram &amp; Google Maps to alt interfaces</em></li>
      <li><a href="https://codeberg.org/Booteille/Invidition">Invidition</a> - <em>Redirect YouTube / Twitter requests to their alt interfaces</em></li>
      <li><a href="https://addons.mozilla.org/en-US/firefox/addon/hooktube-redirect/?src=search">Invidious Redirect</a> - <em>Redirects all YouTube links to Invidous</em> </li>
      <li><a href="https://privacybadger.org/">Privacy Badger</a> or <a href="https://github.com/cowlicks/privacypossum">Privacy Possum</a> - <em>Blocks invisible trackers</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_anti-grabify">Anti-Grabify</a> - <em>Block IP Grabbers</em></li>
      <li><a href="https://www.cydecplatform.com/antifp.html">Anti-Fp</a> - <em>Disrupt Fingerprint Targeting</em></li>
      <li><a href="https://www.mike-gualtieri.com/css-exfil-vulnerability-tester">CSS Exfil Protection</a> - <em>Stops CSS data exfiltration attacks</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_canvasblocker">CanvasBlocker</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/no-canvas-fingerprinting/">Canvas Defender</a> - <em>Prevent Canvas Fingerprinting</em></li>
      <li><a href="https://github.com/mozfreddyb/webext-firstpartyisolation">First Party Isolation</a> - <em>Like blocking Third-party cookies, but more exhaustively</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_location_guard">Location Guard</a> or <a href="https://chrome.google.com/webstore/detail/manual-geolocation/jpiefjlgcjmciajdcinaejedejjfjgki">Manual Geolocation</a> - <em>Hide Browsers Geolocation</em></li>
      <li><a href="https://addons.mozilla.org/en-US/firefox/addon/languageswitch/">Language Switch</a> - <em>Change Language Identifier</em></li>
      <li><a href="https://add0n.com/spoof-timezone.html">Spoof Timezone</a> - <em>Hide Real Timezone</em></li>
      <li><a href="https://addons.mozilla.org/en-GB/firefox/addon/cloud-firewall/">Cloud Firewall</a> - <em>Block Major Cloud Services</em></li>
      <li><a href="https://uglyemail.com/">UglyEmail</a> or <a href="https://chrome.google.com/webstore/detail/pixelblock/jmpmfcjnflbcoidlgapblgpgbilinlem/">PixelBlock</a> - <em>Block Email Trackers</em> </li>
      <li><a href="https://github.com/sereneblue/chameleon">Chameleon</a>, <a href="https://add0n.com/useragent-switcher.html">UA Switcher &amp; Manager</a> or <a href="https://chrome.google.com/webstore/detail/user-agent-switcher-for-c/djflhoibgkdhkhhcedjiklpkjnoahfmg">User-Agent Switcher</a> - <em>User-Agent Spoofer</em></li>
      <li><a href="https://addons.mozilla.org/en-US/firefox/addon/privacy-settings/">Firefox Privacy Settings</a> or <a href="https://github.com/snowhaze/firefox-extension">SnowHaze</a> - <em>Firefox Privacy Settings Manager</em></li>
      <li><a href="https://gitlab.com/smart-referrer/smart-referer">Smart Referer</a> - <em>Limit Referer Information Leaks</em> </li>
      <li><a href="https://claustromaniac.github.io/poop/">Privacy-Oriented Origin Policy</a> - <em>Prevents Sending Origin Headers</em> </li>
      <li><a href="https://add0n.com/opt-out.html">Opt Out Tools</a> - <em>Prevents JavaScript from sending google info</em>  </li>
      <li><a href="https://gbaptista.github.io/luminous/doc/en-US/">Luminous</a> - <em>JavaScript Events Blocker</em> </li>
      <li><a href="https://github.com/mindedsecurity/behave">Behave!</a> - <em>IP Protection</em> </li>
      <li><a href="https://mybrowseraddon.com/webrtc-control.html">WebRTC Control</a> - <em>Enable / Disable WebRTC</em> </li>
      <li><a href="https://chrome.google.com/webstore/detail/webrtc-network-limiter/npeicpdbkakmehahjeeohfdhnlpdklia?hl=en">WebRTC Network Limiter</a> - <em>WebRTC Network Traffic Config</em> </li>
      <li><a href="https://github.com/allanlw/gps-detect">GPSDetect</a> - <em>Alerts user when JPEG contains EXIF GPS coordinates</em>  </li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_skip_redirect">Forget Me Not</a> - <em>Only keeps website data for sites you choose</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_secure_password_generator">Secure Password Generator</a> or <a href="https://github.com/XFox111/PasswordGeneratorExtension">Password Generator</a> - <em>Password Generator</em> </li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_password-protected_bookmarks">Private Bookmarks</a> - <em>Password Protected Bookmarks</em></li>
      <li><a href="https://github.com/tsl143/addonManager">Permission Inspector</a> - <em>Extension Permissions Inspector</em> </li>
      <li><a href="https://github.com/History-AutoDelete/History-AutoDelete">History-AutoDelete</a> - <em>Browser History Manager</em> </li>
      <li><a href="https://add0n.com/ecleaner.html">eCleaner</a> - <em>Quickly Clear Browser Data</em></li>
      <li><a href="https://github.com/sr33/ares">Nuke-Reddit-History</a> - <em>Reddit Auto Post Delete</em></li>
      <li><a href="https://audiofingerprint.openwpm.com/">AudioContext Fingerprint Test</a> - <em>AudioContext / Canvas API Fingerprinting Test</em></li>
      <li><a href="https://mybrowseraddon.com/audiocontext-defender.html">AudioContext Fingerprint Defender</a> - <em>Stop AudioContext fingerprinting</em> </li>
      <li><a href="https://github.com/chpmrc/zero-width-chrome-extension">zero-width</a> - <em>Replaces zero-width characters</em> </li>
      <li><a href="https://addons.mozilla.org/en-US/firefox/addon/temporary-containers/">Temporary Containers</a> - <em>Disposable Containers</em> </li>
      <li><a href="https://www.daniel.priv.no/web-extensions/amp2html.html">Redirect AMP to HTML</a> - <em>Redirects AMP Pages to Regular Web Pages</em> </li>
      <li><a href="https://github.com/claustromaniac/httpz">HTTPZ</a>, <a href="https://mybrowseraddon.com/smart-https.html">Smart HTTPS</a> or <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>- <em>HTTPS Encryption</em></li>
      <li><a href="https://github.com/Nitrama/HTTP-Header-Live">HTTP Header Live</a> - <em>Display / Edit the HTTP Header</em></li>
      <li><a href="https://add0n.com/two-factor-authenticator.html">Open Two Factor Authenticator</a> - <em>Two-Factor Authentication Addon</em> </li>
      <li><a href="https://chrome.google.com/webstore/detail/social-book-post-manager/ljfidlkcmdmmibngdfikhffffdmphjae">Social Book Post Manager</a> - <em>Delete Facebook Posts in Bulk</em> </li>
      <li><a href="https://github.com/swow2015/Who-sSellingMyInfo-">Who&#39;s Selling My Info?</a> - <em>Detect Pages with &quot;Do Not Sell My Information&quot; Links</em></li>
      <li><a href="https://github.com/jannispinter/indicatetls">IndicateTLS</a> - <em>Display a Sites the TLS Protocol Version</em> </li>
      <li><a href="https://github.com/princiya/lightbeam-we">Lightbeam</a> - <em>Tracker Visualization</em> </li>
   </ul>
   <hr>
   <h2>▷ Browser Tools</h2>
   <ul>
      <li><strong><a href="https://ffprofile.com/">ffprofile</a></strong>, <strong><a href="https://github.com/arkenfox/user.js">ghacks-user.js</a></strong>, <a href="https://github.com/amq/firefox-debloat">firefox-debloat</a>, <a href="https://github.com/pyllyukko/user.js/">pyllyukko</a> / <a href="https://github.com/pyllyukko/user.js/">2</a> - <em>Privacy hardened Firefox / <a href="https://i.imgur.com/ZMQJHwC.png">user.js warning</a></em></li>
      <li><strong><a href="https://www.torproject.org/">Tor Browser</a></strong> or <a href="https://lokinet.org/">Lokinet</a> - <em>Onion-Routed Browser / <a href="https://i.imgur.com/bQStFyI.gifv">Unblock Tor</a> / <a href="https://github.com/s-rah/onionscan">Leak Scan</a> / <a href="https://dragonfruit.network/onionfruit">Access Client</a> / <a href="https://github.com/dragonfruitnetwork/onionfruit/">GitHub</a></em></li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_privacy_based_browsers">Privacy Based Browsers</a></strong> - <em>Browsers with a focus on Privacy</em> </li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_password_data_breach_check">Password Data Breach Check</a></strong></li>
      <li><strong><a href="https://privacyspy.org/">PrivacySpy</a></strong> - <em>Grades a Sites Privacy Policies</em> </li>
      <li><strong><a href="https://www.accountkiller.com/">ACCOUNTKILLER</a></strong> or <a href="https://justdeleteme.xyz/">JustDeleteMe</a>, <a href="https://backgroundchecks.org/justdeleteme/">2</a> - <em>Find / Terminate Old Accounts</em> </li>
      <li><a href="https://webkay.robinlinus.com/">What every Browser knows about you</a> - <em>Browser Data Leak Demonstration</em></li>
      <li><a href="https://www.security.org/how-secure-is-my-password/">How Secure is My Password</a> - <em>Password Strength Checker</em></li>
      <li><a href="https://leakedsource.ru/">LeakedSource</a> - <em>Multiple Data Breach Checks</em></li>
      <li><a href="http://vigilante.pw/">Vigilante.pw</a> - <em>Search for sites that have been breached</em> </li>
      <li><a href="https://snusbase.com/">Snusbase</a>, <a href="http://leak-lookup.com/">Leak Lookup</a> or <a href="https://leakpeek.com/">leakpeek</a> - <em>Data Breach Search Engine</em> </li>
      <li><a href="https://databunker.org/">DataBunker</a> - <em>Data Leak Prevention</em></li>
      <li><a href="http://rslookup.com/">RS Lookup</a> - <em>Check if your RuneScape data has been breached</em> </li>
      <li><a href="https://canarytokens.org/generate">Canarytokens</a> - <em>Network Breach Check</em> </li>
      <li><a href="https://justgetmydata.com/">JustGetMyData</a> - <em>Links to Obtain Your Data from Websites</em> </li>
      <li><a href="https://trackingthetrackers.com/">TrackingTheTrackers</a> - <em>Check if a website is disguising third-party trackers as first-party trackers</em></li>
      <li><a href="https://whotracks.me/">WhoTracksMe</a> or <a href="https://trackography.org/">Trackography</a> - <em>Site Tracking Info</em>  </li>
      <li><a href="https://geti2p.net/en/">I2P</a> - <em>Encrypted Private Network Layer / <a href="https://github.com/mikalv/awesome-i2p">Resource Index</a></em> </li>
      <li><a href="https://www.nothingprivate.ml/">NothingPrivate</a>, <a href="https://www.deviceinfo.me/">Device Info</a>, <a href="https://privacy.net/analyzer/">Privacy Test</a>, <a href="https://ipx.ac/run">IPX</a> or <a href="https://browseraudit.com/">BrowserAudit</a> - <em>Browser Data Leak Test</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_ip_.2F_dns_leak_tests">IP / DNS Leak Tests</a> - <em>Test for IP &amp; DNS Leaks</em></li>
      <li><a href="http://dnscookie.com/">DNSCookie</a> - <em>Identify Related Network Flows</em></li>
      <li><a href="https://www.itechguides.com/disable-ipv6-windows-10/">Turn off IPv6 to Prevent Leaks</a> - <em><a href="https://ip6.nl/">IPv6 Leak Test</a>, <a href="https://test-ipv6.com/">2</a></em> </li>
      <li><a href="https://ip.voidsec.com/">Voidsec</a> or <a href="https://www.expressvpn.com/webrtc-leak-test">WebRTC Leak Test</a> - <em>WebRTC Leak Test</em></li>
      <li><a href="https://github.com/saljam/webwormhole">webwormhole</a> - <em>Peer Authenticated WebRTC</em></li>
      <li><a href="https://www.whatsmyua.info/">WhatsMyUA?</a> or <a href="https://www.whatismybrowser.com/detect/what-is-my-user-agent">WhatIsMyBrowser</a> - <em>User-Agent Detection</em> </li>
      <li><a href="https://pribot.org/">Pribot</a> - <em>Automated Analysis for Privacy Policies</em> </li>
      <li><a href="https://github.com/pucherot/Pi.Alert">Pi.Alert</a> - <em>Network Monitor</em></li>
      <li><a href="https://takeout.google.com/">Google Takeout</a> - <em>Google Data Request</em></li>
      <li><a href="https://www.reddit.com/r/privacy/wiki/de-google">de-google</a>, <a href="https://degooglisons-internet.org/en/">De-google-ify</a>, <a href="https://degoogle.jmoore.dev/">degoogle</a> or <a href="https://nomoregoogle.com/">No More Google</a> - <em>Google App Alternatives</em></li>
      <li><a href="https://www.crx4chrome.com/">Crx4Chrome</a> - <em>Alt Google App Store</em></li>
      <li><a href="https://github.com/nickspaargaren/no-google">no-google</a> - <em>Block All Google Services</em> </li>
      <li><a href="http://nixory.sourceforge.net/">Nixory</a> - <em>Antispyware Browser Tool</em> </li>
      <li><a href="https://www.whatismyreferer.com/">What is my Referer</a> or <a href="https://www.darklaunch.com/tools/test-referer">Dark Launch Referer Test</a> - <em>Check Link Referrer</em></li>
      <li><a href="https://linkcleaner.app/">Link Cleaner</a> - <em>Remove Tracking Elements / Extra Garbage from URLs</em></li>
      <li><a href="https://whoer.net/">whoer</a> or <a href="http://www.f.vision/">f.vision</a> - <em>Check Network / Browser Security</em></li>
      <li><a href="https://www.computec.ch/projekte/browserrecon/?s=scan">browserrecon</a>, <a href="https://pixelscan.net/">PixelScan</a> or <a href="https://amiunique.org/">AmIUnique</a> / <a href="https://amiunique.org/timeline">Timeline</a> - <em>Browser Fingerprinting Test</em></li>
      <li><a href="https://github.com/da2x/fluxfonts">fluxfonts</a> - <em>Hide Unique Font Fingerprint</em></li>
      <li><a href="https://webbkoll.dataskydd.net/">dataskydd</a> or <a href="https://themarkup.org/blacklight">Blacklight</a> - <em>Check what data-protecting measures a site has taken</em></li>
      <li><a href="https://github.com/gorhill/uBO-Scope">uBO-Scope</a> - <em>Measure 3rd Party Exposure</em> </li>
      <li><a href="https://freetubeapp.io/">FreeTube</a> - <em>Private YouTube Client</em></li>
      <li><a href="https://invidiou.site/">Invidious</a> / <a href="https://tube.cadence.moe/">2</a>, <a href="https://freetubeapp.io/">FreeTubeApp</a>, <a href="https://github.com/TeamPiped/Piped">Piped</a> or <a href="https://github.com/user234683/youtube-local">Youtube-local</a> - <em>YouTube frontend / Free / No Account Required / <a href="https://github.com/iv-org/documentation/blob/master/Invidious-Instances.md">Instances</a></em> </li>
      <li><a href="https://wikiless.org/">Wikiless</a> - <em>Wikipedia Frontend / <a href="https://codeberg.org/orenom/Wikiless">Source</a></em></li>
      <li><a href="https://yotter.kavin.rocks/">Yotter</a> - <em>Youtube / Twitter Frontend</em> </li>
      <li><a href="https://bibliogram.art/">Bibliogram</a> - <em>Instagram frontend / <a href="https://github.com/cloudrac3r/bibliogram">Open Source</a></em></li>
      <li><a href="https://nitter.net/">nitter</a> - <em>Twitter Frontend / <a href="https://github.com/pluja/Feetter">Manage Feeds</a></em></li>
      <li><a href="https://www.xeddit.com/">xeddit</a>, <a href="https://reedditapp.com/">Reeddit</a>, <a href="https://libredd.it/">libreddit</a> or <a href="https://teddit.net/">teddit</a>, <a href="https://codeberg.org/teddit/teddit">2</a> - <em>Reddit Frontends</em></li>
      <li><a href="https://translate.metalune.xyz/">Metalune</a> / <a href="https://gtranslate.metalune.xyz/">2</a> - <em>Google Translate Frontend</em> </li>
      <li><a href="https://cusdis.com/">Cusdis</a> - <em>Privacy-Focused Comment System / <a href="https://github.com/djyde/cusdis">GitHub</a></em></li>
      <li><a href="https://github.com/Nick-Gottschlich/Social-Amnesia">Social Amnesia</a> - <em>Reddit / Twitter Auto Post Delete</em></li>
      <li><a href="https://forget.codl.fr/">Forget</a> - <em>Twitter / Mastodon Auto Post Delete</em></li>
      <li><a href="https://gist.github.com/aymericbeaumet/d1d6799a1b765c3c8bc0b675b1a1547d">delete-likes-from-twitter</a> - <em>Delete Twitter Likes / Favorites</em> </li>
      <li><a href="http://unfavinator.com/">Unfavinator</a> - <em>Delete Twitter Favorites</em></li>
      <li><a href="https://tweetdelete.net/">TweetDelete</a> or <a href="https://www.tweeteraser.com/">TweetEraser</a> - <em>Delete Twitter Posts in Bulk</em> </li>
      <li><a href="http://geosocialfootprint.com/">GeoSocial Footprint</a> or <a href="https://tinfoleak.com/">tinfoleak</a> - <em>View Your Geosocial Footprint</em> </li>
      <li><a href="https://github.com/j0be/PowerDeleteSuite">PowerDeleteSuite</a> - <em>Reddit Auto Post Delete</em></li>
      <li><a href="https://saymineapp.com/">Mine</a> - <em>View / Manage Digital Footprint</em></li>
      <li><a href="https://redact.dev/">Redact</a> - <em>Delete Entire Online History / <a href="https://i.imgur.com/Kt8G430.png">Warning</a></em></li>
      <li><a href="http://makeinternetnoise.com/">Make Internet Noise</a> - <em>Randomize Browser History</em> </li>
      <li><a href="http://vektort13.space/">Vektort13</a> - <em>Website History Test</em></li>
      <li><a href="https://freenetproject.org/">Freenet Project</a> - <em>Browse / Publish Freenet Sites</em> </li>
      <li><a href="https://github.com/jamiepine/cache-monkey">Cache Monkey</a> - <em>Convert, Browse &amp; Clear Cached Images &amp; Files</em> </li>
      <li><a href="https://everestpipkin.github.io/image-scrubber/">Image Scrubber</a> - <em>Blur Images / Scrub Metadata</em></li>
      <li><a href="https://exiftool.org/">exiftool</a>, <a href="https://exifcleaner.com/">ExifCleaner</a>, <a href="https://www.exifremove.com/">EXIFRemove</a>, <a href="https://gitlab.com/juanitobananas/scrambled-exif">scrambled-exif</a> or <a href="https://www.verexif.com/en/">VerExif</a> - <em>Remove Meta / EXIF Data</em> </li>
      <li><a href="https://www.pic2map.com/">Pic2Map</a> - <em>Image EXIF data viewer with GPS support</em></li>
      <li><a href="https://www.thexifer.net/index.php">TheExifer</a> or <a href="https://www.exiv2.org/">Exiv2</a> - <em>Image EXIF Data Editor</em> </li>
      <li><a href="https://us.digicamsoft.com/softnamexif.html">Nameexif</a> - <em>Bulk Image EXIF Data Editor</em></li>
      <li><a href="https://github.com/firstlookmedia/pdf-redact-tools">pdf-redact-tools</a> - <em>Strip Metadata from Documents / PDF Files</em> </li>
      <li><a href="https://seclists.org/">SecLists</a> - <em>Security Mailing List Archive</em> </li>
      <li><a href="https://openphish.com/">OpenPhish</a> - <em>Phishing Threat Data</em> </li>
      <li><a href="https://coveryourtracks.eff.org/">Panopticlick</a> - <em>Test if your Browser Blocks Tracking</em> </li>
      <li><a href="https://github.com/ValdikSS/GoodbyeDPI/">GoodbyeDPI</a> - <em>Bypass DPI which blocks access to sites</em></li>
      <li><a href="https://amifloced.org/">Am I FLoCed?</a> or <a href="https://floc.glitch.me/">FLoC Demo</a> - <em>Check if Chrome Ad-Targeting is Enabled</em></li>
   </ul>
   <hr>
   <h2>▷ Search Engines</h2>
   <ul>
      <li><strong><a href="https://searchengine.party/">Search Engine Party</a></strong> - <em>Privacy Search Engine Comparisons</em></li>
      <li><strong><a href="https://duckduckgo.com/">DuckDuckGo</a></strong> - <em><a href="https://duckduckgo.com/bang">Shortcuts</a></em></li>
      <li><a href="https://asciimoo.github.io/searx/">searx</a> - <em><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_searx_instances">Instances</a></em></li>
      <li><a href="https://www.startpage.com/">StartPage</a></li>
      <li><a href="https://www.qwant.com/">Qwant</a></li>
      <li><a href="https://swisscows.com/">Swisscows</a></li>
      <li><a href="https://metager.org/">Metager</a></li>
      <li><a href="https://yacy.net/">YaCy</a> </li>
      <li><a href="https://www.mojeek.com/">Mojeek</a></li>
      <li><a href="https://skyn3t.in/">SKYN3T</a></li>
      <li><a href="https://www.privado.com/">Privado</a> </li>
      <li><a href="https://peekier.com/">peekier</a></li>
      <li><a href="https://yippy.com/">Yippy</a></li>
      <li><a href="https://infinitydecentralized.com/">Infinity</a></li>
      <li><a href="https://ekoru.org/">ekoru</a></li>
      <li><a href="https://www.runnaroo.com/">Runnaroo</a> </li>
      <li><a href="https://gibiru.com/">Gibiru</a> </li>
      <li><a href="https://github.com/benbusby/whoogle-search">Whoogle</a> - <em>Easy to self-host SE with Google results</em> </li>
   </ul>
   <hr>
   <h2>▷ Email Services</h2>
   <ul>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_temp_email_sites">Temp Emails</a></strong> - <em>Create Temporary Email Addresses</em></li>
      <li><strong><a href="https://haveibeenpwned.com/">Have I been Pwned?</a></strong> or <a href="https://ghostproject.fr/">GhostProject</a> - <em>Monitor Email Breaches</em></li>
      <li><a href="https://www.emailprivacytester.com/">EmailPrivacyTester</a> - <em>Email Privacy Tests</em> </li>
      <li><a href="https://forwardemail.net/">Forward Email</a>, <a href="https://simplelogin.io/">SimpleLogin</a>, <a href="https://relay.firefox.com/">Firefox Relay</a>, <a href="https://www.spamgourmet.com/index.pl">spamgourmet</a>, <a href="https://ptorx.com/">Ptorx</a>, <a href="http://scr.im/">scr.im</a>, <a href="https://www.jetable.org/en/index">Jetable</a> or <a href="https://anonaddy.com/">AnonAddy</a> - <em>Email Forwarding</em>   </li>
      <li><a href="https://t.me/FakemailBot">FakemailBot</a>, <a href="https://t.me/DropmailBot">DropmailBot</a> or <a href="https://t.me/ccgen_robot">ccgen_robot</a> - <em>Email Forwarding Telegram Bots</em></li>
      <li><a href="https://check-mail.org/free-email-validation-api/">Check-Mail</a> or <a href="https://www.validator.pizza/">Validator</a> - <em>Check if a email is valid</em> </li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_encrypted_email_services">Encrypted Email Services</a></li>
      <li><a href="https://www.openpgp.org/">OpenPGP</a> - <em>Email Encryption</em> </li>
      <li><a href="https://haveibeensold.app/">Have I Been Sold?</a> - <em>Check if your email has been sold to third parties</em></li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_send_anonymous_emails">Anon Emails</a> - <em>Send Anonymous Emails</em></li>
      <li><a href="https://github.com/bengrosser/scaremail">Scaremail</a> - <em>Disrupt NSA Email Surveillance / <a href="https://bengrosser.com/projects/scaremail/scaremail-generator/">Account Gen</a></em></li>
      <li><a href="https://ssd.eff.org/en/module/how-use-pgp-windows">PGP Email Guide</a> </li>
      <li>/r/emailprivacy  - <em>Discussion of Email Privacy / Security / Anonymity</em> </li>
      <li><a href="https://blocksender.io/">Block Sender</a> - <em>Block Unwanted Emails</em> </li>
      <li><a href="http://e4ward.com/">E4ward</a> - <em>Spam Email Filter</em> </li>
      <li><a href="http://emailrep.io/">EmailRep</a> - <em>Email Reputation Check</em></li>
      <li><a href="https://trac.torproject.org/projects/tor/wiki/torbirdy">torbirdy</a> - <em>Connect to Mozilla Thunderbird via Tor</em> </li>
   </ul>
   <hr>
   <h2>▷ <a href="/ai">Android Privacy</a></h2>
   <hr>
   <h2>▷ <a href="/ai">iOS Privacy</a></h2>
   <hr>
   <h1>► VPN</h1>
   <ul>
      <li><strong><a href="https://www.safetydetectives.com/best-vpns/#comparison">VPN Comparison Guide</a></strong>, <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRh1eSvC9A9hvNE9m1ZgfZQu5GtREEXtKQ25BmCLveYduOl4kVc5gDO7Mj28oOboAv-VTIMtY7JdKpP/pubhtml">2</a> - <em>Ranks VPNs Based on Privacy Polices &amp; More</em></li>
      <li><strong><a href="https://mullvad.net/">Mullvad</a></strong> - <em><a href="https://i.imgur.com/LfjZ9G3.png">Pricing</a> / <a href="https://i.imgur.com/SNkzNV7.png">More Info</a> / <a href="https://github.com/chutz/mullvad-netns">NetNS</a></em></li>
      <li><strong><a href="https://protonvpn.com">Proton</a></strong> - <em><a href="https://i.imgur.com/hkhZGg1.png">Pricing</a> / <a href="https://i.imgur.com/RZqOXKH.png">More Info</a> - Note that you can&#39;t torrent with the free version</em></li>
      <li><strong><a href="https://windscribe.com">Windscribe</a></strong> - <em><a href="https://i.imgur.com/D7015rq.png">Pricing</a> / <a href="https://i.imgur.com/qmdyfp6.png">More Info</a> / Unlimited Accounts via <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_temp_email_sites">Temp Mail</a> / free version available / <a href="https://chrome.google.com/webstore/detail/windscribe-free-proxy-and/hnmpcagpplmpfojmgmnngilcnanddlhb">Chrome</a> / <a href="https://addons.mozilla.org/en-US/firefox/addon/windscribe/">Firefox</a></em></li>
      <li><strong><a href="https://surfshark.com/">Surfshark</a></strong> - <em><a href="https://i.imgur.com/YaiKjpX.png">Pricing</a> / <a href="https://i.imgur.com/IPBVPNA.png">More Info</a></em></li>
      <li><strong><a href="https://www.wireguard.com/">WireGuard</a></strong> - <em>VPN Tunnel</em></li>
      <li><strong><a href="https://riseup.net/en/vpn">Riseup</a></strong> - <em>Free VPN</em> </li>
      <li><a href="https://www.perfect-privacy.com/">Perfect Privacy</a> - <em><a href="https://i.imgur.com/Rtfwu2t.png">Pricing</a> / <a href="https://i.imgur.com/Y9MRLcg.png">More Info</a></em></li>
      <li><a href="https://www.ivpn.net/">IVPN</a> - <em><a href="https://i.imgur.com/Iq92wOO.png">Pricing</a> / <a href="https://i.imgur.com/8MDJoYQ.png">More Info</a> / <a href="https://redd.it/nzjmqa">Free Trial</a></em></li>
      <li><a href="https://www.expressvpn.com">ExpressVPN</a> - <em><a href="https://i.imgur.com/c1Gzjac.png">Pricing</a> / <a href="https://i.imgur.com/jx7Qz70.png">More Info</a></em></li>
      <li><a href="https://trust.zone/">Trust.Zone</a> - <em><a href="https://i.imgur.com/PsRa8GD.png">Pricing</a> / <a href="https://i.imgur.com/zryWzqX.png">More Info</a></em></li>
      <li><a href="https://www.blackvpn.com/">blackVPN</a> - <em><a href="https://i.imgur.com/uqMeG0b.png">Pricing</a> / <a href="https://i.imgur.com/5U3qjoF.png">More Info</a></em></li>
      <li><a href="https://www.vpnsecure.me/">VPNSecure</a> - <em><a href="https://i.imgur.com/BnuqpBS.png">Pricing</a> / <a href="https://i.imgur.com/sJffRnZ.png">More Info</a></em></li>
      <li><a href="https://tailscale.com/">Tailscale</a> - <em><a href="https://i.imgur.com/6lMwcSQ.png">Pricing</a></em></li>
      <li><a href="https://adguard-vpn.com/en/welcome.html">Adguard VPN</a> - <em>VPN Extension / 3GB Free / <a href="https://i.imgur.com/ZdDexDa.png">Pricing</a></em> </li>
      <li><a href="https://fpn.firefox.com/">Mozilla FPN</a> - <em>VPN Extension / <a href="https://i.imgur.com/wW5rVO2.png">Pricing</a> / Mullvad Servers</em></li>
      <li><a href="https://github.com/IAmStoxe/wirehole">WireHole</a> - <em>Wireguard VPN w/ Adblocking Capabilities</em> </li>
      <li><a href="https://www.syntropystack.com/vpn">Syntropy</a> or <a href="https://getoutline.org/">Outline</a> - <em>Self-Hosted VPN</em></li>
      <li><a href="https://weboas.is/forum/index.php?topic=2657.0">WebOasis WireGuard VPN</a> - <em>Free VPN</em></li>
      <li><a href="https://speedify.com/">Speedify</a> - <em>Free VPN, 10gb a month / No Account Required</em></li>
      <li><a href="https://www.kaspersky.co.uk/vpn-secure-connection">Kaspersky </a> - <em>Free VPN / 200 MB per day / No Account Required</em></li>
      <li><a href="https://turbovpn.com/">TurboVPN</a> - <em>Free VPN</em></li>
      <li><a href="http://freevpnonline.com/">Free VPN Online</a> - <em>Free VPN</em></li>
      <li><a href="https://touchvpn.net/">TouchVPN</a> - <em>Free VPN</em></li>
      <li><a href="https://sentinel.co/">Sentinel</a> - <em>Free VPN / /r/SENT / <a href="https://youtu.be/Iaa7Jwd5sy8">Guide</a></em> </li>
      <li><a href="https://www.freepn.org/">FreePN</a> - <em>Free Open Source P2P VPN</em> </li>
      <li><a href="https://www.tunnelbear.com/">TunnelBear</a> - <em>Free VPN / 500mb only</em></li>
      <li><a href="https://openvpn.net/">OpenVPN</a> - <em>VPN Tunnel</em> </li>
      <li><a href="https://freevpn.gg/">FREEVPN.gg</a> - <em>Free VPN List</em></li>
      <li><a href="https://www.vpnbook.com/">VPNBook</a> - <em>Free VPN Accounts</em></li>
      <li><a href="https://www.vpngate.net/en/">VPNGate</a> - <em>Free VPN Relay Servers</em></li>
      <li><a href="https://www.racevpn.com/">RaceVPN</a> - <em>Free VPN Servers</em></li>
      <li><a href="https://pivpn.io/">PiVPN</a> - <em>Raspberry Pi VPN / <a href="https://github.com/pivpn/pivpn">GitHub</a></em> </li>
      <li><a href="https://pritunl.com/">Enterprise</a> - <em>VPN Server</em> </li>
      <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/selfhost-vpn">Self-Hosted VPN Guide</a> - <em>Self hosted VPN guide by /u/Kaxry</em></li>
      <li><a href="https://github.com/StreisandEffect/streisand">Streisand</a> - <em>Anti-Censorship VPN Setup</em>  </li>
      <li><a href="https://github.com/binhex/arch-delugevpn">arch-delugevpn</a> - <em>Arch Linux base with Deluge, Privoxy &amp; OpenVPN</em></li>
      <li>/r/allvpncoupons - <em>VPN Coupon Subreddit</em> </li>
      <li>/r/VPN - <em>VPN Help and Discussion</em> </li>
   </ul>
   <hr>
   <h1 id="-proxy">► Proxy</h1>
   <h2 id="-proxy-apps">▷ Proxy Apps</h2>
   <ul>
      <li><a href="https://psiphon.ca/">Psiphon</a></li>
      <li><a href="https://www.penguinproxy.com/">PenguinProxy</a></li>
      <li><a href="https://github.com/UWNetworksLab/uProxy-p2p">uProxy</a></li>
      <li><a href="http://mayakron.altervista.org/">Acrylic</a></li>
      <li><a href="http://www.freesafeip.com/">SafeIP</a></li>
      <li><a href="https://shadowsocks.org/en/index.html">Shadowsocks</a> - <em><a href="https://github.com/ruanfei/ShadowsocksRRShare">Free Servers</a></em></li>
      <li><a href="https://lantern.io/en_US/index.html">Lantern</a> </li>
      <li><a href="https://github.com/FelisCatus/SwitchyOmega">SwitchyOmega</a> - <em>Proxy Manager</em></li>
      <li><a href="https://getfoxyproxy.org/">FoxyProxy</a> or <a href="https://snowflake.torproject.org/">Snowflake</a> - <em>Proxy browser extension</em></li>
      <li><a href="https://fri-gate.org/">Fri-Gate</a> - <em>Advanced Proxy Settings Addon</em>  </li>
      <li><a href="https://github.com/JustOff/proxy-privacy-ruler">Proxy Privacy Ruler</a> - <em>Limit proxy usage by private windows</em> </li>
      <li><a href="https://hitch-tls.org/">Hitch</a> - <em>SSL / TLS proxy</em> </li>
   </ul>
   <hr>
   <h2 id="-proxy-sites">▷ Proxy Sites</h2>
   <ul>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_proxy_lists">Proxy Lists</a></strong> - <em>Lists of Proxies</em></li>
      <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_piracy_site_proxies">Piracy Site Proxies</a></strong></li>
      <li><a href="https://torrents.io/proxy/">Torrents.io</a> or <a href="https://www.torrentmirror.net/#proxy-list-container">TorrentMirror</a> - <em>Torrent Site Proxies</em></li>
      <li><a href="https://www.proxysite.com/">ProxySite</a></li>
      <li><a href="https://hide.me/en/proxy">Hide.me</a></li>
      <li><a href="https://www.kproxy.com/">KProxy</a></li>
      <li><a href="https://freeproxy.win/">Free Proxy</a></li>
      <li><a href="https://www.vpnbook.com/webproxy">VPN Book</a></li>
      <li><a href="https://hidester.com/proxy/">Hidester</a></li>
      <li><a href="http://sitenable.in/">Sitenable</a> </li>
      <li><a href="https://www.4everproxy.com/">4EverProxy</a></li>
      <li><a href="https://zend2.com/">zend2</a></li>
      <li><a href="http://proxysnel.nl/">ProxySnel</a> </li>
      <li><a href="https://proxy.fetchgoogleapi.workers.dev/">Bhadoo</a></li>
      <li><a href="https://openproxy.space/">Open Proxy Space</a></li>
      <li><a href="https://proxy.fetchgoogleapi.workers.dev/">HashHackers</a></li>
      <li><a href="https://unblocked.cyou/">Unblocked.cyou</a></li>
      <li><a href="https://translate.google.com/">Google Translate</a> - <em><a href="https://redd.it/fawkjy">How to use</a></em></li>
      <li><a href="https://darknetproxy.com/">DarknetProxy</a> - <em>DeepWeb / I2P Proxy</em></li>
      <li><a href="https://b.007.workers.dev/">b.007</a>, <a href="https://b.lulu.workers.dev/">2</a>, <a href="https://b.jsproxy.workers.dev/">3</a>, <a href="https://noisy-tooth-2ee5.susheng.workers.dev/">4</a>, <a href="https://b.hehe.workers.dev/">5</a> - <em>Cloudflare Workers Proxies</em> </li>
      <li><a href="https://github.com/JaredLGillespie/proxyscrape">Proxy Scrape</a> - <em>Python Library for Retrieving Free Proxies</em></li>
      <li><a href="https://checksocks5.com/">CheckSocks5</a> - <em>Socks5 Proxy Checker</em></li>
      <li><a href="https://www.proxynova.com/proxy-server-list/country-ir/">Proxynova</a> - <em>Iranian Proxies</em></li>
   </ul>
</div>
</template>
<script>
export default {
  name: 'apa'
}
</script>

<style>

</style>
