<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/NPY04Tq.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-android-adblocking">► Android Adblocking</h1>
<ul>
   <li><strong><a href="https://play.google.com/store/apps/details?id=com.chimbori.hermitcrab">Hermit</a></strong> or <a href="https://github.com/tobykurien/WebApps/">WebApps</a> - <em>Makes streaming and other sites more usable for android</em> </li>
   <li><strong><a href="https://www.bromite.org/">Bromite</a></strong> - <em>Adblocking Browser</em></li>
   <li><strong><a href="https://forum.mobilism.org/search.php?keywords=adguard&amp;terms=all&amp;author=&amp;sc=1&amp;sf=titleonly&amp;sr=topics&amp;sk=t&amp;sd=d&amp;st=0&amp;ch=25&amp;t=0&amp;submit=Search">AdGuard</a></strong> - <em>Adblocking App / Premium Unlocked / Mobilism Account Required</em></li>
   <li><strong>uBlock Origin</strong> - <em><a href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">Yandex</a> &amp; <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">Kiwi</a></em> </li>
   <li><a href="https://blokada.org/">Blokada</a> - <em>Adblocking App</em></li>
   <li><a href="https://adaway.org/">AdAway</a> - <em>Adblocking App</em></li>
   <li><a href="https://www.zenz-solutions.de/personaldnsfilter-wp/">personalDNSfilter</a> / <a href="https://f-droid.org/packages/dnsfilter.android">F-Droid</a>, <a href="https://f-droid.org/en/packages/dnsfilter.android/">DNSfilter</a>, <a href="https://rethinkdns.com/app">Rethink</a> / <a href="https://rethinkdns.com/app#blocklists">Blocklists</a>, <a href="https://f-droid.org/en/packages/org.jak_linux.dns66/">DNS66</a> / <a href="https://github.com/julian-klode/dns66">GitHub</a> or <a href="https://f-droid.org/en/packages/friimaind.piholedroid/">Pi-Droid</a>  - <em>DNS Adblocker</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=org.itxtech.daedalus">Daedalus</a> or <a href="https://git.frostnerd.com/PublicAndroidApps/smokescreen/-/blob/master/README.md">Nebulo</a> - <em>DNS Modifier</em></li>
   <li><a href="https://www.opera.com/mobile/opera-for-android">Opera</a> - <em>Browser with built in adblocker</em></li>
   <li><a href="https://github.com/TwidereProject/Twidere-Android">Twidere</a> - <em>Ad-Free Twitter App</em></li>
   <li><a href="https://gitlab.com/Shub_/mobile-ads-block/-/raw/master/list">MobileAdsBlock</a> - <em>Ad / Tracker filter</em> </li>
   <li><a href="http://www.shouldianswer.net/">Should I Answer?</a>, <a href="https://gitlab.com/xynngh/YetAnotherCallBlocker">Yet Another Call Blocker</a> or <a href="https://www.hiya.com/">Hiya</a> - <em>Block Spam Calls</em></li>
   <li><a href="https://www.donotcall.gov/">The National Do Not Call Registry</a> - <em>Opt Out of Telemarketing Calls</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=me.ccrama.redditslide">Slide</a>, <a href="https://f-droid.org/en/packages/me.ccrama.redditslide/">2</a> or <a href="https://f-droid.org/en/packages/ml.docilealligator.infinityforreddit/">Infinity</a> - <em>Ad Free Reddit Client</em> </li>
</ul>
<hr>
<h1 id="-android-privacy">► Android Privacy</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_privacy_based_browsers">Privacy Based Browsers</a></strong> - <em>Browsers with a focus on Privacy</em> </li>
   <li><a href="https://guardianproject.info/">Guardian Project</a> / <a href="https://guardianproject.info/fdroid/repo">2</a>, <a href="https://divestos.org/index.php?page=recommended_apps">Divestos Apps</a>, <a href="https://cookiejarapps.com/">CookieJarApps</a> or <a href="https://github.com/Gedsh/InviZible">InviZible</a> - <em>Privacy Based Apps / Tools</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.authy.authy">Authy</a>, <a href="https://getaegis.app/">Aegis</a> or <a href="https://github.com/andOTP/andOTP">andOTP</a> - <em>Two-factor authentication</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.oasisfeng.island">Island</a> - <em>App Isolation</em> </li>
   <li><a href="https://fedilab.app/wiki/untrackme/">UntrackMe</a> - <em>Frontend Redirect / Link Unshorten / URL Cleanup</em></li>
   <li><a href="https://gitlab.com/cosmosapps/stealth">Stealth</a> - <em>Privacy-Based Reddit Frontend</em></li>
   <li><a href="https://github.com/M66B/XPrivacyLua/">XPrivacyLua</a> or <a href="https://xumi.ca/xumi-security/">Xumi</a> - <em>Privacy Manager</em> </li>
   <li><a href="https://gitlab.com/AuroraOSS/AppWarden">AppWarden</a> or <a href="https://trackercontrol.org/">TrackerControl</a> - <em>Disable App Trackers</em>  </li>
   <li><a href="https://reports.exodus-privacy.eu.org/en/">Exodus</a> - <em>Android App Tracker &amp; Permission Index / <a href="https://github.com/Exodus-Privacy/exodus-android-app">APK</a></em>  </li>
   <li><a href="https://f-droid.org/packages/net.kollnig.missioncontrol.fdroid/">TrackerControl</a> - <em>Manage / Monitor Trackers</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=rk.android.app.privacydashboard">Privacy Dashboard</a> - <em>Android 12-like Privacy Dashboard</em></li>
   <li><a href="https://www.netguard.me/">NetGuard</a> - <em>Block Internet Access Per App</em> </li>
   <li><a href="https://github.com/ukanth/afwall/">AFWall+</a> or <a href="https://play.google.com/store/apps/details?id=app.greyshirts.firewall">NoRoot Firewall</a> - <em>Firewall</em> </li>
   <li><a href="https://f-droid.org/en/packages/superfreeze.tool.android">SuperFreezZ</a> - <em>Freeze App Background Activities</em> </li>
   <li><a href="https://f-droid.org/en/packages/de.srlabs.snoopsnitch/">SnoopSnitch</a> - <em>Check Mobile Network Security</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=eu.faircode.email">FairEmail</a> - <em>Open Source, Privacy Oriented Email for Android / <a href="https://f-droid.org/packages/eu.faircode.email/">f-Droid</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=org.torproject.android&amp;hl=en_US">Orbot</a> - <em>Tor Proxy</em></li>
   <li><a href="https://f-droid.org/packages/org.torproject.torservices/">TorServices</a> - <em>Tor App Proxy / <a href="https://gitlab.com/guardianproject/torservices">GitLab</a></em></li>
   <li><a href="https://divestos.org/fdroid/official?fingerprint=E4BE8D6ABFA4D9D4FEEF03CDDA7FF62A73FD64B75566F6DD4E5E577550BE8467">Mull</a>, <a href="https://duckduckgo.com/app">DuckDuckGo Privacy Browser</a>, <a href="https://github.com/CookieJarApps/BiscuitBrowser">BiscuitBrowser</a>, <a href="https://smartcookieweb.com/">SmartCookieWeb</a>, <a href="https://github.com/CookieJarApps/SmartCookieWeb-preview">2</a> / <a href="https://github.com/CookieJarApps/VideoDL">YTDL</a> or <a href="https://f-droid.org/en/packages/com.stoutner.privacybrowser.standard/">Privacy Browser</a> - <em>Privacy-Focused Browser</em> </li>
   <li><a href="https://barinsta.austinhuang.me/en/latest/">Barinsta</a> - <em>Privacy Based Instagram Client</em></li>
   <li><a href="https://fritter.cc/">Fritter</a> - <em>Privacy Based Twitter Client</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.nemorystudios.android.bluer.facebook&amp;hl=en_US&amp;gl=US">Bluer</a> - <em>Privacy Based  Facebook Client</em></li>
   <li><a href="https://grapheneos.org/">GrapheneOS</a> - <em>Privacy and security focused mobile OS</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=app.intra&amp;hl=en_US">Intra</a> - <em>System Wide DoH for Android</em></li>
   <li><a href="https://github.com/AnySoftKeyboard/AnySoftKeyboard">AnySoftKeyboard</a> or <a href="https://github.com/florisboard/florisboard">Florisboard</a> - <em>Incognito Keyboard</em></li>
   <li><a href="https://adguard.com/en/blog/introducing-adguard-vpn-for-android.html">Adgaurd VPN</a> - <em>Free VPN</em></li>
   <li><a href="https://github.com/krlvm/PowerTunnel-Android">PowerTunnel</a> - <em>Proxy</em></li>
   <li><a href="https://sagernet.org/">Sagernet</a> - <em>Proxy Tools</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=you.in.spark.access.dots">Access Dots</a> - <em>Camera / Mic Access Indicator</em> </li>
   <li><a href="https://schiffer.tech/camwings-mobile.html">CamWings</a> - <em>Camera Protection</em> </li>
   <li><a href="https://schiffer.tech/screenwings-mobile.html">ScreenWings</a> - <em>Screen Protection</em> </li>
   <li><a href="https://stingle.org/">Stingle Photos</a> - <em>Private Photo / Video Gallery</em> </li>
   <li><a href="https://mirrorace.com/m/3DIja">Threema</a>, <a href="https://getsession.org/">Session</a>, <a href="https://status.im/">Status</a>, <a href="https://github.com/mollyim/mollyim-android">Signal</a> / <a href="https://langis.cloudfrancois.fr/">2</a> / <a href="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms">3</a>, <a href="https://play.google.com/store/apps/details?id=cm.confide.android">Confide</a>, <a href="https://ballinger.io/apps/chatsecure/">ChatSecure</a>, <a href="https://www.surespot.me/">surespot</a> or <a href="https://f-droid.org/en/packages/org.retroshare.android.qml_app/">RetroShare</a> - <em>Encrypted Messaging</em> </li>
   <li><a href="https://silence.im/">Silence</a> - <em>Encrypt SMS/MMS Messages</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.wickr.pro&amp;hl=en">Wickr</a>, <a href="https://mysudo.com/">MySudo</a>, <a href="https://jami.net/">Jami</a> or <a href="https://schildi.chat/android/">Element</a> / <a href="https://play.google.com/store/apps/details?id=im.vector.app">2</a> - <em>Encrypted Messaging / Video Calls</em></li>
   <li><a href="https://www.oversec.io/">OVERSEC</a> - <em>Add Text / Image Encryption to any App</em> </li>
   <li><a href="https://github.com/zhenyolka/DPITunnel">DPITunnel</a> - <em>Bypass Deep Packet Inspection</em> </li>
   <li><a href="https://gist.github.com/noseratio/e3b136401965289c4aab40fa60f3be41">adb-clear-packages</a> - <em>Clear Android Packages Data</em></li>
   <li><a href="https://f-droid.org/en/packages/com.smilla.greentooth/">Greentooth</a> - <em>Automatic Bluetooth Disabler</em> </li>
   <li><a href="https://f-droid.org/en/packages/com.wesaphzt.privatelock/">Private Lock</a> - <em>Lock your Phone via Movement</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=me.brax.certchecker">Catch the Man-in-the-Middle</a> - <em>Check if HTTPS Traffic is being Monitored</em> </li>
   <li><a href="https://gadgetbridge.org/">Gadget Bridge</a> - <em>Connect to Smartwatches without Vendor Apps / Accounts</em></li>
</ul>
<hr>
<h1 id="-android-emulators">► Android Emulators</h1>
<ul>
   <li><strong><a href="https://www.bignox.com/">Nox</a></strong> - <em><a href="https://i.imgur.com/VuFLWbW.jpg">Screenshot</a> / <a href="https://gist.github.com/Log1x/12d330ef7685d6fbc611d1d57efb5c29">Debloater</a></em></li>
   <li><a href="http://www.xeplayer.com/">XePlayer</a> - <em>Fork of Nox / <a href="https://i.imgur.com/qfmmwMB.jpg">Screenshot</a></em> </li>
   <li><a href="https://www.gameloop.com/">GameLoop</a> - <em><a href="https://i.imgur.com/dLrEXCJ.png">Screenshot</a></em></li>
   <li><a href="https://www.mumuglobal.com/">MuMu</a> - <em><a href="https://i.imgur.com/D8BBerb.png">Screenshot</a></em></li>
   <li><a href="https://www.memuplay.com/">MeMu</a> - <em><a href="https://i.imgur.com/1aZLVvi.png">Screenshot</a></em></li>
   <li><a href="https://www.ldplayer.net/">LDPlayer</a> - <em><a href="https://i.imgur.com/URAJXJ6.png">Screenshot</a></em></li>
   <li><a href="https://www.genymotion.com/fun-zone/">Genymotion</a> - <em><a href="https://i.imgur.com/rIoiob7.jpg">Screenshot</a></em> </li>
   <li><a href="https://www.bluestacks.com/">BlueStacks</a> - <em><a href="https://i.imgur.com/E3DTvzA.png">Screenshot</a></em></li>
   <li><a href="https://leapdroid.en.softonic.com/">Leapdroid</a> - <em><a href="https://i.imgur.com/4RKnNqJ.png">Screenshot</a></em> </li>
</ul>
<hr>
<h1 id="-android-tools">► Android Tools</h1>
<ul>
   <li><strong><a href="https://github.com/ashishb/android-security-awesome">android-security-awesome</a></strong> - <em>Android security resources</em> </li>
   <li><strong><a href="https://en.m.wikipedia.org/wiki/Comparison_of_web_browsers">Browsers</a></strong>, <a href="https://en.m.wikipedia.org/wiki/List_of_web_browsers">2</a> - <em>Normal Web Browsers</em></li>
   <li><a href="https://forum.xda-developers.com/">XDA</a> - <em>Android Discussion Forum</em></li>
   <li><a href="https://willmyphonework.net/">Will My Phone Work?</a> - <em>Phone Carrier Support Index</em> </li>
   <li><a href="https://www.kimovil.com/en/">Kimovil</a> - <em>Compare Phones &amp; Prices</em> </li>
   <li><a href="https://www.dxomark.com/">DXOMARK</a> - <em>Smartphone Quality Testing</em></li>
   <li><a href="https://github.com/fork-maintainers/iceraven-browser">Iceraven Browser</a>, <a href="https://kiwibrowser.com/">Kiwi</a> or <a href="https://github.com/anthonycr/Lightning-Browser">Lightning</a> - <em>Android only Browsers</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading">eBook Readers</a> - <em>eBook / Audiobook Readers</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_android_note_apps">Note Taking</a> - <em>Note Taking Apps</em></li>
   <li><a href="https://forum.xda-developers.com/t/script-2020-10-04-v2-7-universal-android-debloater.4069209/">Universal Android Debloater</a> - <em>Debloat non-rooted Androids</em></li>
   <li><a href="https://support.virustotal.com/hc/en-us/articles/115002146549-Mobile-apps">VirusTotal</a> - <em>File / URL Virus Scanner</em> </li>
   <li><a href="https://github.com/manuelvargastapia/libgen_mobile_app">LibGen</a> - <em>Libgen Mobile App</em> </li>
   <li><a href="https://www.collaboraoffice.com/collabora-office-android-ios-release-notes/">Collabora</a> or <a href="https://www.andropenoffice.com/">AndrOpen</a> - <em>Office Suite</em> </li>
   <li><a href="https://github.com/ThirtyDegreesRay/OpenHub">OpenHub</a> - <em>GitHub Android Client</em></li>
   <li><a href="https://forum.mobilism.org/search.php?keywords=Grammarly&amp;sr=topics&amp;sf=titleonly">Grammarly</a> - <em>Grammarly Keyboard Premium</em> </li>
   <li><a href="https://www.fing.com/products/fing-app">Fing</a> - <em>Network Toolkit</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=mf.asciitext.lite">Irregular Expressions</a> - <em>Text Font Generator</em></li>
   <li><a href="http://automatag.com/">AutomaTag</a> - <em>Meta Data Organizer</em></li>
   <li><a href="https://gameguardian.net/">GameGuardian</a> - <em>Game Hack / Alteration Tool</em></li>
   <li><a href="https://github.com/Gr3gorywolf/NeonRom3r">NeonRom3r</a> - <em>Download Roms</em> </li>
   <li><a href="https://www.vmos.com/">VMOS</a> - <em>Android Virtual Machine</em></li>
   <li><a href="http://macrodroid.com/">MacroDroid</a> - <em>Android Automation</em> </li>
   <li><a href="https://codeberg.org/izzy/Adebar">Adebar</a> - <em>Device Backup Tool</em></li>
   <li><a href="https://www.videoder.com/">Videoder</a> - <em>Video Download Tool</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=aculix.viddit.downloader">Viddit</a> - <em>Reddit Video Downloader</em></li>
   <li><a href="https://github.com/pato05/uploadgram-app">Uploadgram App</a> - <em>Uploadgram Frontend</em></li>
   <li><a href="https://thedise.me/instander/">Instander</a> - <em>Modded Instagram Client</em></li>
   <li><a href="https://jitsi.org/">Jitsi</a> - <em>Video Chat</em> </li>
   <li><a href="https://www.celsoazevedo.com/files/android/google-camera">googlecameraport</a> - <em>Google Camera Ports / <a href="https://t.me/googlecameraport">Telegram</a></em></li>
   <li><a href="https://gitdab.com/distok/cutthecord">CutTheCord</a>, <a href="https://github.com/Treecord/Treecord or [Aliucord](https://github.com/Aliucord/Aliucord">Treecord</a> / <a href="https://discord.gg/EsNDvBaHVU">Discord</a> - <em>Modded Discord Client</em> </li>
   <li><a href="https://github.com/NekoX-Dev/NekoX">Nekogram X</a>, <a href="https://github.com/Forkgram/TelegramAndroid">TelegramAndroid</a>, <a href="https://github.com/catogram/catogram/">Catogram</a> or <a href="https://github.com/Telegram-FOSS-Team/Telegram-FOSS">Telegram-FOSS</a>  - <em>Telegram Client</em></li>
   <li><a href="https://github.com/Pato05/uploadgram-app">Uploadgram</a> - <em>Telegram File Upload</em></li>
   <li><a href="https://fluffychat.im/en/">FluffyChat</a> - <em>Matrix Client</em></li>
   <li><a href="https://github.com/tateisu/SubwayTooter">SubwayTooter</a> or <a href="https://tusky.app/">Tusky</a> - <em>Mastodon Client</em> </li>
   <li><a href="https://github.com/flexbooru/flexbooru">Flexbooru</a>, <a href="https://github.com/Yochyo/Yummybooru">Yummybooru</a> or <a href="http://animebox.es/">Animes Boxes</a> - <em>Booru Client / <a href="https://t.me/Flexbooru/161">Telegram</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.flynx">Flynx</a> - <em>Article / Link Viewer</em></li>
   <li><a href="https://codeberg.org/marc.nause/easyopenlink">EasyOpenLink</a> - <em>Easily Open Links in Text via Share Function</em></li>
   <li><a href="https://forum.mobilism.org/search.php?keywords=ponydroid&amp;sr=topics&amp;sf=titleonly">Ponydroid</a> or <a href="https://f-droid.org/en/packages/com.tachibana.downloader/">Navi</a> - <em>Download file manager</em></li>
   <li><a href="https://f-droid.org/en/packages/com.ghostsq.commander/">Ghost Commander</a> - <em>Dual-Panel File Manager</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.dv.adm">ADM</a> - <em>Download / Torrent Manager</em> </li>
   <li><a href="https://www.vysor.io/">Vysor</a> or <a href="https://github.com/Genymobile/scrcpy">scrcpy</a> - <em>Control Android via Desktop</em></li>
   <li><a href="https://www.lineageos.org/">LineageOS</a> or <a href="https://www.replicant.us/">Replicant</a> - <em>Android OS</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.netflix.Speedtest">FAST</a> or <a href="https://play.google.com/store/apps/details?id=com.samknows.fcc&amp;hl=en_US&amp;gl=US">FCC Speed Test</a> - <em>Internet Speed Test</em></li>
   <li><a href="https://github.com/lukaspieper/Gcam-Services-Provider">Gcam-Services-Provider</a> - <em>Use Google Cam Without Google Play</em> </li>
   <li><a href="https://github.com/x0b/rcx">RClone</a> - <em>Multi-Site Cloud Storage File Manage</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=studio.onelab.clipboard">Clipt</a> - <em>Transfer Files between Devices</em></li>
   <li><a href="https://github.com/otakuhqz/omega">Omega Launcher</a>, <a href="https://github.com/jkuester/unlauncher">Unlauncher</a> or <a href="https://blloc.com/">Ratio</a> - <em>App Launcher</em> </li>
   <li><a href="https://muntashirakon.github.io/AppManager/">App Manager</a>, <a href="https://github.com/MuntashirAkon/AppManager">2</a> - <em>Manage Apps</em>
      App Manager 
   </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.kapp.ifont">iFont</a> - <em>Android Font Installer</em></li>
   <li><a href="https://pastebin.com/7qSZXjDS">Eruda</a> - <em>Console for mobile browsers / <a href="https://greasyfork.org/en/scripts/400760-console-for-mobile-browsers-eruda">Userscript</a> / <a href="https://github.com/liriliri/eruda">Github</a></em> </li>
   <li><a href="https://termux.com/">Termux</a> - <em>Terminal Emulator / Linux Environment</em> </li>
   <li><a href="https://github.com/PeterCxy/Shelter">Shelter</a> - <em>App Sandbox</em></li>
   <li><a href="https://f-droid.org/en/packages/co.prestosole.clima/">Clima</a> or <a href="https://github.com/geometric-weather-foss/GeometricWeather">GeometricWeather</a> - <em>Weather App</em> </li>
   <li><a href="https://www.milmike.com/aitts-google-wavenet-voices-for-android-tts">aiTTS</a> - <em>Text to Speech</em> </li>
   <li><a href="https://redd.it/l1fdh9">Microsoft Edge Read Aloud</a> - <em>How to use Microsoft Read Aloud TTS on Android</em> </li>
   <li><a href="https://github.com/Chooloo/koler">Koler</a> - <em>Dialer App</em> </li>
   <li><a href="https://k9mail.app/">K-9 Mail</a> - <em>Email Client</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.bagatrix.mathway.android&amp;">Mathway</a> or <a href="https://photomath.app/en/">PhotoMath</a> - <em>Math Equation Solver / Help</em> </li>
   <li><a href="https://socratic.org/">Get Unstuck</a> - <em>Homework Answers / Help</em> </li>
   <li><a href="https://tasks.org/">Tasks</a> - <em>To-Do List / Reminders</em></li>
   <li><a href="https://github.com/hydroxion/dailly/">Dailly</a> - <em>Create, manage &amp; track your daily goals</em></li>
   <li><a href="https://github.com/iSoron/uhabits">unhabits</a> - <em>Bad Habit Tracker</em></li>
   <li><a href="https://codeberg.org/jannis/FitoTrack">FitoTrack</a> - <em>Fitness Tracker</em></li>
   <li><a href="https://languagedrops.com/">Language Drops</a> - <em>Language Learning App / <a href="https://forum.mobilism.org/search.php?keywords=drops&amp;sr=topics&amp;sf=titleonly">Premium</a></em></li>
   <li><a href="https://github.com/Livinglist/Manji">Manji</a> - <em>Language Learning / Japanese / Kanji</em>  </li>
   <li><a href="https://www.dev47apps.com/">Dev47Apps</a> - <em>Use Phone as Webcam</em> </li>
   <li><a href="https://guardianproject.github.io/haven/">Haven</a> - <em>Turn Phone into Motion Detector</em> </li>
   <li><a href="https://forum.xda-developers.com/t/windows-tool-fire-toolbox-v12-0.3889604/">Fire Toolbox</a> - <em>Fire Tablet Tools</em></li>
   <li><a href="https://www.mematic.net/">Mematic</a> - <em>Meme Creator</em> </li>
   <li><a href="https://reface.app/">Reface</a> - <em>Create Face Swap Videos</em> </li>
   <li><a href="https://www.wombo.ai/">WOMBO</a> - <em>AI Powered Lip Sync</em></li>
   <li><a href="https://github.com/puddly/android-otp-extractor">Android OTP Extractor</a> - <em>Extract OTP Tokens</em></li>
</ul>
<hr>
<h1 id="-android-apks">► Android APKs</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=e0d1769ccf74236e8">Android APK CSE</a></strong> + <a href="https://cse.google.com/cse?cx=73948689c2c206528">Android APK CSE 2</a> - <em>Custom APK Search Engine</em></li>
   <li><strong><a href="https://www.reddit.com/r/ApksApps">/r/ApksApps</a></strong> - <em>Updated list of modded APK&#39;s / <a href="https://discord.gg/Kr5EWKZU5Y">Discord</a> / <a href="https://t.me/joinchat/MwYScFfTq3XkY0wIEDLA3g">Telegram</a></em></li>
   <li><strong><a href="https://forum.mobilism.org/viewforum.php?f=398">Mobilism (Android)</a></strong> - <em>Modded APK Download Forum</em></li>
   <li><strong><a href="https://www.luckypatchers.com/download/">Lucky Patcher</a></strong> - <em>Remove Ads / Free In App Purchases / App Patcher / <a href="https://latestechnews.com/how-to-use-lucky-patcher/">How to use</a></em></li>
   <li><strong><a href="https://forum.f-droid.org/t/known-repositories/">Known Repositories</a></strong> - <em>Repositories Index</em></li>
   <li><strong><a href="https://www.apkmirror.com/">APKMirror</a></strong> - <em>Untouched</em></li>
   <li><strong><a href="https://t.me/ModdedCentral">ModdedCentral</a></strong> or <a href="https://t.me/ModdedPrivate">ModdedPrivate</a> - <em>Modded / Telegram</em></li>
   <li><strong><a href="https://github.com/offa/android-foss">Android FOSS</a></strong>, <strong><a href="https://gitlab.com/linuxcafefederation/awesome-android/-/blob/main/README.md">Awesome Android</a></strong>, <strong><a href="https://redd.it/jhtvn4">/r/u_Jackie7610</a></strong> or <strong><a href="https://albertomosconi.github.io/foss-apps/">Cool FOSS</a></strong> / <a href="https://github.com/albertomosconi/foss-apps">GitHub</a> - <em>Free and Open Source Apps for Android</em></li>
   <li><a href="https://greasyfork.org/en/scripts/33005-direct-download-from-google-play/">Direct Download From Google Play</a> - <em>Add Direct DL Links to Google Play</em> </li>
   <li><a href="https://f-droid.org/">F-Droid</a>, <a href="https://rfc2822.gitlab.io/fdroid-firefox/fdroid/repo/">2</a> - <em>FOSS App Repository / <a href="https://github.com/mvdan/fdroidcl">Desktop</a> / <a href="https://github.com/kitsunyan/foxy-droid">Alt Client</a> / <a href="https://codeberg.org/pstorch/F-Droid_Build_Status">Build Status</a></em> </li>
   <li><a href="https://t.me/fdroidrepos">F-Droid Repositories</a> - <em>List of F-Droid Repositories</em></li>
   <li><a href="https://android.izzysoft.de/applists.php">IzzyOnDroid</a> - <em>App Repository / <a href="https://apt.izzysoft.de/fdroid/index.php">F-Droid</a></em> </li>
   <li><a href="https://haoict.github.io/cydia/">Haoict Repository</a> - <em>App Repository</em></li>
   <li><a href="https://divestos.org/fdroid/unofficial/">DivestOS</a>, <a href="https://divestos.org/fdroid/official/">2</a> - <em>App Repository</em></li>
   <li><a href="https://www.teamos-hkrg.com/">TeamOS</a> - <em>Modded / Forum</em> </li>
   <li><a href="https://ac-market.org/">ACMarket</a> - <em>Modded</em></li>
   <li><a href="https://auroraoss.com/">Aurora Store</a> - <em>Alt Google Play Store / <a href="https://f-droid.org/en/packages/com.aurora.store/">F-Droid</a></em></li>
   <li><a href="https://aptoide.com/">Aptoide</a> - <em>Alt Android App Store</em></li>
   <li><a href="https://android-zone.ws/">Android Zone</a> - <em>Forum</em></li>
   <li><a href="https://apkgk.com/">APKGK</a> - <em>Untouched</em></li>
   <li><a href="https://aapks.com/">AAPKS</a> - <em>Untouched</em></li>
   <li><a href="https://apk-dl.com/">APK-DL</a> - <em>Untouched</em></li>
   <li><a href="https://appvn.com/">Appvn</a> - <em>Untouched</em> </li>
   <li><a href="https://apkcombo.com/">APKCombo</a> - <em>Untouched</em> </li>
   <li><a href="https://www.apkhere.com/">APKHere</a> - <em>Untouched</em> </li>
   <li><a href="https://apkvision.com/">APK Vision</a> - <em>Untouched</em></li>
   <li><a href="https://apkaward.com/">APK Award</a> - <em>Untouched</em></li>
   <li><a href="https://android-apk.org/">Android APK</a> - <em>Untouched / Modded</em> </li>
   <li><a href="https://www.apksum.com/">APKSum</a> - <em>Untouched / Modded</em> </li>
   <li><a href="https://a2zapk.com/">A2Z APK</a> - <em>Untouched / Modded</em>  </li>
   <li><a href="https://m.apkpure.com/">Apkpure</a> - <em>Untouched / Taken from other sites</em></li>
   <li><a href="https://www.revdl.com/">RevDl</a> - <em>Modded</em>  </li>
   <li><a href="https://www.androidgamemods.com/">AndroidGameMods</a> - <em>Modded</em> </li>
   <li><a href="https://www.farsroid.com/">farsroid</a> - <em>Modded</em></li>
   <li><a href="https://www.apktops.ir/">APKTops</a> - <em>Modded</em></li>
   <li><a href="https://moddroid.com/">ModDroid</a> - <em>Modded</em></li>
   <li><a href="https://apk4free.org/">Apk4Free</a> - <em>Modded / <a href="https://t.me/Apk4Free">Telegram</a></em></li>
   <li><a href="https://an1.com/">Android1</a> - <em>Modded</em> </li>
   <li><a href="https://drive.google.com/drive/folders/1SxmAaB_dIswVsrKqtxOhymati-HaLYTT">APKBuffet</a> - <em>Modded / <a href="https://twitter.com/ipagarage?s=21">Requests</a></em> </li>
   <li><a href="https://www.happymod.com/">HappyMod</a> - <em>Modded</em></li>
   <li><a href="https://dzapk.com/">DZAPK</a> - <em>Modded</em> </li>
   <li><a href="https://apk4all.com/">Apk4All</a> - <em>Modded</em></li>
   <li><a href="https://rexdl.com/">ReXdl</a> - <em>Modded</em></li>
   <li><a href="https://sourceofapk.com/">Source of APK</a> - <em>Modded</em></li>
   <li><a href="https://www.agxapks.com/">AGXAPKS</a> - <em>Modded</em> </li>
   <li><a href="http://ihackedit.com/">iHackedit</a> - <em>Modded</em> </li>
   <li><a href="https://www.andropalace.org/">AndroPalace</a> - <em>Modded</em> </li>
   <li><a href="https://apkhome.net/">APK Home</a> - <em>Modded</em> </li>
   <li><a href="https://dlandroid.com/">DlAndroid</a> - <em>Modded</em> </li>
   <li><a href="https://apkmody.io/">APKMody</a> - <em>Modded</em> </li>
   <li><a href="https://apkdone.com/">APKDone</a> - <em>Modded</em> </li>
   <li><a href="https://apkfolks.com/">APK Folks</a> - <em>Modded</em></li>
   <li><a href="https://modapk.cloud/">ModApk.Cloud</a> - <em>Modded</em> </li>
   <li><a href="https://www.rockmods.net/">Rockmods</a> - <em>Modded</em> </li>
   <li><a href="https://apkmagic.com.ar/">ApkMagic</a> - <em>Modded</em> </li>
   <li><a href="https://apkgod.net/">ApKGod</a> - <em>Modded</em> </li>
   <li><a href="https://app.app-valley.vip/">AppValley</a> - <em>Modded / Tweaked</em></li>
   <li><a href="https://www.djjubeemedia.appboxes.co/Apks/">djjubeemedia</a> - <em>Modded Index</em> </li>
   <li><a href="https://platinmods.com/">PlatinMods</a> - <em>Modded / Private Game Servers</em> </li>
   <li><a href="https://t.me/streamiza">Streamiza</a> - <em>Modded / Telegram / <a href="https://linktr.ee/Streamiza">Discord</a></em></li>
   <li><a href="https://t.me/gdrivehubapps">Gdrivehub Apps</a> - <em>Modded / Telegram</em> </li>
   <li><a href="https://t.me/Modzilla">MODZILLA</a> - <em>Modded / Telegram</em></li>
   <li><a href="https://t.me/crackedapks">Cracked Apps</a> - <em>Modded / Telegram</em> </li>
   <li><a href="https://t.me/DroidApks">DroidApks</a> - <em>Modded / Telegram</em></li>
   <li><a href="https://t.me/apkmod_s">apkmod_s</a> - <em>Modded / Telegram</em>  </li>
   <li><a href="https://t.me/proappshare">Pro App Share</a> - <em>Modded / Telegram</em>   </li>
   <li><a href="https://t.me/joinchat/AAAAAEGvyb2EPtoW2_Yf-A">xdapiratesbot</a> - <em>Modded / Telegram</em>  </li>
   <li><a href="https://t.me/Software_Android_Apps_Games">Software_Android_Apps_Games</a> - <em>Modded / Telegram</em>   </li>
   <li><a href="https://fossdroid.com/">FossDroid</a> - <em>Open source apps / /r/fossdroid</em></li>
   <li><a href="https://t.me/Moderse">Moderse </a> - <em>Android Apk Telegram Channel by well know modder- Stabiron</em></li>
   <li><a href="https://apk.support/apk-downloader">APK Downloader </a> - <em>Download Google Play apks</em></li>
   <li><a href="https://apps.evozi.com/apk-downloader">evozi</a> - <em>Download Google Play apks</em></li>
   <li><a href="https://raccoon.onyxbits.de/">Raccoon</a> - <em>Private APK Downloader</em></li>
   <li><a href="https://github.com/ClaudiuGeorgiu/PlaystoreDownloader">PlaystoreDownloader</a> - <em>Command line APK Download tool</em></li>
   <li><a href="https://blackmod.net/">Blackmod</a> - <em>Modded Game APKs</em></li>
   <li><a href="https://appfilter.net/">App filter</a> - <em>Play Store Advanced Search</em></li>
   <li>/r/googleplaydeals - <em>Paid apps</em> </li>
   <li><a href="https://t.me/androidappsales">Android App Sales</a> - <em>Paid apps / Telegram</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=net.tsapps.appsales">AppSales</a> - <em>Paid apps</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.appsfree.android">AppsFree</a> - <em>Paid apps</em></li>
   <li><a href="https://rentry.co/29s6v">How-to Install Play Store Apps from Other Countries</a></li>
</ul>
<hr>
<h1 id="-android-torrenting">► Android Torrenting</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_.25BA_vpn">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><strong><a href="https://gitlab.com/proninyaroslav/libretorrent">LibreTorrent</a></strong> - <em><a href="https://i.imgur.com/HbQZ8Hd.png">Screenshot</a></em></li>
   <li><strong><a href="https://play.google.com/store/apps/details?id=com.delphicoder.flud">Flud</a></strong> - <em><a href="https://i.imgur.com/8caBvYO.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=hu.tagsoft.ttorrent.lite">tTorrent</a> - <em><a href="https://i.imgur.com/S61JgNg.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.frostwire.android">Frostwire</a> - <em><a href="https://i.imgur.com/EoB3DED.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.mobilityflow.torrent">aTorrent</a> - <em><a href="https://i.imgur.com/rZ2JeCO.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.vuze.torrent.downloader">Vuze</a> - <em><a href="https://i.imgur.com/OrK3mLu.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=intelligems.torrdroid">TorrDroid</a> - <em><a href="https://i.imgur.com/HZ5Jpou.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.teeonsoft.ztorrent">zetaTorrent</a> - <em><a href="https://i.imgur.com/3WAk94Q.png">Screenshot</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=co.we.torrent&amp;hl=en_US">WeTorrent</a> - <em><a href="https://i.imgur.com/vrCk8Na.png">Screenshot</a></em></li>
   <li><a href="https://android.biglybt.com/">BiglyBT</a> - <em><a href="https://i.imgur.com/WP7xwYK.png">Screenshot</a></em> </li>
   <li><a href="https://f-droid.org/packages/org.transdroid.full/">Transdroid</a> - <em>Manage BitTorrent clients</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.kevinforeman.nzb360">nzb360</a> - <em>NZB / Torrent Manager</em> </li>
   <li><a href="https://idope.se/apk/down.html">iDope</a>, <a href="https://torrhunt.pages.dev/">TorrHunt</a>, <a href="https://play.google.com/store/apps/details?id=com.easelifeapps.torrz&amp;hl=en_US&amp;gl=US">Torrz</a> or <a href="https://seedboxs.me/">TorrSE</a> - <em>Torrent Search</em></li>
</ul>
<hr>
<h1 id="-android-manga">► Android Manga</h1>
<ul>
   <li><strong><a href="https://tachiyomi.org/">Tachiyomi</a></strong> + <em><a href="https://github.com/tachiyomiorg/tachiyomi">Github Releases</a> / <a href="https://tachiyomi.org/forks/#forks">Forks</a></em></li>
   <li><a href="http://mangazoneapp.com/">MangaZone</a> </li>
   <li><a href="https://bitbucket.org/cylonu87/mangadlr/downloads/">MangaDLR</a> </li>
   <li><a href="https://app.mangamew.com/">MangaMew</a></li>
   <li><a href="https://github.com/nv95/Kotatsu">Kotatsu</a></li>
   <li><a href="https://github.com/raulhaag/MiMangaNu">MiMangaNu</a> </li>
   <li><a href="https://github.com/CarlosEsco/Neko">Neko</a> </li>
   <li><a href="https://github.com/neverfelly/Meow">Meow</a> </li>
   <li><a href="https://github.com/FabioPezzini/TheComicsLibrary">TheComicsLibrary</a> - <em>Comic &amp; Manga Library</em> </li>
   <li><a href="https://github.com/ShosetsuOrg/android-app">Shosetsu</a> - <em>Light Novels / <a href="https://github.com/shosetsuorg/shosetsu-preview">Dev Builds</a> / <a href="https://discord.gg/ttSX7gB">Discord</a></em> </li>
</ul>
<hr>
<h1 id="-android-audio">► Android Audio</h1>
<ul>
   <li><strong><a href="https://forum.mobilism.org/search.php?terms=all&amp;author=&amp;sc=1&amp;sf=titleonly&amp;sr=topics&amp;sk=t&amp;sd=d&amp;st=0&amp;ch=300&amp;t=0&amp;submit=Search&amp;keywords=Spotify">Spotify APK (Modded)</a></strong> - <em>Streaming / <a href="https://github.com/xManager-v2/xManager-Spotify">Version Manager</a> / <a href="https://play.google.com/store/apps/details?id=live.teekamsuthar.mutify">Mute Ads</a></em></li>
   <li><strong><a href="https://forum.mobilism.org/viewtopic.php?f=1332&amp;t=3897714">AIDS</a></strong> - <em>Download / MP3  / FLAC</em> </li>
   <li><a href="https://vancedapp.com/">YouTube Music Vanced</a>, <a href="https://f-droid.org/packages/deep.ryd.rydplayer/">MusicPiped</a>, <a href="https://apt.izzysoft.de/fdroid/repo/com.ylightmusic.app/">Ylight Music</a>, <a href="https://f-droid.org/packages/com.holoplay
      https://github.com/stephane-r/HoloPlay">HoloPlay</a> or <a href="https://ymusic.io/">YMusic</a> - <em>YouTube Music Player</em></li>
   <li><a href="https://freezer.life/">Freezer</a> - <em>Stream / Download</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_android_audio_players">Android Audio Players</a> - <em>Music Players / Libraries</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.soundcloud.android&amp;hl=us">Soundcloud</a> - <em>Streaming</em></li>
   <li><a href="https://t.me/deezloaderremixmobile">Deezloader Android</a> - <em>Download / MP3  / FLAC + <a href="https://redd.it/d3i9fr">Non Telegram DL</a></em> </li>
   <li><a href="https://alexmercerind.github.io/harmonoid/">harmonoid</a> - <em>Download</em> </li>
   <li><a href="https://t.me/SMLoadrNews">SMLoadr</a> - <em>Download / FLAC / MP3</em></li>
   <li><a href="https://fildo.net/android/en/">Fildo</a> - <em>Streaming</em></li>
   <li><a href="https://rexdl.com/android/blackplayer-ex-apk.html/">BlackPlayer</a> - <em>Streaming</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=deezer.android.app">Deezer</a> - <em>Streaming</em></li>
   <li><a href="https://quorus.net/">Quorus</a> - <em>Collaborative Playlists</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_deezer_bots">Telegram Deezer Bots</a> - <em>Download / FLAC / MP3</em></li>
   <li><a href="https://github.com/artyshko/smd">smd</a> - <em>Spotify Music Downloader</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.nordskog.LesserAudioSwitch">AudioSwitch</a> - <em>Switch Audio to Different Outputs Lesser</em></li>
</ul>
<hr>
<h2 id="-android-podcasts-radio">▷ Android Podcasts / Radio</h2>
<ul>
   <li><strong><a href="https://forum.mobilism.org/search.php?terms=all&amp;author=&amp;sc=1&amp;sf=titleonly&amp;sr=topics&amp;sk=t&amp;sd=d&amp;st=0&amp;ch=300&amp;t=0&amp;submit=Search&amp;keywords=Spotify">Spotify APK (Modded)</a></strong> - <em>Podcasts</em></li>
   <li><a href="https://f-droid.org/en/packages/org.y20k.escapepod/">Escapepod</a> - <em>Podcasts</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.clearchannel.iheartradio.controller">IHeartRadio</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.mixcloud.player&amp;hl=en">MixCloud</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=tunein.player&amp;hl=en">TuneIn</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.podbean.app.podcast">Podbean</a> - <em>Podcasts</em></li>
   <li><a href="https://www.pocketcasts.com/">PocketCasts</a> - <em>Podcasts</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.bambuna.podcastaddict">Podcast Addict</a> - <em>Podcasts</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.stonegate.tsacdop">Tsacdop</a> - <em>Podcasts</em></li>
   <li><a href="https://f-droid.org/en/packages/net.programmierecke.radiodroid2/">RadioDroid</a> - <em>Radio</em> </li>
   <li><a href="https://f-droid.org/en/packages/org.y20k.transistor/">Transistor</a> - <em>Radio</em> </li>
   <li><a href="https://f-droid.org/en/packages/tk.giesecke.disaster_radio/">DisasterRadio</a> - <em>Radio</em> </li>
   <li><a href="https://f-droid.org/en/packages/click.dummer.have_radiosion/">HaveRadiosion</a> - <em>Radio</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.nextradioapp.nextradio">Next Radio</a> - <em>Android FM Radio / Requires FM receiver chip</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.audioaddict.di">DI.FM</a> - <em>Electronic Radio</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=me.echeung.moemoekyun">LISTEN.moe</a> - <em>K-Pop Radio</em> </li>
   <li><a href="https://antennapod.org/">AntennaPod</a> / <a href="https://f-droid.org/en/packages/de.danoeh.antennapod/">2</a>, <a href="https://f-droid.org/en/packages/com.stonegate.tsacdop/">Tsacdop</a> or <a href="https://f-droid.org/en/packages/com.prangesoftwaresolutions.audioanchor/">AudioAnchor</a> - <em>Podcast Player</em> </li>
</ul>
<hr>
<h2 id="-android-relaxation">▷ Android Relaxation</h2>
<ul>
   <li><a href="https://play.google.com/store/apps/details?id=com.TailoredMusic.RainyMood">Rainy Mood</a> - <em>Rain sounds</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=fm.raining.rainingfm&amp;hl=en">Raining.fm</a> - <em>Ambient Rain Sounds / Relaxation</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.noizio&amp;hl=en_US">Noizio</a> - <em>Nature Sounds / Relaxation</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.gabemart.asoftmurmur">A Soft Murmur</a> - <em>Mix ambient sounds</em></li>
   <li><a href="https://pics.tide.moreless.io/site/tide.apk">Tide.fm</a> - <em>Meditation / Sleep Sounds</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.mynoise.mynoise&amp;hl=en">myNoise</a> - <em>Background Noises &amp; Interactive Soundscapes</em> </li>
</ul>
<hr>
<h1 id="-android-streaming">► Android Streaming</h1>
<ul>
   <li><strong><a href="https://www.stremio.com/">Stremio</a></strong> - <em>Torrent Streaming / <a href="https://redd.it/ahd6gk">Addons</a> / Use <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_vpn_guide">VPN</a></em></li>
   <li><strong><a href="https://github.com/LagradOst/CloudStream-2">CloudStream2</a></strong> - <em>Movies / TV / Anime / Chromecast / <a href="https://discord.gg/5Hus6fM">Discord</a></em></li>
   <li><strong><a href="https://cinemaapk.com/">CinemaHD</a></strong> - <em>Movies / TV / Anime / Chromecast</em></li>
   <li><strong><a href="https://play.google.com/store/apps/details?id=com.vid.vidseed">Noyox</a></strong> - <em>Movies / TV / Code: 777</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_youtube_android_apps">YouTube Android Apps</a></strong> - <em>Ad Free YouTube on Android</em></li>
   <li><strong><a href="https://www.cinehub.app/">Cinehub</a></strong> or <a href="https://www.cinehub.to/">Cinehub.to</a> - <em>Movies / TV / Chromecast /</em> <strong>Currently Down :(</strong></li>
   <li><a href="https://cucotv.github.io/">CucoTV</a> - <em>Movies / TV</em> </li>
   <li><a href="https://forum.mobilism.org/search.php?keywords=crunchyroll&amp;sr=topics&amp;sf=titleonly">Cunrchyroll Premium</a></li>
   <li><a href="https://kodi.tv/">Kodi</a> - <em>/r/Addons4Kodi / <a href="https://kinkeadtech.com/best-kodi-streaming-addons/">Tracker</a> / <a href="https://kodiapps.com/addons-chart">Trending</a></em></li>
   <li><a href="https://github.com/RtiM0/Xedin/releases/tag/v0.9.9">Xedin</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://popcorntime.app/">PopcornTime.app</a> - <em>Movies / TV / Anime / Chromecast / Use <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_vpn_guide">VPN</a></em></li>
   <li><a href="https://getpopcorntime.is/">PopcornTime.is</a> - <em>Movies / TV / Anime / Chromecast / Use <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_vpn_guide">VPN</a></em></li>
   <li><a href="https://beetvapp.me/">BeeTV</a> or <a href="https://novatv.app/">NovaTV</a> - <em>Movies / TV / Anime / Chromecast</em></li>
   <li><a href="https://www.vivatv.io/">VivaTV</a> or <a href="https://teatv.net/">TeaTV</a> - <em>Movies / TV / Anime / Chromecast</em></li>
   <li><a href="https://zinitevi.github.io/movieapps/">ZiniTevi</a> - <em>Movies</em></li>
   <li><a href="https://github.com/WeeklyProblem/Bouncy">Bouncy</a> - <em>Movies / TV / Anime / Chromecast</em></li>
   <li><a href="https://mediaboxhd.net/">MediaBox HD</a> - <em>Movies / TV / Chromecast</em></li>
   <li><a href="https://moviehdapkdownload.com/moviehd-apk/">Movie HD</a> - <em>Movies / TV / Chromecast</em></li>
   <li><a href="https://upflix.pro/">Upflix</a> - <em>Movies / TV</em></li>
   <li><a href="https://aapks.com/apk/titanium-tv-com-wise-tech-titanium/">Titanium TV</a> - <em>Movies / TV / Anime / Chromecast</em></li>
   <li><a href="https://www.funkymuse.dev/p/berg.html">Berg</a> - <em>Movies / TV / Use <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_vpn_guide">VPN</a></em></li>
   <li><a href="https://supaflix.1mt.top/">SupaFlix</a> - <em>Movies / TV</em> </li>
   <li><a href="https://pockettv.xyz/">Pocket TV</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.downloader.world/">Tuner Radio</a> - <em>Movies / TV</em></li>
   <li><a href="http://www.rokkr.net/">Rokkr</a> - <em>Movies / TV / 
      Add &quot;huhu.to&quot;, &quot;bs.to&quot; or &quot;oha.to&quot;</em> 
   </li>
   <li><a href="https://github.com/KaustubhPatange/Moviesy">Moviesy</a> - <em>YTS Torrents</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.tvbusa.english&amp;hl=en_US">EncoreTVB</a> - <em>Chinese Drama</em> </li>
   <li><a href="https://adrama.online/">aDrama</a> - <em>Asian Drama / <a href="https://forum.mobilism.org/search.php?keywords=adrama&amp;sr=topics&amp;sf=titleonly">Addons</a></em></li>
   <li><a href="https://play.google.com/store/apps/details?id=pis.android.rss.rssplayer&amp;hl=en_US">RSS Player</a> - <em>KDrama / <a href="http://allrss.se/dramas">Feed</a>, <a href="http://myrss.nu/drama">2</a>
      RSS Player</em>
   </li>
   <li><a href="https://www.mobi24.net">mobi24</a> - <em>Anime / Cartoons / Drama / Manga</em></li>
   <li><a href="https://www.videolan.org/vlc/download-android.html">VLC</a>, <a href="https://f-droid.org/packages/is.xyz.mpv">mpv-android</a> or <a href="https://forum.mobilism.org/search.php?keywords=Mx+player&amp;terms=all&amp;author=Balatan&amp;sc=1&amp;sf=titleonly&amp;sr=topics&amp;sk=t&amp;sd=d&amp;st=0&amp;ch=300&amp;t=0&amp;submit=Search">MX Player</a> - <em>Video Player</em></li>
   <li><a href="https://f-droid.org/packages/com.perflyst.twire/">Twire</a>, <a href="https://play.google.com/store/apps/details?id=com.github.exact7.xtra&amp;hl=en_US&amp;gl=US">Xtra</a>, <a href="https://play.google.com/store/apps/details?id=org.mchatty">multiChat</a> or <a href="https://github.com/nopbreak/TwitchMod">TwitchMod</a> - <em>Ad Free Twitch</em> </li>
   <li><a href="https://t.me/androidtvmod">Android TV Mod</a> - <em>Android TV / Fire TV / Fire Stick / Mods / Telegram</em>  </li>
   <li><a href="https://smartyoutubetv.github.io/">Smart YouTube TV</a> - <em>Ad-Free YouTube client for set-top boxes and Android-based TVs</em></li>
   <li><a href="https://onehack.us/t/get-the-great-courses-plus-premium-android/92613">Great Courses Plus Premium</a> - <em>Courses</em></li>
   <li><a href="https://github.com/michaldrabik/showly-2.0">Showly 2.0</a> or <a href="https://github.com/UweTrottmann/SeriesGuide/">SeriesGuide</a> - <em>Movie / TV Tracker</em> </li>
</ul>
<hr>
<h2 id="-android-anime">▷ Android Anime</h2>
<ul>
   <li><a href="https://animeglare.xyz/">AnimeGlare</a> + <em><a href="https://discord.gg/tN8hDNd">Discord</a></em></li>
   <li><a href="https://github.com/XenTeckzX/FireAnime">FireAnime</a> - <em>Chromecast</em></li>
   <li><a href="https://github.com/mukul500/AnimeXStream/">AnimeXStream</a></li>
   <li><a href="https://github.com/simrat39/AnimeTwistFlut/releases">AnimeTwistFlut</a></li>
   <li><a href="https://github.com/Michael24884/TaiYaKiAnime">TaiYaKiAnime</a>, <a href="https://michael24884.github.io/TaiYaKiAnime/">2</a> + <em><a href="https://discord.com/invite/8fzmNSB">Discord</a></em></li>
   <li><a href="https://cyberneticlifeform.wixsite.com/cylonu87/animedlr">AnimeDLR</a> + <em><a href="https://discord.com/invite/wKxRqKc">Discord</a></em></li>
   <li><a href="https://www1.animeultima.to/app">AnimeUltima</a> + <em><a href="https://discord.gg/T3sDrtf">Discord</a></em></li>
   <li><a href="https://github.com/Tu2l/AnimeBoya">AnimeBoya</a></li>
   <li><a href="https://github.com/jmir1/aniyomi">Aniyomi</a></li>
   <li><a href="https://animebay.tech/">Animebay</a></li>
   <li><a href="https://apkpure.com/anime-fanz-tube/com.animefanzapp.tube">AnimeFanz Tube</a> - <em>Anime</em></li>
   <li><a href="https://animezone.info/">Animezone</a> - <em>Anime / <a href="https://github.com/spyderbibek/Anime-Zone">GitHub</a></em> </li>
   <li><a href="https://katsu.pw/">KATSU</a> + <a href="https://discord.gg/gjcy6MQ">Discord</a></li>
   <li><a href="https://archive.org/details/anime-hd.-3.0">Anime HD 3.0</a></li>
   <li><a href="https://github.com/sharn25/Anime-DL-Android-Verison">Anime-DL</a> - <em>Download Anime / <a href="https://discord.gg/Ee3fegN">Discord</a></em> </li>
</ul>
<hr>
<h2 id="-android-live-tv">▷ Android Live TV</h2>
<ul>
   <li><a href="https://thoptvofficial.buzz/">ThopTV</a></li>
   <li><a href="https://aostv.app/">AOS TV</a></li>
   <li><a href="https://forum.mobilism.org/search.php?keywords=ola+tv&amp;sr=topics&amp;sf=titleonly">OLATV</a></li>
   <li><a href="https://www.livenettv.bz/">Live NetTV</a></li>
   <li><a href="https://redboxtv.app/">Redbox</a></li>
   <li><a href="http://swiftstreamz.com/">SwiftStreams</a></li>
   <li><a href="http://tvtap.bz/index.php">TVTap</a></li>
   <li><a href="https://hdstreamz.app/">HD STREAMZ</a></li>
   <li><a href="https://airy.tv/">Airy TV</a> - <em>Legal / Live TV</em> </li>
   <li><a href="http://netflix.bond/ScrubTV2.apk">ScrubTV</a> - <em>Episode Streams</em></li>
</ul>
<hr>
<h1 id="-ios-jailbreaking">► iOS Jailbreaking</h1>
<ul>
   <li><strong><a href="https://docs.google.com/spreadsheets/d/11DABHIIqwYQKj1L83AK9ywk_hYMjEkcaxpIg6phbTf0/">Complete Jailbreak Chart</a></strong> - <em>Jailbreak Tools Index</em></li>
   <li><a href="https://iosninja.io/jailbreak-wizard-can-i-jailbreak">Can I Jailbreak</a> - <em>Check if your phone can be jailbroken</em> </li>
   <li>/r/jailbreak - <em>Jailbreaking Subreddit</em></li>
   <li>/r/sideloaded - <em>Sideloading Subreddit / <a href="https://www.reddit.com/r/sideloaded/wiki/index">Wiki</a></em></li>
   <li><a href="https://checkra.in/">checkra1n</a> - <em>Jailbreaking 5s - X</em></li>
   <li><a href="https://ipsw.me/">IPSW</a> - <em>Provides Jailbreak firmware</em></li>
   <li><a href="https://julio.hackyouriphone.org/">Julioverne</a> - <em>Jailbreaking Tools</em> </li>
   <li><a href="https://theodyssey.dev/">Odyssey</a> - <em>13.0-13.5 Semi-tethered Jailbreak</em> </li>
   <li><a href="https://github.com/pwn20wndstuff/Undecimus">unc0ver</a> - <em>11.0-13.5 Semi-tethered Jailbreak</em> </li>
   <li><a href="https://docs.google.com/spreadsheets/d/1cHL_bIcmON2L5euBM8NDk0SZ8w-VUE6oY3USbVqaLnA/edit?usp=sharing">Jailbreak 13.5 Tweak Compatibility List</a> - <em>Find out what tweaks are compatible with the 13.5</em> </li>
   <li><a href="https://meridian.sparkes.zone/">Meridian</a> - <em>10.0-10.3.3 Jailbreak</em> </li>
   <li><a href="https://github.com/LinusHenze/Fugu">Fugu</a> - <em>Open source jailbreak based on the checkm8</em></li>
   <li><a href="https://github.com/axi0mX/ipwndfu">ipwndfu</a> - <em>Open-source jailbreaking tool for many iOS devices</em></li>
   <li><a href="https://github.com/dora2-iOS/s0meiyoshino">s0meiyoshino</a> - <em>Enables exploit of iBoot</em></li>
   <li><a href="https://github.com/Matchstic/ReProvision">ReProvision</a> - <em>On-device signing utility</em></li>
   <li><a href="https://repo.hackyouriphone.org/">HackYouriPhone Repo</a> - <em>Jailbreak / Tweaks</em> </li>
   <li><a href="https://isecureos.idevicecentral.com/repo/">isecureos </a> - <em>Jailbreak Antivirus Tweak</em>
      iOS 
   </li>
   <li><a href="https://etasonatv.tihmstar.net/">EtasonATV</a> - <em>Apple TV Jailbreaking</em></li>
   <li><a href="https://shsh.host/">SHSH Host</a> - <em>Save SHSH blobs to upgrade/downgrade iOS versions</em> </li>
</ul>
<hr>
<h1 id="-ios-adblocking">► iOS Adblocking</h1>
<ul>
   <li><strong><a href="https://forum.mobilism.org/search.php?keywords=AdGuard+Pro&amp;sr=topics&amp;sf=titleonly">AdGuard Pro</a></strong> - <em>Systemwide Adblocker / <a href="https://apps.apple.com/app/apple-store/id1543143740">Remote</a></em></li>
   <li><a href="https://apps.apple.com/us/app/kfpanda-player/id1460792262">KF Panda-Player</a> - <em>Turn any site into a App, without the Ads</em> </li>
   <li><a href="https://1blocker.com/">1Blocker</a> - <em>Ablocker</em></li>
   <li><a href="http://kablock.com/">Ka-Block!</a> - <em>Adblocker</em></li>
   <li><a href="https://apps.apple.com/ca/app/sanitize-ad-blocker/id1048309542">Sanitize</a> - <em>Adblocker</em> </li>
   <li><a href="https://apps.apple.com/ca/app/privacy-pro-smartvpn/id1057771839">Privacy Pro</a> - <em>Ad/Trackers Blocker</em> </li>
   <li><a href="https://apps.apple.com/dk/app/lockdown-apps/id1469783711">Lockdown Apps</a> - <em>Adblocker</em> </li>
   <li><a href="https://github.com/krishkumar/BlockParty">BlockParty</a> - <em>Adblocker</em> </li>
   <li><a href="http://swabthe.com/">Swab</a> - <em>Adblocker</em> </li>
   <li><a href="https://aesther.net/">Aesther</a> - <em>Blocks Ads, Trackers, Malware &amp; Revokes</em> </li>
   <li><a href="https://apps.apple.com/us/app/dnscloak-secure-dns-client/id1452162351">DNSCloak</a> - <em>DNS Adblocker</em></li>
   <li><a href="https://apps.apple.com/ca/app/naka-adblocker/id1525185489">Naka AdBlocker</a> - <em>DNS Adblocker</em> </li>
   <li><a href="https://apps.apple.com/ca/app/blokada/id1508341781">Blokada</a> - <em>DNS Adblocker</em> </li>
   <li><a href="https://apps.apple.com/ca/app/nextdns/id1463342498">NextDNS</a> - <em>DNS Adblocker (No fake VPN)</em></li>
   <li><a href="https://apps.apple.com/ca/app/blockbear/id1023924541">BlockBear</a> or <a href="https://gitlab.com/eyeo/adblockplus/adblock-plus-for-safari">Adblock Plus for iOS</a> - <em>Safari Adblocker</em> </li>
   <li><a href="https://gitlab.com/Shub_/mobile-ads-block/-/raw/master/list">MobileAdsBlock</a> - <em>Ad / Tracker filter</em></li>
   <li><a href="https://github.com/Galactic-Dev/iSponsorBlock">iSponsorBlock</a> - <em>Skip YouTube Sponsorships</em> </li>
   <li><a href="http://www.shouldianswer.net/">Should I Answer?</a> or <a href="https://www.hiya.com/">Hiya</a> - <em>Block Spam Calls</em></li>
   <li><a href="https://www.donotcall.gov/">The National Do Not Call Registry</a> - <em>Opt Out of Telemarketing Calls</em> </li>
   <li><a href="https://apps.apple.com/us/app/slide-for-reddit/id1260626828">Slide</a> - <em>Ad Free Reddit Client</em> </li>
</ul>
<hr>
<h1 id="-ios-privacy">► iOS Privacy</h1>
<ul>
   <li><a href="https://play.google.com/store/apps/details?id=com.authy.authy">Authy</a>, <a href="https://mattrubin.me/authenticator">Authenticator</a>, <a href="https://obsidianapp.io/">Obsidian</a> or <a href="https://www.tofuauth.com/">Tofu</a> - <em>Two-factor authentication</em>  </li>
   <li><a href="https://onionbrowser.com/">Onion Browser</a> - <em>Onion Browser for iOS</em> </li>
   <li><a href="https://duckduckgo.com/app">DuckDuckGo Privacy Browser</a> - <em>Privacy Based Browser</em> </li>
   <li><a href="https://apps.apple.com/us/app/faceblock-block-facebook/id1516200820">Anti-Social</a> - <em>Block social media trackers / iOS</em> </li>
   <li><a href="https://apps.apple.com/us/app/signal-private-messenger/id874139669">Signal</a>, <a href="https://www.surespot.me/">surespot</a>, <a href="https://status.im/">Status</a>, <a href="https://getsession.org/">Session</a>, <a href="https://apps.apple.com/ca/app/confide-secret-messenger/id779883419">Confide</a> or <a href="https://chatsecure.org/">chatsecure</a> - <em>Encrypted Messaging</em> </li>
   <li><a href="https://apps.apple.com/us/app/wickr-pro/id1200926568">Wickr</a>, <a href="https://jami.net/">Jami</a>, <a href="https://mysudo.com/">MySudo</a> or <a href="https://apps.apple.com/app/vector/id1083446067">Element</a> - <em>Encrypted Messaging / Video Calls</em></li>
   <li><a href="https://apps.apple.com/us/app/bluer-for-facebook-messenger/id1490523710">Bluer</a> - <em>Privacy Focused Facebook Client</em></li>
</ul>
<hr>
<h1 id="-ios-tools">► iOS Tools</h1>
<ul>
   <li><a href="https://softorino.com/waltr/">Waltr</a> - <em>Convert Files to iOS Formats</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading">iOS eBook Readers</a> - <em>eBook / Audiobook readers</em> </li>
   <li><a href="https://iemulators.com/">iEmulators</a> - <em>Emulator Apps</em></li>
   <li><a href="https://www.collaboraoffice.com/collabora-office-android-ios-release-notes/">Collabora</a> - <em>Office Suite</em> </li>
   <li><a href="http://www.3u.com/">3uTools</a> - <em>All in one iOS manager for Windows</em></li>
   <li><a href="https://getutm.app/">UTM</a> - <em>Virtual machines on iOS</em> </li>
   <li><a href="https://iskin.tooliphone.net/">iSkin</a> - <em>No Jailbreak iOS Themes</em> </li>
   <li><a href="https://icustom.tooliphone.net/">iCustom</a> - <em>Make Custom Icons Without Shortcuts</em> </li>
   <li><a href="https://apps.apple.com/us/app/widgetopia-widgets-weather/id1536432615">widgetopia</a> - <em>iOS Widgets</em></li>
   <li><a href="https://github.com/MrAdamBoyd/DownTube">DownTube</a> or <a href="https://apps.apple.com/sa/app/youdown/id1487658334">YouDown</a> - <em>YouTube Downloader</em> </li>
   <li><a href="https://apps.apple.com/ca/app/grffe-wallpapers/id1521368829">Grffe</a> - <em>Static and Live Backgrounds</em> </li>
   <li><a href="https://gikken.co/artpaper">Artpaper</a> or <a href="https://apps.apple.com/ca/app/das-image-search-and-explore/id1464079804">Das Image</a> - <em>Wallpapers</em></li>
   <li><a href="https://github.com/kaneki07/iterm">Iterm</a> - <em>Terminal Emulator</em></li>
   <li><a href="https://apps.apple.com/ca/app/instdown-video/id1452076756">Instdown</a> - <em>Download Videos from Social Media</em> </li>
   <li><a href="https://apps.apple.com/us/app/fcc-speed-test/id794322383">FCC Speed Test</a> - <em>Internet Speed Test</em></li>
   <li><a href="https://jitsi.org/">Jitsi</a> - <em>Video Chat</em> </li>
   <li><a href="https://nicegram.app/">Nicegram</a> - <em>Telegram Client</em></li>
   <li><a href="https://goodlinks.app/">GoodLinks</a> - <em>Save Links</em></li>
   <li><a href="http://www.flairify.com/">Flarify</a> - <em>Touchscreen Typing Practice</em> </li>
   <li><a href="https://apps.apple.com/us/app/moloko-themes-icons/id1534741213">moloko</a> - <em>iOS Themes &amp; Icons</em> </li>
   <li><a href="https://projectsandcastle.org/">Project Sandcastle</a> - <em>Android for the iPhone</em> </li>
   <li><a href="https://www.mematic.net/">Mematic</a> - <em>Meme Creator</em> </li>
   <li><a href="https://reface.app/">Reface</a> - <em>Create Face Swap Videos</em> </li>
   <li><a href="https://www.wombo.ai/">WOMBO</a> - <em>AI Powered Lip Sync</em></li>
   <li><a href="https://apps.apple.com/kr/app/zank-remote-for-android-tv-box/id1567602430?1=en">Zank Remote</a> - <em>Control Android TV Box with iPhone</em></li>
</ul>
<hr>
<h1 id="-ios-apps">► iOS Apps</h1>
<ul>
   <li><strong><a href="https://github.com/dkhamsing/open-source-ios-apps">Open-Source iOS Apps</a></strong> - <em>Open Source iOS App Index</em> </li>
   <li><a href="https://www.teamos-hkrg.com/">TeamOS</a> - <em>Forum</em> </li>
   <li><a href="https://appdb.to/">AppDB</a> - <em>iOS Apps</em> </li>
   <li><a href="https://gitlab.com/Shub_/ipa-library/-/tree/master/Library">iPALibrary</a> - <em>Hacked/Tweaked iOS App Library</em> </li>
   <li><a href="https://t.me/streamiza">Streamiza</a> - <em>Tweaked Apps / Telegram / <a href="https://linktr.ee/Streamiza">Discord</a></em></li>
   <li><a href="https://www.iphonecake.com/">iPhoneCake</a> - <em>Cracked Apps</em></li>
   <li><a href="https://forum.mobilism.org/viewforum.php?f=312">Mobilism iOS Apps</a></li>
   <li><a href="https://www.appvalley.vip/">AppValley</a> - <em>Tweaked App Store</em></li>
   <li><a href="https://tutubox.io/">Tutubox</a> - <em>Tweaked Apps Store</em> </li>
   <li><a href="https://drive.google.com/drive/mobile/folders/1SxmAaB_dIswVsrKqtxOhymati-HaLYTT?usp=sharing">iPAGarage</a> - <em>Community Based Tweaked/Hacked iOS App Library / <a href="https://twitter.com/ipagarage/">Twitter</a></em></li>
   <li><a href="https://cydia.saurik.com/">Cydia</a> - <em>Alternative App Store</em></li>
   <li><a href="https://altstore.io/">AltStore</a> - <em>Alternative App Store</em></li>
   <li><a href="https://ioshaven.com/apps">ioshaven</a> - <em>Alternative App Store</em> </li>
   <li><a href="https://cydia.kiiimo.org/">Kiiimo</a> - <em>App Repository</em></li>
   <li><a href="https://cydiageek.yourepo.com/">CydiaGeek</a> - <em>App Repository</em> </li>
   <li><a href="https://rejail.ru/">ReJail Repo</a> - <em>App / Tweak Repository</em> </li>
   <li><a href="https://iosgods.com/">iOSGods</a> - <em>App Tweaks / Hacks / Mods</em></li>
   <li><a href="https://ignition.fun/">ignition</a> - <em>App Tweaks</em></li>
   <li><a href="https://app.eonhubapp.com/">EonHub</a> - <em>Hacked apps / Tweaks</em> </li>
   <li><a href="https://usescarlet.com/">Scarlet</a> - <em>Hacked apps / Tweaks / <a href="https://apps.apple.com/us/app/nullified/id1554556228">Anti Revoke</a></em></li>
   <li><a href="https://next.tweakboxapp.com/">tweakboxapp</a> or <a href="https://sideload.tweakboxapp.com/">tweakboxapp (sideloaded)</a> - <em>App Tweaks</em></li>
   <li><a href="https://ipaspot.app/">iPASpot</a> - <em>Hacked / Tweaked iOS Apps</em> </li>
   <li><a href="https://apps.ipabox.store/ipalibrary/index.html">iPABox</a> - <em>Hacked / Tweaked iOS Apps</em> </li>
   <li><a href="https://iosninja.io/ipa-library">iosninja</a> - <em>App Sideload Files</em></li>
   <li><a href="https://testflight.apple.com/">TestFlight</a> - <em>Test Beta Apps / <a href="https://docs.google.com/spreadsheets/d/1Uej3AQPxRcLRXnmthUXR-7oGkNV_GsMFgCoNnuPtSwI/">Links</a></em></li>
</ul>
<hr>
<h1 id="-ios-audio">► iOS Audio</h1>
<ul>
   <li><strong><a href="https://ipaspot.app/categories/tweakedapps.html">Spotify++</a></strong> (JB Required) or <strong><a href="https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580">Spotify</a></strong> - <em>Streaming</em></li>
   <li><a href="https://apps.apple.com/us/app/soundcloud/id336353151">Soundcloud</a> - <em>Streaming</em></li>
   <li><a href="https://apps.apple.com/app/deezer/id292738169">Deezer</a> - <em>Streaming</em></li>
   <li><a href="https://apps.apple.com/us/app/musi-simple-music-streaming/id591560124">Musi</a> - <em>Streaming</em> </li>
   <li><a href="https://apps.apple.com/ca/app/esound-music-player-app-mp3/id1224933860">eSound</a> - <em>Streaming</em> </li>
   <li><a href="https://apps.apple.com/ca/app/tubizu-music-player-streamer/id1426207462">Tubizu</a> - <em>Stream / Download</em> </li>
   <li><a href="https://apps.apple.com/ca/app/audiomack-download-new-music/id921765888">Audiomack</a> - <em>Streaming</em> </li>
   <li><a href="https://quorus.net/">Quorus</a> - <em>Collaborative Playlists</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_deezer_bots">Telegram Deezer Bots</a> - <em>Download / FLAC / MP3</em></li>
   <li><a href="https://github.com/ThasianX/SpotifyRadar">SpotifyRadar</a> - <em>Spotify Release Tracker / Metrics</em> </li>
</ul>
<hr>
<h2 id="-ios-podcasts-radio">▷ iOS Podcasts / Radio</h2>
<ul>
   <li><strong><a href="https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580">Spotify</a></strong> - <em>Podcasts</em></li>
   <li><a href="https://apps.apple.com/us/app/iheartradio/id290638154">IHeartRadio</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://apps.apple.com/us/app/mixcloud/id401206431">MixCloud</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://apps.apple.com/us/app/tunein-radio/id418987775">TuneIn</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://apps.apple.com/us/app/di-fm-electronic-music-radio/id375242617">DI.FM</a> - <em>Electronic Radio</em></li>
   <li><a href="https://apps.apple.com/app/apple-store/id973361050">Podbean</a> - <em>Podcasts</em></li>
   <li><a href="https://www.pocketcasts.com/">PocketCasts</a> - <em>Podcasts</em> </li>
</ul>
<hr>
<h2 id="-ios-relaxation">▷ iOS Relaxation</h2>
<ul>
   <li><a href="https://apps.apple.com/us/app/rainy-mood/id566752651">Rainy Mood</a> - <em>Rain Sounds</em></li>
   <li><a href="https://apps.apple.com/ua/app/rainingfm/id648243241">Raining.fm</a> - <em>Ambient Rain Sounds / Relaxation</em> </li>
   <li><a href="https://apps.apple.com/us/app/noizio-focus-relax-sleep/id960716999">Noizio</a> - <em>Nature Sounds / Relaxation</em> </li>
   <li><a href="https://apps.apple.com/app/apple-store/id1175522255">A Soft Murmur</a> - <em>Mix ambient sounds</em></li>
   <li><a href="https://apps.apple.com/cn/app/tide/id1077776989">Tide.fm</a> - <em>Meditation / Sleep Sounds</em> </li>
   <li><a href="https://apps.apple.com/be/app/mynoise/id813099896">myNoise</a> - <em>Background Noises &amp; Interactive Soundscapes</em> </li>
</ul>
<hr>
<h1 id="-ios-streaming">► iOS Streaming</h1>
<ul>
   <li><strong><a href="https://www.stremio.com/downloads">Stremio</a></strong> - <em>Torrent Streaming App / <a href="https://redd.it/ahd6gk">Addons</a> / Use <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_vpn_guide">VPN</a></em></li>
   <li><a href="https://kodi.tv/">Kodi</a> + <em>/r/Addons4Kodi, <a href="https://kinkeadtech.com/best-kodi-streaming-addons/">Tracker</a> + <a href="https://kodiapps.com/addons-chart">Trending</a></em></li>
   <li><a href="https://getpopcorntime.is/ios.html">Popcorn Time</a> - <em>Movies / TV / Use <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_vpn_guide">VPN</a></em></li>
   <li><a href="https://mediaboxhd.net/">MediaBox</a> - <em>Movies / TV</em></li>
   <li><a href="https://zinitevi.github.io/movieapps/">ZiniTevi</a> - <em>Movies</em> </li>
   <li><a href="https://apps.apple.com/us/app/movzy-movies-music-for-you/id1537372348">Movzy</a> - <em>Movies</em> </li>
   <li><a href="https://apps.apple.com/ca/app/black-box-movie-listing/id958957112">Blackbox</a> - <em>Movies</em> </li>
   <li><a href="https://apps.apple.com/us/app/dramatics-best-drama/id1493796973">Dramatics</a> - <em>TV / Movies</em></li>
   <li><a href="https://apps.apple.com/ca/app/hdo-box-a-better-tracking/id1529135165">HDO Box</a> - <em>Movies / TV</em></li>
   <li><a href="https://airy.tv/">Airy TV</a> - <em>Legal / Live TV</em>  </li>
   <li><a href="https://apps.apple.com/us/app/encoretvb-english/id1191642382">EncoreTVD</a> - <em>Chinese Drama</em></li>
   <li><a href="https://apps.apple.com/us/app/rss-video-player/id885311320">RSS Player</a> - <em>KDrama / <a href="http://allrss.se/dramas">Feed</a>, <a href="http://myrss.nu/drama">2</a></em></li>
   <li><a href="https://apps.apple.com/ca/app/vozee/id1500539907">Vozee</a> - <em>Download Movies / Music</em> </li>
   <li><a href="https://apps.apple.com/us/app/wako-tv/id1456393880">Wako-TV</a> - <em>Movies / TV / Anime / Real Debrid required</em></li>
   <li><a href="https://apps.apple.com/ca/app/vlc-for-mobile/id650377962">VLC</a> or <a href="https://apps.apple.com/us/app/infuse-6/id1136220934">‎Infuse 6</a> - <em>Video Player</em></li>
</ul>
<hr>
<h2 id="-ios-anime">▷ iOS Anime</h2>
<ul>
   <li><a href="https://github.com/Michael24884/TaiYaKiAnime/releases">Anime Taiyaki</a> - <em><a href="https://discord.com/invite/8fzmNSB">Discord</a></em></li>
   <li><a href="https://apps.apple.com/us/app/katsu-by-orion/id1503693664">KATSU</a> + <a href="https://discord.gg/gjcy6MQ">Discord</a></li>
   <li><a href="https://nineanimator.marcuszhou.com/">NineAnimator</a> + <em><a href="https://discord.gg/dzTVzeW">Discord</a></em></li>
   <li><a href="https://apps.apple.com/us/app/animeglare/id1472011019">AnimeGlare</a></li>
   <li><a href="https://apps.apple.com/ca/app/animehub-an-anime-fan-haven/id882620151">AnimeHub</a></li>
   <li><a href="https://github.com/Michael24884/TaiYaKiAnime">TaiYaKiAnime</a> + <em><a href="https://discord.com/invite/8fzmNSB">Discord</a></em></li>
</ul>
<hr>
<h2 id="-ios-live-tv">▷ iOS Live TV</h2>
<ul>
   <li><a href="https://apps.apple.com/ca/app/strymtv/id1497450933">Strym</a> - <em>M3U Sports</em> </li>
   <li><a href="https://apps.apple.com/ie/app/sports-tv-live-streaming/id1371395176">AllSports</a> - <em>Sports</em> </li>
</ul>
<hr>
<h1 id="-ios-torrenting">► iOS Torrenting</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_.25BA_vpn">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><a href="https://iosninja.io/ipa-library/download-itransmission-ipa-ios">iTransmission</a> - <em>Torrent Client</em></li>
   <li><a href="https://nzbunity.dozenzb.com/">nzbUnity</a> - <em>Torrent Manager</em></li>
</ul>
<hr>
<h1 id="-ios-manga">► iOS Manga</h1>
<ul>
   <li><a href="https://apps.apple.com/us/app/manga-storm/id417341160">Manga Storm</a> </li>
   <li><a href="https://apps.apple.com/us/app/manga-reader-manga-viewer/id647701066">Manga Reader</a> </li>
   <li><a href="https://apps.apple.com/us/app/manga-bird-best-manga-reader/id834760417">Manga Bird</a></li>
   <li><a href="https://apps.apple.com/app/id1181309509">MangaZone</a></li>
   <li><a href="https://testflight.apple.com/join/emEhlNGn">ZETSU</a></li>
   <li><a href="https://paperback.moe/">Paperback</a> - <em><a href="https://discord.gg/Ny83JV3">Discord</a> / <a href="https://apps.apple.com/app/paperback-manga-reader/id1519509781">App Store</a></em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'ai'
}
</script>

<style scoped>
.content {
  text-align: center;
  font-family: sans-serif;
  text-align: center;
  list-style-position: inside;
}
a {
  text-decoration: none;
}
</style>