<template>
<div class="content">
    <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/m8KqG2g.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-audiobook-sites">► Audiobook Sites</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:cwbbza56vhd">Audiobook Sites Search</a></strong></li>
   <li><strong><a href="https://forum.mobilism.org/viewforum.php?f=124">Mobilism Audiobooks</a></strong></li>
   <li><strong><a href="http://audiobookbay.ws/">Audiobook Bay</a></strong>, <a href="http://audiobookbay.nl/">2</a>, <a href="http://www.audiobookbayabb.com/">3</a>, <a href="http://www.theaudiobookbay.com/">4</a> - <em>Torrents / <a href="https://addons.mozilla.org/en-US/firefox/addon/audiobookbay-magnet-assistant/">Extension</a></em></li>
   <li><strong><a href="https://tokybook.com/">Tokybook</a></strong> - <em>Listen Online</em></li>
   <li><strong><a href="https://mega.nz/folder/yvoQTKCL#cHzM6YY3JU3b65OzxecnmA">Top 1,000 Audiobooks</a></strong> - <em>Audiobooks / Drive</em></li>
   <li><a href="https://drive.google.com/drive/folders/1IsJTH4ElUg4fjngDNUlM1KPFmpfD_tl9">Audiobook Drive</a> - <em>Audiobooks / Drive</em> </li>
   <li><a href="https://hotaudiobooks.com">HotAudiobooks</a> - <em>Listen Online</em> </li>
   <li><a href="https://audiobookforsoul.net/">Audiobooks For Soul</a> - <em>Listen Online</em></li>
   <li><a href="https://hdaudiobook.com/">HDAudiobook</a> - <em>Listen Online</em></li>
   <li><a href="https://bigaudiobooks.net/">BigAudiobooks</a> - <em>Listen Online</em></li>
   <li><a href="https://bookaudiobook.com/">BookAudiobook</a> - <em>Listen Online</em></li>
   <li><a href="https://goodaudiobook.com/">GoodAudiobook</a> - <em>Listen Online</em></li>
   <li><a href="https://audiobookslab.com/">Audiobook Slab</a> - <em>Listen Online</em></li>
   <li><a href="https://audiobookreviews.com/">AudioBook Reviews</a> </li>
   <li><a href="https://www.learnoutloud.com/Free-Audiobooks">LearnOutLoud</a> </li>
   <li><a href="https://goldenaudiobooks.com/">Golden Audiobooks</a></li>
   <li><a href="http://loudlit.org/">LoudLit</a> </li>
   <li><a href="https://librivox.org/">Librivox</a>  </li>
   <li><a href="https://audiobb.com/">AudioBB</a></li>
   <li><a href="https://audiobooks.cloud/">xAudiobooks</a></li>
   <li><a href="https://appaudiobooks.com/">AppAudiobooks</a></li>
   <li><a href="https://archive.org/details/audio_bookspoetry">Audiobooks Poetry</a> - <em>Poetry</em></li>
   <li><a href="https://audiobooksunleashed.com/">Audiobooks Unleashed</a> - <em>Audiobook codes</em></li>
   <li>/r/audiobooksonyoutube</li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_audiobook_downloads">Telegram Audiobooks</a> - <em>Telegram audiobook download channels</em></li>
   <li><a href="https://github.com/macr0dev/Audiobooks.bundle">Audiobooks.bundle</a> - <em>Plex Audiobook Metadata Scraper</em> </li>
   <li><a href="https://github.com/chbrown/overdrive">OverDrive</a> - <em>OverDrive Audiobook Download Script</em></li>
   <li><a href="https://f-droid.org/en/packages/de.ph1b.audiobook/">Voice</a> or <a href="https://f-droid.org/en/packages/com.prangesoftwaresolutions.audioanchor/">AudioAnchor</a> - <em>Android Audiobook Player</em> </li>
</ul>
<hr>
<h1 id="-reading-sites">► Reading Sites</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:s9ddesylrm8">Reading CSE</a></strong> / <a href="https://cse.google.com/cse?cx=006516753008110874046:rc855wetniu">2</a> / <a href="https://cse.google.com/cse?cx=c46414ccb6a943e39">3</a> - <em>Search Multiple Sites at once</em> </li>
   <li><strong><a href="/d">Download Piracy Guide</a></strong> - <em>ctrl+f and type &quot;Books / Comics / Magazines&quot;</em></li>
   <li><strong><a href="/tor">Torrent Piracy Guide</a></strong> - <em>ctrl+f and type &quot;Books / Comics / Magazines&quot;</em></li>
   <li><strong><a href="https://forum.mobilism.org">Mobilism</a></strong> - <em>Books / Audiobooks / Magazines / Newspapers / Comics / <a href="https://forum.mobilism.org/app/">Android</a></em></li>
   <li><strong><a href="https://calibre-ebook.com/">Calibre</a></strong> - <em>E-Book Manager / Downloader</em></li>
   <li><strong>Calibre Tools</strong> - <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_calibre_libraries">Libraries</a>, <a href="https://reddit.com/r/opencalibre">2</a>, <a href="https://the-eye.eu/public/Books/Calibre_Libraries/">3</a> / <a href="https://www.shodan.io/search?query=server%3A+calibre">Search</a>, <a href="https://calishot-eng-1.herokuapp.com/">2</a>, <a href="https://calishot-eng-2.herokuapp.com/index-eng/summary">3</a>, <a href="https://calishot-eng-3.herokuapp.com/index-eng/summary">4</a>, <a href="https://calishot-eng-4.herokuapp.com/index-eng/summary">5</a>, <a href="https://redd.it/nugkl3">6</a> / <a href="https://github.com/janeczku/calibre-web">Web App</a>  </li>
   <li><strong><a href="https://libgen.fun/">Library Genesis</a></strong> - <em>Comics / Manga</em></li>
   <li><strong>Lib Gen Tools</strong> - <em><a href="https://wiki.mhut.org/software:libgen_desktop">Desktop App</a> / <a href="https://github.com/manuelvargastapia/libgen_mobile_app">Mobile App</a> / <a href="https://github.com/bagaswastu/librebook">Download Tool</a> / <a href="https://phillm.net/libgen-seeds-needed.php">Need Seeds</a> / <a href="https://t.me/BotBookClub">Telegram Bot</a> / <a href="https://github.com/samj1912/Genesis">Extension</a> / <a href="https://github.com/NadalVRoMa/PyLibGen">Python Script</a> / <a href="https://whereislibgen.now.sh/">Mirrors</a>, <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_libgen_clones">2</a>, <a href="http://vertsluisants.fr/index.php?article4/where-scihub-libgen-server-down">3</a>, <a href="https://sguru.org/libgen-proxy/">4</a> / <a href="http://genotypeinczgrxr.onion/">Onion</a> / <a href="https://redd.it/edwi9b">Backup</a> / /r/libgen</em></li>
   <li><strong><a href="https://z-lib.org/">Z-Library</a></strong> - <em>Books / Comics / Educational / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_z-library_mirrors">Mirrors</a> / <a href="https://t.me/zlibrarybot">Telegram Bot</a></em></li>
   <li><strong><a href="https://ebook-hunter.org/">eBookHunter</a></strong> - <em>Books / Comics</em></li>
   <li><strong><a href="http://www.ebook3000.com/">ebook3000</a></strong> - <em>Books / Audiobooks / Comics / Magazines / Newspapers</em></li>
   <li><strong><a href="https://the-eye.eu/public/Books/">The-Eye Books</a></strong> - <em>Books</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_ebook_download">Telegram E-Books</a></strong> - <em>Telegram E-Book Channels</em></li>
   <li><strong><a href="https://www.mobileread.com/">Mobile Read</a></strong> - <em>E-Book / Reader Discussion Forum</em></li>
   <li><a href="http://en.bookfi.net/">Bookfi</a>, <a href="https://en.booksee.org/">BookSee</a> or <a href="http://bookre.org/">BookRe</a>  - <em>Books</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_irc_book_sites">IRC E-Books</a> - <em>Download EBooks from IRC / <a href="https://www.reddit.com/r/Piracy/comments/2oftbu/guide_the_idiot_proof_guide_to_downloading_ebooks/">Guide</a> / <a href="https://github.com/aghayes/rusty_book_pirate/">Downloader</a></em></li>
   <li><a href="https://www.gutenberg.org/">Project Gutenberg</a> - <em>Historical / <a href="http://gutenberg.net.au/">Australia</a> / <a href="http://gutenberg.ca/index.html">Canada</a> / <a href="http://runeberg.org/">Nordic</a></em></li>
   <li><a href="https://archive.org/details/texts">Archive.org</a> - <em>Books / Audiobooks / Magazines / Newspapers / <a href="https://i.imgur.com/y7Vl9rd.png">Borrow Only Bypass</a></em></li>
   <li><a href="https://discord.gg/mSyFJz9">The Library</a> or <a href="https://discord.gg/efBxSuz">The Great E-Library</a> - <em>E-Book Discord Servers</em> </li>
   <li><a href="https://mega.nz/folder/Z1dD2YSA#XRUa1Sj9mXJHU4rh1seykg">EBOOKS SET 2</a> - <em>Books / Drive</em></li>
   <li><a href="https://vk.com/sebomag">VK Serial Books &amp; Magazines</a> - <em>Books / Magazines</em></li>
   <li><a href="https://vk.com/bookstagram_eng">Bookstagram</a> - <em>Books / Magazines</em> </li>
   <li><a href="https://freeforbook.com/">freeforbook</a> - <em>Books / Magazines / Newspapers</em> </li>
   <li><a href="https://mega.nz/folder/x4VG3DRL#lqecF4q2ywojGLE0O8cu4A">29GB Mega Folder</a> - <em>Books</em> </li>
   <li><a href="http://s1.bitdl.ir/">bitdl 1</a>, <a href="http://s2.bitdl.ir/">2</a>, <a href="http://s3.bitdl.ir/">3</a>, <a href="http://s4.bitdl.ir/">4</a>, <a href="http://s5.bitdl.ir/">5</a>, <a href="http://s7.bitdl.ir/">7</a>, <a href="http://s8.bitdl.ir/">8</a>, <a href="http://s9.bitdl.ir/">9</a>, <a href="http://s10.bitdl.ir/">10</a>, <a href="http://s11.bitdl.ir/">11</a>, <a href="http://s13.bitdl.ir/">13</a>, <a href="http://s14.bitdl.ir/">14</a> - <em>Books</em></li>
   <li><a href="https://www.studycrux.com/">StudyCrux</a> - <em>Books / <a href="https://t.me/joinchat/OrqFslALXomP5uajuXUYAA">Telegram</a></em> </li>
   <li><a href="https://books.cat/">Books.cat</a> - <em>Books  / Forum / Requests</em> </li>
   <li><a href="https://www.readanybook.com/">Read Any Book</a> - <em>Books</em></li>
   <li><a href="https://openlibrary.org/">openlibrary</a> - <em>Books</em> </li>
   <li><a href="https://standardebooks.org">standardebooks</a> - <em>Books</em> </li>
   <li><a href="https://manybooks.net/">Manybooks</a>  - <em>Books</em></li>
   <li><a href="https://www.books-share.com/">Books-Share</a> - <em>Books / Comics</em></li>
   <li><a href="https://www.dpgroup.org/">dpgroup</a> - <em>Books / Magazines</em></li>
   <li><a href="https://16chan.xyz/library/">16Chan Library</a> - <em>Books</em></li>
   <li><a href="https://ebookbb.com/">eBookBB</a>  - <em>Books</em></li>
   <li><a href="http://2020ok.com/">2020ok</a>  - <em>Books / Comics</em></li>
   <li><a href="https://allbooksworld.com/">AllBooksWorld</a>  - <em>Books</em></li>
   <li><a href="https://onlybooks.org/">Only Books</a> - <em>Books</em></li>
   <li><a href="http://index-of.co.uk/">Repository z0ro</a> - <em>Books</em> </li>
   <li><a href="https://oceanofepub.com/">Ocean of EPUB</a> - <em>Books / Manga</em></li>
   <li><a href="https://mojobb.com/">MoJoBB</a> - <em>Books / Magazines</em></li>
   <li><a href="https://www.booktolearn.com">BooksToLearn</a> - <em>Books</em></li>
   <li><a href="http://novellibrary.com/">NovelLibrary</a> - <em>Books / <a href="http://dl.novellibrary.com/">Drive</a></em> </li>
   <li><a href="https://mega.nz/folder/Z1dD2YSA#XRUa1Sj9mXJHU4rh1seykg/folder/0hkHiIhQ">Ebooks, Graphics Novels &amp; Premiums</a> - <em>Books</em></li>
   <li><a href="https://ibookpile.net/">iBookPile</a> - <em>Books</em></li>
   <li><a href="https://downloadbooks.unblockit.dev/">DownLoadBooks</a> - <em>Books</em></li>
   <li><a href="http://anybooksfree.com/">Any Books Free</a> - <em>Books</em></li>
   <li><a href="https://www.bookscool.com/en/index.php">Books&#39;Cool</a> - <em>Books</em></li>
   <li><a href="https://ebookscart.com/">EBooksCart</a> - <em>Books</em></li>
   <li><a href="https://novel12.com/">Novel12</a> - <em>Books</em> </li>
   <li><a href="http://www.readprint.com/">Read Print</a> - <em>Books</em> </li>
   <li><a href="https://www.globalgreyebooks.com/index.html">Global Grey</a> - <em>Books</em> </li>
   <li><a href="https://www.bookyards.com/en/welcome">Bookyards</a> - <em>Books</em> </li>
   <li><a href="https://digilibraries.com/">DigiLibraries</a> - <em>Books</em> </li>
   <li><a href="http://www.fullbooks.com/">FullBooks</a> - <em>Books</em> </li>
   <li><a href="https://ebook4expert.net/">eBook4Expert</a> - <em>Books</em> </li>
   <li><a href="https://chestofbooks.com/">Chest of Books</a> - <em>Books</em></li>
   <li><a href="https://allbookshub.com/">All Books Hub</a> - <em>Books</em></li>
   <li><a href="https://8ebooks.net/">8ebooks</a> - <em>Books / Magazines</em></li>
   <li><a href="https://www.ebooksz.net/">ebooksz</a> - <em>Books</em></li>
   <li><a href="https://bbooks.info/">BBooks</a> - <em>Books</em></li>
   <li><a href="https://www.ebooks777.net/">eBook777</a> - <em>Books</em></li>
   <li><a href="http://www.bibliomania.com/bibliomania-static/index.html">Bibliomania</a> - <em>Books</em></li>
   <li><a href="https://www.readcentral.com/">ReadCentral</a> - <em>Books</em></li>
   <li><a href="http://www.authorama.com/">Authorama</a> - <em>Books</em></li>
   <li><a href="http://www.e-booksdirectory.com/">E-Books Directory</a> - <em>Books</em></li>
   <li><a href="https://www.free-ebooks.net/best-books">Free-eBooks</a> - <em>Books</em></li>
   <li><a href="https://www.ebookhunter.net/">eBookHunter.net</a> - <em>Books</em></li>
   <li><a href="https://www.planetebook.com/">Planet eBook</a> - <em>Books</em></li>
   <li><a href="http://www.loyalbooks.com/">Loyal Books </a> - <em>Books</em></li>
   <li><a href="https://www.obooko.com/">obooko</a> - <em>Books</em> </li>
   <li><a href="https://www.getfreeebooks.com/">Get Free eBooks</a> - <em>Books</em> </li>
   <li><a href="https://ebooksbag.com/">eBooksBag</a> - <em>Books</em>  </li>
   <li><a href="https://www.justfreebooks.info/">JustFreeBooks</a> - <em>Books</em> </li>
   <li><a href="https://www.ebookjunkie.com/">eBook Junkie</a> - <em>Books</em>  </li>
   <li><a href="https://www.sharingebook.com/">Sharing eBook</a> - <em>Books</em> </li>
   <li><a href="https://getfreemagz.club/">GetFreeMagz</a> - <em>Books</em> </li>
   <li><a href="http://www.ebooklobby.com/">eBook Lobby</a> - <em>Books</em>  </li>
   <li><a href="http://www.freebooks.com">Free eBooks</a> - <em>Books</em> </li>
   <li><a href="https://graycity.net/">GrayCity</a> - <em>Books</em></li>
   <li><a href="https://centslessbooks.com/">CentslessBooks</a> - <em>Books</em> </li>
   <li><a href="https://snewd.com/">SNEWD</a> - <em>Books</em> </li>
   <li><a href="http://www.luminist.org/archives/">Luminist</a> - <em>Books</em> </li>
   <li><a href="https://kingauthor.net/">KingAuthor</a> - <em>Books</em> </li>
   <li><a href="https://play.google.com/store/books/collection/topselling_free">Google Play Books</a> - <em>Books</em> </li>
   <li><a href="https://www.smashwords.com/shelves/home/1/free/any">Smashwords</a> - <em>Books</em> </li>
   <li><a href="https://www.kodges.ru/">kodges</a> - <em>Books / Use Translator</em></li>
   <li><a href="http://www.lesatkins.com/books/epubfiles/">lesatkins</a> - <em>Books / <a href="http://www.lesatkins.com/books/downloadzip.php">Download Zip</a></em></li>
   <li><a href="https://flibusta.is/">Flibusta</a> - <em>Books / <a href="http://flibustahezeous3.onion/">Onion</a> / Requires account</em></li>
   <li><a href="https://dailylit.com/">DailyLit</a> - <em>Books</em>  </li>
   <li><a href="https://ebook-searcher.com/">Ebooks Searcher</a> or  - <em>Multi-Site Book Search</em> </li>
   <li><a href="https://www.freebooksifter.com/">FreeBooksSifter</a> - <em>Free Amazon E-Book</em> </li>
   <li><a href="http://hundredzeros.com/">HundredZeros</a> - <em>Free Kindle Books</em> </li>
   <li><a href="https://www.wikibooks.org/">Wikibooks</a> - <em>Wikimedia community</em></li>
   <li><a href="http://127.0.0.1:43110/Antilibrary.bit/">Antilibrary</a> - <em>ZeroNet Required</em></li>
   <li><a href="https://avxhm.se/">AvaxHome</a> - <em><a href="https://leechall.com/">Leech Required</a></em> </li>
   <li><a href="http://www.freebookspot.es/default.aspx">FreeBookSpot</a> - <em>Books / <a href="https://filehostlist.miraheze.org/wiki/Main_Page">Leech Required</a></em></li>
   <li><a href="http://zqktlwi4fecvo6ri.onion/wiki/Libraries">zqktlwi4fecvo6ri</a> - <em>Tor Required</em> </li>
   <li><a href="http://xfmro77i3lixucja.onion/">xfmro77i3lixucja</a> - <em>Tor Required</em> </li>
   <li><a href="http://kx5thpx2olielkihfyo4jgjqfb7zx7wxr3sd4xzt26ochei4m6f7tayd.onion/">The Imperial Library of Trantor</a> - <em>Tor Required / <a href="https://trantor.is/">Unofficial Mirror</a></em></li>
   <li><a href="https://www.reddit.com/r/BookRelatedSubs/wiki/sublist">eBook Subreddits</a></li>
   <li>/r/opendirectories</li>
   <li>/r/EBook_Resources/</li>
   <li>/r/FreeEBOOKS</li>
   <li>/r/Freenookbooks/</li>
   <li>/r/bookdownloads/</li>
   <li>/r/KindleFreebies/</li>
</ul>
<hr>
<h2 id="-pdf-search">▷ PDF Search</h2>
<ul>
   <li><strong><a href="https://pdfdrive.com/">PDFDrive</a></strong> - <em>Books</em> </li>
   <li><a href="https://oceanofpdf.com/">Ocean of PDF</a> - <em>Books / Comics</em></li>
   <li><a href="https://pdfroom.com/">pdfroom</a> - <em>Books / Comics</em> </li>
   <li><a href="http://www.pdfgeni.com/">Pdfgeni</a> - <em>Books</em> </li>
   <li><a href="https://pdfgrab.com/">PDFGrab</a> - <em>Books</em> </li>
   <li><a href="https://ebookpdf.com/">Ebook PDF</a> - <em>Books</em> </li>
   <li><a href="https://kupdf.net/">KuPDF</a> - <em>Books</em> </li>
   <li><a href="https://epdf.pub/">ePDF</a> - <em>Books</em> </li>
   <li><a href="http://www.sopdf.com/">SoPDF</a> - <em>Books</em> </li>
   <li><a href="http://www.findpdfdoc.com/">FindPDFDoc</a> - <em>Books</em> </li>
   <li><a href="https://pdfslide.net/">PDFSlide</a> - <em>Books</em> </li>
   <li><a href="https://pdfduck.com/">PDFDuck</a> - <em>Books</em> </li>
   <li><a href="https://www.pdforigin.info/">pdforigin</a> - <em>Books</em> </li>
   <li><a href="https://largepdf.com/">LargePDF</a> - <em>Books</em></li>
   <li><a href="https://pdfstop.com/">PDF Stop</a> - <em>Books</em></li>
   <li><a href="http://www.freepdfbook.com/">freepdfbook</a> - <em>Books</em> </li>
   <li><a href="https://pdfbooks.co.za/">pdfbooks</a> - <em>Books</em> </li>
   <li><a href="http://www.pdfsearchengine.info/">PDF Search Engine</a> - <em>PDF Search Engine</em> </li>
   <li><a href="https://www.google.com/search?q=site%3As3.amazonaws.com+%3CSearch+term%3E+filetype%3Apdf">Amazonaws</a> - <em>Amazon PDF Search</em> </li>
</ul>
<hr>
<h2 id="-classic-sites">▷ Classic Sites</h2>
<ul>
   <li><a href="http://www.classicbookshelf.com/library/">Classic Bookshelf</a></li>
   <li><a href="https://www.pagebypagebooks.com/">Page by Page Books</a> </li>
   <li><a href="http://www.luminarium.org/">Luminarium</a> </li>
   <li><a href="https://www.gale.com/databases/questia">Questia</a> </li>
   <li><a href="https://ufdc.ufl.edu/baldwin/all/thumbs">Balwin of Library</a> </li>
   <li><a href="http://www.read.gov/books/">Read.gov</a> </li>
   <li><a href="https://classic-literature.co.uk/">Classic Literature</a> </li>
   <li><a href="http://classics.mit.edu/index.html">Classics.mit</a></li>
   <li><a href="https://www.ubooks.pub/">uBooks</a></li>
   <li><a href="https://sherlock-holm.es/">sherlock-holm.es</a> - <em>Complete Sherlock Holmes Canon</em></li>
</ul>
<hr>
<h2 id="-children-s-sites">▷ Children&#39;s Sites</h2>
<ul>
   <li><a href="http://en.childrenslibrary.org/">Children&#39;s Library</a></li>
   <li><a href="http://www.magickeys.com/books/">MagicKeys</a> </li>
   <li><a href="https://bygosh.com">byGosh</a> </li>
</ul>
<hr>
<h2 id="-cooking-sites">▷ Cooking Sites</h2>
<ul>
   <li><a href="https://www.copymethat.com/">Copy Me That</a> or <a href="https://spoonacular.com/food-api">Spoonacular</a> - <em>Recipe Manager</em></li>
   <li><a href="https://www.justtherecipe.app/">Just the Recipe</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/recipe-filter/">Recipe Filter</a> - <em>Copy Ingredients &amp; Directions from Recipe Pages</em> </li>
   <li><a href="http://cookebooks.info/">cookEbooks</a> - <em>Cookbooks</em></li>
   <li><a href="https://the-eye.eu/public/Books/Food/">The-Eye Food</a> - <em>Cookbooks</em> </li>
   <li><a href="https://www.yudhacookbook.my.id/">YudhaCookbook</a> - <em>Cookbooks</em></li>
   <li><a href="https://t.me/cook_bookshelf">Cook Bookshelf</a> - <em>Cookbooks / Telegram</em></li>
   <li><a href="https://search-22.com/recipe-search-tools">Search-22</a> - <em>Multi-Site Recipe Search</em></li>
   <li><a href="https://www.supercook.com/">SuperCook</a> - <em>Recipe Search</em> </li>
   <li><a href="https://www.myfridgefood.com/">MyFridgeFood</a> - <em>Recipe Search</em> </li>
   <li><a href="https://www.epicurious.com/">Epicurious</a> - <em>Recipe Search</em> </li>
   <li><a href="https://recipe-search.typesense.org/">Recipe Search</a> - <em>Recipe Search</em> </li>
   <li><a href="https://reciperetrieve.com/">Recipe Retrieve</a> - <em>Recipe Search</em></li>
   <li><a href="http://www.dotnom.com/">DotNom</a> - <em>Recipe Search</em></li>
   <li><a href="https://github.com/Murgio/Food-Recipe-CNN">Food-Recipe-CNN</a> - <em>Food Image to Recipe Tool</em> </li>
   <li><a href="https://www.tasteatlas.com/">TasteAtlas</a> - <em>Recipe Map</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_cooking_youtube_channels">Cooking YouTube Channels</a></li>
   <li><a href="https://www.growstuff.org/">GrowStuff</a> - <em>Food Growing Info / Tools</em> </li>
   <li><a href="https://github.com/jzarca01/awesome-food">Awesome Food</a> - <em>Cooking Tools Index</em> </li>
   <li><a href="http://www.cookingforengineers.com/">CookingForEngineers</a> - <em>Recipes / Cooking Tests</em> </li>
   <li><a href="https://www.reluctantgourmet.com/">ReluctantGourmet</a> - <em>Recipes / Tutorials</em> </li>
   <li><a href="http://how2heroes.com/">How2Heroes</a> - <em>Recipes</em> </li>
   <li><a href="https://www.allrecipes.com/">All Recipes</a> - <em>Recipes</em> </li>
   <li><a href="https://justthedarnrecipe.com/">Just the Darn Recipe</a> - <em>Recipes</em> </li>
   <li><a href="https://theskullery.net/">theSkullery</a> - <em>Recipes</em> </li>
   <li><a href="https://curlie.org/en/Home/Cooking/">Curlie Cooking</a> - <em>Recipes</em> </li>
   <li><a href="https://www.punchfork.com/">PunchFork</a> - <em>Recipes</em></li>
   <li><a href="https://based.cooking/">Based Cooking</a> - <em>Recipes</em></li>
   <li><a href="https://www.foodnetwork.com/recipes">Food Network Recipes</a> - <em>Recipes</em></li>
   <li><a href="https://hacker-cookbook.herokuapp.com/">1337-Noms-The-Hacker-Cookbook</a> - <em>Recipes</em> </li>
   <li><a href="https://github.com/jlinder/cookbook">CookBook</a> - <em>Recipes</em> </li>
   <li><a href="https://en.wikibooks.org/wiki/Category:Cookbook">Wikibook Cookbooks</a> - <em>Recipes</em></li>
   <li><a href="http://www.culinary.net/">Culinary</a> - <em>Recipes</em></li>
   <li><a href="https://cookpad.com/us">Cookpad</a> - <em>Recipes</em></li>
   <li><a href="https://www.recipechart.com/">RecipeChart</a> - <em>Recipes</em></li>
   <li><a href="https://foodgeeks.com/">FoodGeeks</a> - <em>Recipes</em></li>
   <li><a href="https://www.myrecipemagic.com/">MyRecipeMagic</a> - <em>Recipes</em></li>
   <li><a href="https://recipes.sparkpeople.com/">SparkPeople</a> - <em>Recipes</em></li>
   <li><a href="https://www.keyingredient.com/">KeyIngridient</a> - <em>Recipes</em></li>
   <li><a href="http://www.recipearchive.com/">RecipeArchive</a> - <em>Recipes</em></li>
   <li><a href="http://recipes2.alastra.com/">Alastra</a> - <em>Recipes</em></li>
   <li><a href="http://recipes.robbiehaf.com/">RobbieHaf</a> - <em>Recipes</em></li>
   <li><a href="https://whatscookingamerica.net/Menu/MenuIndex.htm">WhatsCookingAmerica</a> - <em>Recipes</em></li>
   <li><a href="http://www.cs.cmu.edu/~mjw/recipes/">MJW</a> - <em>Recipes</em></li>
   <li><a href="https://www.bestrecipes.com.au/">BetterRecipes</a> - <em>Recipes</em></li>
   <li><a href="https://www.astray.com/recipes/">Astray</a> - <em>Recipes</em></li>
   <li><a href="https://www.farmlandfoods.com/recipes/">FarmlandFoods</a> - <em>Recipes</em></li>
   <li><a href="https://recipeland.com/">RecipeLand</a> - <em>Recipes</em></li>
   <li><a href="https://www.budgetbytes.com/">Budget Bytes</a> - <em>Cheap Recipes</em></li>
   <li><a href="https://cookingonabootstrap.com/">Jack Monroe</a> - <em>Cheap Recipes</em></li>
   <li><a href="http://www.whatthefuckshouldimakefordinner.com/">What the Fuck Should I Make for Dinner?</a> - <em>Random Recipes</em> </li>
   <li><a href="https://www.dishdragon.ai/">Dish Dragon AI</a> - <em>Find Ingredients That Go Well Together</em> </li>
   <li><a href="https://developer.edamam.com/">Edamam</a> - <em>Food-Related APIs</em> </li>
   <li><a href="http://www.recipepuppy.com/about/api/">Recipe Puppy</a> - <em>Recipe API</em> </li>
   <li><a href="https://www.coursera.org/learn/childnutrition">Child Nutrition</a> - <em>Child Nutrition / Cooking Course</em> </li>
   <li><a href="https://github.com/sinker/tacofancy">tacofancy</a> - <em>Taco Recipe Index</em> </li>
   <li><a href="https://github.com/hendricius/the-bread-code">The Bread Code Manifesto</a> - <em>Bread Baking Recipes</em> </li>
   <li><a href="https://github.com/hendricius/pizza-dough">Pizza Dough</a> - <em>Pizza Dough Recipes</em> </li>
   <li><a href="https://github.com/hendricius/mozzarella">Mozzarella</a> - <em>Mozzarella Recipes</em> </li>
   <li><a href="https://www.chef2chef.net/">Chef2Chef</a> - <em>Cooking Lessons</em> </li>
   <li><a href="https://theculinarycook.com/">TheCulinaryCook</a> - <em>Cooking Lessons</em> </li>
   <li><a href="https://www.edx.org/course/science-cooking-from-haute-cuisine-to-soft-matter">Food Chemistry Course</a>, <a href="https://www.edx.org/course/science-cooking-from-haute-cuisine-to-soft-matte-2">2</a></li>
   <li><a href="https://github.com/nick/auto-soylent">auto-soylent</a> - <em>Automatic Soylent recipe generator</em> </li>
   <li><a href="https://www.recipesseo.com/ingredients">recipesseo</a> - <em>Common Ingredients in Recipes Analyzer</em> </li>
   <li><a href="https://www.reddit.com/user/Siryonkee/m/food/">/m/food</a> - <em>Food Multireddit</em></li>
   <li>/r/Cooking - <em>Cooking Discussion / Tips</em></li>
   <li>/r/GifRecipes - <em>Recipes in GIF Format</em></li>
   <li>/r/recipes - <em>Share recipes</em></li>
   <li>/r/AskCulinary - <em>Get Cooking Advice</em> </li>
   <li>/r/IndianFood - <em>Indian Food Recipes / Tips</em></li>
   <li><a href="https://www.eatthismuch.com/">EatThisMuch</a> - <em>Diet App / Tool</em> </li>
   <li><a href="https://www.stilltasty.com/">Still Tasty</a> or <a href="http://www.eatbydate.com/">EatByDate</a> - <em>Shelf Life Guides</em> </li>
   <li><a href="https://bakingcalculators.com/">Baking Calculators</a> - <em>Measurement System Conversion Calculators</em></li>
   <li><a href="https://github.com/prakhar1989/FoodTrucks">FoodTrucks</a> - <em>SF Food Truck App</em> </li>
   <li><a href="https://github.com/jzarca01/node-ubereats">node-ubereats</a> - <em>WIP API for Uber Eats</em> </li>
   <li><a href="https://github.com/jzarca01/node-deliveroo">node-deliveroo</a> - <em>API for Deliveroo</em> </li>
   <li><a href="https://github.com/mynamebrody/pizzadash">PizzaDash</a> - <em>Turn Amazon Dash Button into Pizza Delivery Button</em> </li>
   <li><a href="https://github.com/hmontazeri/is-vegan">is-vegan</a> - <em>Vegan Food App</em> </li>
   <li><a href="https://mcbroken.com/">McBroken</a> - <em>Check if McDonalds Ice Cream Machines are Broken</em></li>
   <li><a href="http://hackthemenu.com/">HackTheMenu</a> - <em>Fast Food Secret Menu Items</em> </li>
</ul>
<hr>
<h2 id="-religion-esoterica">▷ Religion / Esoterica</h2>
<ul>
   <li><strong><a href="https://www.sacred-texts.com/index.htm">Sacred Text Archive</a></strong> - <em>Religion / Mythology / Folklore / Esoterica</em></li>
   <li><strong><a href="https://discord.com/invite/FqFp8Q4">ARCHIVES</a></strong> - <em>Occult / Witchcraft / Religion</em></li>
   <li><strong><a href="https://justpaste.it/WiLdOccultEbooks">WiLd&#39;s Occult Ebook Sources</a></strong> - <em>Occult / Esoterica</em></li>
   <li><strong><a href="https://www.bibliotecapleyades.net/esp_tema.htm">Biblioteca Pleyades</a></strong> - <em>Mythology / Conspiracy / Esoterica</em></li>
   <li><a href="http://english.grimoar.cz/?Loc=key&amp;Lng=2">Grimoar.cz</a> - <em>Occult</em></li>
   <li><a href="https://www.godchecker.com/">GodChecker</a> - <em>Learn about Gods from different Religions</em></li>
   <li><a href="https://www.hermetics.net/">Hermetic International</a> - <em>Religion / Occult / Alchemy / Astrology / Freemasonry / Gnosticism / Hermetic / Kabbalah / Philosophy</em></li>
   <li><a href="https://mega.nz/#F!SfZyUYRK!yW7p_LkWtooQaVZ3Vr6WLQ">Temple of Solomon the King</a>, <a href="https://mega.nz/folder/ig0CBbLS#pGy_4LFIXKdtF_Ey5CVCdw/folder/TpVG3ITY">2</a> - <em>Occult / Gnosticism / Ect. / Drive</em> </li>
   <li><a href="https://krishnamurti.abundanthope.org/">Abundant Hope</a> - <em>Sacred Texts / Religion / Christianity / Buddhism / Alchemy / Hinduism / Islam / Theosophy / Judaism / Taoism</em></li>
   <li><a href="http://www.hermetics.org/library.html">Hermetics</a> - <em>Ancient Texts / Mythology / Occult</em></li>
   <li><a href="https://www.awakening-intuition.com/ebooks.html">Awakening-Intuition</a> - <em>Religion / Esoterica / Occult</em></li>
   <li><a href="https://mega.nz/#F!jN8GTSaJ!xN6x5Pv9dhqT6yLhO6r2Ow">Esoteric Library</a> - <em>Esoterica / Occult</em> </li>
   <li><a href="https://www.dhammatalks.org/">Dhamma Talks</a> - <em>Sacred Texts / Religion / Buddhism</em></li>
   <li><a href="https://suttacentral.net/">Sutta Central</a> - <em>Sacred Texts / Religion / Buddhism</em> </li>
   <li><a href="http://www.gnosis.org/library.html">Gnostic Society Library</a> - <em>Gnosticism</em></li>
   <li><a href="https://www.dropbox.com/sh/2x5qfpd4csenuws/AABxbTrOvXVRcwsW0z9t6AFJa">Kenorb&#39;s New Age library</a> - <em>Esoterica / Mythology / Gnosticism</em> </li>
   <li><a href="https://mega.nz/#F!hQVFBDbT!f3gOa3LUAHJXJJbFZfDytg">Esoterica</a> - <em>Esoterica / Philosophy / Gnosticism</em> </li>
   <li><a href="http://logoilibrary.com/">Logoi Library</a> - <em>Gnosticism / Hermeticism</em> </li>
   <li><a href="https://mega.nz/#F!pOZCyaxK!qRLNFL_GzdXz6Dhz22bLMg">Occult Megadrive</a></li>
   <li><a href="https://mega.nz/#F!BNljAKhB!eY3NfH3DZtthocohW8Lwwg">Messy occult library</a> - <em>Occult / Esoterica / Gnosticism</em> </li>
   <li><a href="https://mega.nz/#F!E4cSzYBZ!SPeQA0WuSMVh_oQtpYnN5w">LeftHandPath</a> - <em>Luciferianism</em> </li>
   <li><a href="https://drive.google.com/drive/folders/0B7TpGr9NCseXVWRQbFlpT28zQzg">mr.taco9&#39;s library</a> - <em>Occult / Luciferianism</em> </li>
   <li><a href="http://esotericarchives.com/">Esoteric Archive</a> - <em>Esoterica</em></li>
   <li><a href="https://mega.nz/#F!JjIiRTJL!hbd-8RGobfu8xNzB-7-TkQ">Hoiya&#39;s Personal Library</a> - <em>Occult / Gnosticism / Esoterica</em> </li>
   <li><a href="https://masonicshop.com/masonic-library/">Masonic Library</a> - <em>Esoterica / Freemasonry</em></li>
   <li><a href="https://golden-dawn.com/nl/library.aspx">Golden Dawn</a> - <em>Alchemy / Esoterica</em></li>
   <li><a href="https://darkbooks.org/collection/top250.html">Darkbooks</a> - <em>Occult</em></li>
   <li><a href="http://www.astrumargenteum.org/en/library/">Astrum Argenteum</a> - <em>Occult</em></li>
   <li><a href="https://drive.google.com/drive/folders/0B7ROOiTZu5cKTjVUMWlLOWhtUjQ">Occult and Magick Guides</a> - <em>Occult</em> </li>
   <li><a href="https://www.mediafire.com/folder/z7x8kec9jidn2/Occult">Azrk&#39;s library</a> - <em>Occult / Esoterica / Satanism / Religion / Ect.</em> </li>
   <li><a href="https://mega.nz/#F!kd9h1A6Y!1waeMtxUpksB9eQsws0Zcg">Spirituality Megadrive</a> </li>
   <li><a href="http://iapsop.com/">IAPSOP</a> - <em>Spiritualist / Occult Periodicals</em> </li>
   <li><a href="https://mythology.net/">Mythology.net</a> - <em>Mythology / Religion</em></li>
   <li><a href="https://www.beyondweird.com/">Beyond Weird</a> - <em>Assorted Documents / Witchcraft / Conspiracies</em></li>
   <li><a href="https://drive.google.com/drive/folders/1UNPHhBJNOUB0c-gFi9toSqirPSi4W99R">Archive</a> - <em>Conspiracy / Occult / Metaphysics</em></li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/1BurmAyZ-iEpDARXawyeYmwD2MGHrw4l6?usp=sharing">CraftStuff</a> - <em>Witchcraft</em></li>
   <li><a href="https://mega.nz/#F!jBk3nBwC!3kbcd3Yb0I1Dkw6GCBLY1A">Alchemy</a> </li>
   <li><a href="https://mega.nz/#F!gehhiaKI!PfYluqpWY4vfowImabzsLQ">Hellenistic Theism</a> </li>
   <li><a href="https://www.theosociety.org/">The Theosophical Society</a> - <em>Theosophy</em> </li>
   <li><a href="http://www.austheos.org.au/clibrary/bindex-0.html">The Theosophical Society in Australia</a> - <em>Theosophy</em> </li>
   <li><a href="https://mega.nz/#F!1s9E3SZL!P_tynGmLjPHURAugHkn7Hw">Grimoires</a> </li>
   <li><a href="http://www.earlychristianwritings.com/index.html">Early Christian Writings</a> - <em>Christianity / Gnosticism</em></li>
   <li><a href="https://holybooks.com/">HolyBooks</a> - <em>Religious Texts</em> </li>
   <li><a href="https://www.deadseascrolls.org.il/">The Dead Sea Scrolls</a> - <em>Dead Sea Scrolls Archive</em></li>
   <li><a href="https://digi.vatlib.it/">DigiVatLib</a> - <em>Digital Vatican Library</em></li>
   <li><a href="https://www.biblegateway.com/">BibleGateway</a> or <a href="https://e-sword.net/">eSword (app)</a> - <em>Christian Bible</em></li>
   <li><a href="https://www.free-online-novels.com/">Free Online Novels</a> - <em>Catholicism</em></li>
   <li><a href="https://www.ccel.org/">Classics Ethereal Library</a> - <em>Christian</em></li>
   <li><a href="http://www.hiddenbible.com/enoch/online.html">Hidden Bible</a> - <em>Enoch Translation</em></li>
   <li><a href="http://englishtorah.com/">English Torah</a> - <em>Torah Translation</em></li>
   <li><a href="https://www.halakhah.com/">Halakhah</a> - <em>Talmud Translation</em></li>
   <li><a href="http://targum.info/targumic-texts/">Targum</a> - <em>Targum Translation</em></li>
   <li><a href="https://read.84000.co/">84000</a> - <em>Buddhism</em></li>
   <li><a href="http://www.buddhanet.net/">BuddhaNet</a> - <em>Buddhism</em></li>
   <li><a href="http://www.sankaracharya.org/index.php">Sankaracharya</a> - <em>Hinduism</em></li>
   <li><a href="https://www.shastras.com/">Vedanta Shastras</a> - <em>Hinduism</em></li>
   <li><a href="https://vedabase.io/en/">Vedabase</a> - <em>Bhaktivedanta Swami / Books / Transcripts / Letters</em> </li>
   <li><a href="http://www.mediafire.com/file/abggpzcdxv09w80/books.zip">766 occult books</a> - <em>Occult / Zip File</em> </li>
</ul>
<hr>
<h2 id="-special-interest">▷ Special Interest</h2>
<ul>
   <li><a href="https://short-stories.co/">Short Stories</a> - <em>Short Stories</em> </li>
   <li><a href="https://everything2.com/">Everything2</a> - <em>Short Stories / Poetry / Writing Help</em></li>
   <li><a href="https://infinite-story.com/">infinite story</a> - <em>Interactive Fiction</em></li>
   <li><a href="https://www.freesfonline.net/">FreeSFOnline</a> - <em>Sci-Fi / Fantasy</em> </li>
   <li><a href="https://www.epub.pub/">EpubPuB</a> - <em>Romance / Fantasy</em>  </li>
   <li><a href="https://www.sfsite.com/">SF Site</a> - <em>Science Fiction</em></li>
   <li><a href="http://www.topmystery.com/onlinebooks">TopMystery</a> - <em>Mystery</em></li>
   <li><a href="https://www.hourwolf.com/sfbooks/">HourWolf</a> - <em>Fantasy</em></li>
   <li><a href="https://doyleandmacdonald.com/lit.htm">Doyleand</a> - <em>Fantasy</em></li>
   <li><a href="http://www.publicbookshelf.com/">PublicBookShelf</a> - <em>Romance</em></li>
   <li><a href="http://www.eldritchdark.com/">The Eldritch Dark</a> - <em>Clark Ashton Smith</em></li>
   <li><a href="https://github.com/jamesflorentino/fitness">jamesflorentino-fitness</a> - <em>Fitness / Nutrition</em> </li>
   <li><a href="https://www.marxists.org/">Marxists Internet Archive</a> - <em>Socialism / Communism</em></li>
   <li><a href="https://libcom.org/library">libcom</a> - <em>Libertarian Communism</em> </li>
   <li><a href="http://theanarchistlibrary.org/special/index">The Anarchist Library</a> - <em>Anarchism</em></li>
   <li><a href="https://oll.libertyfund.org/">Library of Liberty</a> - <em>Liberty / Free Market</em></li>
   <li><a href="https://mises.org/">Legal Mises Institute</a> - <em>Books / Audio books / Libertarianism</em> </li>
   <li><a href="http://www.survivorlibrary.com/">Survivor Library</a>, <a href="https://www.defiel.com/free-survival-ebooks/">Free Survival eBooks</a>, <a href="https://gooddebate.org/sin/mirror/library/">GoodDebate</a> or /r/PrepperFileShare - <em>Survival</em></li>
   <li><a href="https://mega.nz/#F!ZuZmiBqZ!XhyEetUaj6an8ntb-U1AZw">NATSIG Resources</a> - <em>Survival / Bushcraft / Welding / Blacksmithing / German Books / Mythology / Drive</em> </li>
   <li><a href="https://t.me/SelfHelpBooks4U">SelfHelpBooks4U</a> - <em>Self Help books / Telegram</em></li>
   <li><a href="https://archive.org/details/Tekken3PrimasOfficialStrategyGuide1998">Retro Game Strategy Guides</a> - <em>700 Retro Game Strategy Guides</em> </li>
   <li><a href="https://www.erowid.org/">Erowid</a> - <em>Psychoactive Information Index</em></li>
   <li><a href="https://the-eye.eu/public/Psychedelics/Psychedelic%20Praxis%20Library%203.0/">The-Eye Psychedelics</a></li>
   <li><a href="https://thetrove.is/">The Trove</a> - <em>Books / Fantasy / RPG / <a href="https://web.archive.org/web/20210614215400/https://thetrove.is/">Wayback Machine</a>, <a href="https://web.archive.org/web/20210430220147/https://thetrove.is/">2</a></em></li>
   <li><a href="https://www.simplyscripts.com/">SimplyScripts</a> or <a href="https://scripts.com/">Scripts.com</a> - <em>Movie / TV Scripts</em> </li>
   <li><a href="https://www.kialo.com/">Kialo</a> - <em>Popular Debates / Discussion</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_sheet_music_sites">Sheet Music Sites</a></li>
</ul>
<hr>
<h1 id="-educational-sites">► Educational Sites</h1>
<ul>
   <li><strong><a href="https://free-math-resources.netlify.app/">Math Resource Guide</a></strong> - <em>Curated list of math resources by /u/javacoder19</em></li>
   <li><strong><a href="https://ivypanda.com/blog/1000-open-textbooks-and-learning-resources-for-all-subjects/">IvyPanda</a></strong> - <em>List of educational sites</em></li>
   <li><strong><a href="http://www.digitalbookindex.org">Digitalbookindex</a></strong></li>
   <li><strong><a href="https://academictorrents.com/">AcademicTorrents</a></strong></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25B7_language_learning">Language Learning Resources</a></strong> - <em>Language Learning Tools, Books &amp; Sites</em></li>
   <li><a href="https://mega.nz/folder/bbwn0IrI#fwxcM4YiLJTO-HoiGBKRjg">Library Drive</a></li>
   <li><a href="https://openstax.org/">Openstax</a> </li>
   <li><a href="https://onlinebooks.library.upenn.edu/">Online Books Page</a> </li>
   <li><a href="http://www.online-literature.com/">The Literature Network</a> </li>
   <li><a href="https://library.memoryoftheworld.org/#/books/">Memory of the World</a> </li>
   <li><a href="https://libretexts.org/">LibreTexts</a> </li>
   <li><a href="https://bookslibland.net/">Books Library Land</a> </li>
   <li><a href="https://www.pdfbooksworld.com/">PDFBooksWorld</a> </li>
   <li><a href="https://monoskop.org/log/">Monoskop</a></li>
   <li><a href="https://dl.acm.org/">ACM</a></li>
   <li><a href="https://lib-ebooks.com/">Lib Ebooks</a></li>
   <li><a href="https://www.hathitrust.org/">HathiTrust</a> </li>
   <li><a href="https://freebookcentre.net/">FreeBookCentre</a></li>
   <li><a href="https://oapen.org/">OAPEN</a></li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/0B5KDwL1Qi6zUWFlfbU8yTjU4WUE?usp=drive_open">Readings</a></li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/0B1DQUsG9YxIXflhQejJqcmgwbzgtcjQzbFlFU3BNeVJES1JwTW9hRmEwa0k4dUNVZEJzQzg">pdfs - books</a></li>
   <li><a href="https://www.degruyter.com/browse?submittedFilterId=by-type&amp;access_4=open&amp;pageSize=10&amp;sort=datedescending&amp;type_5=book">De Gruyter</a>, <a href="https://www.degruyter.com/page/2045">2</a></li>
   <li><a href="https://onlinebooks.library.upenn.edu/search.html">The Online Books Page</a></li>
   <li><a href="https://link.springer.com/search?showAll=false&amp;query=&amp;facet-content-type=%22Book%22">Springer</a></li>
   <li><a href="https://github.com/learn-anything/books">Learn Anything / Books</a></li>
   <li><a href="https://knowfree.tradepub.com/">Tradepub</a></li>
   <li><a href="http://www.pupilgarage.com/">PupilGarage</a></li>
   <li><a href="https://libribook.com/">Libribook</a> </li>
   <li><a href="http://s2.bitdownload.ir/">Educational Archive</a></li>
   <li><a href="https://drive.google.com/drive/folders/1hxe7Des-ooQpamAtjyR7CX-k_hyqlQ7Q">Heaven</a></li>
   <li><a href="https://uloz.to/folder/8fpAg2rwEcYh/name/Large-Book-Collection">Uloz Archive</a> </li>
   <li><a href="https://www.wikiversity.org/">Wikiversity</a> - <em>Learning Resources, Guides, Quizzes, Tools &amp; More</em></li>
   <li><a href="https://www.openedition.org/">OpenEdition</a> - <em>Educational Books / Journals</em> </li>
   <li><a href="https://learn.saylor.org/">Saylor Academy</a> - <em>Courses</em> </li>
   <li><a href="https://t.me/ebookers">eBookers</a> - <em>Telegram</em>  </li>
   <li><a href="http://noexcuselist.com/">NoExcuseList</a> - <em>Free Learning Sites</em> </li>
   <li><a href="https://open.umn.edu/opentextbooks/">Open Textbook Library</a> - <em>Textbooks</em></li>
   <li><a href="https://t.me/grade12books">grade12books</a> - <em>Textbooks</em>  </li>
   <li><a href="http://textbookgo.com/">TextBookGo</a> - <em>TextBooks</em></li>
   <li><a href="https://www.saylor.org/books/">Saylor</a> - <em>Textbooks</em></li>
   <li><a href="https://en.wikibooks.org/">Wikibooks</a> - <em>Open-Content Texbooks</em></li>
   <li><a href="https://powerinbooks.xyz/temp/">PowerInBooks</a> - <em>Textbook Solutions</em> </li>
   <li><a href="https://learncreative.net/">LearnCreative</a> - <em>IIT / JEE / NEET / AIIMS Study Material</em> </li>
   <li><a href="https://www.ck12.org/">ck12</a>- <em>Interactive CK-12</em></li>
   <li><a href="https://t.me/libgen_scihub_bot">Nexus</a> - <em>Books / Telegram</em></li>
   <li><a href="https://t.me/OxfordBookworms">Oxford Bookworms</a> - <em>Books / Audiobooks / telegram</em>  </li>
   <li><a href="https://www.refdesk.com/factency.html">Refdesk</a> - <em>Encyclopedias</em></li>
   <li><a href="https://oedb.org/ilibrarian/250-plus-killer-digital-libraries-and-archives/">Digital Libraries / Archives</a> - <em>Online university libraries</em></li>
   <li><a href="https://v2.sherpa.ac.uk/opendoar/">OpenDOAR</a> - <em>Academic Repository Search</em>  </li>
   <li><a href="https://qntm2017.github.io/qntm/OV.html">Quantum Web Directory</a> - <em>Science / Tech / Math / Physics</em> </li>
   <li><a href="https://arxiv.org/">arXiv</a> - <em>Science / Math / Physics</em></li>
   <li><a href="https://www.freescience.info/index.php">FreeScience</a> - <em>Science</em></li>
   <li><a href="http://clockwise3rldkgu.onion/">Clockwise Library</a> - <em>Art / Science / .onion</em> </li>
   <li><a href="https://www.intechopen.com/">IntechOpen</a> - <em>Science</em></li>
   <li><a href="http://scientificmagazines.top/">Magazines Scientific</a> - <em>Science Magazines</em></li>
   <li><a href="https://einsteinpapers.press.princeton.edu/">Einstein Papers</a> - <em>Albert Einsteins Collected Papers Archive</em> </li>
   <li><a href="https://www.apress.com/us/apress-open/apressopen-titles">ApressOpen</a> - <em>Computer Science</em> </li>
   <li><a href="https://www.physicsforums.com/">Physics forums</a> - <em>Forum / Physics / Science</em> </li>
   <li><a href="https://www.thenakedscientists.com/">Naked Scientists</a> - <em>Podcasts / Shows / Science</em> </li>
   <li><a href="https://www.scienceforums.net/">Science Forums</a> - <em>Forums / Science</em> </li>
   <li><a href="https://www.space.com/">Space.com</a> - <em>News / Exploration / Astronomy / Space</em></li>
   <li><a href="https://er-cryptid.tumblr.com/post/176809097526/free-astronomy-resources">Free Astronomy Resources</a> - <em>Books / Notes / Astronomy</em></li>
   <li><a href="https://phys.org/">phys</a> - <em>Latest / News / Article / Physics</em> </li>
   <li><a href="https://realnotcomplex.com/">RealNotComplex</a> - <em>Math / Books</em></li>
   <li><a href="http://mathonline.wikidot.com/">MathOnline</a> - <em>Math / Courses</em></li>
   <li><a href="https://mathigon.org/">Mathigon</a> - <em>Math / Courses</em> </li>
   <li><a href="https://betterexplained.com/">BetterExplained</a> - <em>Math / Educational / Courses</em> </li>
   <li><a href="https://github.com/mytechnotalent/Reverse-Engineering-Tutorial">Reverse-Engineering-Tutorial</a> - <em>Reverse Engineering Course</em> </li>
   <li><a href="https://www.howtoforge.com/">HowtoForge</a> - <em>Linux / Tutorials</em></li>
   <li><a href="https://www.engbookspdf.com/">EngBookPDF</a> - <em>Engineering</em></li>
   <li><a href="https://easyengineering.net/">EasyEngineering</a> - <em>Engineering</em></li>
   <li><a href="https://www.engineeringbookspdf.com/">EngineeringBooksPDF</a> - <em>Engineering</em></li>
   <li><a href="https://t.me/EngineeringEBooks_civil">EngineeringEBooks_civil</a> - <em>Civil Engineering</em></li>
   <li><a href="https://www.allaboutcircuits.com/education/">All About Circuits</a> - <em>Electronics</em> </li>
   <li><a href="https://ultimateelectronicsbook.com/">Ultimate Electronics Book</a> - <em>Electronics Schematics &amp; Simulations</em></li>
   <li><a href="https://thedailyidea.org/reading-lists">TheDailyIdea</a>, <a href="https://thedailyidea.org/philosophy-syllabi-collection/">2</a> - <em>Philosophy</em> </li>
   <li><a href="https://www.apaonline.org/">APAOnline</a> - <em>Philosophy</em> </li>
   <li><a href="https://mega.nz/folder/MQBRHBJA#L_on3h-XUrtbc719UaMygw">Philosophy Drive</a> - <em>Philosophy</em> </li>
   <li><a href="https://accessmedicine.mhmedical.com/books.aspx?view=library">Access Medicine</a> - <em>Medical</em></li>
   <li><a href="https://am-medicine.com/">Am Medicine</a> - <em>Medical</em></li>
   <li><a href="https://pickpdfs.com/">PickPDF</a> - <em>Medical</em> </li>
   <li><a href="https://medicalstudyzone.com/">MedicalStudyZone</a> - <em>Medical</em> </li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/183tf8PmQbwgVC7HrxOZ5WQPulVd-Uomi">Lee B. Drive</a> - <em>Books / Black History / Educational</em></li>
   <li><a href="https://practicaltypography.com/">Butterick’s Practical Typography</a> - <em>Typography Guide Book</em></li>
   <li><a href="https://cheatography.com/">Cheatography</a> - <em>Educational Cheat Sheets</em> </li>
   <li><a href="https://mcn.edu/a-guide-to-virtual-museum-resources/">Virtual Museum Resources</a> - <em>Online Learning Collections</em> </li>
   <li><a href="https://masterwiki.how/">masterWiki</a> - <em>MasterClass Classes Republished as wikiHow Articles</em> </li>
   <li><a href="https://informationisbeautiful.net/">Information Is Beautiful</a> - <em>Data / Information / Infographics / Visualizations</em> </li>
   <li><a href="https://cdn-infographic.pressidium.com/wp-content/uploads/How-to-Search-for-Open-Educational-Resources-Infographic.jpg">Open Educational Resources</a> - <em>How to search for Open Educational Resources</em></li>
   <li><a href="https://mega.nz/folder/ZMlxhYLA#sG-opuADdkNiu9-IdeJO4Q">Critical Thinking</a> - <em>Books / Guides / Pictures</em> </li>
   <li>/r/textbook_piracy </li>
   <li>/r/textbookrequest </li>
   <li>/r/textbookfinder </li>
   <li>/r/eebooks/</li>
   <li>/r/csbooks </li>
   <li>/r/econbooks </li>
   <li>/r/mathbooks </li>
   <li>/r/Scholar </li>
   <li>/r/coolguides/, <a href="https://info.stylee32.net/">info.stylee32</a> or <a href="https://coolguid.es/">coolguid.es</a> </li>
</ul>
<hr>
<h2 id="-history-sites">▷ History Sites</h2>
<ul>
   <li><strong><a href="https://www.gutenberg.org/wiki/Main_Page">Project Gutenberg</a></strong> - <em>Historical Fiction / Nonfiction / <a href="http://gutenberg.net.au/">Australia</a> / <a href="http://gutenberg.ca/index.html">Canada</a> / <a href="http://runeberg.org/">Nordic</a></em></li>
   <li><a href="https://mega.nz/#F!dlZlDbqL!TXG5bGvWufONkrQAL7b7jA">/HIS/STORY Collection</a> - <em>Drive</em> </li>
   <li><a href="https://mega.nz/folder/utchyAAK#GTVl1fINpekEch95xj8Fmg">Historical Audiobooks Collection</a> - <em>Audiobooks / Drive</em></li>
   <li><a href="https://mediahistoryproject.org/">Media History</a> - <em>Books / Magazines</em></li>
   <li><a href="https://www.forumromanum.org/literature/authors_a.html">corpus scriptorum latinorum</a> - <em>Latin Literature</em></li>
   <li><a href="http://www.earlymoderntexts.com">EarlyModernTexts</a> - <em>Historical Texts</em></li>
   <li><a href="https://quod.lib.umich.edu/e/eebogroup/">Early English Books</a> - <em>Historical Texts / Books</em></li>
   <li><a href="https://quod.lib.umich.edu/m/moa/">Making of America</a> - <em>American History</em></li>
   <li><a href="https://www.perseus.tufts.edu/hopper/">Perseus Digital Library</a> - <em>Classic / Greek / Roman / Arabic / Germanic</em></li>
   <li><a href="http://athena.unige.ch/athena/">Athena</a> - <em>Greek / History</em></li>
   <li><a href="https://www.sarantakos.com/keimena.html">Sarantakos</a> - <em>Greek (Modern)</em></li>
   <li><a href="https://cf.hum.uva.nl/dsp/ljc/">Project Laurens Jz Coster</a> - <em>Classic / Dutch</em></li>
   <li><a href="https://biblior.net/">biblior</a> - <em>French / English / Geography / History / Tales</em></li>
   <li><a href="https://www.yorku.ca/inpar/"> In Parenthesis</a> - <em>Historic Tales</em></li>
   <li><a href="http://www.pitt.edu/~dash/folktexts.html">Folk Texts</a> - <em>Historical Folklore / Mythology</em></li>
   <li><a href="https://fairytalez.com/">FairyTalez</a> - <em>Historical Folklore / Fairy Tales</em></li>
   <li><a href="http://artflsrv02.uchicago.edu/cgi-bin/philologic/navigate.pl?iww.0">Italian Women Writers</a> - <em>Classic / Italian</em></li>
   <li><a href="https://celt.ucc.ie/">CELT</a> - <em>Irish / History / Literature / Politics</em></li>
   <li><a href="http://textfiles.com/">textfiles.com</a> - <em>1980&#39;s Text File Index</em></li>
   <li><a href="https://digitalarchive.wilsoncenter.org/collections">Digital Archive</a> - <em>Historical Documents</em>  </li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/10rKtVNd18i30mrXwIjFnMMPUBveKNdOO?usp=sharing">History Newsboys of 1899</a> - <em>Books / Documents</em></li>
</ul>
<hr>
<h2 id="-programming-sites">▷ Programming Sites</h2>
<ul>
   <li><strong><a href="https://www.oreilly.com/">O&#39;Reilly</a></strong> - <em>Tech / Programming / <a href="https://github.com/lorenzodifuccia/safaribooks">Downloader</a> / Infinite trial by clearing cookies &amp; making new account</em></li>
   <li><strong><em><a href="https://forcoder.su/">ForCoder,</a></em></strong> <a href="https://scanlibs.com/">ScanLibs</a> or <a href="https://coderprog.com/">CoderProg</a></li>
   <li><a href="https://www.avaxhome.co/">AvaxHome</a> </li>
   <li><a href="https://it-ebooks.info/">IT eBooks</a> </li>
   <li><a href="https://www.freetechbooks.com/">FreeTechBooks</a> </li>
   <li><a href="https://www.programming-book.com/">Programming Books</a>  </li>
   <li><a href="https://freecomputerbooks.com/">FreeComputerEbooks</a> </li>
   <li><a href="https://freepdf-books.com/">freepdf-books</a> </li>
   <li><a href="http://programming-motherfucker.com/">Programming Motherfucker</a></li>
   <li><a href="https://www.onlineprogrammingbooks.com/">OnlineProgrammingBooks</a></li>
   <li><a href="https://techbooksforfree.com/">TechBooksFree</a></li>
   <li><a href="http://www.itebookshare.com/">ITE Book Share</a> </li>
   <li><a href="https://www.wowebook.org/">WOWeBook</a> </li>
   <li><a href="https://ebooks-it.org">Ebooks-it</a> </li>
   <li><a href="https://www.foxebook.net/">Foxebook</a> </li>
   <li><a href="https://books-pdf.blogspot.com/">Free eBooks</a> </li>
   <li><a href="https://goalkicker.com/">goalkicker</a></li>
   <li><a href="https://flaviocopes.com/page/ebooks/">Flavio Copes</a> </li>
   <li><a href="https://free-ebook-download-links.blogspot.com/">Free Ebooks Download List</a> </li>
   <li><a href="https://github.com/EbookFoundation/free-programming-books/">EbookFoundation Programming Books</a> </li>
   <li><a href="https://github.com/oddsun/Free-Python-Books">Free-Python-Books</a></li>
   <li><a href="https://hackr.io/">Hackr.io</a> - <em>Tutorials</em></li>
   <li><a href="https://freecoursesite.com/">FCS</a> - <em>Tutorials</em></li>
   <li><a href="https://www.w3schools.com/">w3schools</a> - <em>Tutorials</em></li>
   <li><a href="https://devdocs.io/">DevDocs</a> - <em>API Documentation</em></li>
   <li><a href="https://t.me/Bzdnbot">Bzdnbot</a> - <em>Telegram</em> </li>
   <li><a href="https://redd.it/hxdbau">Programming Directories</a> </li>
   <li><a href="https://doc.lagout.org/">X-Files</a> - <em>Tech / Programming</em></li>
   <li><a href="https://g.sicp.me/books/">#/g/sicp</a> - <em>Programming / Computer Science / Tech (35gb Torrent)</em> </li>
</ul>
<hr>
<h2 id="-documents-articles">▷ Documents / Articles</h2>
<ul>
   <li><strong><a href="https://www.thefreelibrary.com/">TheFreeLibrary</a></strong> - <em>Articles</em></li>
   <li><strong><a href="https://sci-hub.do/">Sci-Hub</a></strong>, <a href="https://sci-hub.se/">2</a> - <em>Science article viewer</em></li>
   <li><strong>Sci-Hub Tools</strong> - <em><a href="https://t.me/freescience">Telegram</a> / <a href="https://sci-hub.41610.org/">Mirrors</a>, <a href="http://vertsluisants.fr/index.php?article4/where-scihub-libgen-server-down">2</a> / <a href="https://t.me/scihubot">Telegram Bot</a> / <a href="https://addons.mozilla.org/en-US/firefox/addon/sci-hub-scholar/">Extension</a> / <a href="https://greasyfork.org/zh-CN/scripts/370246-sci-hub-button">Download Button</a> / <a href="https://medium.com/@gagarine/use-sci-hub-with-zotero-as-a-fall-back-pdf-resolver-cf139eb2cea7">PDF Download</a> / <a href="https://redd.it/edwi9b">Backup</a> / /r/scihub / <a href="https://vk.com/sci_hub">VK</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_read_paywalled_articles">Bypass Article Paywalls</a> - <em>How to bypass article paywalls</em></li>
   <li><a href="https://greasyfork.org/en/scripts/35521-bypass-paywalls-for-scientific-documents">Bypass paywalls for scientific documents</a> - <em>Bypass Scientific Document Paywalls</em> </li>
   <li><a href="https://unpaywall.org/">unpaywall</a> - <em>Bypass Scholarly Article Paywalls</em></li>
   <li><a href="https://github.com/manojVivek/medium-unlimited">Medium Unlimited</a> or <a href="https://chrome.google.com/webstore/detail/medium-hackd/fjjfjlecfadomdpeohehfhnbekekdild">Hackd</a> - <em>Unlimited Articles on Medium</em> </li>
   <li><a href="https://en.wikisource.org">Wikisource</a> - <em>Poetry / Text / Documents</em></li>
   <li><a href="http://www.infomotions.com/alex/">Alex Catalogue</a> - <em>English / Philosophy Documents</em>  </li>
   <li><a href="http://www.findpdfdoc.com/">FindPDFDoc</a> - <em>PDF Search / Document Search</em> </li>
   <li><a href="https://pdfslide.net/">PDFSlide</a> - <em>PDF / Document Search</em> </li>
   <li><a href="https://scholar.google.com/">Google Scholar</a> - <em>Articles</em></li>
   <li><a href="https://www.mendeley.com/">Mendeley</a> - <em>Articles</em> </li>
   <li><a href="https://doaj.org/">DOAJ</a> - <em>Journals / Articles</em></li>
   <li><a href="https://www.researchgate.net/">ResearchGate</a> - <em>Science Articles</em></li>
   <li><a href="https://www.academia.edu/">Academia</a> - <em>Academic papers</em></li>
   <li><a href="https://scinapse.io/">Scinapse</a> - <em>Academic Paper Search</em> </li>
   <li><a href="https://www.semanticscholar.org/">Semantic Scholar</a> - <em>Scientific Paper Search</em> </li>
   <li><a href="https://www.connectedpapers.com/">Connected Papers</a> - <em>Find Connected Academic Papers</em> </li>
   <li><a href="https://freefullpdf.com/">FreeFullPDF</a> - <em>Articles / Scientific</em></li>
   <li><a href="https://coek.info/">KUNDOC</a> - <em>Articles / Scientific</em></li>
   <li><a href="https://link.springer.com/">Springer</a> - <em>Articles / Scientific</em></li>
   <li><a href="https://www.science.gov/">Science.gov</a> - <em>Articles / Documents / Scientific</em> </li>
   <li><a href="https://doku.pub/">DOKU.PUB</a> - <em>Articles / Scientific</em></li>
   <li><a href="https://search.crossref.org/">Crossref</a> - <em>Articles / Documents / Datasets</em> </li>
   <li><a href="https://www.dataone.org/">Dataone</a> - <em>Datasets</em> </li>
   <li><a href="https://www.kaggle.com/datasets">Kaggle</a> - <em>Datasets</em></li>
   <li><a href="https://datacatalog.worldbank.org/">Data Catalog</a> - <em>Datasets</em> </li>
   <li><a href="https://www.mdpi.com/">mdpi</a> - <em>Articles</em> </li>
   <li><a href="https://www.doaj.org/">DOAJ</a> - <em>Journals / Articles</em></li>
   <li><a href="https://cyberleninka.org/">CyberLeninka</a> - <em>Articles / Scientific / Legal</em> </li>
   <li><a href="https://core.ac.uk/">Legal Core</a> - <em>Papers / Academic</em></li>
   <li><a href="https://www.ssrn.com/">SSRN</a> - <em>Early Stage Research Papers</em> </li>
   <li><a href="https://openknowledgemaps.org/">Open Knowledge Maps</a> - <em>Research Paper Search</em> </li>
   <li><a href="https://psyarxiv.com/">PsyArXiv</a> - <em>Articles / Psychological Sciences</em> </li>
   <li><a href="https://repo.zenk-security.com/">repo.zenk</a> - <em>Documents</em></li>
   <li><a href="https://docplayer.net/">docplayer</a> - <em>Documents</em> </li>
   <li><a href="https://www.google.com/search?q=site%3Adocdroid.net">DocDroid</a> - <em>Document Search</em> </li>
   <li><a href="https://preterhuman.net/">Higher Intellect</a> - <em>Document Search</em> </li>
   <li><a href="https://www.skillscommons.org/">SkillCommons</a> - <em>Work Training Documents</em> </li>
   <li><a href="https://whatintheworld.xyz/">What in The World</a> - <em>GDrive PDF / Document Search</em></li>
   <li><a href="https://eric.ed.gov/">Institute of Education Sciences</a> - <em>Documents / Texts / Papers</em> </li>
   <li><a href="https://qdoc.tips/">qDoc</a>- <em>Document Search</em></li>
   <li><a href="https://ethos.bl.uk/SearchResults.do">EThOS</a> - <em>Doctoral Theses</em> </li>
   <li><a href="http://search.ndltd.org/">ndltd</a> - <em>Search theses and dissertations</em> </li>
   <li><a href="https://etheses.bham.ac.uk/">UBIRA eTheses</a> - <em>Theses</em> </li>
   <li><a href="https://oatd.org/">oatd</a> - <em>Theses / Dissertations</em> </li>
   <li><a href="https://www.cia.gov/resources/publications/">CIA Publications</a> - <em>History / Reports</em></li>
   <li><a href="https://www.theblackvault.com/">The Black Vault</a> - <em>Declassified Documents</em></li>
   <li><a href="https://ddosecrets.com/">DDOS</a> - <em>Transparency Collective</em></li>
   <li><a href="https://nsarchive.gwu.edu/">NSA Archive</a> - <em>Reports</em></li>
   <li><a href="https://www.nap.edu/">NAP</a> - <em>Reports</em></li>
   <li><a href="https://search.wikileaks.org/">WikiLeaks</a> - <em>WikiLeaks Search</em> </li>
   <li><a href="https://ntrs.nasa.gov/search.jsp">NASA NTRS</a> - <em>NASA Documents</em></li>
   <li><a href="http://ariadne2.isti.cnr.it/">Ariadne</a> - <em>Archaeological Datasets</em> </li>
   <li><a href="https://contempaesthetics.org/">Aesthetics Archive</a> - <em>Aesthetics Articles / Notes Contemporary</em></li>
   <li><a href="https://www.courtlistener.com/recap/">CourtListerner</a> - <em>Pacer Documents</em></li>
   <li><a href="https://github.com/alephdata/aleph">Aleph</a> - <em>Document Index Tool</em></li>
   <li><a href="https://datasetsearch.research.google.com/">Dataset Search</a> - <em>Dataset Search Google</em> </li>
   <li><a href="https://cse.google.com/cse?cx=000013508089310229747:qf70z1tyrs0">PDF / Doc Search Engine</a> </li>
   <li><a href="https://docdownloader.com/">DocDownloader</a> - <em><a href="https://www.scribd.com/">Scribd</a> Document Downloader</em> </li>
   <li><a href="https://zealdocs.org/">ZealDocs</a> - <em>Documentation Reader</em></li>
</ul>
<hr>
<h2 id="-manual-sites">▷ Manual Sites</h2>
<ul>
   <li><a href="https://redd.it/nlw3er">Manuals &amp; Schematics</a> - <em>Manual Directories</em></li>
   <li><a href="https://www.ifixit.com/Guide">iFixIt</a> - <em>Repair Manuals</em> </li>
   <li><a href="https://manned.org/">manned.org</a> - <em>Index of operating system manuals</em></li>
   <li><a href="http://jdmfsm.info/Auto/">JDMFSM</a>, <a href="https://www.carpdfmanual.com/renault/">CarPDFManual</a> or <a href="https://procarmanuals.com/">ProCarManuals</a> - <em>Auto Repair Manuals</em> </li>
   <li><a href="https://ownersman.com/">Ownersman.com</a> - <em>Car Owner Manuals</em> </li>
   <li><a href="https://www.flossmanuals.net/">Floss Manuals</a> - <em>Software Manuals</em> </li>
   <li><a href="http://www.replacementdocs.com/">replacementdocs</a> - <em>Game Manuals</em> </li>
   <li><a href="http://www.retrevo.com/">Retrevo</a> - <em>Product Manuals</em> </li>
</ul>
<hr>
<h2 id="-reference-sites">▷ Reference Sites</h2>
<ul>
   <li><strong><a href="https://onelook.com/?d=all_gen">Dictionary Index</a></strong> </li>
   <li><strong><a href="https://onelook.com/">OneLook</a></strong> - <em>Multi Dictionary Search</em></li>
   <li><strong><a href="https://www.merriam-webster.com/">Merriam-Webster</a></strong> - <em>Dictionary / Thesaurus</em></li>
   <li><strong><a href="https://www.wikipedia.org/">Wikipedia</a></strong> - <em>Encyclopedia</em></li>
   <li><strong><a href="https://en.wiktionary.org">Wiktionary</a></strong> or <a href="https://www.etymonline.com/">EtymOnline</a> - <em>Etymologies</em></li>
   <li><strong><a href="https://en.wikiquote.org">Wikiquote</a></strong> - <em>Quote database</em></li>
   <li><strong><a href="https://www.urbandictionary.com/">UrbanDictionary</a></strong>, <a href="https://www.lingo2word.com/">Lingo2Word</a> or <a href="https://slangit.com/">Slangit</a> - <em>Slang Word / Phrase Dictionary</em></li>
   <li><a href="https://www.webopedia.com/">Webopedia</a> - <em>Tech Dictionary</em></li>
   <li><a href="https://www.fandom.com/">Fandom</a> - <em>Fan Wikis</em> </li>
   <li><a href="https://www.wordreference.com/">WordReference</a> or <a href="https://reverso.net/">Reverso</a> - <em>Translation Dictionary</em> </li>
   <li><a href="https://www.lexilogos.com/english/index.htm">LexiLogos</a> - <em>Multi Language Dictionary Index</em></li>
   <li><a href="https://everipedia.org/">Everpidia</a> - <em>Encyclopedia</em></li>
   <li><a href="https://www.britannica.com/">Britannica</a> - <em>Encyclopedia</em></li>
   <li><a href="https://www.encyclopedia.com/">Encyclopedia</a> - <em>Encyclopedia</em></li>
   <li><a href="https://mega.nz/file/AsBm0ZrR#azR641hPhLWCdSB6ogzTKOfr36eaLHq2WT20tuGbLVU">20 Encyclopedia Books</a> - <em>Encyclopedias</em></li>
   <li><a href="https://www.abbreviations.com/">Abbreviations</a> - <em>Abbreviations</em> </li>
   <li><a href="https://chatworddictionary.com/">Chat Words Dictionary</a> - <em>Chat Abbreviations</em></li>
   <li><a href="https://www.wolframalpha.com/">Wolfram Alpha</a> - <em>Searchable Knowledgebase</em></li>
   <li><a href="https://www.dictionary.com/">Dictionary</a> - <em>Dictionary / Thesaurus</em></li>
   <li><a href="http://ninjawords.com/">NinjaWords</a> - <em>Dictionary</em> </li>
   <li><a href="https://wikidiff.com/">WikiDiff</a> - <em>Difference Between Any Words</em> </li>
   <li><a href="https://reversedictionary.org/">ReverseDictionary</a> or <a href="https://onelook.com/reverse-dictionary.shtml">OneLook Reverse</a> - <em>Search for Words Using Their Meanings</em> </li>
   <li><a href="https://chir.ag/projects/tip-of-my-tongue/">Tip of my Tounge</a> - <em>Find Words you Can&#39;t Remember</em></li>
   <li><a href="https://www.theidioms.com/">TheIdioms</a> - <em>Idiom Dictionary</em> </li>
   <li><a href="http://www.lexipedia.com/">Lexipedia</a> - <em>Word Connections</em></li>
   <li><a href="https://www.rhymezone.com/">RhymeZones</a> - <em>Rhyme Dictionary</em></li>
   <li><a href="https://www.dictionaryofobscuresorrows.com/">The Dictionary of Obscure Sorrows</a> - <em>Dictionary of Sorrows</em> </li>
   <li><a href="http://www.thedevilsdictionary.com/">TheDevilsDictionary</a> - <em>Cynical Dictionary</em></li>
   <li><a href="https://tagdef.com/en/">TagDef</a> - <em>Social Media Tag Dictionary</em> </li>
   <li><a href="https://emojimeans.com/">EmojiMeans</a> - <em>Emoji Meanings</em></li>
   <li><a href="https://knowyourmeme.com/">KnowYourMeme</a> - <em>Meme Database</em></li>
   <li><a href="https://forvo.com/">Forvo</a> or <a href="https://howjsay.com/">HowJSay</a> - <em>Pronunciation Dictionary</em> </li>
   <li><a href="http://unsuck-it.com/">Unsuck It</a> - <em>Less Sucky Definitions</em> </li>
   <li><a href="https://oeis.org/">OEIS</a> - <em>Encyclopedia of Integer Sequences</em> </li>
   <li><a href="https://www.merriam-webster.com/time-traveler">Time Traveler</a> - <em>See when a word was first used in print</em> </li>
   <li><a href="https://www.omniglot.com/index.htm">Omniglot</a> - <em>Writing Systems &amp; Languages Encyclopedia</em></li>
   <li><a href="https://github.com/chucknorris-io/swear-words">swear-words</a> - <em>Swear Word Index</em> </li>
   <li><a href="http://www.rsdb.org/">Racial Slur Database</a> - <em>Racial Slurs</em> </li>
   <li><a href="https://www.signasl.org/">ASL Dictionary</a> or <a href="https://www.handspeak.com/">HandSpeak</a> - <em>American Sign Language</em> </li>
   <li><a href="https://www.signbsl.com/">BSL Dictionary</a> - <em>British Sign Language</em> </li>
   <li><a href="https://freemdict.com/">FreeMdict</a> - <em>Dictionary Downloads / <a href="https://forum.freemdict.com/">Forum</a> / <a href="https://downloads.freemdict.com/">Archive</a></em> </li>
   <li><a href="https://www.pdawiki.com/forum/">pdawiki</a> - <em>Dictionary Downloads / Use WeChat for invite</em> </li>
   <li><a href="http://www.goldendict.org/">Goldendict</a> - <em>Dictionary Program</em></li>
</ul>
<hr>
<h1 id="-visual-media-sites">► Visual Media Sites</h1>
<ul>
   <li><a href="https://t.me/BESTARTBOOKS">BestArtBooks </a> - <em>Media Artbooks / Soundtracks</em></li>
</ul>
<hr>
<h2 id="-comic-sites">▷ Comic Sites</h2>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:p4hgytyrohg">Comic Sites Search</a></strong></li>
   <li><strong><a href="https://readcomiconline.to/">ReadComicsOnline</a></strong></li>
   <li><strong><a href="https://www.comicextra.com/">ComicExtra</a></strong> or <a href="https://comiconlinefree.net/">Comic Online Free</a> </li>
   <li><strong><a href="https://getcomics.info/">GetComics</a></strong> - <em>Downloads / Read Online</em></li>
   <li><a href="https://xoxocomics.com/">XOXO Comics</a> </li>
   <li><a href="https://view-comic.com/">View-Comic</a></li>
   <li><a href="https://readcomicsonline.ru/">Read Comics Online</a> </li>
   <li><a href="https://comix-load.in/">Comix-Load</a> - <em>Downloads</em></li>
   <li><a href="https://www.zipcomic.com/">Zip Comic</a> - <em>Downloads</em></li>
   <li><a href="http://booksdl.org/comics0/">BookDL Comic &amp; Manga</a> - <em>Comics / Manga / Drive</em></li>
   <li><a href="http://the-eye.eu/public/Comics/">The-Eye Comics</a> - <em>Comic Archive</em> </li>
   <li><a href="https://www.gocomics.com/">GoComics</a> - <em>Comics Strips</em></li>
   <li><a href="https://zahard.top/">Zahard</a> - <em>WebToons</em></li>
   <li><a href="https://explosm.net/rcg">Random Comic Generator 3.0</a> - <em>Explosm Random Comic Generator</em></li>
   <li><a href="https://richierichcomicsfanclub.wordpress.com/">RichieRichcomicsfanclub</a> - <em>Richie Rich Comics</em> </li>
   <li><a href="http://nv3x2jozywh63fkohn5mwp2d73vasusjixn3im3ueof52fmbjsigw6ad.onion/">Comic Book Library</a> - <em>Tor required</em> </li>
   <li><a href="https://github.com/fireshaper/Omnibus">Omnibus</a>, <a href="https://github.com/Girbons/comics-downloader">Comics Downloader</a>, <a href="https://github.com/mylar3/mylar3">mylar3</a>, <a href="https://github.com/Xonshiz/comic-dl">Comic-DL</a> or <a href="https://github.com/kanasimi/work_crawler/blob/master/document/README.en-US.md">work_crawler</a> - <em>Comic Downloading App</em></li>
   <li><a href="https://tachiyomi.org/">Tachiyomi</a> - <em>Android / Manga / Comic Reader / <a href="https://tachiyomi.org/help/guides/local-manga/">Open Local Files</a></em> </li>
   <li><a href="http://www.frenchfrysoftware.com/cover/">Cover</a> - <em>Manager / Reader</em></li>
   <li><a href="https://hub.docker.com/r/linuxserver/gazee/">gazee</a> - <em>Manager / Reader / Linux</em></li>
   <li><a href="https://github.com/FabioPezzini/TheComicsLibrary">TheComicsLibrary</a> or <a href="https://play.google.com/store/apps/details?id=com.viewer.comicscreen">ComicScreen</a> - <em>Manager / Reader / Android</em></li>
   <li><a href="https://mediaboxhd.net/comic">MediaBoxHD</a> - <em>Manager / Reader / Android / iOS</em></li>
   <li><a href="https://github.com/swisspol/ComicFlow">ComicFlow</a> - <em>Manager / Reader / iOS</em></li>
   <li><a href="https://openuserjs.org/scripts/anka-213/Webcomic_Reader">Webcomic Reader</a> - <em>Preloads Images, Remembers Progress &amp; Keyboard Support</em> </li>
   <li><a href="https://comicreader.netlify.app/">ComicReader</a> - <em>Online Comic Reader</em></li>
   <li><a href="https://github.com/Tenma-Server/Tenma">Tenma</a> - <em>Comic Server / Reader</em></li>
</ul>
<hr>
<h2 id="-manga-sites">▷ Manga Sites</h2>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:4im0fkhej3z">Manga Sites Search</a></strong> + <a href="https://cse.google.com/cse?cx=006516753008110874046:a5mavctjnsc#gsc.tab=0">Manga Sites Search 2</a></li>
   <li><strong>Manga Apps - <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_android_manga">Android</a> / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25BA_ios_manga">iOS</a></strong> - <em>Free manga apps / organizers</em></li>
   <li><strong><a href="https://piracy.moe/">Manga Site Index</a></strong> - <em>curated manga site list</em></li>
   <li><strong><a href="https://mangadex.org/">MangaDex</a></strong> - <em><a href="https://github.com/frozenpandaman/mangadex-dl">Download Script</a></em></li>
   <li><a href="http://www.anime-sharing.com/forum/">Anime-Sharing</a> - <em>Anime / Manga Download Forum</em></li>
   <li>Madokami Manga Archive - <a href="https://archive.org/download/Madokami.Manga.0-E">0-E</a>, <a href="https://archive.org/download/Madokami.Manga.F-K">F-K</a>, <a href="https://archive.org/download/Madokami.Manga.L-Q">L-Q</a>, <a href="https://archive.org/download/Madokami.Manga.R-Z">R-Z</a></li>
   <li><a href="https://bato.to/">bato</a> - <em><a href="https://discord.gg/7NBwcBsDph">Discord</a></em></li>
   <li><a href="http://www.mangahere.cc">MangaHere</a></li>
   <li><a href="https://mangakare.com/">MangaKare</a> </li>
   <li><a href="https://manganelo.com/">MangaNelo</a> or <a href="https://mangakakalot.com/">Mangakakalot</a></li>
   <li><a href="https://manga4life.com/">Manga4Life</a></li>
   <li><a href="https://mangahub.io/">MangaHub</a></li>
   <li><a href="https://mp4directs.com/">MP4DIRECTS</a> </li>
   <li><a href="https://www.mangareader.net/">MangaReader</a></li>
   <li><a href="https://mangapark.net/">Manga Park</a></li>
   <li><a href="https://www.mangatown.com/">MangaTown</a></li>
   <li><a href="https://funmanga.com/">FunManga</a> </li>
   <li><a href="https://reaperscans.com/">ReaperScans</a> </li>
   <li><a href="https://mangaseeonline.us/">MangaSee</a></li>
   <li><a href="https://www.readmng.com/">Readmng</a> </li>
   <li><a href="https://loveheaven.net/">LoveHeaven</a></li>
   <li><a href="https://zinmanga.com/">ZinManga</a></li>
   <li><a href="https://sensescans.com/">SenseScans</a></li>
   <li><a href="https://www.mangasy.com/">Mangasy</a></li>
   <li><a href="https://mangatoon.mobi/">Manga Toon</a></li>
   <li><a href="https://mangaowl.net/">MangaOwl</a> </li>
   <li><a href="https://mngdoom.com/">MangaDoom</a> </li>
   <li><a href="https://mangasushi.net/">MangaSushi</a></li>
   <li><a href="https://kanjiku.net/">Kanjiku</a></li>
   <li><a href="https://w11.mangafreak.net/">MangaFreak</a></li>
   <li><a href="https://mangainn.net/">MangaInn</a> </li>
   <li><a href="https://isekaiscan.com/">ISekaiScan</a></li>
   <li><a href="http://reader.evilflowers.com/">EvilFlowers</a></li>
   <li><a href="https://www.deathtollscans.net/">DeathTollScans</a></li>
   <li><a href="https://mangarock.to/">Manga Rock</a></li>
   <li><a href="https://motokare.xyz/reader/">MotoKare</a></li>
   <li><a href="https://catmanga.org/">CatManga</a></li>
   <li><a href="https://readmanhua.net/">ReadManhua</a></li>
   <li><a href="http://www.ninemanga.com">NineManga</a></li>
   <li><a href="https://myreadingmanga.info/">MyReadingManga</a></li>
   <li><a href="http://mangawww.club/">MangaWWW</a></li>
   <li><a href="https://mangaplus.shueisha.co.jp/updates">MangaPlus</a></li>
   <li><a href="https://mangakomi.com/">MangaKomi</a></li>
   <li><a href="https://www.komikid.com/">KomikKid</a></li>
   <li><a href="https://hiperdex.com/">Hiperdex</a></li>
   <li><a href="https://fanfox.net/">MangaFox</a></li>
   <li><a href="https://comick.fun/">ComicK</a></li>
   <li><a href="https://mangafast.net/">MangaFast</a></li>
   <li><a href="https://mangakatana.com/">MangaKatana</a> </li>
   <li><a href="https://manga.fascans.com/">Manga.Fanscans</a></li>
   <li><a href="https://www.cmreader.info/">CMReader</a></li>
   <li><a href="https://niadd.com/">NiAdd</a> </li>
   <li><a href="https://1stkissmanga.com/">1stKissManga</a></li>
   <li><a href="https://mangazuki.me/">Mangazuki</a> </li>
   <li><a href="https://www.readmng.com/">ReadMng</a> or <a href="https://www.mngdoom.com/">MngDoom</a></li>
   <li><a href="https://www.nineanime.com/category/">NineAnime</a></li>
   <li><a href="https://wuxiaworld.site/">WuxiaWorld</a> - <em>Manga / Novels</em> </li>
   <li><a href="https://t.me/MANGAen">MANGAen</a> - <em>Manga / Telegram</em> </li>
   <li><a href="http://booksdl.org/comics0/">BookDL Comic &amp; Manga</a> - <em>Comics / Manga / Drive</em></li>
   <li><a href="https://dynasty-scans.com/">Dynasty Scans</a> - <em>Yuri</em></li>
   <li><a href="https://boyslove.me/">BoysLove</a> - <em>Yaoi</em> </li>
   <li><a href="https://www.webtoons.com/en/">WebToons</a> - <em>Manga Webtoons</em>  </li>
   <li><a href="https://github.com/manga-download/hakuneko">HakuNeko</a>, <a href="https://github.com/Girbons/comics-downloader">Comics Downloader</a>, <a href="https://sourceforge.net/projects/fmd/">FMD</a>, <a href="https://github.com/NguyenDanPhuong/MangaRipper">MangaRipper</a>, <a href="https://github.com/Xonshiz/comic-dl">Comic-DL</a>, <a href="https://github.com/kanasimi/work_crawler/blob/master/document/README.en-US.md">work_crawler</a>, <a href="https://sourceforge.net/projects/newfmd/">Free Manga Downloader</a> or <a href="https://github.com/n1mo/manga">mangadownloader</a> - <em>Manga Downloader</em></li>
   <li><a href="http://allmangasreader.com/">AllMangasReader</a> or <a href="https://gitgud.io/Nagru/Manga-Organizer">Manga-Organizer</a> - <em>Organizer / Reader</em></li>
   <li><a href="https://tachiyomi.org/">Tachiyomi</a> - <em>Android / Manga / Comic Reader / <a href="https://tachiyomi.org/help/guides/local-manga/">Open Local Files</a> / <a href="https://github.com/Suwayomi">Desktop</a> / <a href="https://github.com/TachiWeb">Web Client</a></em> </li>
   <li><a href="https://github.com/manga-py/manga-py">manga-py</a> - <em>Python line manga downloader</em> </li>
   <li><a href="https://www.mangaupdates.com/">MangaUpdates</a> - <em>Manga Release Updates</em>  </li>
   <li><a href="https://openuserjs.org/scripts/anka-213/Webcomic_Reader">Webcomic Reader</a> - <em>Preloads Images, Remembers Progress &amp; Keyboard Support</em> </li>
   <li><a href="https://moeka.me/mangaEditor/">MangaEditor</a> - <em>Online Manga Editor</em></li>
   <li><a href="https://chrome.google.com/webstore/detail/manga-translator/oooikipggipaohjibkmoiacmmlilgokn?hl=en">Manga Translator</a> or <a href="https://scanlate.io/">Scanlate</a> - <em>Manga Translator</em></li>
</ul>
<hr>
<h2 id="-light-novel-sites">▷ Light Novel Sites</h2>
<ul>
   <li><strong><a href="https://kisslightnovels.info/">Kiss Light Novels</a></strong></li>
   <li><strong><a href="https://thatnovelcorner.com/">ThatNovelCorner</a></strong> - <em>Premium Light-Novels</em></li>
   <li><a href="https://www.lightnovelworld.com/">Light Novel World</a></li>
   <li><a href="https://www.baka-tsuki.org">Baka-Tsuki</a></li>
   <li><a href="https://armaell-library.net/">Armaell&#39;s Library</a></li>
   <li><a href="https://novelonlinefree.com/homepage">Novel Online Free</a></li>
   <li><a href="https://jnovels.com/">jNovels</a></li>
   <li><a href="https://mp4directs.com/">MP4DIRECTS</a> </li>
   <li><a href="https://englishlightnovels.com">English Light Novels</a></li>
   <li><a href="https://tensaitranslations.wordpress.com/">Tensai Translations</a>  </li>
   <li><a href="https://www.webnovel.com/">Web Novel</a> </li>
   <li><a href="https://jnovels.com/">jnovels</a> </li>
   <li><a href="https://www.justlightnovels.com/">Just Light Novels</a></li>
   <li><a href="https://shintranslations.com/">Shin Translations</a></li>
   <li><a href="https://www.novelupdates.com/">Novel Updates</a>  </li>
   <li><a href="https://henkanepubs.wordpress.com/">Henkan Epubs</a> </li>
   <li><a href="https://lightnovelstranslations.com/">Novel Translations</a></li>
   <li><a href="https://nakimushitl.wordpress.com/">Nakimushitl</a></li>
   <li><a href="https://mnovelfree.com/">Novel Free</a></li>
   <li><a href="https://rektnovelcompilations.wordpress.com/">Rekt Novel Compilations</a>  </li>
   <li><a href="https://www.volarenovels.com/">VolareNovels</a> </li>
   <li><a href="https://www.freelightnovel.com/">Free Light Novel</a></li>
   <li><a href="https://voidtranslations.wordpress.com/">Void Translations</a> </li>
   <li><a href="https://justlightnovels.com/">Just Light Novels</a></li>
   <li><a href="https://www.rndnovels.com/">RnDNovels </a> </li>
   <li><a href="https://www.mtlnovel.com/">MTL Novel</a></li>
   <li><a href="https://novelfull.com/">NovelFull</a></li>
   <li><a href="https://www.readlightnovel.org/">Read Light Novel </a></li>
   <li><a href="https://moonbunnycafe.com/">Moon Bunny Cafe</a>  </li>
   <li><a href="https://t.me/epub_smelter_bot">Book Smelting Bot</a> - <em>Telegram / Bot</em></li>
   <li><a href="https://wuxiaworld.site/">WuxiaWorld</a> - <em>Manga / Novels</em> </li>
   <li><a href="https://www.baka-tsuki.org/project/?title=Main_Page">Baka-Tsuki</a> - <em>Novels / Audio Recordings</em>  </li>
   <li><a href="https://www.wuxiaworld.co/">Wuxiaworld</a> - <em>Chinese Novels</em>  </li>
   <li><a href="https://github.com/dipu-bd/lightnovel-crawler/">Lightnovel Crawler</a>, <a href="https://github.com/LagradOst/QuickNovel">QuickNovel</a> or <a href="https://github.com/Flameish/Novel-Grabber">Novel-Grabber</a> - <em>Light-Novel Downloader</em></li>
</ul>
<hr>
<h2 id="-magazine-sites">▷ Magazine Sites</h2>
<ul>
   <li><strong><a href="https://forum.mobilism.org/viewforum.php?f=123">Mobilism Magazines</a></strong></li>
   <li><strong><a href="https://pdfmagazines.club/">PDFMagazines</a></strong></li>
   <li><strong><a href="https://downmagaz.com/">DownMagaz</a></strong></li>
   <li><strong><a href="https://magazinelib.com/">MagazineLib</a></strong></li>
   <li><strong><a href="https://t.me/newspapersmagaziness">Newspapers Magazines</a></strong> - <em>Telegram</em> </li>
   <li><a href="https://t.me/enmagazine">ENMagazine</a> - <em>Telegram</em></li>
   <li><a href="https://t.me/Magazines4U">Magazines4U</a> - <em>Telegram</em> </li>
   <li><a href="https://t.me/newspaper_archive">newspaper_archive</a> - <em>Telegram</em></li>
   <li><a href="https://www.worldmags.net/">World Mags</a></li>
   <li><a href="https://www.worldofmagazine.com/">World of Magazine</a></li>
   <li><a href="https://pdf-magazines-download.com/">PDF Magazines Download</a></li>
   <li><a href="https://www.pdfmagaz.in/">PDF Magaz</a></li>
   <li><a href="http://www.ebook3000.com/Magazine/index.html">eBook3000</a></li>
   <li><a href="http://magzdb.org/">MagzDB</a></li>
   <li><a href="https://freemagazines.top/">freemagazines</a></li>
   <li><a href="https://magfree.net/">MagFree</a></li>
   <li><a href="https://freemagazinepdf.com/">FreeMagazinesPDF</a></li>
   <li><a href="https://pdf-magazines-archive.com/">PDF Magazines Archive</a> </li>
   <li><a href="https://freeforbook.com/">freeforbook</a> </li>
   <li><a href="https://archive.org/details/magazine_rack">Archive.org Magazine Rack</a></li>
   <li><a href="https://archive.org/details/computermagazines">Archive.org Computer Magazines</a></li>
   <li><a href="https://aeon.co/">Aeon</a> </li>
   <li><a href="https://www.magzter.com/top-free-magazines">Magzter</a></li>
   <li><a href="https://fliphtml5.com/exploring">FlipHTML5</a></li>
   <li><a href="https://magdownload.org/">MagDownload</a> </li>
   <li><a href="https://www.retromags.com/">Retromags</a> - <em>Retro Game Magazines</em> </li>
   <li><a href="https://www.atarimagazines.com/">Atari Magazines</a> - <em>Classic Computer Magazine Archive</em> </li>
   <li><a href="https://www.archivepdf.net/">Archive Fashion for the World</a> - <em>Fashion Magazine Archive</em> </li>
</ul>
<hr>
<h2 id="-newspaper-sites">▷ Newspaper Sites</h2>
<ul>
   <li><strong><a href="https://greasyfork.org/en/scripts/18585-newspaper-paywall-bypasser">Newspaper Paywall Bypasser</a></strong> or <a href="https://burles.co/en/">Burlesco</a> - <em>Bypass the paywall on online newspapers</em></li>
   <li><strong><a href="https://forum.mobilism.org/viewforum.php?f=123">Mobilism Newspapers</a></strong></li>
   <li><strong><a href="https://news.google.com/newspapers">Google Newspaper Search</a></strong></li>
   <li><strong><a href="https://t.me/newspapersmagaziness">Newspapers Magazines</a></strong> - <em>Telegram</em> </li>
   <li><a href="https://sanet.st/newspapers/">Sanet.st</a></li>
   <li><a href="https://www.elephind.com/">Elephind</a> - <em>Historical Newspaper Search</em></li>
   <li><a href="https://vk.com/engnewspapers">EngNewspapers</a> - <em>Telegram</em></li>
   <li><a href="https://t.me/newspaper_archive">newspaper_archive</a> - <em>Telegram</em></li>
   <li><a href="https://chroniclingamerica.loc.gov/newspapers/">Chronicling America</a></li>
   <li><a href="https://newspapers.com/">Newspapers com</a></li>
   <li><a href="https://freeforbook.com/">freeforbook</a> </li>
   <li><a href="https://www.thoughtco.com/us-historical-newspapers-online-by-state-1422215">ThoughtCo</a></li>
   <li><a href="https://www.loc.gov/rr/news/oltitles.html">Library of Congress Newspapers</a></li>
   <li><a href="https://archive.org/details/newspapers">Archive.org Newspapers</a></li>
   <li><a href="https://world-newspapers.com/">World-Newspapers</a> or <a href="https://www.thepaperboy.com/">Paperboy</a> - <em>Online Newspaper Index</em></li>
   <li><a href="https://latimes.newspapers.com/">LA Times</a></li>
   <li><a href="https://www.europeana.eu/en/collections/topic/18-newspapers">Europeana Newspapers</a> - <em>European Historical Newspapers</em></li>
   <li><a href="https://github.com/king-millez/abc-dl">abc-dl</a> - <em>Australian Broadcasting Corporation News Archive</em></li>
   <li><a href="https://newspapermap.com/">Newspaper Map</a> - <em>Find / Translate Worldwide Newspapers</em></li>
</ul>
<hr>
<h1 id="-tracking-discovery">► Tracking / Discovery</h1>
<ul>
   <li><strong><a href="https://www.goodreads.com/">GoodReads</a></strong> - <em>Books / Comics / Manga</em></li>
   <li><strong><a href="https://tastedive.com/">TasteDive</a></strong> - <em>Recommendations</em> </li>
   <li><strong><a href="https://myanimelist.net/">MyAnimeList</a></strong> - <em>manga</em></li>
   <li><a href="https://www.whatshouldireadnext.com/">What Should I Read Next?</a>, <a href="https://recommendmeabook.com/">RecommendMeABook</a> or <a href="https://www.whichbook.net/">WhichBook</a> - <em>Book Recommendations</em></li>
   <li><a href="https://anime-planet.com/">Anime-Planet</a> - <em>Manga</em> </li>
   <li><a href="https://vndb.org/">vndb</a> - <em>Visual Novel</em>  </li>
   <li><a href="https://rate.house/">rate.house</a> - <em>Media Tracker</em></li>
   <li><a href="https://mythbank.com/">MythBank</a> - <em>Media Timelimes / Watch Orders</em> </li>
</ul>
<hr>
<h1 id="-request-books">► Request Books</h1>
<ul>
   <li><strong><a href="https://forum.dirtywarez.com/categories/download-requests.113/">DirtyWarez</a></strong> - <em>Books / Audiobooks</em> </li>
   <li><strong><a href="https://forum.mobilism.org/viewforum.php?f=20">Mobilism</a></strong> - <em>Books / Audiobooks / android</em></li>
   <li><strong>irc.irchighway.net/ebooks</strong> - <em>eBook IRC / <a href="https://i.imgur.com/GvyDh0B.png">Request Guide</a></em></li>
   <li>/r/audiobookrequest - <em>Audiobook request Sub</em></li>
   <li><a href="https://books.cat/">Books.cat</a> - <em>Book requesting forum</em></li>
   <li><a href="https://forum.mhut.org/viewtopic.php?f=17&amp;t=6399">libgen</a> - <em>Books / <a href="https://libgen.life/bookreq/">Request Form</a></em></li>
   <li><a href="https://ebookscart.com/request-books/">EBooksCart</a> - <em>Books</em></li>
   <li><a href="https://pirates-forum.org/Forum-Requests">pirates-forum</a> - <em>Books</em></li>
   <li><a href="https://allbooksworld.com/request-a-book/">AllBooksWorld</a> - <em>Books</em></li>
   <li><a href="https://www.pdfdrive.com/request-a-book">PDF Drive</a> - <em>Books</em></li>
   <li><a href="https://www.books-share.com/">Books-share</a> - <em>Books</em></li>
   <li><a href="https://sanet.st/community/t/requests">Sanet.st</a> - <em>Books</em></li>
   <li><a href="https://discord.gg/h2P5zsNMxZ">TheMegaDrive</a> - <em>Books</em></li>
   <li><a href="https://www.ebookhunter.net/request-ebooks/">ebookhunter</a> - <em>Books</em> </li>
   <li><a href="https://vk.com/club162811046">VK eBook Sharing Group</a> - <em>Books</em> </li>
   <li><a href="https://t.me/FreeNovelsGroup">FreeNovelsGroup</a> - <em>Books / Telegram</em> </li>
   <li><a href="https://redd.it/dxvao6">VCE PDF Megathread</a> - <em>Educational Books</em></li>
   <li>/r/textbook_piracy</li>
   <li>/r/textbookrequest</li>
   <li>/r/Scholar </li>
</ul>
<hr>
<h1 id="-ebook-readers">► eBook Readers</h1>
<ul>
   <li><strong><a href="https://kcc.iosphe.re/">Kindle Comic Converter</a></strong> - <em>Convert book files to ePub</em></li>
   <li><strong><a href="https://play.google.com/books">Google Play Books</a></strong> - <em>Store Pirated Books / Get Meta Data Automatically</em></li>
   <li><strong><a href="https://www.foxitsoftware.com/pdf-reader/">Foxit</a></strong> - <em>PDF Reader / PC / Android / iOS / Linux / Mac</em></li>
   <li><strong><a href="https://play.google.com/store/apps/details?id=com.faultexception.reader">Lithium</a></strong> - <em>Manager / Reader / Android</em></li>
   <li><strong><a href="https://eboox.ru/en/">eBoox</a></strong> - <em>Manager / Reader / Android / iOS</em></li>
   <li><strong><a href="https://www.sumatrapdfreader.org/free-pdf-reader.html">SumatraPDFReader</a></strong> - <em>Desktop PDF Reader</em></li>
   <li><strong><a href="https://calibre-ebook.com/">Calibre</a></strong> - <em>Manager / Reader / PC / Android / iOS</em></li>
   <li><a href="http://vaemendis.net/ubooquity/">Ubooquity</a> - <em>Manager / Reader / PC / Android / iOS</em></li>
   <li><a href="http://koreader.rocks/">KoReader</a> - <em>Manager / Reader / PC / Android</em></li>
   <li><a href="https://fbreader.org/">FBReader</a> - <em>Manager / Reader / PC / Android / iOS</em></li>
   <li><a href="https://koodo.960960.xyz/">Koodo</a> - <em>Manager / Reader / PC / Mac / Linux</em></li>
   <li><a href="https://www.edrlab.org/software/thorium-reader/">Thorium</a> - <em>Manager / Reader / PC / Mac / Linux</em> </li>
   <li><a href="https://icecreamapps.com/Ebook-Reader/">Icecream eBook Reader</a> - <em>Manager / Reader / PC</em></li>
   <li><a href="https://github.com/Janglee123/eplee">Eplee</a> - <em>Manager / Reader / PC</em> </li>
   <li><a href="https://okular.kde.org/">Okular</a> - <em>PDF / Reader / Linux / PC / Mac</em></li>
   <li><a href="http://www.moondownload.com/">Moon Reader</a> - <em>Manager / Reader / Android</em></li>
   <li><a href="https://apt.izzysoft.de/fdroid/index/apk/org.coolreader">CoolReader</a> - <em>Manager / Reader / Android</em> </li>
   <li><a href="https://f-droid.org/en/packages/com.github.axet.bookreader/">BookReader</a> - <em>Reader / Android</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=com.obreey.reader">PocketBook Reader</a> - <em>Manager / Reader / Android</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.prestigio.ereader">Prestigio</a> - <em>Manager / Reader / Android</em></li>
   <li><a href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader.html">Adobe Acrobat</a> - <em>PDF Reader / PC</em></li>
   <li><a href="https://wiki.gnome.org/Apps/Evince">Evince</a> - <em>PDF / DjVu Reader / Linux</em></li>
   <li><a href="https://launchpad.net/qpdfview">qPDFview</a> - <em>PDF Reader / PC</em></li>
   <li><a href="https://mupdf.com/">mupdf</a> - <em>PDF Reader / PC</em></li>
   <li><a href="https://www.xodo.com/">XODO</a> - <em>PDF Reader / PC / Android / iOS</em></li>
   <li><a href="https://www.gonitro.com/pdf-reader">gonitro</a> - <em>PDF Reader  PC</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=org.readera">Readera</a> - <em>Manager / Reader / Android</em></li>
   <li><a href="https://www.fviewer.com/">fViewer</a> - <em>Online book / document viewer</em></li>
   <li><a href="https://www.epubread.com/en/">ePubReader</a> - <em>Firefox ePub reader</em></li>
   <li><a href="https://johnfactotum.github.io/foliate/">Foliate</a> - <em>Manager / Reader / Linux</em></li>
   <li><a href="https://windjview.sourceforge.io/">WinDjView</a> - <em>DjVu Reader / PC</em></li>
   <li><a href="http://djvu.sourceforge.net/">DjVuLibr</a> - <em>DjVu Reader / PC</em></li>
   <li><a href="https://anyflip.com/">AnyfFip</a> - <em>Interactive Flipbook Reader</em> </li>
   <li><a href="https://www.bolidesoft.com/allmybooks.html">All My Books</a> - <em>Book Catalog</em> </li>
   <li><a href="https://ravenreader.app/">Raven Reader</a> - <em>Article Reader / Manager</em> </li>
   <li><a href="https://cubari.moe/">Cubari</a> - <em>Image Proxy / Reader</em></li>
   <li><a href="https://add0n.com/chrome-reader-view.html">Reader View</a>, <a href="https://epub.press/">EpubPress</a>, <a href="https://mybrowseraddon.com/reader-view.html">Reader View</a> or <a href="https://2read.net/">2read</a> - <em>Open Pages in Reader View</em></li>
</ul>
<hr>
<h1 id="-helpful-sites-apps">► Helpful Sites / Apps</h1>
<ul>
   <li><a href="https://github.com/costis94/bookcut">BookCut</a> - <em>eBook Download Tool</em> </li>
   <li><a href="https://github.com/vaibhavk97/GoBooDo">GoBooDo</a> - <em>Google Book Downloader w/ Proxy Support</em></li>
   <li><a href="https://github.com/laxyapahuja/bunken">bunken</a> - <em>Download eBooks directly from Goodreads</em></li>
   <li><a href="https://hub.darcs.net/JasonJAyalaP/ExtractBookz">ExtractBookz</a> - <em>Extract &amp; Rename Ebook Files / <a href="https://github.com/JasonJAyalaP/ExtractBookz">GitHub</a></em></li>
   <li><a href="http://readshitfaster.com/">Read Shit Faster</a> - <em>Read Things Faster</em></li>
   <li><a href="http://www.skimcast.com/">Skimcast</a>, <a href="https://summarygenerator.com/">SummaryGenerator</a> or <a href="https://smmry.com/">SMMRY</a> - <em>Summary Generator</em> </li>
   <li><a href="http://ficsave.xyz/">FicSave</a> or <a href="https://fanfictiondownloader.net/">FanFictionDownloader</a> - <em>Fanfiction Download Tool</em> </li>
   <li><a href="https://www.libraryextension.com/">Library Extension</a> - <em>Check book availability from your local library</em></li>
   <li><a href="https://onehack.us/t/bypass-quora-login-for-unlimited-reading-new-method-legal/92786">Bypass Quora login</a></li>
   <li><a href="https://github.com/apprenticeharper/DeDRM_tools">DeDRM_tools</a> or <a href="https://apprenticealf.wordpress.com/">Remove eBook DRM</a> - <em>Remove ebook DRM</em></li>
   <li><a href="https://gitlab.com/LazyLibrarian/LazyLibrarian">LazyLibrarian</a> - <em>eBook Torrent Auto Search</em></li>
   <li><a href="https://howlongtoread.com/">HowLongToRead</a> - <em>Find out how long a book takes to read</em></li>
   <li><a href="https://github.com/JimmXinu/FanFicFare">FanFicFare</a> - <em>Generate eBooks from Stories / Fanfiction</em></li>
   <li><a href="https://github.com/NiklasGollenstede/epub-creator">epub-creator</a> - <em>Turn Webpages into eBooks</em></li>
   <li><a href="https://sigil-ebook.com/">Sigil Ebook</a> - <em>Epub Editor</em></li>
   <li><a href="https://www.fivefilters.org/">FiveFilters</a> - <em>Multiple Article Accessibility Tools</em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'bcm'
}
</script>

<style>

</style>