<template>
<div class="content">
<hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/wCmGQoJ.png">Table ofa Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-download-directories">► Download Directories</h1>
<ul>
   <li><strong><a href="https://discord.gg/h2P5zsNMxZ">The MegaDrive</a></strong> - <em>Discord Drive Sharing Community</em> </li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_teamdrives_.2F_open_directories">Open Directories / Teamdrives</a>, <a href="https://www.google.com/search?q=site:reddit.com/r/opendirectories+odshot+after:2018">2</a>, <a href="https://opndir.com/">3</a>, <a href="https://redd.it/lvdwlm">4</a>, <a href="https://github.com/strawhat-pirates/notes/blob/master/opendirectories.txt">5</a>, <a href="https://bin.disroot.org/?3082f04205be7af6#BE4AhsPwWYXdLUjmmDLRyQNjvG6vaHnQkQAkyCTCUq34">6</a></strong></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_open_directory_search_string_builder">Open Directory Search String Builders</a>, <a href="https://redd.it/933pzm">2</a>, <a href="https://redd.it/g4kfem">3</a>, <a href="https://redd.it/lj0a1e">4</a></strong></li>
   <li><a href="https://odcrawler.xyz/">ODCrawler</a>, <a href="https://www.catfiles.net/">CatFiles</a> or <a href="https://www.mmnt.net/">mmnt</a> - <em>Open Directory Search Engine</em></li>
   <li><a href="https://www.reddit.com/r/opendirectories/">/r/opendirectories</a> - <em>Open Directories Subreddit / <a href="https://t.me/r_OpenDirectories">Telegram</a> / /u/ODScanner</em></li>
   <li><a href="https://redd.it/d3w2fu">Create Open Directory Search Engine</a></li>
   <li><a href="https://github.com/KoalaBear84/OpenDirectoryDownloader">Open Directory Downloader</a> or <a href="http://autoindex.sourceforge.net/">AutoIndex</a> - <em>Open Directory Indexer</em> </li>
   <li><a href="https://directorylister.com/">Directory Lister</a> - <em>Open Directory Explorer</em></li>
   <li><a href="https://www.theloadguru.com/xdcc-irc-beginners-guide/">IRC / XDCC Tutorial</a>, <a href="https://github.com/mayfrost/guides/blob/master/IRC.md">2</a></li>
   <li><a href="https://github.com/davisonio/awesome-irc">Awesome IRC</a> - <em>IRC Resource Index</em></li>
   <li><a href="https://cse.google.com/cse?cx=0cd79b819f26af9d0">Pastebin CSE</a> - <em>Search Pastebin Directories</em></li>
</ul>
<hr>
<h1 id="-download-sites">► Download Sites</h1>
<ul>
   <li><strong><a href="https://www.downloadha.com">DownloadHa</a></strong> - <em>Video / Software / Games / Android / Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Translator</a></em></li>
   <li><strong><a href="https://sanet.st">SoftArchive</a></strong> or <a href="https://sanet.lc/">Sanet.lc</a> - <em>Video / Audio / Games / Software / Android / Books / Comics / Newspapers / Magazines</em></li>
   <li><strong><a href="https://forum.dirtywarez.com/">DirtyWarez</a></strong> - <em>Forum / Video / Audio / Games / Software / Books / Comics</em> </li>
   <li><strong><a href="https://patoghu.com/">patoghu</a></strong> - <em>Video / Audio / Software / Android / Games / Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Translator</a></em> </li>
   <li><strong><a href="http://bitdownload.ir/">Bitdownload</a></strong> - <em>Video / Audio / Software / Games / Android / Courses / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_bitdownload_drives">Drives</a> / Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Translator</a></em></li>
   <li><strong><a href="https://the-eye.eu/">The-Eye</a></strong> - <em>Audio / Roms / Books / Comics / Magazines / Software / <a href="https://eyedex.org/">Search</a> / <a href="https://discord.gg/the-eye">Discord</a></em></li>
   <li><strong><a href="https://ulozto.net/">Uloz</a></strong> - <em>Video / Audio</em> </li>
   <li><a href="https://www.ddlvalley.me/">DDLValley</a> - <em>Video / Audio / Games / Roms / Software / Android / Books / Comics / Magazines</em></li>
   <li><a href="http://www.rlslog.net/">Releaselog</a> - <em>Video / Games / Roms / Software / Books / Comics / Magazines / Android</em></li>
   <li><a href="https://www.filmsofts.com/">FilmSofts</a> - <em>Video / Audio / Games / Roms / Software / Books / Comics / NSFW</em></li>
   <li><a href="https://www.warez-serbia.com/">Warez-Serbia</a> - <em>Video / Audio / Games / Software / Android / Books / Magazines / NSFW</em> </li>
   <li><a href="http://downarchive.org/">DownArchive</a> - <em>Video / Audio / Software / Games / Roms / Android / Books / Magazines</em></li>
   <li><a href="https://www.scenep2p.com">SceneP2P</a> - <em>Video / Audio / Games / Roms / Software / Android / Books / Magazines</em></li>
   <li><a href="https://www.puzo.org/">PuZo</a> - <em>Video / Audio / Software / Android / Games / Books / NSFW</em></li>
   <li><a href="https://www.adit-hd.com/">Adit-HD</a> - <em>Video / Audio / Games / Books</em> </li>
   <li><a href="https://novanon.net/">Novanon</a> - <em>Video / Audio / Software / Games / Magazines / Comics / Android / Books / Courses</em></li>
   <li><a href="http://psychodownloads.com/forum.php">psychodownloads</a> - <em>Video / Audio / Software / Android / Games / Roms / Books / Magazines / NSFW</em></li>
   <li><a href="https://merlinwz.com/">Merlin Warez</a> - <em>Video / Audio / Games / Software / Books / Audiobooks / Comics / Magazines</em> </li>
   <li><a href="https://www.warezheaven.com/index.php">Warez Heaven</a> - <em>Video / Audio / Software / Games / Roms / Books / NSFW</em></li>
   <li><a href="http://megaddl.net/">MegaDDL</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="https://wjungle.net/">wJungle</a> - <em>Video / Audio / Books / Games / Android / NSFW</em></li>
   <li><a href="https://forum.sbenny.com/">Sbenny&#39;s Forum</a> - <em>Video / Audio / Software / Roms / Books / Android / <a href="https://discord.gg/kf9FKQx">Discord</a></em></li>
   <li><a href="http://amaderforum.us/">Amader Forum</a> - <em>Video / Games / Software / Android / Books / NSFW</em></li>
   <li><a href="https://rapidheaven.com/">RapidHeaven</a> - <em>Videos / Audio / Software / Games / Roms</em></li>
   <li><a href="https://www.tehparadox.net/">TehParadox</a> - <em>Video / Audio / Software / Games / Books / Magazines / Roms / Android</em> </li>
   <li><a href="https://www.akiba-online.com/">Akiba-Online</a> - <em>Japanese Media / Video / Audio / Games / Comics / NSFW</em></li>
   <li><a href="http://www.cyberphoenix.org/forum/">CyberPhoenix</a> - <em>Video / Audio / Software / Games / Roms / Books / Magazines / Comics</em></li>
   <li><a href="https://www.dreamteamdownloads1.com/index.php">dreamteamdownloads1</a> - <em>Video / Audio / Software / Games / Roms / Books / Magazines</em></li>
   <li><a href="https://allyoulike.org/">AllYouLike</a> - <em>Video / Audio Books / Magazines / Games / Roms / Software / Android / Comics / NSFW</em></li>
   <li><a href="https://www.downturk.net/">downTURK</a> - <em>Video / Audio / Games / Software / Books / Magazines / Android</em></li>
   <li><a href="https://www.releasehive.com/">ReleaseHive</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="http://rlsbb.ru/">rlsbb</a> - <em>Video / Audio / Games / Software / Books / Magazines / <a href="https://openuserjs.org/scripts/drdre1/ReleaseBB_rlsbb_TV_Show_Tracker">Track Shows</a></em></li>
   <li><a href="https://0dayhome.net/">0dayhome</a> - <em>Video / Audio / Games / Software / Books / Magazines</em></li>
   <li><a href="http://www.downduck.com/">DownDuck</a> - <em>Video / Audio / Software / Games / Books / Magazines</em></li>
   <li><a href="https://0dayddl.com/">0DayDDL</a> - <em>Video / Audio / Games / Software / Books / Magazines</em></li>
   <li><a href="http://max-rls.com/">MaxRelease</a> - <em>Video / Audio / Software / Games / Magazines</em></li>
   <li><a href="https://volno.org">Volno</a> - <em>Audio / Books / Software / Games / Android / NSFW</em></li>
   <li><a href="https://www.worldsrc.net/">worldsrc</a> - <em>Video / Audio / Games / Software / Android</em></li>
   <li><a href="https://www.teamos-hkrg.com/">Team OS</a> - <em>Software / Games / Books / Android</em></li>
   <li><a href="https://www.warezbook.org/">WarezBook</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="https://warez-world.org/">Warez-World</a> - <em>Video / Audio / Games / Software / Android / Books / Magazines / NSFW</em></li>
   <li><a href="https://www.freshwap.us/">FreshWAP</a>, <a href="https://freshwap.cc/">2</a> - <em>Video / Audio / Software / Games / Android / Books / Magazines</em>  </li>
   <li><a href="https://nulled.org/">nulled</a> - <em>Video / Audio / Software / Games / Books / Magazines</em> </li>
   <li><a href="https://releasehive.com/">ReleaseHive</a> - <em>Video / Audio / Software / Games / Books / NSFW</em> </li>
   <li><a href="https://rls2day.com/">rls2day</a> - <em>Video / Audio / Software / Games / Books / Magazines</em> </li>
   <li><a href="https://www.wawacity.video/">WawaCity</a> - <em>Video / Audio / Books / Magazines / Software / Android / Use AdBlocker</em></li>
   <li><a href="https://www.warezblogs.com/">WarezBlogs</a> - <em>Video / Audio / Software / Games / Books / Magazines</em> </li>
   <li><a href="https://2ddl.ms/">TwoDDL</a> - <em>Video / Audio / Software / Games / Books / Comics / Magazines</em> </li>
   <li><a href="https://mftwbb.org/">MFTWBB</a> - <em>Video / Software / Games / Books / Android</em></li>
   <li><a href="http://scene-rls.net/releases/index.php">SCENE.RLS</a> - <em>Video / Audio / Games / Software / Books / Magazines</em> </li>
   <li><a href="https://www.nitroddl.net/">NitroDDL</a> - <em>Video / Audio / Books / Magazines / Comics / Games / Software / Tutorials</em> </li>
   <li><a href="http://dlwarez.xyz/">DLWarez</a> or <a href="https://warezlover.xyz/">WarezLover</a> - <em>Video / Audio / Software / Games / Android / Roms / Books / Magazines</em> </li>
   <li><a href="https://www.heroturko.net/">heroturko.net</a> - <em>Video / Audio / Software / Games / Books / Magazines / Android</em> </li>
   <li><a href="http://downtut.org/">DownTut</a> - <em>Video / Audio / Software / Games / Android / Books / Magazines</em> </li>
   <li><a href="http://irfree.org/">IRfree</a> - <em>Video / Audio / Software / Games / Books / NSFW</em></li>
   <li><a href="https://www.0dayd.com/">0dayd</a> - <em>Video / Audio / Software / Games</em> </li>
   <li><a href="https://piratedhub.com/">PirateHub</a> - <em>Software / Android / Books / Games / Courses</em>  </li>
   <li><a href="https://www.4shared.com/">4Shared</a> - <em>Video / Audio / Games / Software / Android</em></li>
   <li><a href="http://www.2013zone.com/">2013Zone</a> - <em>Video / Audio / Games / Software</em></li>
   <li><a href="http://www.twistysdownload.com">TwistyDownload</a> - <em>Video / Audio / Games / Software</em></li>
   <li><a href="https://www.ddlspot.com/">ddlspot</a> - <em>Video / Audio / Games / Software</em></li>
   <li><a href="https://archive.org/">Archive</a> - <em>Video / Audio / Magazines / Newspapers / Roms</em></li>
   <li><a href="https://download.ir/">Download.ir</a> - <em>Software / Video / Android / Games / Roms</em>  </li>
   <li><a href="https://www.yasdl.com/">yasdl</a> - <em>Software / Games / Audio / Video</em></li>
   <li><a href="https://www.tfp.is/">TFPDL</a> - <em>Video / Software / Games / Magazines / NSFW</em> </li>
   <li><a href="http://rarlinks.com/">Rarlinks</a> - <em>Video / Audio / Software / Games / Books / Magazines / Leech required</em></li>
   <li><a href="https://www.torrentabc.com/">TorrentaBC</a> or <a href="https://www.aztutorial.download/">AZTutorial</a> - <em>Video / Audio / Software / Games / Magazines / Leech Required</em> </li>
   <li><a href="https://badshahuploads.xyz/">BadshahUploads</a> - <em>Video / Audio / Software / Games / Books / Leech Required</em> </li>
   <li><a href="https://filedown.co/">FileDown</a>, <a href="https://www.downfree4u.com/">DownFree4u</a>, <a href="https://www.rapiddowntorrent.com/">rapiddowntorrent</a>, <a href="https://www.zipfiletorrent.com/">ZipFileTorrent</a>, <a href="https://www.viewdowntorrent.com/">viewdowntorrent</a> or <a href="https://torrentdown.co/">TorrentDown</a> - <em>Video / Audio / Software / Games / Books / Leech Required</em> </li>
   <li><a href="http://www.redox.com.ua/">Redox</a> - <em>Video / Audio / Software / Books / Magazines / Leech Requored</em> </li>
   <li><a href="https://en.ddl.me//">de.ddl</a> - <em>Video / Books / Games</em></li>
   <li><a href="https://www.warezlover.org/">WarzesLover</a> - <em>Video / Audio / NSFW</em> </li>
   <li><a href="https://www.lightdl.xyz/">Light Downloads</a> - <em>Video / Software / Games</em>   </li>
   <li><a href="https://www.sarzamindownload.com/">sarzamindownload</a> - <em>Software / Games / Android</em> </li>
   <li><a href="https://www.frostclick.com/wp/">FrostClick</a> - <em>Video / Audio / Software / Games / Books</em> </li>
   <li><a href="http://sharemania.us/">ShareMania</a> - <em>Video / Audio</em> </li>
   <li><a href="https://www.heidoc.net/joomla/">Heidoc</a> - <em>Software / Books / Android</em> </li>
   <li>Alexa Rankings - <a href="https://dirtywarez.org/cat/blog">Sites</a> / <a href="https://dirtywarez.org/cat/forum">Forums</a> </li>
</ul>
<hr>
<h2 id="-search-sites">▷ Search Sites</h2>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:1ugcdt3vo7z">Download Sites Search</a></strong> + <a href="https://cse.google.com/cse?cx=006516753008110874046:reodoskmj7h">Download Sites 2</a></li>
   <li><strong><a href="https://zippysharesearch.com/">ZippyShareSearch</a></strong> - <em>Search Zippyshare</em> </li>
   <li><a href="https://filepursuit.com">FilePursuit</a> + <em><a href="https://discord.gg/xRfFd8h">Discord</a></em></li>
   <li><a href="https://www.dedigger.com/">dedigger</a> - <em>GDrive File Search</em> </li>
   <li><a href="https://scnlog.me/">scnlog</a></li>
   <li><a href="https://www.searchftps.net/">Napalm FTP</a></li>
   <li><a href="http://filesearch.link/">filesearch.link</a></li>
   <li><a href="https://www.linktury.com/">Linktury</a> </li>
   <li><a href="http://megadownload.net/">MegaDownload</a> - <em>Search Mega</em> </li>
   <li><a href="http://megasearch.co/">Megasearch</a> - <em>Search Mega / Use Adblocker</em> </li>
   <li><a href="https://www.hitfilesearch.com/">Hitfilesearch</a> - <em>Search HitFile</em></li>
   <li><a href="https://warezomen.com/">WarezOmen</a> - <em>Indexer / Search Engine</em></li>
   <li><a href="http://sunxdcc.com/">SunXDCC</a>, <a href="https://ixirc.com/">ixIRC</a>, <a href="https://xdcc.it/">xdcc.it</a> or <a href="https://www.xdcc.eu/">XDCC.EU</a> - <em>XDCC / Search Engine</em></li>
</ul>
<hr>
<h2 id="-video-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-video-wiki_-25ba_download_sites-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/video#wiki_.25BA_download_sites">Video Sites</a></h2>
<hr>
<h2 id="-anime-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-video-wiki_-25b7_anime_downloading-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/video#wiki_.25B7_anime_downloading">Anime Sites</a></h2>
<hr>
<h2 id="-educational-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-video-wiki_-25b7_educational_downloading-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/video#wiki_.25B7_educational_downloading">Educational Sites</a></h2>
<hr>
<h2 id="-game-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-games-wiki_-25ba_download_games-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/games#wiki_.25BA_download_games">Game Sites</a></h2>
<hr>
<h2 id="-audio-sites-https-www-reddit-com-r-freemediaheckyeah-wiki-audio-wiki_-25ba_audio_downloading-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/audio#wiki_.25BA_audio_downloading">Audio Sites</a></h2>
<hr>
<h1 id="-software-sites">► Software Sites</h1>
<ul>
   <li><strong><a href="https://forum.mobilism.org/">Mobilism</a></strong> - <em>Software / Books / <a href="https://forum.mobilism.org/app/">Mobile App</a></em> </li>
   <li><strong><a href="https://soft98.ir/">soft98</a></strong> - <em>Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">translator</a></em></li>
   <li><strong><a href="https://filecr.com/en/">FileCR</a></strong> - <em>Software / Books</em></li>
   <li><strong><a href="https://freesoff.com/">freesoff</a></strong> - <em>Software / Courses</em></li>
   <li><strong><a href="https://www.nsaneforums.com/">nsane.down</a></strong></li>
   <li><strong><a href="https://lrepacks.net/">LRepacks</a></strong> - <em>Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">translator</a></em></li>
   <li><strong><a href="https://appnee.com/">AppNee</a></strong></li>
   <li><a href="https://yasdl.com/">YasDL</a> - <em>Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">translator</a></em></li>
   <li><a href="https://shareappscrack.com/">ShareAppCrack</a> - <em>Software / Courses</em></li>
   <li><a href="https://downloadly.ir/">downloadly</a> - <em>Software / Courses</em></li>
   <li><a href="https://piratepc.me/">PiratePC</a> - <em><a href="https://discord.gg/QhaKfHwWmV">Discord</a></em></li>
   <li><a href="https://softotornix.com/">Softotornix</a></li>
   <li><a href="https://www.aiowares.com/">AIOWares</a> </li>
   <li><a href="https://www.youtube.com/channel/UCcf3dtQFVb5zfy0jGYNpA0w">Mr. SzzS</a></li>
   <li><a href="https://softlay.net/">Softlay</a></li>
   <li><a href="https://cracksurl.com/">CRACKurl</a> </li>
   <li><a href="https://www.teamos-hkrg.com/">TeamOS</a></li>
   <li><a href="https://www.thepiratecity.co/">Pirate City</a> </li>
   <li><a href="https://msdn.hackerc.at/">msdn.hackerc</a>  </li>
   <li><a href="https://www.4download.net/">4Download</a> </li>
   <li><a href="https://www.softwares2u.com/">Softwares 2 U</a> </li>
   <li><a href="https://cracksoftwaress.com/">Cracksoftwaress</a> </li>
   <li><a href="https://s0ft4pc.com/">s0ft4PC</a> </li>
   <li><a href="https://onhax.io/">onHax</a></li>
   <li><a href="https://www.mazterize.com/">MAZTERIZE</a> </li>
   <li><a href="https://pcsoftsfull.com/">PCSoftFull</a> </li>
   <li><a href="https://downtopc.com/">DownToPC</a></li>
   <li><a href="https://softncracks.com/">SoftnCracks</a> </li>
   <li><a href="https://kickasscracks.com/">KickassCracks</a> </li>
   <li><a href="http://softhouse.cc/">SoftHouse</a></li>
   <li><a href="https://www.vectoritalia.com/">VectorItalia</a></li>
   <li><a href="https://mysoftwarefree.com/">MySoftwareFree</a></li>
   <li><a href="https://www.mutaz.net/">Mutaz.net</a> - <em>PC / Mac / Android</em></li>
   <li><a href="https://t.me/aiosetup">AIOsetup</a> - <em>Software / Telegram</em> </li>
   <li><a href="https://sites.google.com/site/raymondfreesoftware/">raymondfreesoftware</a> <em>Software / <a href="https://t.me/raymondfreesoftware_cracks">Telegram</a>, <a href="https://t.me/joinchat/AAAAAFK2jwM5j_z7cYxa7g">2</a></em> </li>
   <li><a href="https://github.com/mayfrost/guides/blob/master/ALTERNATIVES.md">ALTERNATIVES</a> - <em>Lightweight Software Index</em></li>
   <li><a href="https://www.rarewares.org/">Rarewares</a> - <em>Rare Software</em></li>
   <li><a href="https://radixx11rce2.blogspot.com/">RADIXX11</a>, <a href="https://izofile.com/">Izofile</a>, <a href="https://www.soft2ev.com/">Soft2Ev</a>, <a href="https://crackedfine.com/">CrackedFine</a>, <a href="https://t.me/keygen_fortress">Keygen Fortress</a> or <a href="https://www.serials.ws/">Serials</a> - <em>Software Keys / Patches</em></li>
   <li><a href="https://www.softwareheritage.org/">Software Heritage</a> - <em>Software Source Code Archive</em> </li>
   <li><a href="https://hub.balena.io/">balenaHub</a> - <em>Raspberry Pi Software</em> </li>
   <li><a href="https://www.reddit.com/r/GenP">GenP</a> - <em>Adobe Software Patcher / <a href="https://discord.com/invite/X9ZuegSM4N">Discord</a></em></li>
</ul>
<hr>
<h2 id="-freeware-sites">▷ Freeware Sites</h2>
<ul>
   <li><strong><a href="https://www.majorgeeks.com/content/page/top_freeware_picks.html">Major Geeks</a></strong> - <em>Software</em></li>
   <li><strong><a href="https://github.com/awesome-selfhosted/awesome-selfhosted">Awesome Selfhosted</a></strong> - <em>Selfhosted Software Index</em> </li>
   <li><strong><a href="https://alternativeto.net/">AlternativeTo</a></strong>, <a href="https://www.slant.co/">Slant</a> or <a href="https://www.saashub.com/">SaaSHub</a> - <em>Find Alternatives to Software / Apps</em></li>
   <li><a href="https://en.wikipedia.org/wiki/Portal:Free_and_open-source_software/Categories">FOSS Wiki</a> - <em>Open Source Wiki</em> </li>
   <li><a href="http://www.oldversion.com/">OldVersion</a> - <em>Old Versions of Software</em> </li>
   <li><a href="https://oldergeeks.com/">OlderGeeks</a> - <em>Free Software Index / Forum</em></li>
   <li><a href="https://directory.fsf.org/wiki/Main_Page">Free Software Directory</a> - <em>Free Software Index / Wiki</em> </li>
   <li><a href="https://sourceforge.net/">SourceForge</a> - <em>Open Source</em>  </li>
   <li><a href="https://fossies.org/all.html">Fossies</a> - <em>Open Source</em> </li>
   <li><a href="https://www.fosshub.com/">FossHub</a> - <em>Open Source</em> </li>
   <li><a href="https://simpletools.info/doku.php">Simple Tools</a> - <em>Open Source</em> </li>
   <li><a href="https://freshcode.club/">FreshCode</a> - <em>Open Source</em> </li>
   <li><a href="https://www.softpedia.com/">Softpedia</a> - <em>Software</em> </li>
   <li><a href="https://malwat.ch/software">Enderman&#39;s Website</a> - <em>Software</em> </li>
   <li><a href="https://software.informer.com/">Software Informer</a> - <em>Software</em> </li>
   <li><a href="http://www.freewareweb.com/">FreewareWeb</a> - <em>Software</em></li>
   <li><a href="http://www.freewaredirectory.net/">Freeware Directory</a> - <em>Software</em></li>
   <li><a href="https://www.freewarestop.com/">FreewareStop</a> - <em>Software</em></li>
   <li><a href="https://www.lo4d.com/">LO4D</a> - <em>Software</em> </li>
   <li><a href="https://listoffreeware.com/">ListOfFreeWare</a> - <em>Software</em>  </li>
   <li><a href="https://en.downloadastro.com/">Downloadastro</a> - <em>Software</em> </li>
   <li><a href="https://www.snapfiles.com/freeware/">SnapFiles</a> - <em>Software</em></li>
   <li><a href="https://www.soft112.com/">Soft112</a> - <em>Software</em> </li>
   <li><a href="https://icecreamapps.com/">IcecreamApps</a> - <em>Software</em> </li>
   <li><a href="https://www.nirsoft.net/">Nirsoft</a> - <em>Windows Software</em> </li>
   <li><a href="https://github.com/Awesome-Windows/Awesome">Awesome Windows</a> - <em>Windows Software</em> </li>
   <li><a href="https://github.com/inputsh/awesome-linux">Awesome Linux</a>, <a href="https://luong-komorebi.github.io/Awesome-Linux-Software/">2</a> - <em>Linux Software / Resources</em></li>
   <li><a href="https://orga.cat/windows-utilities">Windows-Utilities</a> - <em>Windows Software</em>  </li>
   <li><a href="https://t.me/raymondfreesoftware">RaymondFreeSoftware</a> - <em>telegram</em></li>
   <li><a href="https://suckless.org/">Suckless</a> - <em>Simple Software Archive</em> </li>
   <li><a href="https://the-eye.eu/public/MSDN/">MSDN</a> - <em>Microsoft Developer Network Software</em> </li>
   <li><a href="https://github.com/ethanhs/WSL-Programs">WSL-Programs</a> - <em>Windows Subsystem for Linux Programs</em></li>
   <li><a href="https://winworldpc.com/">WinWorldPC</a> - <em>Abandonware / Operating Systems</em> </li>
   <li><a href="https://vetusware.com/">VETUSWARE</a> - <em>Abandonware / Operating Systems / Games</em></li>
   <li><a href="https://archive.org/details/vintagesoftware">The Vintage Software Collection</a> - <em>Vintage Software</em></li>
   <li><a href="https://portapps.io/">Portapps</a>, <a href="https://www.fcportables.com/">FC Portables</a>, <a href="https://www.portablefreeware.com/">Portable Freeware</a>, <a href="https://thehouseofportable.com/">TheHouseOfPortable</a>, <a href="https://sites.google.com/site/freeportablesoftwares/">freeportablesoftwares</a> or <a href="https://portableapps.com/">PortableApps</a> - <em>Portable Apps for USB / SD / External Storage</em></li>
   <li><a href="https://apps.kde.org/education">KDE&#39;s Applications</a> - <em>Linux Apps</em> </li>
</ul>
<hr>
<h2 id="-mac-software">▷ Mac Software</h2>
<ul>
   <li><a href="http://macintoshgarden.org/">Macintosh Garden</a> </li>
   <li><a href="https://nmac.to/">nMac</a> </li>
   <li><a href="https://macdrop.net/">MacDrop</a> </li>
   <li><a href="https://www.macbed.com/">MacBed</a> </li>
   <li><a href="https://appdb.to/">AppDB</a> </li>
   <li><a href="https://nxmac.com/">NXMac</a> </li>
   <li><a href="https://github.com/iCHAIT/awesome-macOS">Awesome macOS</a> - <em>Index</em> </li>
</ul>
<hr>
<h2 id="-gfx-design-software">▷ GFX Design Software</h2>
<ul>
   <li>Note - Some of these also host editing courses</li>
   <li><a href="https://all-free-download.com/">All-free-download</a></li>
   <li><a href="https://www.downloadpirate.com/">Download Pirate</a></li>
   <li><a href="https://gift4designer.net/">G4D</a></li>
   <li><a href="https://gfxdomain.co/">GFXDomain</a> </li>
   <li><a href="https://www.desirefx.me/">DesireFX</a></li>
   <li><a href="http://gfxmountain.com/">GFXMountain</a></li>
   <li><a href="https://godownloads.net/">GoDownloads</a></li>
   <li><a href="http://gfxhome.ws/index.php">GFXhome</a></li>
   <li><a href="https://gfxdrug.com/">GFXDrug</a></li>
   <li><a href="https://www.grafixfather.com/">Grafixfather</a></li>
   <li><a href="https://psdkeys.com/">PSDKeys</a></li>
   <li><a href="https://www.gfxtra31.com/">GFxtra</a></li>
   <li><a href="https://allday1.com/">Allday</a></li>
   <li><a href="https://gfx-hub.net/">GFX-Hub</a></li>
   <li><a href="https://pixelbrush.ru/">PixelBrush</a> </li>
   <li><a href="https://www.adaz3d.com/">adaz3d</a> - <em>Leech Required</em></li>
</ul>
<hr>
<h2 id="-audio-software">▷ Audio Software</h2>
<ul>
   <li><a href="https://audioz.download/">AudioZ</a></li>
   <li><a href="https://audiotools.club/">AudioTools</a> </li>
   <li><a href="https://goaudio.info/">GoAudio</a> </li>
   <li><a href="http://vsthouse.ru/">VSTHouse</a> </li>
   <li><a href="https://magesy.blog/">Magesy</a> </li>
   <li><a href="https://music-create.org/">Music-Create</a> </li>
   <li><a href="https://audio.tools/">Audio.Tools</a> </li>
   <li><a href="https://audiolove.club/">AudioLove</a> </li>
   <li><a href="https://www.adaz3d.com/">adaz3d</a> - <em>Leech Required</em> </li>
</ul>
<hr>
<h1 id="-file-sharing-apps">► File Sharing Apps</h1>
<ul>
   <li><a href="http://www.soulseekqt.net/news/">Soulseek</a> - <em>File Sharing App</em></li>
   <li><a href="http://shareaza.sourceforge.net/">Shareaza</a> - <em>File Sharing App</em> </li>
   <li><a href="http://mldonkey.sourceforge.net/Main_Page">MLDonkey</a> - <em>File Sharing App</em> </li>
   <li><a href="https://fopnu.com/">Fopnu</a> - <em>File Sharing App</em> </li>
   <li><a href="https://muwire.com/index-nojs.html">MuWire</a> - <em>File Sharing App</em> </li>
   <li><a href="https://sourceforge.net/projects/wireshare/">WireShare</a> - <em>File Sharing App / LimeWire Fork</em> </li>
   <li><a href="https://piracy.now.sh/telegram/">Telegram Download Channels</a> - <em>Download files from telegram</em></li>
   <li><a href="https://t.me/TGMoviesBot">TGMoviesBot</a> - <em>Telegram File Search Bot</em> </li>
   <li><a href="https://t.me/direct_llinks">Direct Links</a> - <em>Telegram / Video / Software / Games</em> </li>
   <li><a href="https://t.me/VKFiles_Bot">VK Files Bot</a> - <em>VK File DL Telegram Bot</em> </li>
</ul>
<hr>
<h1 id="-usenet">► Usenet</h1>
<ul>
   <li><strong><a href="https://docs.google.com/document/d/1TwUrRj982WlWUhrxvMadq6gdH0mPW0CGtHsTOFWprCo/mobilebasic">Usenet Guide / Automation Setup</a></strong></li>
   <li><strong><a href="https://curlie.org/en/Computers/Usenet">Usenet Tools &amp; Services Index</a></strong></li>
</ul>
<h2 id="-indexers">▷ Indexers</h2>
<ul>
   <li><a href="https://www.reddit.com/r/usenet/wiki/indexers#wiki_free_membership_sites">Indexer List</a></li>
   <li><a href="https://usenet.app/#">nzbwolf</a></li>
   <li><a href="https://nzbplanet.net/">nzbplanet</a></li>
   <li><a href="https://orionoid.com/">orionoid</a></li>
   <li><a href="http://binsearch.info/">binsearch</a></li>
   <li><a href="https://www.abnzb.com/">abnzb</a></li>
   <li><a href="https://www.nzb.su/">nzb.su</a></li>
   <li><a href="https://www.nzbindex.com/">NZB Index</a> </li>
   <li><a href="https://www.gingadaddy.com/">GingaDaddy</a></li>
   <li><a href="https://nzbfinder.ws/">NZBFinder</a></li>
   <li><a href="https://drunkenslug.com/">DrunkenSlug</a> </li>
   <li><a href="http://nzbking.com/">NZBKing</a></li>
   <li><a href="https://althub.co.za">althub</a> - <em>Unlimited free trials</em></li>
   <li><a href="https://github.com/nZEDb/nZEDb">nZEDb</a> - <em>Self-Hosted</em></li>
   <li><a href="https://github.com/spotweb/spotweb">Spotweb</a> - <em>Spotnet Client</em></li>
   <li>/r/usenet </li>
   <li>/r/UsenetInvites </li>
</ul>
<h2 id="-providers">▷ Providers</h2>
<ul>
   <li><a href="https://www.usenetmax.com/">usenetmax</a></li>
   <li><a href="https://xsusenet.com/">xsusenet</a></li>
   <li><a href="https://usenet.farm/#trial">usenet.farm</a></li>
   <li><a href="https://usenetbucket.com/">usenetbucket</a></li>
   <li><a href="https://www.ngprovider.com/free-usenet-trials.php">Free Trials</a></li>
</ul>
<h2 id="-downloaders">▷ Downloaders</h2>
<ul>
   <li><strong><a href="https://sabnzbd.org/">sabnzbd</a></strong></li>
   <li><a href="https://nzbget.net/">nzbget</a></li>
</ul>
<hr>
<h1 id="-file-leeches">► File Leeches</h1>
<ul>
   <li><strong><a href="https://filehostlist.miraheze.org/wiki/Main_Page">Free Premium Leech Wiki</a></strong></li>
   <li><a href="https://t.me/transload">@Transload (telegram)</a></li>
   <li><a href="https://t.me/deltaleechbot">@deltaleechbot (teelgram)</a> </li>
   <li><a href="https://greasyfork.org/en/scripts/13884-multi-och-helper">Multi-OCH Helper</a> - <em>Send Premium Files to Leeches</em></li>
</ul>
<hr>
<h1 id="-file-tools-https-www-reddit-com-r-freemediaheckyeah-wiki-tools-misc-wiki_-25b7_file_tools-">► <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25B7_file_tools">File Tools</a></h1>
</div>
</template>
<script>
export default {
  name: 'd'
}
</script>

<style>

</style>