<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/oYYQHzH.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-download-games">► Download Games</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:cbjowp5sdqg">Game Download Sites Search</a></strong> - <em>Search multiple sites at once</em></li>
   <li><strong><a href="https://rentry.org/pgames-mega-thread">r/PiratedGames Mega Thread</a></strong> - <em>Trusted Game Download &amp; Torrent Sites / <a href="https://discord.gg/5AsChT2WCd">Discord</a></em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/download">Download Piracy Guide</a></strong> - <em>ctrl+f and type &quot;games&quot; or &quot;roms&quot;</em></li>
   <li><strong><a href="https://fitgirl-repacks.site/">FitGirl Repacks</a></strong></li>
   <li><strong><a href="https://masquerade.site/">Masquerade Repacks</a></strong> - <em><a href="https://discord.gg/HP5sQ6c">Discord</a></em></li>
   <li><strong><a href="https://steamunlocked.net/">SteamUnlocked</a></strong> - <em>Use Adblocker</em></li>
   <li><strong><a href="https://cs.rin.ru/">Steam Underground</a></strong></li>
   <li><strong><a href="https://drive.google.com/drive/folders/13wCsLaauqzvKNB7PqwOByC_HYEuNvgak?usp=sharing">5TB Game Drive</a></strong></li>
   <li><a href="https://scooter-repacks.site/">ScOOter Repacks</a> - <em><a href="https://discord.gg/BWKyN8SgvM">Discord</a></em></li>
   <li><a href="https://m4ckd0ge-repacks.me/">M4CKD0GE Repacks</a> - <em><a href="https://discord.gg/693hNBdymb">Discord</a></em></li>
   <li><a href="https://cpgrepacks.site/">CPG</a> - <em><a href="https://discord.gg/dtBSZ9N">Discord</a></em></li>
   <li><a href="https://artemis-repacks.site/">ARTEMiS Repacks</a></li>
   <li><a href="https://darckrepacks.com/">Darck Repacks</a> - <em><a href="https://discord.gg/5eRvDvy">Discord</a></em></li>
   <li><a href="http://dodi-repacks.site/">DODI</a> - <em><a href="https://discord.gg/uE273qJ">Discord</a></em></li>
   <li><a href="https://dlgames.fun/">DLGames</a></li>
   <li><a href="https://gog-games.com/">GoG Games</a></li>
   <li><a href="https://forum.torrminatorr.com/">Torrminatorr</a></li>
   <li><a href="https://discord.gg/zSXWwzav7R">Rekulous Repacks</a></li>
   <li><a href="https://www.kaoskrew.org/">KaOsKrew</a></li>
   <li><a href="https://crohasit.net/">Crohasit</a></li>
   <li><a href="https://lefishe.rf.gd/">Le Fishe Repacks</a> - <em><a href="https://discord.gg/W3MfGDXhAS">Discord</a></em></li>
   <li><a href="https://elamigos.site/">ElAmigos</a>, <a href="https://www.elamigos-games.com/">2</a> </li>
   <li><a href="http://www.blackboxrepack.com/">Black Box Repack</a> </li>
   <li><a href="http://www.ovagames.com/">Ova Games</a></li>
   <li><a href="https://gamesdrive.net/">GamesDrive</a> - <em><a href="https://discord.gg/PKFAnduGtA">Discord</a></em></li>
   <li><a href="https://rihnogames.com/">Rihno Games</a></li>
   <li><a href="https://www.sehsgames.com/">SEHS Gamess</a></li>
   <li><a href="http://www.gameloo.info/">GameLoo</a></li>
   <li><a href="https://gamesflix.net/">Games Flix</a> </li>
   <li><a href="http://legendaryrepacks.simplesite.com/">LegendaryRepacks</a> - <em><a href="https://discord.gg/RUSNHSk">Discord</a> / Adblock &amp; Universal Bypass Required</em></li>
   <li><a href="https://topxgame.com/">TOPXGAME</a></li>
   <li><a href="https://www.abrokegamer.com/">ABrokeGamer</a></li>
   <li><a href="https://drive.google.com/drive/folders/1q4lRUnwVhMQuakl1yM8OH1Je9_92LpXE">LiGHT Repack Archive</a></li>
   <li><a href="https://www.dlfox.com/">DLFox</a></li>
   <li><a href="https://www.dirtygames.xyz/">Dirty Games</a></li>
   <li><a href="https://minerocker-repacksite.000webhostapp.com/">MineRocker Repacks</a> - <em><a href="https://discord.gg/T3kqPaPWvR">Discord</a></em> </li>
   <li><a href="https://crackhub.site/">CrackHub</a> - <em><a href="https://discord.gg/T669D6weqt">Discord</a></em></li>
   <li><a href="https://discord.gg/ZHC6pffMz2">SPiKY Repacks</a> - <em><a href="https://gamesdrive.co/">GamesDrive Uploader</a></em></li>
   <li><a href="https://ali213.net/">Ali213</a> - <em>May Require VPN / Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">translator</a></em></li>
   <li><a href="https://t.me/pc_game_down">pc_game_down</a> - <em>Telegram</em></li>
   <li><a href="https://g4u.to/">g4u</a> - <em>Password: 404</em></li>
   <li><a href="https://www.apunkagames.biz/">ApunKaGames</a> </li>
   <li><a href="https://www.freetogame.com/games">FreeToGame</a> or <a href="https://vsrecommendedgames.fandom.com/wiki/Freeware_Games">/v/&#39;s recommended games wiki</a> - <em>F2P Games</em></li>
   <li><a href="https://libregamewiki.org/List_of_games">LibreGameWiki</a> - <em>FOSS Games</em> </li>
   <li><a href="https://itch.io/games/new-and-popular/featured/free">itch.io</a> or <a href="https://gamejolt.com/games?price=free">Game Jolt</a> - <em>Indie Games</em> </li>
   <li><a href="https://osgameclones.com/">Open Source Game Clones</a> - <em>Game Clones</em></li>
   <li><a href="https://github.com/radek-sprta/awesome-game-remakes">Awesome Game Remakes</a> - <em>Game Remakes</em> </li>
   <li><a href="https://alphabetagamer.com/">Alpha Beta Gamer</a> - <em>Play games in Alpha or Beta Testing</em> </li>
   <li><a href="https://www.gametop.com/">Game Top</a> - <em>Casual PC Games</em> </li>
   <li><a href="https://teknoparrot.com/">TeknoParrot</a> - <em>Modern Arcade Client / <a href="http://teknoparrot.link.free.fr/">Games</a>, <a href="https://www.retroroms.info/forum/topic/Teknoparrot-games.htm">2</a></em></li>
   <li><a href="https://ligurio.github.io/awesome-ttygames/">awesome-ttygames</a> - <em>ASCII Terminal Games</em> </li>
   <li><a href="https://drive.google.com/drive/folders/15QKzyr1Oxddh7CLjVWkD06Sxm6E2YGHm">Misc Windows</a> - <em>Classic Windows XP Games</em></li>
   <li><a href="https://rpgmaker.net/games/?name_filter=&amp;engine=&amp;status=&amp;rating=&amp;commercial=exclude&amp;sort=&amp;portal=None">RPG Maker Games</a> - <em>Games made via RPG Maker</em></li>
   <li><a href="https://t.me/vrpirates">VRPirates</a> - <em>VR Games &amp; Guides / <a href="https://discord.gg/D9rs7TM">Discord</a></em></li>
   <li><a href="http://www.macgamefiles.com/">Macgamefiles</a> - <em>Mac Games</em></li>
   <li><a href="https://de.linuxgame.cn/">de.linuxgame.cn</a> - <em>Linux Games</em> </li>
   <li><a href="https://the-eye.eu/public/Games/Linux/">The-Eye Linux</a> - <em>Linux Games</em></li>
   <li><a href="https://games.kde.org/">The KDE Games Center</a> - <em>Linux Games</em></li>
   <li><a href="https://gload.cc/">Gload</a> - <em>Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Translator</a></em></li>
   <li><a href="https://drive.google.com/file/d/17MB0gCcCMr3QqE_CgJkaxmdXtZk61TdZ/view">GoodOldDownloads Backup</a></li>
   <li><a href="https://1fichier.com/?hy7lsbep6bqtu4loy1j6">PCGames-Download Backup</a></li>
   <li><a href="https://www.cswarzone.com/">CsWaRzOnE</a> - <em>Counter-Strike Downloads / <a href="https://discord.gg/Jd2yfTA">Discord</a></em></li>
   <li><a href="https://www.minetest.net/">Minetest</a> - <em>F2P Minecraft Alternative</em> </li>
   <li><a href="https://github.com/yairm210/Unciv">Unciv</a> - <em>Civ V Remake</em></li>
   <li><a href="https://london2038.com/">London 2038</a> - <em>London 2038 Multiplayer Revival Project</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25BA_free_stuff">Free Game Sites</a> </li>
   <li><a href="https://github.com/SushyDev/vapor-store">Vapor Store</a> - <em>Pirated Game Store / <a href="https://discord.gg/Y4ECqXN">Discord</a> / Works w/ <a href="https://steamunlocked.net/all-games/">steamunlocked</a></em></li>
   <li>/r/RepackWorld - <em>Repack Subreddit</em></li>
</ul>
<hr>
<h1 id="-torrent-games">► Torrent Games</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:pobnsujblyx">Game Torrent Sites Search</a></strong> - <em>Search multiple sites at once</em></li>
   <li><strong><a href="https://rentry.org/pgames-mega-thread">r/PiratedGames Mega Thread</a></strong> - <em>Trusted Game Download &amp; Torrent Sites / <a href="https://discord.gg/5AsChT2WCd">Discord</a></em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/torrent">Torrent Piracy Guide</a></strong> - <em>ctrl+f and type &quot;games&quot; or &quot;roms&quot;</em></li>
   <li><strong><a href="https://fitgirl-repacks.site/">FitGirl Repacks</a></strong></li>
   <li><strong><a href="http://dodi-repacks.site/">DODI</a></strong> - <em><a href="https://discord.gg/uE273qJ">Discord</a></em></li>
   <li><strong><a href="https://s1.rg-mechanics.org/">R.G. Mechanics Games</a></strong> - <em>Trusted mirror of RG&#39;s repacks</em></li>
   <li><a href="https://elamigos.site/">ElAmigos Games</a>, <a href="https://www.elamigos-games.com/">2</a> </li>
   <li><a href="http://www.blackboxrepack.com/">Black Box Repack</a></li>
   <li><a href="https://crotorrents.com/">CroTorrents</a></li>
   <li><a href="https://www.gamestorrents.nu/">GamesTorrents</a></li>
   <li><a href="https://repack.info/">RePack.info</a></li>
   <li><a href="https://freegogpcgames.com/">Free GoG PC Games</a></li>
   <li><a href="https://b.otxataba.net/">Xatab Repack</a>, <a href="https://x5.xatab-repack.com/">2</a></li>
   <li><a href="https://tuttop.com/">Tuttop</a> </li>
   <li><a href="http://www.pleasuredome.org.uk/">Pleasuredome</a></li>
   <li><a href="https://www.dirtygames.xyz/">Dirty Games</a></li>
   <li><a href="https://s1.torrents-igruha.org/">Igruha</a> </li>
   <li><a href="https://topxgame.com/">TOPXGAME</a></li>
   <li><a href="https://www.abrokegamer.com/">ABrokeGamer</a></li>
   <li><a href="https://www.tiny-repacks.win/">Tiny-Repacks</a></li>
   <li><a href="https://alltorrents.co/">AllTorrents</a> - <em>They rec utorrent, but we&#39;d avoid using it</em></li>
   <li><a href="https://gitgud.io/Blank/stv">stv</a> - <em>Encrypted Magnet Links</em></li>
   <li><a href="https://ali213.net/">Ali213</a> - <em>May Require VPN / Use <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">translator</a></em></li>
</ul>
<hr>
<h1 id="-emulation-roms">► Emulation / Roms</h1>
<ul>
   <li><strong><a href="https://emulation.fandom.com/wiki/Computer_specs#Recommended_Specs">Recommended Emulator Specs</a></strong></li>
   <li><strong><a href="https://emulation.gametechwiki.com/">Emulator Index</a></strong></li>
   <li><strong><a href="https://emulation.gametechwiki.com/index.php/ROM_%26_ISO_Sites#Internet_Archive">Rom Site Index</a></strong></li>
   <li><strong><a href="https://www.emuparadise.me/">Emuparadise</a></strong> - <em>Emulators / Roms / <a href="https://redd.it/968sm6">DL Script</a>, <a href="https://openuserjs.org/scripts/tommyoxox/EmuParadise_Download_Workaround_-_1.1.2">2</a>, <a href="https://gist.github.com/Eptun/3fdcc84552e75e452731cd4621c535e9">3</a> / <a href="https://www.epforums.org/">Forum</a></em> </li>
   <li><strong><a href="https://vimm.net/">Vimms Lair</a></strong> - <em>Emulators / Roms</em></li>
   <li><a href="https://emulation.gametechwiki.com/index.php/Multi-system_emulators">Multi System Emulators</a> </li>
   <li><a href="https://romulus.cc/">Romulus</a> - <em>Rom Manager</em> </li>
   <li><a href="https://www.gnarly-repacks.site/">Gnarly Repacks</a> - <em>Roms / <a href="https://discord.gg/rH9wRpu2vh">Discord</a></em> </li>
   <li><a href="https://github.com/Tustin/PlayStationDiscord-Games">PlayStationDiscord-Games</a> - <em>PS4 Remote Play</em> </li>
   <li><a href="https://emulator.games/">Emulator.Games</a> - <em>Browser Emulator / Roms</em></li>
   <li><a href="https://www.gamulator.com/roms">GamulatoR</a> - <em>Browser Emulator / Roms</em></li>
   <li><a href="https://www.playemulator.com/">Play Emulator</a> - <em>Browser Emulator</em> </li>
   <li><a href="https://skitty.xyz/aurora/">Aurora</a> - <em>Browser Emulator</em> </li>
   <li><a href="http://emulator.online/">Emulator.online</a> - <em>Browser Emulator</em> </li>
   <li><a href="https://emulatorgames.online/">Emulator Games Online</a> - <em>Browser Emulator</em> </li>
   <li><a href="https://emulatoronline.com/">Emulator Online</a> - <em>Browser Emulator</em></li>
   <li><a href="http://www.ps1fun.com/">PS1FUN</a> - <em>PS1 Browser Emulator</em> </li>
   <li><a href="https://lyr9c.weebly.com/gba-games.html">LYR9C</a> - <em>GBA Browser Emulator</em> </li>
   <li><a href="https://www.letsplaygb.com/">LetsPlayGB</a> - <em>Game Boy Browser Emulator</em></li>
   <li><a href="http://www.planetemu.net/">PlanetEmu</a> - <em>Emulators</em></li>
   <li><a href="https://www.royalroms.com/">RoyalRoms</a> - <em>Emulators / Roms</em> </li>
   <li><a href="https://www.emucr.com/">EmuCR</a> - <em>Emulators</em></li>
   <li><a href="https://www.retrostic.com/">Retrostic</a> - <em>Emulators / Roms</em></li>
   <li><a href="https://emulanium.com/">Emulanium</a> - <em>Emulators / Roms</em> </li>
   <li><a href="https://www.romsuniverse.com/">RomsUniverse</a> - <em>Emulators / Roms</em> </li>
   <li><a href="https://romsie.com/">Romsie</a> - <em>Emulators / Roms</em></li>
   <li><a href="http://www.emuroms.ch/en">EmuRoms</a> - <em>Emulators / Roms</em></li>
   <li><a href="https://www.consoleroms.com/">ConsoleRoms </a> - <em>Emulators / Roms</em></li>
   <li><a href="http://80s.lt/?dir=Files%2FGames">80s</a> - <em>Emulators / Roms</em> </li>
   <li><a href="https://romsdownload.net/">RomsDownload</a> - <em>Emulators / Roms</em></li>
   <li><a href="https://www.theoldcomputer.com/">The Old Computer</a> - <em>Emulators / Roms</em></li>
   <li><a href="https://www.emulatorgames.net/">Emulator Games</a> - <em>Emulators / Roms</em></li>
   <li><a href="https://roms-download.com/">Roms Download</a> - <em>Emulators / Roms</em> </li>
   <li><a href="https://www.romsget.io/">RomsGet</a> - <em>Emulators / Roms</em></li>
   <li><a href="https://easyroms.com/">EasyRoms</a> - <em>Emulators / Roms</em> </li>
   <li><a href="https://gamewii.net/">Game Wii</a>, <a href="https://downloadgamexbox.com/">All Xbox Game</a> or  <a href="https://downloadgamepsp.com/">DownloadgamePSP</a> - <em>Roms</em></li>
   <li><a href="https://romtohome.com/">RomToHome</a> - <em>Roms</em></li>
   <li><a href="https://edgeemu.net/">EdgeEmulation</a> - <em>Roms</em></li>
   <li><a href="https://romsforever.co/">RomsForever</a> - <em>Roms</em> </li>
   <li><a href="https://replayers.org/">Replayers</a> - <em>Roms</em></li>
   <li><a href="https://wowroms.com/en/">WowRoms</a> - <em>Roms</em></li>
   <li><a href="https://www.freeroms.com/">FreeRoms</a> - <em>Roms</em></li>
   <li><a href="https://nanoroms.com/">NanoRoms</a> - <em>Roms</em></li>
   <li><a href="http://daroms.com/">DaRoms</a> - <em>Roms</em> </li>
   <li><a href="https://www.arcadepunks.com/">Arcade Punks</a> - <em>Roms</em></li>
   <li><a href="https://cdromance.com/">CDRomance</a> - <em>Roms</em></li>
   <li><a href="https://www.loveroms.online/">LoveRoms</a> - <em>Roms</em> </li>
   <li><a href="https://gload.cc/">GLoad</a> - <em>Roms</em></li>
   <li><a href="https://fantasyanime.com/">FantasyAnime</a> - <em>Roms</em> </li>
   <li><a href="http://www.emulanium.com/roms.php">Emulanium</a> - <em>Roms</em></li>
   <li><a href="https://ziperto.com/">Ziperto</a> - <em>Roms</em></li>
   <li><a href="http://legendaryrepacks.simplesite.com/">LegendaryRepacks</a> - <em>Roms / <a href="https://discord.gg/RUSNHSk">Discord</a> / Adblock &amp; Universal Bypass Required</em></li>
   <li><a href="https://emulation.gametechwiki.com/index.php/ROM_%26_ISO_Sites#BitTorrent">Rom Magnet Links</a> - <em>Roms / Torrent</em></li>
   <li><a href="http://www.pleasuredome.org.uk/">Pleasuredome</a> - <em>Roms / Torrent</em></li>
   <li><a href="https://www.nesfiles.com/">NesFiles</a> - <em>NES Roms / Emulators</em> </li>
   <li><a href="https://eclipseemu.me/play/">Eclipse</a> - <em>Online Mobile Multi-Console Emulator</em> </li>
   <li><a href="https://www.reddit.com/r/Roms/">/r/Roms</a> - <em>Discussion sub</em></li>
   <li><a href="https://web.archive.org/web/19990209041732/http://home.hiwaay.net/%7Ejfrohwei/gameboy/home.html">GameBoy Tech Page</a> - <em>Gameboy Tools</em></li>
   <li><a href="https://www.mqp.com/fun/">GameBoy Book Reader</a> - <em>Gameboy Book Reader</em></li>
   <li><a href="https://github.com/TeamShinkansen/Hakchi2-CE">hakchi2 CE</a> - <em>Add More Roms to NES/SNES Classic Mini</em></li>
   <li><a href="https://thehbg.shop/main.html">Homebrew Gang</a> - <em>Switch Homebrew Community</em></li>
</ul>
<hr>
<h2 id="-rom-archives">▷ Rom Archives</h2>
<ul>
   <li><strong><a href="https://archive.org/details/no-intro_romsets">No-Intro</a></strong>, <a href="https://archive.org/details/No-Intro-Collection_2016-01-03_Fixed">2</a>, <a href="https://archive.org/details/No-Intro-Collection_2016-09-06">3</a> - <em>Roms</em></li>
   <li><strong><a href="https://docs.google.com/spreadsheets/d/19tAZ1KNEUZ58e-4kPJGh947alDb1oyrNpzcnCLk7DEE/pubhtml">AlvRo</a></strong>, <a href="https://pastebin.com/79q1mdZm">2</a> - <em>Roms</em></li>
   <li><strong><a href="https://r-roms.github.io/">RomCenter</a></strong>, <a href="https://ybin.me/p/bfc90baa4dd321a4#VO7PWg3gmBRui2NifgKrp0XFN3GOUmpkWesSsH02bDk=">2</a>. <a href="https://rentry.co/24ufx">3</a> - <em>Roms</em></li>
   <li><a href="https://theromdepot.com/">TheRomDepot</a> - <em>Roms</em></li>
   <li><a href="https://archive.org/details/@storage_manager">@Storage_Manager</a> - <em>Roms / Zip</em> </li>
   <li><a href="https://archive.org/details/2020_01_06_fbn">FinalBurn Neo</a> - <em>Roms / Zip</em> </li>
   <li><a href="https://archive.org/details/latest-everdrive-pack-2020-04-16">Everdrive</a> - <em>Roms / Zip</em></li>
   <li><a href="https://mega.nz/file/61hDlYjQ#VQSjdEkNy9TzRbgFQd2-gWSz6w5eEh67xe2tnpmhj50">1,000+ Roms</a> - <em>Roms / Zip</em></li>
   <li><a href="https://drive.google.com/drive/folders/1hzkgLcDsgzwbw7PP7rySDBTEuPEQov9g">各种模拟器rom游戏</a> - <em>Roms / 10TB</em> </li>
   <li><a href="https://mega.nz/folder/ZuRigCwA#5d_K9lRKUXdeaDMog84MGg">Retro Gaming</a> - <em>Roms / 3GB</em></li>
   <li><a href="http://90.230.15.92/">90.230.15.92</a> - <em>Roms</em> </li>
   <li><a href="https://www.gamingalexandria.com/highquality/">Gaming Alexandria</a> - <em>Roms</em></li>
   <li><a href="https://archive.org/details/@manydumpedgames">Many Dumped Games</a> - <em>Roms</em></li>
   <li><a href="https://mega.nz/folder/AdRVCaBZ#bvaOPyNae8N24lquCNen4Q">Nintendo Retro Mega-Pack</a> - <em>Roms / Nintendo</em></li>
   <li><a href="https://archive.org/details/redumpSonyPlaystationAmericaGames02October2017">PS1 Collection</a>, <a href="https://archive.org/details/@john_mr_smith?sort=titleSorter">2</a> - <em>Roms / PS1</em></li>
   <li><a href="https://archive.org/details/RedumpSonyPS2NTSCU">PS2 Collection</a>, <a href="https://archive.org/details/RedumpSonyPS2NTSCUPart2">2</a>, <a href="https://archive.org/details/redumpSonyPlaystation2UsaGames2018Aug01">3</a>, <a href="https://archive.org/details/redumpSonyPlaystation2UsaGames2018Aug01Part2">4</a>, <a href="https://archive.org/details/redumpSonyPlaystation2UsaGames2018Aug01Part3">5</a>, <a href="https://archive.org/details/redumpSonyPlaystation2UsaGames2018Aug01Part4">6</a> - <em>Roms / PS2</em></li>
   <li><a href="https://archive.org/details/ps2pressprotos">ps2pressprotos</a> - <em>PS2 Press Discs &amp; Prototypes</em></li>
   <li><a href="http://s21.bitdl.ir/">PS4 bitdl.ir</a>, <a href="http://s22.bitdl.ir/">2</a>, <a href="http://s23.bitdl.ir/">3</a>, <a href="http://s24.bitdl.ir/">4</a>, <a href="http://s25.bitdl.ir/">5</a>, <a href="http://s26.bitdl.ir/">6</a></li>
   <li><a href="https://www.reddit.com/r/PkgLinks/">/r/PkgLinks</a> - <em>Roms / PS4</em></li>
   <li><a href="https://ps4.td-index.workers.dev/0:/">PS4.td</a> - <em>Roms / PS4</em> </li>
   <li><a href="https://nopaystation.com/">NoPayStation</a> or <a href="https://psndl.net/">PSNDL</a> - <em>Roms / Sony Consoles</em></li>
   <li><a href="https://psp.hm7.moe/">psp.hm7.moe</a> - <em>Modded PSP Collection</em> </li>
   <li><a href="https://archive.org/details/xboxcds?sort=-downloads">Xbox Collection</a> - <em>Roms / Xbox / DDL / Torrents</em></li>
   <li><a href="https://github.com/FailedShack/USBHelperInstaller/releases">WiiU USB Helper</a> - <em>Roms / Wii U</em></li>
   <li><a href="https://drive.google.com/drive/folders/0B7vPmuZfN3snMU0zYlBXSWVhOUE">WiiWare Collection</a> - <em>Roms / WiiWare</em></li>
   <li><a href="https://archive.org/details/RedumpNintendoWiiAmericaPart1">Nintendo Wii Collection</a>, <a href="https://archive.org/details/RedumpNintendoWiiAmericaPart2">2</a>, <a href="https://archive.org/details/RedumpNintendoWiiAmericaPart3">3</a>, <a href="https://archive.org/details/RedumpNintendoWiiAmericaPart5">4</a></li>
   <li><a href="https://www.reddit.com/r/SwitchPirates/">/r/SwitchPirates</a> - <em>Switch hacking forum / guides</em></li>
   <li><a href="https://docs.google.com/spreadsheets/d/1lRMTxSAJiASOdT1ZlCyYrUnXkVt58jg46Y-2w3RrMtA/edit">Switch Collection</a>, <a href="https://nxbrew.com/">2</a>, <a href="https://drive.google.com/drive/folders/1ruAoHmb3uL2Nv_Bl9ZbwE3aGHRWcKqtI">3</a> - <em>Roms / Nintendo Switch</em></li>
   <li><a href="https://archive.org/details/gamecubenaiso">GameCube Collection</a>, <a href="https://archive.org/details/RedumpNintendoGameCubeAmerica">2</a>, <a href="https://archive.org/details/RedumpNintendoGameCubeAmericaPart2">3</a>, <a href="https://archive.org/details/RedumpNintendoGameCubeAmericaPart3">4</a>, <a href="https://archive.org/details/RedumpNintendoGameCube2018Aug25AmericaGamesReUpload">5</a>, <a href="https://1fichier.com/dir/Jini9nFe">6</a> - <em>Roms / GameCube</em></li>
   <li><a href="https://mariocube.com/">MarioCube</a> - <em>Roms / Gamecube / Wii</em> </li>
   <li><a href="https://archive.org/details/Cyles_Gameboy_roms">GameBoy Collection</a>, <a href="https://drive.google.com/drive/folders/1pCXaEjukH0NsTsSCb1F0hNbjs8_-LMXf">2</a>, <a href="https://drive.google.com/drive/folders/1VxjINYMDvvUSRKA_k2aJqq6JzmRQCI1s">3</a>, <a href="https://ufile.io/70vmpyng">Unreleased</a> - <em>Roms / GameBoy</em></li>
   <li><a href="https://archive.org/details/noIntroNintendoDsDecrypted2019Jun30">DS Collection</a>, <a href="https://mega.nz/folder/33AhDa4T#awOqr7lhZYFgjXoMMu6_8w">2</a> - <em>Roms / DS</em></li>
   <li><a href="https://archive.org/details/No-Intro_Nintendo_DSi_2018-06-30">DSi Collection</a> - <em>Roms / DSi</em> + <a href="https://archive.org/details/NintendoDSiDLC2019">DSi DLC</a></li>
   <li><a href="https://www.cia-3ds.com/">Cia 3DS</a>, <a href="https://drive.google.com/drive/u/0/folders/1a1U18ImPv-VunSHanHBDTLht6kVf5AP6">2</a>, <a href="https://archive.org/download/3DSCIA_testitem1">3</a>, <a href="https://drive.google.com/drive/folders/1R5c6-nY5mMns8G1u2tcbYumfTCGXDQ5w">4</a>, <a href="https://drive.google.com/drive/folders/1a9BYbFlhQ96zaKtuL99m8N_r4qv8L_FK">5</a> - <em>Roms / 3DS</em></li>
   <li><a href="https://archive.org/details/CylesSNESRomPack">SNES Collection</a> - <em>Roms / SNES</em></li>
   <li><a href="https://github.com/KMFDManic/NESC-SNESC-Modifications">NESC-SNESC-Modifications</a> - <em>NES, SNES &amp; Playstation Mods</em></li>
   <li><a href="https://archive.org/details/almstcmpltdrmcst">Dreamcast Collection</a> - <em>Roms / Dreamcast</em></li>
   <li><a href="https://archive.org/details/SgaStrnCmplt">Sega Saturn Collection</a> - <em>Roms / Sega Saturn</em></li>
   <li><a href="https://archive.org/details/3DO_2017_Reference_Set_Redump_Validated_ROMs">3DO Roms</a>, <a href="https://archive.org/details/Panasonic-3DO-Redump.org-2019-05-14">2</a> - <em>Roms / 3DO</em></li>
   <li><a href="https://github.com/pkos/datcheck">datcheck</a> - <em>Compare No-Intro / Redump dat files to rom or disc collection</em> </li>
   <li><a href="https://hiddenpalace.org/">HiddenPalace</a> - <em>Game Development Media Archive</em></li>
</ul>
<hr>
<h2 id="-arcade-retro">▷ Arcade / Retro</h2>
<ul>
   <li><strong><a href="https://www.myabandonware.com/">My Abandonware</a></strong> - <em>Browser Emulator / Downloads</em></li>
   <li><strong><a href="https://www.retrogames.cz/">RetroGames</a></strong> - <em>Browser Emulator</em></li>
   <li><strong><a href="https://archive.org/details/consolelivingroom">Console Living Room</a></strong> - <em>Browser Emulator</em> </li>
   <li><strong><a href="https://www.retrogames.cc/">retrogames.cc</a></strong> - <em>Browser Emulator</em></li>
   <li><a href="https://drive.google.com/drive/folders/15A3j8X0IDxNyJC7tPjJ0gvKIPKPaKylO">MISC Windows</a> - <em>Windows 98 / XP Games</em></li>
   <li><a href="https://classicreload.com/">ClassicReload</a> - <em>Browser Emulator</em></li>
   <li><a href="http://www.free80sarcade.com/">Free80sArcade</a> - <em>Browser Emulator</em></li>
   <li><a href="http://www.retrouprising.com/">Retro Uprising</a> - <em>Browser Emulator</em></li>
   <li><a href="https://playclassic.games/">Play Classic Games</a> - <em>Browser Emulator</em></li>
   <li><a href="https://oldgamesdownload.com/">Old Games Download</a> - <em>Roms</em></li>
   <li><a href="https://sites.google.com/site/classicgameroms/">Classic Game Roms</a> - <em>Roms</em></li>
   <li><a href="https://gamesnostalgia.com/">GamesNostalgia</a> - <em>Roms / Amiga</em></li>
   <li><a href="https://www.old-games.com/">Old-Games.com</a> - <em>Roms / PC / Amiga</em></li>
   <li><a href="http://www.atarimania.com/index.html">AtariMania</a> - <em>Browser Emulator / Emulators / Roms / Atari Consoles</em></li>
   <li><a href="https://www.magipack.games/">MagiPack</a> - <em>Retro Games</em> </li>
   <li><a href="http://retrospec.sgn.net/">RetroSpec</a> - <em>Retro Games</em></li>
   <li><a href="http://japanesepccompendium.blogspot.com/">Japanese PC Compendium</a> - <em>Retro Japanese PC Games</em></li>
   <li><a href="https://archive.org/details/TOSEC_V2017-04-23">TOSEC</a>, <a href="https://archive.org/details/tosec">2</a> - <em>The Old School Emulation Center</em></li>
   <li><a href="https://archive.org/details/NEC_PC_Engine_CD-ROM2_System_and_TurboGrafx-CD_2016_Reference_Set_Redump_Validated_ROMs">NEC &amp; Turbografx Collection</a> - <em>Roms / Nec / Turbo</em></li>
   <li><a href="https://archive.org/details/NeoKobe-NecPc-98012017-11-17">Neo Kobe Collection</a>, <a href="https://archive.org/details/Neo_Kobe_NEC_PC-8801_2016-02-25">2</a> - <em>Roms / Neo Kobe</em></li>
   <li><a href="https://mega.nz/folder/F59WkSqQ#quGKSFIswBgv0rxAAaF8Pg">pc-98</a> - <em>PC-98 Games</em></li>
   <li><a href="https://exodos.the-eye.eu/">eXoDOS</a>, <a href="https://www.dosgamesarchive.com/">DOSGamesLibrary</a>, <a href="https://www.dosbox.com/">DOSBox</a>, <a href="http://www.doshaven.eu/">DOS Haven</a>, <a href="http://dos.liquiddoom.net/">LiquidDoom</a>, <a href="https://archive.org/details/softwarelibrary_msdos">The Software Library</a> or <a href="http://www.bestoldgames.net/eng/">Best Old Games</a> - <em>DOS Games</em></li>
   <li><a href="http://www.abandonia.com/">Abandonia</a>, <a href="http://www.xtcabandonware.com/">XTCabandonware</a> or <a href="https://vetusware.com/category/Games/?cat=7">VETUSWARE</a> - <em>Abandonware</em></li>
   <li><a href="http://www.reloaded.org/">Remakes Reloaded</a> - <em>Remakes of Classics</em></li>
   <li><a href="https://www.gnarly-repacks.site/">Gnarly Repacks</a> - <em>Roms / Arcade / Retro / <a href="https://discord.gg/rH9wRpu2vh">Discord</a></em> </li>
   <li><a href="https://wad-archive.com/">Wad Archive</a> - <em>83k WAD Files</em></li>
   <li><a href="https://classicdosgames.com/">Classic Games</a> - <em>Classic &amp; Retro Game Archive</em></li>
   <li><a href="http://www.oldgamesfinder.com/?">Old Game Finer</a> - <em>Classic Game Search Engine</em></li>
   <li><a href="http://www.cs.cmu.edu/~wsr/IF/">The Interactive Fiction Page</a> - <em>Interactive Fiction Games</em></li>
   <li><a href="https://necromanthus.com/">Necromanthus</a> - <em>3D Shockwave Games</em></li>
   <li><a href="https://m210.duke4.net/">BuildGDX</a> or <a href="https://github.com/coelckers/Raze/">RAZE</a> - <em>Oldschool Shooter Engine / <a href="https://discord.gg/zZw2eq3n7G">Discord</a></em> </li>
   <li><a href="https://openra.net/">OpenRA</a> - <em>Command &amp; Conquer Recreation</em> </li>
   <li><a href="https://www.removeddit.com/r/Piracy/comments/ewdlnd/for_anyone_looking_for_the_actual_classic/">Classic Warcraft 3 Installers</a> </li>
   <li><a href="http://nolfrevival.tk/">NolfRevival</a> - <em>NOLF, NOLF 2 &amp; Contract Jack</em></li>
   <li><a href="https://openmw.org/en/">OpenMW</a> - <em>Morrowind Remake / <a href="https://github.com/OpenMW/openmw">GitHub</a> / <a href="https://github.com/TES3MP/openmw-tes3mp/">Multiplayer</a> / <a href="https://github.com/xyzz/openmw-android">Android</a></em></li>
   <li><a href="https://wildkustomcars.weebly.com/">NR2003</a> - <em>Modded Nascar 2003</em></li>
   <li><a href="http://classicdoom.com/">Classic DOOM</a> - <em>Classic Doom Downloads</em> </li>
   <li><a href="https://www.doomworld.com/">DoomWorld</a> - <em>Doom Downloads / Wads / Mods / Editing</em> </li>
   <li><a href="https://github.com/Akbar30Bill/DOOM_wads">Doom_wads</a> or <a href="http://www.doomwadstation.net/">Doom Wad Station</a> - <em>Doom Wads</em> </li>
   <li><a href="https://www.zdoom.org/downloads">ZDoom</a> - <em>Doom Source Port</em> </li>
   <li><a href="https://drive.google.com/file/d/1B8ze1SPpwE0DI1nDKkyS4iXyfLsO_DbV/view?usp=sharing">Br0legs Zandronum</a> - <em>Doom Mods</em> </li>
   <li><a href="https://zandronum.com/">Zandronum</a> or <a href="http://doomseeker.drdteam.org/">Doomseeker</a>  - <em>Online Multiplayer Doom</em> </li>
   <li><a href="https://doom64ex.wordpress.com/downloads/">Doom64 EX</a> - <em>Doom 64 PC Port</em> </li>
   <li><a href="https://github.com/RandalLinden/DOOM-FX">DOOM FX</a> - <em>Doom SNES Source Code</em></li>
   <li><a href="https://unrealarchive.org/index.html">Unreal Archive</a> - <em>Unreal Tournament Mods, Maps, Skins ect.</em></li>
   <li><a href="https://github.com/LTCHIPS/rottexpr">rottexpr</a> - <em>Rise of the Triad Source Port</em></li>
   <li><a href="https://maniacsvault.net/ecwolf/">ECWolf</a> - <em>Wolfenstein 3D, Spear of Destiny &amp; Super 3D Noah&#39;s Ark Port</em></li>
   <li><a href="https://kosmi.io/openarena">OpenArena Live</a> - <em>Quake III Arena Clone</em> </li>
   <li><a href="https://alephone.lhowon.org/">Aleph One</a> - <em>Open-Source Marathon Continuation</em> </li>
   <li><a href="https://drive.google.com/file/d/1VFvOYKyjyFwH5sqSL5mz_jl3SdIUcAOY/view?usp=sharing">Powerslave EX</a> - <em>Powerslave PC Port</em> </li>
   <li><a href="https://github.com/Dzierzan/OpenSA">OpenSA</a> - <em>Swarm Assault Recreation / <a href="https://www.moddb.com/mods/opensa">OpenRA Required</a> / <a href="https://dzierzan.itch.io/opensa">Non OpenRA Version</a></em></li>
   <li><a href="https://mars3d-game.wixsite.com/index">Mars 3D</a> - <em>Mars 3D Translation &amp; Remake</em></li>
   <li><a href="https://jellymar.io/">Jelly Mario</a> - <em>Jelly Super Mario</em></li>
   <li><a href="https://froggi.es/mario/">frogg.ies mario</a> - <em>Play Super Mario 64 in Browser</em> </li>
   <li><a href="https://github.com/n64decomp/sm64">sm64</a> - <em>Super Mario 64 Decompilation / <a href="https://discord.gg/duyh3fh">Discord</a> / <a href="https://youtu.be/rQVpfWYT0eg">Guide</a></em> </li>
   <li><a href="https://gtkatlantic.gradator.net/index.html">GtkAtlantic</a> or <a href="http://monopolie.sourceforge.net/index.shtml">Monopolie</a> - <em>Open Source Monopoly</em></li>
   <li><a href="https://worldsbiggestpacman.com/">The World&#39;s Biggest Pac-Man</a> - <em>Pac-man</em></li>
   <li><a href="https://tetris.com/">Tetris</a> or <a href="https://sourceforge.net/projects/opentetrisclassic/">OpenTetris Classic</a> - <em>Play Tetris</em></li>
   <li><a href="https://tetr.io/">TETR.IO</a> - <em>Multiplayer Tetris</em></li>
   <li><a href="https://firstpersontetris.com/">First Person Tetris</a> - <em>Play Tetris in First Person</em> </li>
   <li><a href="https://playsnake.org/">Play Snake</a> - <em>Retro Snake</em> </li>
   <li><a href="https://www.onemotion.com/snake-game/">Snake-Game</a> - <em>3D Snake</em></li>
   <li><a href="http://www.proasm.com/">ProAsm</a> - <em>Retro Game Mods</em></li>
</ul>
<hr>
<h1 id="-browser-games">► Browser Games</h1>
<ul>
   <li><strong><a href="https://freerice.com/">Free Rice</a></strong> - <em>Play a game while earning rice for the World Food Programme, turn off adblocker</em></li>
   <li><strong><a href="https://www.delugerpg.com/">DelugeRPG</a></strong> - <em>Pokemon RPG Simulation</em></li>
   <li>/r/WebGames</li>
   <li><a href="https://www.newgrounds.com/games">Newgrounds</a></li>
   <li><a href="https://armorgames.com/">Armor Games</a></li>
   <li><a href="https://www.kongregate.com/">Kongregate</a></li>
   <li><a href="https://weboas.is/arcade/">Weboasis Arcade</a></li>
   <li><a href="https://www.addictinggames.com/">Addicting Games</a></li>
   <li><a href="http://www.onemorelevel.com/">OneMoreLevel</a></li>
   <li><a href="https://miniclip.com/">Miniclip</a></li>
   <li><a href="http://www.notdoppler.com/">Not Doppler</a> </li>
   <li><a href="https://www.nitrome.com/">Nitrome</a> </li>
   <li><a href="https://poki.com/">Poki</a></li>
   <li><a href="https://www.y8.com/">Y8</a> </li>
   <li><a href="https://www.arkadium.com/">Arkadium</a></li>
   <li><a href="https://www.crazygames.com/">Crazy Games</a></li>
   <li><a href="https://ncase.me/">Nicky Case</a> </li>
   <li><a href="https://www.gamepix.com/">Gamepix</a></li>
   <li><a href="https://www.minigames.com/">MiniGames</a></li>
   <li><a href="https://www.gamingwonderland.com/">Gaming Wonderland</a></li>
   <li><a href="https://www.gametop.com/online/index.html">Game Top</a></li>
   <li><a href="http://www.foddy.net/category/games/browser/">Foddy</a></li>
   <li><a href="https://www.alfy.com/">ALFY</a></li>
   <li><a href="https://www.gamekb.com/">GameKB</a></li>
   <li><a href="https://www.classicgame.com/">ClassicGame</a></li>
   <li><a href="http://dan-ball.jp/en/">DAN-BALL</a></li>
   <li><a href="https://graebor.itch.io/">itch.io</a>, <a href="https://grey2scale.itch.io/">2</a>, <a href="https://ncase.itch.io/">3</a>, <a href="https://capsquared.itch.io/">4</a>, <a href="https://evilobjective.itch.io/">5</a></li>
   <li><a href="https://www.cartoonnetwork.com/games/index.html">Cartoon Network Games</a></li>
   <li><a href="https://www.wbkidsgo.com/">WBKidsGo</a></li>
   <li><a href="https://lol.disney.com/games/">Disney Games</a>, <a href="https://disneynow.com/all-games">2</a></li>
   <li><a href="https://www.lego.com/en-us/kids/games">Lego Games</a></li>
   <li><a href="https://friv.com/">Friv</a>, <a href="https://web.archive.org/web/*/Friv.com">2</a></li>
   <li><a href="https://ninjakiwi.com/">Ninjakiwi</a> - <em>Browser Games / Bloons / Multiplayer</em></li>
   <li><a href="https://github.com/leereilly/games">Games on GitHub</a> - <em>GitHub Hosted Games</em></li>
   <li><a href="http://nekogames.jp/">Nekogames</a> - <em>Japanese Games</em> </li>
   <li><a href="http://www.arcadeprehacks.com/">ArcadePrehacks</a> - <em>Hacked Games</em> </li>
   <li><a href="https://iogames.space/">iogames.space</a> - <em>.io Games</em> </li>
   <li><a href="http://www.ferryhalim.com/orisinal/">Orisinal</a>, <a href="http://www.billsgames.com/">BillsGames</a> or <a href="http://www.pitstreet.com/">pitStreet</a> - <em>Simple Games</em> </li>
   <li><a href="https://www.girlsgogames.com/">GirlsGoGames</a> - <em>Games for Girls</em></li>
   <li><a href="http://www.nickjr.com/games/">Nick Jr. Games</a> or <a href="https://pbskids.org/games/">PBS Kids Games</a> - <em>Games for Kids</em></li>
   <li><a href="https://www.airconsole.com/">AirConsole</a> - <em>Play Games on TV with your Phone as a Controller</em> </li>
   <li><a href="https://www.surrogate.tv/">Surrogate</a> - <em>Remote Control Real Life Games</em> </li>
   <li><a href="https://robotstreamer.com/">RobotStreamer</a> - <em>Live Control Robots</em> </li>
   <li><a href="https://www.linerider.com/">Line Rider</a> - <em>Draw Sled Tracks</em></li>
   <li><a href="https://www.freeriderhd.com/">Free Rider HD</a> - <em>Draw / Race Bike Tracks</em></li>
   <li><a href="https://kripken.github.io/misc-js-benchmarks/banana/index.html">BananaBread</a> - <em>Bot FPS</em> </li>
   <li><a href="https://dynast.io/">Dynast</a> - <em>Survival Browser Game</em></li>
   <li><a href="https://mexicantrain.online/">Mexican Train</a> - <em>Domino Train Game</em></li>
   <li><a href="http://gridland.doublespeakgames.com/">Gridland</a> - <em>Grid Matching RPG</em></li>
   <li><a href="http://slavehack2.com/">SlaveHack2</a> - <em>Hacking Game</em></li>
   <li><a href="https://2020game.io/">2020 Game</a> - <em>Play through 2020</em> </li>
   <li><a href="https://flappybird.io/">Flappy Bird</a> - <em>HTML5 Flappy Bird</em></li>
   <li><a href="http://www.foddy.net/Athletics.html">QWOP</a> - <em>Ragdoll Running Game</em></li>
   <li><a href="http://oos.moxiecode.com/js_webgl/ping_pong/">Ping Pong</a> - <em>WebGL Ping Pong</em></li>
   <li><a href="https://dinoswords.gg/">Dino Swords</a> - <em>Stay Alive by Jumping / Destroying Cacti</em> </li>
   <li><a href="https://the-circle.app/">The Circle</a> - <em>Dodge Circles</em> </li>
   <li><a href="https://proxx.app/">PROXX</a> - <em>A Game of Proximity</em> </li>
   <li><a href="https://www.decisionproblem.com/paperclips/index2.html">Universal paperclips</a> - <em>A Paperclip Creation Simulator</em>  </li>
   <li><a href="https://thefounder.biz/">The Founder</a> - <em>Run a Start-Up</em> </li>
   <li><a href="https://totaljerkface.com/">TotalJerkFace</a> - <em>Happy Wheels &amp; More</em></li>
   <li><a href="https://connectthestars.xyz/">ConnectTheStars</a> - <em>Connect Stars through Movies</em></li>
   <li><a href="https://www.blaseball.com/">Blaseball</a> - <em>Odd Baseball Simulation Game</em> </li>
   <li><a href="https://ninja-muffin24.itch.io/funkin">Friday Night Funkin</a> - <em>Rhythm Game / <a href="https://ninja-muffin24.itch.io/friday-night-funkin">Prototype</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_text_adventures">Text Adventures</a> - <em>Interactive Text Adventures</em></li>
   <li><a href="http://www.amazeworld.com/">Amazeworld</a> - <em>Interactive Webmazes</em></li>
   <li><a href="https://littlealchemy.com/">Little Alchemy</a> or <a href="https://littlealchemy2.com/">Little Alchemy 2</a> - <em>Alchemy Game</em></li>
   <li><a href="https://alexanderperrin.com.au/paper/shorttrip/">Short Trip</a> - <em>Relaxing Cat Game</em> </li>
   <li><a href="https://quickdraw.withgoogle.com/">Quick, Draw</a> - <em>Doodle Game</em></li>
   <li><a href="http://www.raptjs.com/">Raptjs</a> - <em>Puzzle Platformer</em></li>
   <li><a href="http://synesthesiagame.com/">Synesthesia in Space</a> - <em>Puzzle Platformer</em></li>
   <li><a href="https://dorime.udany.net/">Tales of Dorime</a> - <em>2D Platformer</em></li>
   <li><a href="http://factoryidle.com/">FactoryIdle</a> - <em>Factory Sim</em></li>
   <li><a href="https://3rdworldfarmer.org/">3rd World Farmer</a> - <em>Farm Sim</em></li>
   <li><a href="https://orbity.io/game.php">Orbity</a> - <em>Space Ship Launching Game</em> </li>
   <li><a href="http://clickingbad.nullism.com/">Clicking Bad</a> - <em>Clicker Game / Become Walter White</em> </li>
   <li><a href="https://www.thewikigame.com/">The Wiki Game</a>, <a href="https://www.sixdegreesofwikipedia.com/">Six Degrees of Wikipedia</a>, <a href="https://wikiracer.io/">WikiRacer</a> - <em>Find the Shortest Path between Wiki Articles / <a href="https://gitlab.com/johanbluecreek/wikiracer">Automation Tool</a></em></li>
   <li><a href="https://www.geo-fs.com/geofs.php">GeoFS</a> - <em>Plane Simulator</em></li>
   <li><a href="https://classic.minecraft.net/">Classic Minecraft</a> - <em>Play Classic Minecraft</em> </li>
   <li><a href="https://marbleblast.vani.ga/">Marble Blast Gold Web</a> - <em>Marble Blast Gold in Browser</em></li>
   <li><a href="https://flavourmachine.com/">Flavour Machine</a> - <em>Twists to well known games</em></li>
   <li><a href="https://bloodrizer.ru/games/kittens/">Kittens Game</a> - <em>Make your own kitten civilization</em></li>
   <li><a href="http://www.badgerkingdom.pantomimepony.co.uk/">Badger Kingdom</a> - <em>Manage a group of badgers, help them survive</em>  </li>
   <li><a href="https://blastarena.io/">Blast Arena</a> - <em>BomberMan Like Game</em> </li>
   <li><a href="https://s-macke.github.io/FSHistory/">FSHistory</a> - <em>Play Classic Flight Simulator</em> </li>
   <li><a href="https://msmemorial.if-legends.org/msa2/msa2.html">Magnetic Scripts</a> - <em>Magnetic Scrolls</em> </li>
   <li><a href="http://www.playprosperity.ca/">Prosperity</a> - <em>Rebuild a civilization</em></li>
   <li><a href="http://www.neopets.com/">Neopets </a> or <a href="https://www.marapets.com">Marapets</a> - <em>Virtual Pet Game</em> </li>
   <li><a href="https://www.gaiaonline.com/">Gaia Online</a> - <em>Anime Virtual Pet</em> </li>
   <li><a href="http://www.furvilla.com/">Furvilla</a> - <em>Furry Virtual Pet Game</em> </li>
   <li><a href="http://www.forumwarz.com/">Forumwarz</a> - <em>Browser RPG</em>  </li>
   <li><a href="https://www.kingdomofloathing.com/">Kingdom of Loathing</a> - <em>Comedy RPG</em> </li>
   <li><a href="https://explodingrabbit.com/games/super-mario-bros-crossover/">Super Mario Bros Crossover</a> - <em>Play SMB as characters from other games</em></li>
   <li><a href="https://bruno-simon.com/">Bruno-Simon</a> - <em>Truck Driving Game</em></li>
   <li><a href="http://anism.org/lotw/">A Leaf on the Wind</a> - <em>Leaf Arcade Game</em> </li>
   <li><a href="https://www.polkadotgame.com/">Polka Dot Game</a> - <em>Dodge &amp; Eat Dots</em></li>
   <li><a href="http://swooop.playcanvas.com/">SWOOOP</a> - <em>Fly a Bi-Plane around an Island</em> </li>
   <li><a href="https://playcanv.as/p/JERg21J8/">Master Archer</a> - <em>Archery Game</em> </li>
   <li><a href="https://playcanv.as/p/Ikq6Uk6A/">Galaxies</a> - <em>Space Combat Game</em> </li>
   <li><a href="https://playcanv.as/p/3G3RnfUz/">Orbital Survival</a> - <em>Survive Waves of UFOs</em> </li>
   <li><a href="https://doodlecricket.github.io/index.html#/">Doodle Cricket</a> - <em>Play Cricket as a Cricket</em> </li>
   <li><a href="http://tanksw.com/impossible-rush/">Impossible Rush</a> - <em>Reflex Testing Game</em></li>
   <li><a href="https://plaza.dsolver.ca/">Incremental Games Plaza</a> or <a href="http://almostidle.com/">Almost Idle</a> - <em>Incremental Games Index</em></li>
   <li><a href="https://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a> / <a href="http://orteil.dashnet.org/experiments/cookie/">2</a>, <a href="http://monolith.greenpixel.ca/">The Monolith</a>, <a href="https://warclicks.com/">WarClicks</a>, <a href="http://www.digitalchestnut.com/merryclickmas/">Merry Clickmas</a> - <em>Incremental Clicker</em>   </li>
   <li><a href="https://creativetechguy.com/mousepoint">MousePoint</a> - <em>Mouse Pointing Game</em></li>
   <li><a href="https://piccolo.click/web/">Piccolo</a> - <em>Othello AI</em> </li>
   <li><a href="https://github.com/klimaleksus/FindTwin">FindTwin</a> - <em>Find the Twins</em> </li>
   <li><a href="http://www.findtheinvisiblecow.com/">Find the Invisible Cow</a> - <em>Find an Invisible Cow with Sound</em></li>
   <li><a href="http://abw.blue/">Alternate History Simulator</a> - <em>Write Alternate History</em> </li>
   <li><a href="https://www.nationstates.net/">NationStates</a> - <em>Nation Simulation Game</em> </li>
   <li><a href="http://www.footballwarroom.com/">Football War Room</a> - <em>Football Ownership Simulator</em></li>
   <li><a href="https://cookieconsentspeed.run/">Cookie Consent Speed.Run</a> - <em>Cookie Disabling Game</em></li>
   <li><a href="https://candybox2.github.io/">CandyBox</a> - <em>Candy Eating Game</em> </li>
   <li><a href="https://github.com/hairarrow/btship">BTShip</a> - <em>Typescript Boat Game</em></li>
   <li><a href="https://www.epgsoft.com/maze/">Maze</a> - <em>Maze Generator</em></li>
   <li><a href="http://brantsteele.net/">BrantSteele</a> - <em>Game Show Simulators</em></li>
   <li><a href="https://www.thepointless.com/apps/shooty-ship-pumpkin-smash/index.html">Shooty Ship Pumpkin Smash</a> - <em>Shoot Pumpkins</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/edu#wiki_.25B7_games">Educational Games</a></li>
</ul>
<hr>
<h2 id="-multiplayer">▷ Multiplayer</h2>
<ul>
   <li><a href="https://playingcards.io/">PlayingCards</a> </li>
   <li><a href="http://www.flyordie.com/">FlyOrDie</a> </li>
   <li><a href="https://jklm.fun/">JKLM.FUN</a> </li>
   <li><a href="https://jackbox.tv/">JackBox.tv</a> </li>
   <li><a href="https://www.playok.com/">Playok</a></li>
   <li><a href="https://ninjakiwi.com/">Ninjakiwi</a> - <em>Browser Games / Bloons</em></li>
   <li><a href="https://krunker.io/">Krunker.io</a>, <a href="https://venge.io/">Venge</a> or <a href="https://robofight.io/">RoboFight</a> - <em>PvP FPS / <a href="https://github.com/Mixaz017/idkr">Client</a></em></li>
   <li><a href="https://cs-online.club/">CS-ONLINE.CLUB</a>, <a href="https://game.cs-online.club/">2</a> - <em>Play Counter Strike in Browser</em> </li>
   <li><a href="https://bruh.io/">Bruh.io</a>, <a href="https://play.bruh.io/">2</a> - <em>Top Down Battle Royal</em> </li>
   <li><a href="https://zombsroyale.io/">ZombsRoyale.io</a> - <em>Zombie Battle Royale</em> </li>
   <li><a href="https://1v1.lol/">1v1.LOL</a> - <em>1v1 Building / Battle Sim</em></li>
   <li><a href="https://miniroyale2.io/">MiniRoyale</a> - <em>Battle Royal Game</em> </li>
   <li><a href="http://wings.io/">Wings.io</a> - <em>Multiplayer Plane Battles</em></li>
   <li><a href="https://curvefever.pro/">Curve Fever</a> - <em>Multiplayer Line Battles</em></li>
   <li><a href="http://slither.io/">Slither.io</a> or <a href="http://play.worm.is/">worm.is</a> - <em>Grow the longest worm</em></li>
   <li><a href="https://diep.io/">diep.io</a> - <em>Become the strongest tank</em> </li>
   <li><a href="http://www.hexar.io/">Hexar.io</a>, <a href="https://splix.io/">splix.io</a> or <a href="https://paper-io.com/">paper-io</a> - <em>Control the Map</em>   </li>
   <li><a href="http://play.mitos.is/">mitos.is</a> - <em>Become the Biggest Cell</em> </li>
   <li><a href="https://agar.io/">agar.io</a> - <em>Become the Biggest Circle</em> </li>
   <li><a href="https://hole-io.com/">Hole.io</a> - <em>Become the Biggest Hole / <a href="https://discord.gg/TS33SU2">Discord</a></em> </li>
   <li><a href="http://spinz.io/">Spinz.io</a> - <em>Fidget Spinner Battles</em></li>
   <li><a href="https://manygolf.club/">Manygolf</a> - <em>Multiplayer Golf</em></li>
   <li><a href="https://tankionline.com/">Tanki</a> - <em>Online Team VS Team Tank Game</em> </li>
   <li><a href="http://labs.dinahmoe.com/plink/">Plink</a> - <em>Multiplayer Music Game</em> </li>
   <li><a href="https://www.toomanychefs.party/">Too Many Chefs</a> - <em>Text-Based Coop Cooking Game</em> </li>
   <li><a href="https://www.haxball.com/">Haxball</a> - <em>Physics Based Multiplayer Soccer</em></li>
   <li><a href="https://skribbl.io/">skribbl</a> or <a href="https://gartic.io/">Gartic</a> - <em>Drawing / Guessing Game / Multiplayer</em></li>
   <li><a href="http://powerline.io/">Powerline.io</a> or <a href="https://www.games1729.com/serpentron/">Games 1729</a> - <em>Multiplayer Snake</em></li>
   <li><a href="https://robostorm.io/">RoboStorm</a> - <em>Robot Battle Game</em> </li>
   <li><a href="https://www.gpro.net/gb/gpro.asp">GPRO</a> - <em>Multiplayer F1 Manager Game</em></li>
   <li><a href="https://www.miniconomy.com/">Miniconomy</a> - <em>Multiplayer Economy Game</em></li>
   <li><a href="https://tix.tax/">tix.tax</a> - <em>Ultimate Tic-Tac-Toe</em></li>
   <li><a href="https://playtictactoe.org/">PlayTicTacToe</a> - <em>Tic-Tac-Toe</em> </li>
   <li><a href="https://gameknot.com/">GameKnot Chess</a> - <em>Multiplayer Chess</em></li>
   <li><a href="https://www.kfchess.com/">Kung Fu Chess</a> - <em>Real-Time Chess w/o Turns</em> </li>
   <li><a href="https://allbad.cards/">AllBad.Cards</a> or <a href="https://cardsagainstformality.io/">CardsAgainstFormality</a> - <em>Cards Against Humanity Online</em> </li>
   <li><a href="https://www.247freepoker.com/">247 Free Poker</a> - <em>Simple Poker Online</em> </li>
   <li><a href="http://www.kdice.com/">KDice</a> - <em>Multiplayer Dice War</em></li>
</ul>
<hr>
<h2 id="-board-card-dice">▷ Board / Card / Dice</h2>
<ul>
   <li><a href="https://www.boardgame-online.com/">Board Game Online</a>, <a href="https://curlie.org/en/Games/Video_Games/Recreation/Browser_Based/Board_Games">Curlie Board Games</a> or <a href="https://www.funnode.com/">FunNode</a> - <em>Board Games</em> </li>
   <li><a href="http://www.dpoetry.com/fires/">The Bafflement Fires</a> - <em>1950&#39;s Freemasonic Board Game</em></li>
   <li><a href="https://gameknot.com/">GameKnot Chess</a> - <em>Multiplayer Chess</em></li>
   <li><a href="https://pippinbarr.github.io/chesses/">Chesses</a> - <em>Multiple Styles of Chess</em> </li>
   <li><a href="https://lichess.org/">lichess</a>, <a href="http://chess.delorie.com/">WebChess</a> or <a href="https://www.chess.com/">Chess.com</a> - <em>Chess Platform</em> </li>
   <li><a href="https://vole.wtf/kilobytes-gambit/">The Kilobyte’s Gambit</a> - <em>1k Chess Game</em> </li>
   <li><a href="https://www.kfchess.com/">Kung Fu Chess</a> - <em>Real-Time Chess w/o Turns</em> </li>
   <li><a href="https://allbad.cards/">AllBad.Cards</a> or <a href="https://cardsagainstformality.io/">CardsAgainstFormality</a> - <em>Cards Against Humanity Online</em> </li>
   <li><a href="https://curlie.org/en/Games/Video_Games/Recreation/Browser_Based/Cards">Curlie Cards</a> - <em>Card Games Index</em></li>
   <li><a href="https://worldofcardgames.com/">WorldOfCardGames</a> or <a href="https://worldofsolitaire.com/">World of Solitaire</a> - <em>Card Games</em></li>
   <li><a href="https://www.mah-jongg.ch/">Mah-Jongg</a> - <em>Mahjongg Solitaire Games</em></li>
   <li><a href="https://www.247freepoker.com/">247 Free Poker</a> - <em>Simple Poker Online</em> </li>
   <li><a href="http://www.kdice.com/">KDice</a> - <em>Multiplayer Dice War</em></li>
   <li><a href="https://curlie.org/en/Games/Video_Games/Recreation/Browser_Based/Dice/Yahtzee">Curlie Yahtzee</a> - <em>Yahtzee Sites Collection</em></li>
</ul>
<hr>
<h2 id="-puzzle-games">▷ Puzzle Games</h2>
<ul>
   <li><a href="http://masasgames.com/index.html">MasasGames</a> - <em>Virtual Escape Rooms</em></li>
   <li><a href="https://suppilulemur.neocities.org/">Sokoban</a> - <em>Box Moving Puzzle Game / Zelda-Themed</em></li>
   <li><a href="https://www.bestcrosswords.com/">BestCrosswords</a>, <a href="https://games.usatoday.com/games/uclick-crossword">USAToday</a> or <a href="https://jimbly.github.io/regex-crossword/">Regex-Crossword</a> - <em>Crossword Puzzles / <a href="https://puzzlemaker.discoveryeducation.com/">Creator</a> / <a href="https://www.wordplays.com/">Solver</a>, <a href="https://www.dictionary.com/e/crosswordsolver/">2</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_jigsaw_puzzles">Jigsaw Puzzles</a> - <em>Online Jigsaw Puzzles</em></li>
   <li><a href="https://iamthecu.be/">Rubik’s Cube Explorer</a> or <a href="https://bsehovac.github.io/the-cube/">The Cube</a> - <em>Solve a Rubix Cube / <a href="https://rubiksolve.com/">Solver</a></em> </li>
   <li><a href="https://duckduckgo.com/?q=play+2048&amp;ia=answer">DuckDuckgo 2048</a> or <a href="https://play2048.co/">2048</a> - <em>Play 2048</em></li>
   <li><a href="https://www.rockbasher.com/">Rockbasher</a> - <em>Retro Style Puzzle Game</em></li>
   <li><a href="https://theblocks.netlify.app/">Blocks</a> - <em>Puzzle Game</em> </li>
   <li><a href="http://gameaboutsquares.com/">Game about Squares</a> - <em>Puzzle Game</em></li>
   <li><a href="https://www.euclidea.xyz/">Euclidea</a> - <em>Geometric Puzzles</em></li>
   <li><a href="https://www.menneske.no/eng/">Menneske</a> - <em>Number Puzzles</em> </li>
   <li><a href="https://babbl.xyz/">babble.xyz</a> - <em>Infinite Scrabble</em></li>
   <li><a href="https://wordhub.com/">WordHub</a> - <em>Scrambled Word Game</em></li>
</ul>
<hr>
<h2 id="-guessing-games">▷ Guessing Games</h2>
<ul>
   <li><a href="https://skribbl.io/">skribbl</a> or <a href="https://gartic.io/">Gartic</a> - <em>Drawing / Guessing Game / Multiplayer</em></li>
   <li><a href="https://cer0zz.itch.io/guessme">GuessMe!</a> - <em>Guess Answers</em></li>
   <li><a href="https://www.geoguessr.com/">GeoGuessr</a> or <a href="https://geotastic.de/">Geotastic</a> - <em>Location Guessing Game</em></li>
   <li><a href="https://virtualvacation.us/guess">City Guesser</a> - <em>City Guessing Game</em> </li>
   <li><a href="https://languageguesser.com/">LanguageGuesser</a> - <em>Guess Music Video Languages</em> </li>
   <li><a href="https://www.schoolprison.com/">schoolprison</a> - <em>Is this Building a School or Prison?</em> </li>
   <li><a href="http://www.higherlowergame.com/">The Higher Lower Game</a> - <em>Guess What&#39;s Googled More</em></li>
   <li><a href="https://guesstheprice.net/">Guess The Price</a> - <em>Price Guessing Game</em> </li>
   <li><a href="https://damn.dog/">damn.dog</a> - <em>wikiHow Guessing Game</em></li>
   <li><a href="https://gearoid.me/pokemon/">Gearoid Pokemon</a> - <em>Pokemon Guessing Game</em></li>
</ul>
<hr>
<h2 id="-flash-games">▷ Flash Games</h2>
<ul>
   <li><a href="https://i.imgur.com/T6huIGF.png">How to Download and Play Flash Games</a>, <a href="https://www.wikihow.com/Download-a-Flash-Game">2</a></li>
   <li>To Play old Shockwave Games Install <a href="https://www.adobe.com/products/shockwaveplayer/shwv_distribution3.html">Adobe Shockwave</a> &amp; <a href="http://kmeleonbrowser.org/">K-Meleon Browser</a></li>
   <li><a href="https://drive.google.com/drive/folders/1p_kDd9uJz72S3m9o7ka136fxCWPEBKEG?usp=sharing">Rek&#39;s Flash Game Collection</a> - <em>Archive</em> </li>
   <li><a href="https://archive.org/details/softwarelibrary_flash">Software Library: Flash</a> - <em>Archive</em> </li>
   <li><a href="http://bluemaxima.org/flashpoint/">BlueMaxima</a> - <em>Archive / <a href="https://discord.gg/Z4gGtJvvn8">Discord</a></em> </li>
   <li><a href="https://drive.google.com/drive/folders/1U8tJfJr_3Cg-PXL7PQshZOp2ukvVippm">Flash Games Collection</a> - <em>Archive</em> </li>
   <li><a href="https://drive.google.com/file/d/1ylHk46vdV1dZcfUUSNDAT7F2RVoi8FFS/">ClassicGames.rar</a> - <em>Archive / pw:paluch</em></li>
   <li><a href="http://flashbynight.com/">Flash by Night</a> - <em>Browser Games</em></li>
   <li><a href="https://archive.org/details/flash_repair_shop">The Flash Emulation Repair Shop</a> - <em>Flash Games Under Repair</em></li>
   <li><a href="http://www.arcadeprehacks.com/">Arcade Prehacks</a> or <a href="https://www.samshackedgames.com/">SamsHackedGames</a> - <em>Hacked Flash Games</em> </li>
</ul>
<hr>
<h1 id="-tracking-discovery">► Tracking / Discovery</h1>
<ul>
   <li><strong><a href="https://www.imdb.com/search/">IMDb Advanced Search</a></strong></li>
   <li><strong><a href="https://www.grouvee.com/">Grouvee</a></strong> - <em>Video Game Database</em></li>
   <li><strong><a href="https://tastedive.com/">TasteDive</a></strong> - <em>Recommendations</em> </li>
   <li><a href="https://www.imdb.com/">IMDb</a> - <em>Video Game Database</em></li>
   <li><a href="https://www.giantbomb.com/games/">GiantBomb</a> - <em>Video Game Database</em> </li>
   <li><a href="https://www.gamesdatabase.org/">Games Database</a> - <em>Video Game Database</em> </li>
   <li><a href="https://gamesdb.launchbox-app.com/">LaunchBox Games Database</a> - <em>Video Game Database</em> </li>
   <li><a href="https://www.igdb.com/">IGDB</a> - <em>Video Game Database</em> </li>
   <li><a href="https://www.mobygames.com/">Moby Games</a> - <em>Video Game Database</em> </li>
   <li><a href="https://rate.house/">rate.house</a> - <em>Video Game Database</em></li>
   <li><a href="http://www.homeoftheunderdogs.net/">HOTU</a> - <em>Rare Video Game Database</em></li>
   <li><a href="https://www.movie-censorship.com/">Movie-Censorship</a> - <em>Compare Alternate Versions of Media</em> </li>
   <li><a href="https://digitaldreamdoor.com/">DigitalDreamDoor</a> - <em>Greatest 100 Lists</em></li>
</ul>
<hr>
<h1 id="-request-games">► Request Games</h1>
<ul>
   <li><strong><a href="https://forum.dirtywarez.com/categories/download-requests.113/">DirtyWarez</a></strong></li>
   <li><a href="http://www.cyberphoenix.org/forum/forum/54-requests/">cyberphoenix</a></li>
   <li><a href="https://www.tehparadox.net/requests/">TehParadox</a></li>
   <li><a href="https://pirates-forum.org/Forum-Requests">pirates-forum</a> </li>
   <li><a href="https://www.dirtygames.xyz/game-request/">Dirty Games</a>  </li>
   <li><a href="https://discord.gg/h2P5zsNMxZ">TheMegaDrive</a> - <em>Megadrive Discord</em> </li>
</ul>
<hr>
<h1 id="-gaming-tools-https-www-reddit-com-r-freemediaheckyeah-wiki-tools-misc-wiki_-25ba_gaming_tools-">► <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25BA_gaming_tools">Gaming Tools</a></h1>
</div>
</template>
<script>
export default {
  name: 'ge'
}
</script>

<style>

</style>