<template>
<div class="content">
  <p>FREEMEDIAHECKYEAH!</p>
  <p><a href="/apa">adblock/privacy/antivirus</a></p>
  <p><a href="/mtas">movies/tv/anime/sports</a></p>
  <p><a href="/mpr">music/podcasts/radio</a></p>
  <p><a href="/ge">gaming/emulation</a></p>
  <p><a href="/bcm">books/comics/manga</a></p>
  <p><a href="/ai">android/ios</a></p>
  <p><a href="/d">downloading</a></p>
  <p><a href="/tor">torrenting</a></p>
  <p><a href="/e">educational</a></p>
  <p><a href="/t">tools</a></p>
  <p><a href="/m">miscellaneous</a></p>
  <p><a href="/ne">non-english</a></p>
  <p><a href="/b">backups</a></p>
</div>
</template>
<script>
export default {
  name: 'HomePage',
}
</script>

<style>
* { 
 background-color: black;
 color: #d9d9d9;
}

br {
 color: #833B3B;
}
.content {
  text-align: left;
  font-family: sans-serif;
  padding: 20px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #444d78;
}
li {
 margin-bottom: 15px;
}
</style>

<style scoped>
.content {
 text-align: center;
}
</style>
