<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/R6sQ97L.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-extensions">► Extensions</h1>
<h2 id="-multi-browser">▷ Multi Browser</h2>
<ul>
   <li><strong><a href="/apa">Privacy</a> Extensions</strong></li>
   <li><strong><a href="https://add0n.com/">add0n</a> or <a href="https://mybrowseraddon.com/">MyBrowserAddon</a></strong> - <em>Open-Source Extension Index</em></li>
   <li><strong><a href="https://github.com/dessant/buster">Buster</a></strong> or <strong><a href="https://antcpt.com/eng/home.htm">AntCpt</a></strong> - <em>Auto Captcha Solver</em></li>
   <li><strong><a href="https://privacypass.github.io/">Privacy Pass</a></strong> - <em>Skip Captchas</em> </li>
   <li><strong><a href="https://darkreader.org/">Dark Reader</a></strong>, <a href="https://mybrowseraddon.com/custom-dark-mode.html">Custom Dark Mode</a>, or <a href="https://github.com/x08d/222">222</a> - <em>Dark Mode</em> </li>
   <li><a href="https://vimium.github.io/">Vimium</a> / <a href="https://github.com/philc/vimium">GitHub</a>, <a href="https://github.com/brookhong/Surfingkeys">Surfingkeys</a>, <a href="https://tridactyl.xyz/">Tridactyl</a>, <a href="https://github.com/1995eaton/chromium-vim">VimC</a>, <a href="https://github.com/infokiller/web-search-navigator">Web Search Navigator</a> or <a href="https://github.com/gdh1995/vimium-c">Vimium C</a> - <em>Keyboard Shortcuts</em> </li>
   <li><a href="https://cpriest.github.io/SnapLinksPlus/">Snap Links Plus</a> or <a href="https://github.com/benblack86/linkclump">Link Clump</a> - <em>Select &amp; Open Multiple Links at Once</em> </li>
   <li><a href="https://github.com/harytfw/glitterdrag">Glitter Drag</a> - <em>Adds Actions on Dragging</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_scroll_anywhere">ScrollAnywhere</a> - <em>Improves Scrolling Functionality</em></li>
   <li><a href="https://mybrowseraddon.com/scroll-to-top.html">Scroll to Top</a> - <em>Scroll to Top Button on all Sites</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_customizable_new_tab_page">Customizable New Tab Page</a> - <em>Customize New Tab Page</em></li>
   <li><a href="https://github.com/babyman/quick-tabs-chrome-extension">Quick Tabs</a> - <em>Quickly Switch between Current &amp; Recently Closed Tabs</em> </li>
   <li><a href="https://github.com/autonome/Always-Right/">Always Right</a> - <em>Always Open New Tabs to the Right</em> </li>
   <li><a href="https://saka.io/">Saka</a> - <em>Tab, History &amp; Bookmark Search</em> </li>
   <li><a href="https://www.mymark.me/">MyMark</a> - <em>Bookmark Manager</em> </li>
   <li><a href="https://github.com/eric-bixby/auto-sort-bookmarks-webext">Auto-Sort Bookmarks</a> - <em>Sort Bookmarks by Multiple Criteria</em> </li>
   <li><a href="https://github.com/aaFn/Bookmark-search-plus-2">Bookmark Search Plus 2</a> - <em>Search Bookmarks</em> </li>
   <li><a href="https://phlinx.com/">phlinx</a> - <em>Information Search Sidebar</em></li>
   <li><a href="https://blog.webmemex.org/">WebMemex</a> - <em>Organize &amp; Store Webpages</em> </li>
   <li><a href="https://add0n.com/tab-discard.html">Auto Tab Discard</a>, <a href="https://github.com/NiklasGollenstede/unload-tabs">UnloadTabs</a>, <a href="https://gioxx.org/chromeaddons/the-marvellous-suspender/">The Marvellous Suspender</a> or <a href="https://github.com/aciidic/thegreatsuspender-notrack">The Great Suspender</a> - <em>Discard Inactive Tabs to Reduce Memory / CPU Usage</em></li>
   <li><a href="https://github.com/bwinton/SnoozeTabs">Snooze Tabs</a> - <em>Temporarily Snooze Tabs</em> </li>
   <li><a href="https://www.one-tab.com/">One Tab</a> or <a href="https://lbragile.github.io/TabMerger-Extension/">TabMerger</a> - <em>Merge &amp; Organize Tabs</em> </li>
   <li><a href="https://framagit.org/ariasuni/tabcenter-reborn">Tab Center Reborn</a> or <a href="https://www.gettabli.com/">Tabli</a> - <em>Tab Manager</em> </li>
   <li><a href="https://github.com/drive4ik/simple-tab-groups">Simple Tab Groups</a> - <em>Group Tabs</em> </li>
   <li><a href="https://github.com/FilipePS/Traduzir-paginas-web">Translate Web Pages</a>, <a href="https://saladict.crimx.com/">Saladict</a> or <a href="https://imtranslator.net/">ImTranslator</a> - <em>Translator</em> </li>
   <li><a href="https://github.com/pnlpal/dictionaries">Dictionaries</a> - <em>Popup Dictionary</em> </li>
   <li><a href="https://mybrowseraddon.com/magnifying-glass.html">Magnifying Glass</a> - <em>Magnify Webpages</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_zoom_we">Zoom WE</a> or <a href="https://mybrowseraddon.com/custom-page-zoom.html">Custom Page Zoom</a> - <em>Improves Zoom Functionality</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_print_edit_we">Print Edit WE</a> - <em>Edit Pages to Make them Printable</em> </li>
   <li><a href="https://www.grammarly.com/">Grammarly</a> - <em>Grammar Checker / <a href="https://redd.it/kfncju">Free Premium</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_mouse_gestures">Mouse Gestures</a> - <em>Control Browser via Gestures</em></li>
   <li><a href="https://www.printwhatyoulike.com/pagezipper">PageZipper</a> or <a href="http://autopagerize.net/">AutoPagerize</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/autopagerizeadvanced/">2</a> - <em>Merges a Sites &quot;Next&quot; Pages</em></li>
   <li><a href="https://provd.net/">Video Downloader</a>, <a href="https://www.downthemall.org/">DownThemAll</a> or <a href="http://www.downloadhelper.net/">Download Helper</a> - <em>Download Manager</em></li>
   <li><a href="https://mybrowseraddon.com/theater-mode.html">Theater Mode</a> - <em>Play Videos in Theater Mode</em></li>
   <li><a href="https://mybrowseraddon.com/screen-recorder.html">Screen Recorder</a> - <em>Screen Recorder</em></li>
   <li><a href="https://mybrowseraddon.com/audio-recorder.html">Audio Recorder</a> - <em>Audio Recorder</em></li>
   <li><a href="https://mybrowseraddon.com/mute-tab.html">Mute Tab</a> - <em>Easily Mute All Tabs</em></li>
   <li><a href="https://stephanmahieu.github.io/fhc-home/">Form History Control</a> or <a href="https://github.com/sblask/webextension-simple-form-fill">Simple Form Fill</a> - <em>Formfiller Manager</em> </li>
   <li><a href="https://github.com/jiacai2050/history-master">History Master</a> - <em>Vizualize &amp; Sync Browser History</em> </li>
   <li><a href="https://www.xbrowsersync.org/">xBrowserSync</a> - <em>Browser Syncing</em> </li>
   <li><a href="https://midnight-lizard.org/">Midnight Lizard</a>, <a href="https://add0n.com/stylus.html">Stylus</a>, <a href="https://userstyles.org/">Stylish</a> / <a href="https://uso.kkx.one/">2</a> or <a href="https://userstyles.world/">UserStyles</a> - <em>Custom Website Color Schemes</em>  </li>
   <li><a href="https://mybrowseraddon.com/night-mode.html">Night Mode</a> - <em>Adapts Display Color to Time of Day</em></li>
   <li><a href="https://mybrowseraddon.com/screen-color-temperature.html">Screen Color Temperature</a> - <em>Adjust Screen Color Temperature</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_webfont_changer">Font Changer</a> - <em>WebFont Changer</em> </li>
   <li><a href="https://ui.vision/colorfish">ColorFish</a> - <em>Color Picker</em> </li>
   <li><a href="https://github.com/odebroqueville/contextSearch">Context Search</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/contextsearch-web-ext/">2</a> - <em>Search Selected Text / Multi Site Search</em></li>
   <li><a href="https://aecreations.sourceforge.io/clippings/index.php">Clippings</a> - <em>Save Frequently-Entered Text for Pasting</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_auto_text_expander">Auto Text Expander</a> - <em>Create Shortcuts to Expand &amp; Replace Text as you Type</em> </li>
   <li><a href="https://github.com/jswanner/DontFuckWithPaste">DontFuckWithPaste</a> - <em>Prevents the Blocking of Pasting into Input Fields</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_absolute_enable_right_click">Absolute Enable Right Click</a> - <em>Force Enable Right Click</em></li>
   <li><a href="https://github.com/BlackGlory/Copycat">Copycat</a> - <em>Copy Content in Multiple Formats &amp; Markdowns</em> </li>
   <li><a href="https://github.com/0x6b/copy-selection-as-markdown">Copy Selection as Markdown</a> - <em>Copy Text as Markdown</em> </li>
   <li><a href="https://gitlab.com/Marnes/copy-selected-links">Copy Selected Links</a> - <em>Copy Links from Selected Text</em> </li>
   <li><a href="https://ocr.space/copyfish">CopyFish</a> or <a href="https://mybrowseraddon.com/image-reader.html">Image Reader</a> - <em>Grab Text from Images</em> </li>
   <li><a href="https://mybrowseraddon.com/text-to-image.html">Text to Image</a> - <em>Format &amp; Save Text as a Image</em></li>
   <li><a href="https://piro.sakura.ne.jp/xul/textlink/index.html.en">Text Link</a> - <em>Make Non-Hyperlinked URL&#39;s Clickable</em> </li>
   <li><a href="https://www.cwesson.net/projects/LinkAlert/">Link Alert</a> - <em>Link Type Indicator</em> </li>
   <li><a href="https://www.i-dont-care-about-cookies.eu/">I don&#39;t care about cookies</a> - <em>Remove All Cookies</em> </li>
   <li><a href="https://github.com/laktak/vanilla-chrome">Cookie Manager</a>, <a href="https://github.com/ysard/cookie-quick-manager">Cookie Quick Manager</a>, <a href="https://www.editthiscookie.com/">EditThisCookie</a> or <a href="https://cookie-editor.cgagnier.ca/">Cookie-Editor</a> - <em>Cookie Manager</em> </li>
   <li><a href="https://nodetics.com/feedbro/">Feedbro</a>, <a href="https://github.com/brief-rss/brief">Brief</a>, <a href="https://github.com/SmartRSS/Smart-RSS">Smart-RSS</a> or <a href="https://fraidyc.at/">Fraidycat</a> - <em>RSS Feed Reader</em></li>
   <li><a href="https://add0n.com/chrome-reader-view.html">Reader View</a>, <a href="https://epub.press/">EpubPress</a>, <a href="https://mybrowseraddon.com/reader-view.html">Reader View</a> or <a href="https://2read.net/">2read</a> - <em>Open Pages in Reader View</em></li>
   <li><a href="https://github.com/Ibit-to/google-unlocked">Google Unblocked</a> - <em>Uncensored Google Search</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_google_search_link_fix">Google search link fix</a> - <em>Prevent Search Pages from Modifying Result Links</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_restore_classic_google_icons">Restore Classic Google Icons</a></li>
   <li><a href="https://sites.google.com/site/linkgopher/">Link Gopher</a> or <a href="https://github.com/MichelePezza/CopyLinksplusplus">CopyLinks++</a> - <em>Extract Links from Webpages</em> </li>
   <li><a href="https://www.linkpack.io/">Linkpack</a> - <em>Save Links to Dropbox</em></li>
   <li><a href="https://survol.me/">Survol</a> - <em>Preview Links</em> </li>
   <li><a href="https://distill.io/">Distil</a> or <a href="https://sneakypete81.github.io/updatescanner/">Update Scanner</a> - <em>Page Change Detection / Notification</em> </li>
   <li><a href="https://github.com/gavinsharp/SuperStop/">SuperStop</a> - <em>Stop Active Animations, Videos, JS, WebSocket &amp; XHR</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_nuke_anything">Nuke Anything</a> - <em>Block/Hide Anything on a Page</em>  </li>
   <li><a href="https://github.com/nsfw-filter/nsfw-filter">NSFW-Filter</a> - <em>Block NSFW Images</em></li>
   <li><a href="https://mybrowseraddon.com/block-image-video.html">Block Image Video</a> - <em>Block All Images &amp; Videos</em></li>
   <li><a href="https://mybrowseraddon.com/offline-mode.html">Offline Mode</a> - <em>Disconnect Browser from the Internet</em></li>
   <li><a href="https://github.com/internetarchive/wayback-machine-webextension">Wayback Machine</a>, <a href="https://github.com/dessant/web-archives">Web Archives</a> or <a href="https://github.com/rahiel/archiveror">Archiveror</a> - <em>View Archived / Cached Webpages</em></li>
   <li><a href="https://gitlab.com/gkrishnaks/WaybackEverywhere-Firefox">WaybackEverywhere</a> - <em>Auto Load Archived Versions of Dead Pages</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_alternative_twitch_player">Alternate Player for Twitch.tv</a> - <em>Alt Twitch Player</em> </li>
   <li><a href="https://www.wikiwand.com/">Wikiwand</a> - <em>Wikipedia web / Mobile Reader</em> </li>
   <li><a href="https://blog.kumabook.tokyo/stickynotes/index.html">Sticky Notes</a> - <em>Browser Sticky Notes</em> </li>
   <li><a href="https://mybrowseraddon.com/draw-on-page.html">Draw on Page</a> - <em>Draw on Webpages</em></li>
   <li><a href="https://mybrowseraddon.com/page-edit.html">Page Edit</a> - <em>Turn Webpages into Editable Documents</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_save_page_we">Save Page WE</a>, <a href="https://github.com/gildas-lormeau/SingleFile">SingleFile</a> or <a href="https://github.com/gildas-lormeau/SingleFileZ">SingleFileZ</a> - <em>Save Webpages as HTML</em> </li>
   <li><a href="https://www.listly.io/">Listly</a> - <em>Webpage to Spreadsheet Converter</em></li>
   <li><a href="https://add0n.com/save-images.html">Download all Images</a> - <em>Download Images From a Page</em></li>
   <li><a href="https://github.com/BlackGlory/favicon-detector">Favicon Detector</a> - <em>Detect Website Favicons</em></li>
   <li><a href="https://github.com/kubuzetto/behind">behind!</a> - <em>View Background Images</em>  </li>
   <li><a href="https://ui.vision/">UI.Vision RPA</a> - <em>Workflow Automation</em>  </li>
   <li><a href="https://augmentedsteam.com/">AugmentedSteam</a> - <em>Steam Enhancement suite</em> </li>
   <li><a href="https://steamdb.info/extension/">Steam Database</a> - <em>Adds Steam Database Link to Steam Community &amp; Store</em> </li>
   <li><a href="https://tuladhar.github.io/gmail-labels-as-tabs/">Gmail Labels as Tabs</a> - <em>Organize Labels as Gmail Tabs</em> </li>
   <li><a href="https://github.com/Palethorn/native-adaptive-streaming/">Native HLS</a> - <em>Allows HLS &amp; MPEG-Dash native playback</em> </li>
   <li><a href="https://github.com/rowrawer/stream-detector/">The Stream Detector</a> - <em>Detects Playlists &amp; Subtitles used by HLS/DASH/HDS/MSS Streams</em> </li>
   <li><a href="https://github.com/Ademking/happydia">Happydia</a> - <em>Clean Sad / Annoying Media from Social Sites</em> </li>
   <li><a href="https://github.com/arunelias/session-alive/">Session Alive</a> - <em>Keep Website Sessions Alive</em> </li>
   <li><a href="https://add0n.com/caffeine.html">Caffeine</a> - <em>Prevent OS From Sleeping</em> </li>
   <li><a href="https://add0n.com/broken-link-checker.html">Broken Link Checker</a> - <em>Checks Page for Broken Links</em> </li>
   <li><a href="https://github.com/bijij/ViewImage">ViewImage</a> or <a href="https://github.com/devunt/make-gis-great-again">Make GIS Great Again</a> - <em>Adds Back &quot;View Image&quot; Button to Google Image Search</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_reverse_image_search">Reverse Image Search</a> - <em>Reverse Image Search Extensions / Sites</em></li>
   <li><a href="https://ainoob.com/en/project/noobox">NooBox</a> - <em>Reverse Image Search, Extract Images, Screenshot &amp; Search</em> </li>
   <li><a href="https://github.com/Chirmaya/BooruSlideshow">Booru Slideshow</a> - <em>Make Slideshows Easier to Navigate</em></li>
   <li><a href="https://github.com/ufb/Textmarker">Textmarker</a> - <em>Text Highlighter</em> </li>
   <li><a href="https://bulkurlopener.com/">Bulk URL Opener</a> - <em>Open Multiple URL&#39;s in One Click</em> </li>
   <li><a href="http://www.s3blog.org/forecastfox.html">Forecastfox</a> - <em>Weather Addon</em> </li>
   <li><a href="https://eccorem.com/apps/timer.html">Timer</a> - <em>Timer, Alarm &amp; Stopwatch</em> </li>
   <li><a href="https://github.com/new-xkit/XKit">XKit</a> - <em>Make Tumblr More Usable</em></li>
   <li><a href="https://sergiokas.github.io/Extensity/index.html">Extensity</a> - <em>Quickly Enable / Disable Chrome Extensions</em> </li>
   <li><a href="https://crxextractor.com/">CRXExtractor</a> - <em>Get .CRX Chrome Extension Files</em> </li>
   <li><a href="https://github.com/Rob--W/crxviewer">CRX Viewer</a> or - <em>View Extension Source Code</em> </li>
   <li><a href="https://github.com/vfrico/firefox-breeze-duo">Breeze Duo for KDE Plasma</a> - <em>Breeze Theme for better KDE Integration</em> </li>
   <li><a href="https://www.whatruns.com/">WhatRuns</a> - <em>Discover what makes a site run</em> </li>
   <li><a href="https://tab-session-manager.sienori.com/">Tab Session Manager</a> or <a href="https://sessionbuddy.com/">Session Buddy</a> - <em>Session Manager</em> </li>
   <li><a href="https://github.com/corbindavenport/peek">Peek</a> - <em>Shows Images &amp; Videos Behind Links &amp; Thumbnails</em> </li>
   <li><a href="https://bengrosser.com/projects/not-for-you/">Not For You</a> - <em>Confuse Tik-Toks Recommendation Algorithm</em></li>
   <li><a href="https://bengrosser.com/projects/facebook-demetricator/">Facebook Demetricator</a> - <em>Hide All Facebook Metrics</em></li>
</ul>
<h2 id="-firefox">▷ Firefox</h2>
<ul>
   <li><a href="https://addons.mozilla.org/en-US/firefox/extensions/">Firefox Extensions</a></li>
   <li><a href="https://www.rizonesoft.com/downloads/firemin/">Firemin</a> - <em>Prevent Firefox Memory Leaks</em> </li>
   <li><a href="https://rejzor.wordpress.com/firefox-tweaker/">Firefox Tweaker</a> - <em>Firefox Hidden Settings</em></li>
   <li><a href="https://addons.palemoon.org/addon/keyconfig/">keyconfig</a> - <em>Firefox Key Binds</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/foxylink/">FoxyLink</a> - <em>Multiple Link Related Actions</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/foxytab/">FoxyTab</a> - <em>Multiple Tab Related Actions</em></li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/search/?category=download-management&amp;recommended=true&amp;sort=recommended%2Cusers&amp;type=extension">Firefox Download Managers</a> - <em>Download Managers for Firefox</em></li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/multithreaded-download-manager/">Multithreaded Download Manager</a> - <em>Download Manager</em></li>
   <li><a href="https://overdodactyl.github.io/ShadowFox/">ShadowFox</a> - <em>Dark Mode</em></li>
   <li><a href="https://www.soeren-hentzschel.at/firefox-webextensions/new-tab-override/">New Tab Override</a> - <em>Pick Site that Opens in New Tabs</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/sidebery/">Sidebery</a> or <a href="https://github.com/cadeyrn/bookmarks-organizer">Bookmarks Organizer</a> - <em>Bookmark Manager</em> </li>
   <li><a href="https://www.soeren-hentzschel.at/firefox-webextensions/keep-or-delete-bookmarks/">Keep or Delete Bookmarks</a> - <em>Keep Bookmark Folder Clean</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/saveforreadlater/">SaveForReadLater</a> - <em>Save Pages to Read Later</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/search-multi-tabs/">Multi Tabs</a> - <em>Multi Tab Word Search Search</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/popup-encyclopedia/">PopUp Encyclopedia</a> - <em>Popup Encyclopedia &amp; Dictionary</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/search-site-we/">Search Site WE</a> - <em>Domain Word Search</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/firefox-color/">Firefox Color</a> - <em>Custom Firefox Theme Creation</em></li>
   <li><a href="https://firefoxcss-store.github.io/">FirefoxCSS Store</a> - <em>Firefox Themes List</em></li>
   <li>/r/FirefoxCSS - <em>Firefox CSS Guides</em> </li>
   <li><a href="https://fedidat.com/640-dark-newtab-firefox/">Dark Background for Firefox New Tabs</a></li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/colors-and-fonts-extractor/">Colors and Fonts Extractor</a> - <em>Extract Colors &amp; Fonts from Websites</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/%E5%BF%AB%E4%B9%90%E5%8F%B3%E9%94%AE/">Happy Right-Click</a> - <em>Force Enable Right Click</em></li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/linkificator/">Linkificator</a> - <em>Make Non-Hyperlinked URL&#39;s Clickable</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/profile-switcher/">Profile Switcher</a> - <em>Profile Manager</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/">Firefox Containers</a> - <em>Separate Cookies by Profile</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/uaswitcher/">User-Agent Switcher</a> - <em>Switch and Override User Agent Header on Firefox Easily</em></li>
   <li><a href="https://github.com/myfreeweb/soundfixer">SoundFixer</a> - <em>Fixes Sites that are too Quiet</em></li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/mute-sites-by-default/">Mute Sites By Default</a> - <em>Mute All Sites by Default</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/sage-like/">Sage-Like</a> - <em>RSS Feed Reader</em></li>
   <li><a href="https://github.com/Reeywhaar/want-my-rss">Want My RSS</a> - <em>Restores Firefox RSS Features</em></li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/rooster-todos/">Rooster Todo Manager</a> - <em>To-Do Manager</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/morning-coffee-quantum/">Morning Coffee Quantum</a> - <em>Open Custom Website Lists</em> </li>
   <li><a href="https://addons.mozilla.org/nl/firefox/addon/resurrect-pages/">Resurrect Pages</a> - <em>View Archived / Cached Webpages</em></li>
   <li><a href="https://commonvoice.mozilla.org/en">Firefox Voice</a> - <em>Use Firefox with your Voice</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/canvas-google-images/">Canvas</a> - <em>View &amp; Edit Google Images</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/zoom-redirector/">Zoom Redirector</a> - <em>Redirect Zoom Links to Web Client</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/">Plasma Integration</a> - <em>Control Browser via Plasma</em> </li>
   <li><a href="https://addons.mozilla.org/en-US/firefox/addon/session-sync/">Session Sync</a> - <em>Session Manager</em> </li>
</ul>
<h2 id="-chrome">▷ Chrome</h2>
<ul>
   <li><a href="https://chrome.google.com/webstore/category/extensions?hl=en">Chrome Web Store</a></li>
   <li><a href="https://www.crx4chrome.com/">Crx4Chrome</a> - <em>Alt Google App Store</em></li>
   <li><a href="https://github.com/learn-anything/chrome-extensions">chrome-extensions</a> - <em>List of Chrome Extensions</em> </li>
   <li><a href="https://ainoob.com/en/project/nooboss">NooBoss</a> - <em>Chrome Extension Manager / Extra Features</em></li>
   <li><a href="https://github.com/NeverDecaf/chromium-web-store">chromium-web-store</a> - <em>Add Extensions to Ungoogled Chromium</em> </li>
   <li><a href="https://chrome.google.com/webstore/detail/aiahkbnnpafepcgnhhecilboebmmolnn">Batch Link Downloader</a> or <a href="https://chrome.google.com/webstore/detail/simple-mass-downloader/abdkkegmcbiomijcbdaodaflgehfffed">Simple Mass Downloader</a> - <em>Download Multiple Links at Once</em> </li>
   <li><a href="https://chrome.google.com/webstore/detail/allow-right-click/hompjdfbfmmmgflfjdlnkohcplmboaeo/related?hl=en">Allow Right-Click</a> - <em>Force Enable Right Click on Videos</em></li>
   <li><a href="https://chrome.google.com/webstore/detail/copy-paste-pro/epgndihjbcepnbadocaoofjnfaophlio?hl=en">Copy Paste Pro</a> - <em>Copy text from any site</em></li>
   <li><a href="https://chrome.google.com/webstore/detail/dualless/bgdpkilkheacbboffppjgceiplijhfpd">Dualless</a> - <em>Split Browser Window</em> </li>
   <li><a href="https://gitlab.com/EduCampi/chromewm">chromewm</a> - <em>Tile Windows / Emulate Workspaces</em></li>
   <li><a href="https://chrome.google.com/webstore/detail/go-back-in-time/hgdahcpipmgehmaaankiglanlgljlakj">Go Back in Time</a> - <em>View Archived / Cached Webpages</em></li>
   <li><a href="https://chrome.google.com/webstore/detail/downalbum/cgjnhhjpfcdhbhlcmmjppicjmgfkppok?hl=en">DownAlbum</a> - <em>Image / Video Album Downloader / <a href="https://openuserjs.org/scripts/indream/DownAlbum">Script</a></em> </li>
   <li><a href="https://chrome.google.com/webstore/detail/facebook-block-read-recei/llbdoljkknpjgfcnbnoiehjcgancpjmd/related">Social Tools</a> - <em>Block &quot;Sending&quot; &amp; &quot;Seen&quot; Facebook Chat Indicators</em> </li>
   <li><a href="https://gikken.co/mate-translate/chrome/">Mate Translate</a> - <em>Translator</em></li>
   <li><a href="https://chrome.google.com/webstore/detail/google-similar-pages/pjnfggphgdjblhfjaphkjhfpiiekbbej">Google Similar Pages</a> - <em>Discover Similar Webpages</em> </li>
   <li><a href="https://mybrowseraddon.com/extension-source-downloader.html">Source Downloader</a> - <em>View Extension Source Code</em> </li>
</ul>
<h2 id="-userscripts">▷ Userscripts</h2>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_userscript_managers">Userscript Managers</a></strong></li>
   <li><strong><a href="https://greasyfork.org/en">Greasy Fork</a></strong>, <a href="https://userscripts-mirror.org/">Userscripts</a> or <a href="https://openuserjs.org/">OpenUserJS</a> - <em>Install Userscripts / <a href="https://greasyfork.org/en/scripts/4336">Change Theme</a> / <a href="https://greasyfork.org/en/scripts/12179-greasyfork-bull-filter">Remove Crap</a></em></li>
   <li><a href="https://www.userscript.zone/">Userscript.zone</a> - <em>Userscript Search</em> </li>
   <li><a href="https://openuserjs.org/scripts/tumpio/Endless_Google">Endless Google</a> - <em>Google Search Endless Scrolling</em> </li>
   <li><a href="https://gist.github.com/ILikePython256/53fc6130ad93da39db1a0232da3a187c">darkmode.js</a> - <em>Dark Mode Script</em></li>
   <li><a href="https://greasyfork.org/en/scripts/28497-remove-web-limits-modified">Remove Web Limits</a>, <a href="https://greasyfork.org/en/scripts/386908-remove-web-limits-re-modified">2</a> - <em>Force Enable Right Click</em></li>
   <li><a href="https://greasyfork.org/en/scripts/7197">anti-anti-copy</a> - <em>Copy text from any site</em></li>
   <li><a href="https://greasyfork.org/en/scripts/789-select-text-inside-a-link-like-opera">Select text inside a link like Opera</a> - <em>Select Text Inside Links</em> </li>
   <li><a href="https://openuserjs.org/scripts/Patabugen/Always_Remember_Me">Always Remember Me</a> - <em>Always tick &quot;Remember Me&quot;</em> </li>
   <li><a href="https://greasyfork.org/en/scripts/13542-altsearch-links">altsearch links</a> - <em>Adds search on other sites for google, bing, and yahoo</em></li>
   <li><a href="https://greasyfork.org/en/scripts/376225-twitch-screen-comment-scroller">Twitch Screen Comment Scroller</a> - <em>Auto Scroll Twitch Comments</em></li>
   <li><a href="https://greasyfork.org/en/scripts/7750-4chan-x">4chan X</a> - <em>Adds various features to Imageboards</em> </li>
   <li><a href="https://openuserjs.org/scripts/jscher2000/Google_Hit_Hider_by_Domain_(Search_Filter_Block_Sites">Google Hit Hider</a> - <em>Block Sites from Search Results</em> </li>
   <li><a href="https://greasyfork.org/en/scripts/394820-mouseover-popup-image-viewer">Mouseover Popup Image Viewer</a> - <em>Shows Images &amp; Videos Behind Links &amp; Thumbnails</em> </li>
</ul>
<hr>
<h1 id="-indexes">► Indexes</h1>
<ul>
   <li><strong><a href="https://weboas.is/">WebOas.is</a></strong> - <em>Startpage / Site Index</em> </li>
   <li><strong><a href="https://github.com/orsinium-labs/generated-awesomeness">Generated Awesomeness</a></strong> - <em>Autogenerated List Index</em> </li>
   <li><strong><a href="https://github.com/bayandin/awesome-awesomeness">Awesome Awesomeness</a></strong> - <em>List Index</em> </li>
   <li><strong><a href="https://github.com/sindresorhus/awesome">Awesome</a></strong> - <em>List Index  / <a href="https://awesomelists.top/">Search</a>, <a href="https://awesome-indexed.mathew-davies.co.uk/">2</a> / <a href="https://github.com/basharovV/StumbleUponAwesome">Stumble</a> / <a href="https://github.com/umutphp/awesome-cli">CLI</a></em></li>
   <li><strong><a href="https://github.com/topics/awesome">Awesome List Index</a></strong> - <em>List Index</em> </li>
   <li><strong><a href="https://app.polymersearch.com/discover/github-awesome">GitHub Awesome</a></strong> - <em>List Index</em></li>
   <li><strong><a href="https://github.com/jnv/lists">lists</a></strong> - <em>List Index</em> </li>
   <li><strong><a href="https://curlie.org/">Curlie</a></strong> - <em>Topic Directory</em> </li>
   <li><strong><a href="https://github.com/DRSDavidSoft/Warez">The Scene</a></strong> - <em>Warez topics, Discussions &amp; Tools / <a href="https://discord.me/CHEF-KOCH">Discord</a></em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_open_source_intelligence_indexes">Open Source Intelligence Indexes</a></strong></li>
   <li><a href="https://thepiratelist.com/">The Pirate List</a> - <em>Ranks Piracy Sites</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_alternative_software_.2F_app_sites">Alternative Software / App Sites</a> - <em>Find Software / App Alternatives</em> </li>
   <li><a href="https://awesomeopensource.com/">Awesome Open Source</a> or <a href="https://opensource.builders/">Opensource Builders</a> - <em>Open Source Index</em></li>
   <li><a href="https://thecarrots.io/">Carrots</a> - <em>Open-Source Project Index / Search</em></li>
   <li>/r/InternetIsBeautiful - <em>Helpful / Fun Sites Subreddit / <a href="https://therandombutton.com/">Randomizer</a></em></li>
   <li><a href="https://www.reddit.com/r/Piracy/wiki/index">/r/Piracy Mega</a> - <em>/r/Piracy wiki</em></li>
   <li><a href="https://github.com/Igglybuff/awesome-piracy">Awesome Piracy</a>, <a href="https://official-awesome-piracy.vercel.app/">2</a>, <a href="https://github.com/tanaybhardwaj24/awesome-piracy">3</a>, <a href="https://alternate-awesome-piracy.vercel.app/">4</a> - <em>List of awesome warez and piracy links</em></li>
   <li><a href="https://www.similarsites.com/">Similar Sites</a> or <a href="https://www.siteslike.com/">SitesLike</a> - <em>Find Similar Sites</em></li>
   <li><a href="https://dirtywarez.org/">DirtyWarez</a> - <em>Ranks Sites</em></li>
   <li><a href="https://piracy.now.sh/">WAREZZ</a>, <a href="https://warezz.now.sh/">2</a>, <a href="https://github.com/xuac/warezz">3</a> - <em>Piracy Index</em></li>
   <li><a href="http://www.neverland.ws/">Neverland</a> - <em>Piracy Index</em> </li>
   <li><a href="https://pilssken.neocities.org/warez/">pilssken</a> - <em>Piracy Index</em> </li>
   <li><a href="https://github.com/trimstray/the-book-of-secret-knowledge">The Book of Secret Knowledge</a> - <em>Software / Tool Index</em></li>
   <li><a href="https://orga.cat/windows-utilities">Windows-Utilities</a> - <em>Windows Software Index</em> </li>
   <li><a href="https://github.com/Awesome-Windows/Awesome">Awesome Windows</a> - <em>Windows Software Index</em></li>
   <li><a href="https://github.com/inputsh/awesome-linux">Awesome Linux</a>, <a href="https://luong-komorebi.github.io/Awesome-Linux-Software/">2</a> - <em>Linux Software / Resource Index</em></li>
   <li><a href="https://github.com/awesome-selfhosted/awesome-selfhosted">Awesome Selfhosted</a> - <em>Selfhosted Software Index</em> </li>
   <li><a href="https://github.com/simon987/awesome-datahoarding">Awesome DataHoarding</a> - <em>DataHoarding Tools Index</em>   </li>
   <li><a href="https://cata-list.github.io/">cata-list</a> - <em>Site / Tool Index</em> </li>
   <li><a href="https://www.prospector.cz/">Prospector</a> - <em>Site / Tool Index</em> </li>
   <li><a href="https://marckoxx.github.io/">The More You Know</a> - <em>Site / Tool Index</em></li>
   <li><a href="http://www.petergh.f2s.com/">WebOrama</a> - <em>Site / Tool Index</em></li>
   <li><a href="https://www.goodsites.tech/">GoodSites</a> -  <em>Site / Tool Index</em> </li>
   <li><a href="https://peelopaalu.neocities.org/">Peelopaalu</a> - <em>Site / Tool Index</em></li>
   <li><a href="https://www.refdesk.com/facts.html">RefDesk</a> - <em>Site / Tool Index</em></li>
   <li><a href="https://heji.ltd/">heji</a> or <a href="https://www.bajins.com/">bajins</a> - <em>Chinese Site / Tool Index</em></li>
   <li><a href="https://github.com/chasedooley/mostly-free-resources-for-almost-everyone">Mostly Free</a> - <em>Site / Tool Index</em></li>
   <li><a href="https://www.ibiblio.org/">iBiblio</a> - <em>Site / Tool Index</em> </li>
   <li><a href="http://www.acme.com/">Acme</a> - <em>Site / Tool Index</em> </li>
   <li><a href="https://www.nypl.org/collections/nypl-recommendations/best-of-web">NYPL Best of the Web</a> - <em>Site Index</em></li>
   <li><a href="https://freestuff.dev/">Free Dev stuff</a> - <em>List of free tools, stuff, &amp; services for developers</em></li>
   <li><a href="https://developers.reverseeagle.org/">ReverseEagle</a> - <em>Privacy alternatives to software for developers</em></li>
   <li><a href="https://simpletools.info/doku.php">Simple Tools</a> - <em>Simple Programs Index</em> </li>
   <li><a href="https://soda.privatevoid.net/num/lists/web">num&#39;s link list</a> - <em>Site Index</em> </li>
   <li><a href="https://internetcurated.com/">Internet Curated</a> - <em>Directory Index</em></li>
   <li><a href="http://www.dmoztools.net/">DMOZ</a> or <a href="https://smartlinks.org/index.html">SmartLinks</a> - <em>Website Directory</em></li>
   <li><a href="https://indexmania.org/">Index Mania</a> - <em>Link Search Index</em></li>
   <li><a href="https://www.wikimedia.org/">Wikimedia</a> - <em>All Wikimedia Sources</em>  </li>
   <li><a href="https://gourav.io/clone-wars">Clone Wars</a> - <em>Site Clone Index / <a href="https://github.com/GorvGoyl/Clone-Wars">GitHub</a></em> </li>
   <li><a href="https://appsco.pe/">Appscope</a> or <a href="https://www.electronjs.org/apps">Electron</a> - <em>Web App Index</em></li>
   <li><a href="http://cloudtrip.com/">CloudTrip</a> - <em>Cloud App Index</em></li>
   <li><a href="https://www.stateofthedapps.com/">State of the DApps</a> - <em>Blockchain App Index</em> </li>
   <li><a href="https://www.pointlesssites.com/">Pointless Sites</a> - <em>Pointless Site Index</em></li>
   <li><a href="https://deepweblinks.net/directories/">DeepWebLinks</a> - <em>Deep Web Directories</em></li>
   <li><a href="https://dark.fail/">dark.fail</a>  - <em>Onion Directory / Tor Required</em></li>
   <li><a href="https://ufile.io/pgvxf9jv">260+  Dark Web Links</a></li>
   <li><a href="http://zqktlwiuavvvqqt4ybvgvi7tyo4hjl5xgfuvpdf6otjiycgwqbym2qad.onion/wiki/">Official Hidden Wiki</a> - <em>Tor Required</em></li>
   <li><a href="https://t.me/rfsnotes">RFS</a> - <em>Telegram Channels / TeamDrives / Tools</em>  </li>
   <li><a href="https://telegramchannels.me/">Telegram Channels</a>, <a href="https://t.me/tg_indexs">TELEGRAM INDEX</a>, <a href="https://t.me/tg_indexs">tg_indexs</a> or <a href="https://telegramic.org/">Telegramic</a> - <em>Telegram Channel Index</em></li>
   <li><a href="https://t.me/SearcheeBot">Searchee Bot</a> - <em>Telegram Channel Search</em> </li>
   <li><a href="https://t.me/BotsArchive">BotsArchive</a>, <a href="https://github.com/ebertti/awesome-telegram">2</a>, <a href="https://github.com/DenisIzmaylov/awesome-telegram-bots">3</a>, <a href="https://github.com/abdelhai/awesome-bots">4</a>, <a href="https://github.com/stkw0/awesome-telegram-groups">5</a>, <a href="https://github.com/serhii-londar/awesome-telegram">6</a>, <a href="https://github.com/lorien/awesome-telegram-lists">7</a> - <em>Telegram Bots Indexes</em> </li>
   <li><a href="https://lyzem.com/">Lyzem</a>, <a href="https://xtea.io/ts_en.html">xTea</a> or <a href="https://tgstat.com/search">TGStat</a> - <em>Telegram Channel / Bot Search</em></li>
   <li><a href="https://netsplit.de/">NetSplit</a> - <em>IRC Channel Index</em></li>
   <li><a href="https://apilist.fun/">API List</a>, <a href="https://www.apis.io/">APIs.io</a> or <a href="https://github.com/public-apis/public-apis">Public APIs</a> - <em>API index</em> </li>
   <li><a href="https://cyberpunk-life.neocities.org/">Cyberlife</a> - <em>Cyberpunk-Related Content / Sites Index</em> </li>
   <li>/r/coolgithubprojects - <em>Cool Projects on Github</em> </li>
   <li>/r/coolgitlabprojects - <em>Cool Projects on Gitlab</em></li>
   <li><a href="https://www.gitlogs.com/">git:logs</a> - <em>Trending GitHub Repos</em> </li>
   <li><a href="https://techgaun.github.io/active-forks/">Active Github Forks</a> - <em>List of active github forks</em></li>
   <li><a href="https://github.com/KevinScruff/awesome-zites">Awesome Zites</a> - <em>ZeroNet Site Index</em> </li>
   <li><a href="https://piracybank.org/websites">PiracyBank</a> - <em>List of sites tagged for copyright, mostly dead</em> </li>
   <li><a href="https://movim.eu/">Movim</a> - <em>Decentralized Social Network</em> </li>
   <li><a href="https://fediverse.party/">Fediverse</a> - <em>Federated Social Networks</em></li>
   <li><a href="https://imageboards.net/">ImageBoards</a>, <a href="https://eldritchdata.neocities.org/Lists/ChanList.html">ChanList</a> or <a href="https://github.com/ccd0/imageboards.json/blob/gh-pages/imageboards.json">imageboards.json</a> - <em>Image-Board Index</em></li>
   <li><a href="https://gitgud.io/iblist/imageboards.json">imageboards.json</a> or <a href="https://gitgud.io/iblist/textboards.json">textboards.json</a> - <em>Image / Textboard .json</em></li>
   <li><a href="https://deepai.org/">DeepAI</a> - <em>AI Tools Index</em> </li>
   <li><a href="https://runwayml.com/">RunawayML </a> - <em>AI Tools Index</em> </li>
   <li><a href="https://github.com/soruly/awesome-acg">Awesome ACG</a> - <em>Anime Tool Index</em> </li>
   <li><a href="https://anilinks.neocities.org/">Anilinks</a> - <em>Anime Related Site Index</em> </li>
   <li><a href="https://10kbclub.com/">10kb Club</a>, <a href="https://250kb.club/">250kb Club</a>, <a href="https://512kb.club/">512kb Club</a>, <a href="https://1mb.club/">1MB Club</a> - <em>Websites that don&#39;t exceed a certain size</em></li>
   <li><a href="https://nojs.club/">The NoJS Club</a> - <em>Websites that don&#39;t use JavaScript</em> </li>
   <li><a href="https://geocities.restorativland.org/">The Geocities Gallery</a> - <em>Old Site Index</em></li>
   <li><a href="https://zoalink.com/">ZoaLink</a> - <em>Korean Sites Index</em> </li>
   <li><a href="https://killedbygoogle.com/">KilledByGoogle</a> - <em>Dead Google Project Index</em></li>
   <li><a href="https://killedbymicrosoft.info/">KilledByMicrosoft</a> - <em>Dead Microsoft Project Index</em></li>
</ul>
<hr>
<h1 id="-piracy-discussion">► Piracy Discussion</h1>
<ul>
   <li><strong><a href="https://onehack.us/">OneHack</a></strong></li>
   <li><a href="https://discord.gg/eyedBqG9w3">Biohazard</a> - <em>Guides / Courses / Extensions / Chat</em></li>
   <li><a href="https://www.reddit.com/user/nbatman/m/piracy/">/m/piracy</a>, <a href="https://www.reddit.com/user/rekuloustoad/m/the_piracy_feed/">2</a> - <em>Piracy Multireddit</em></li>
   <li>/r/piracy - <em><a href="https://github.com/nid666/PiracyArchive">Backup</a></em></li>
   <li>/r/piratedgames - <em><a href="https://discord.gg/Da2akf2">Discord</a></em></li>
   <li>/r/DataHoarder - <em><a href="https://t.me/r_DataHoarder">Telegram</a></em></li>
   <li>/r/trackers </li>
   <li>/r/usenet </li>
   <li>/r/CrackSupport - <em>Piracy / Gaming / Cracking Discussion / <a href="https://discord.gg/eTsaTNpsxj">Discord</a></em></li>
   <li><a href="https://discord.gg/dZWwhUy">PGames</a> - <em>Piracy / Gaming / Discord</em></li>
   <li><a href="https://cs.rin.ru/forum">CS.RIN.RU</a></li>
   <li><a href="http://forum.ru-board.com/">Ru.Board</a></li>
   <li><a href="https://pirates-forum.org/">Piracy Forum</a> </li>
   <li><a href="https://babiato.co/">Babiato</a> </li>
   <li><a href="https://weboas.is/forum/">Weboas.is Forum</a> - <em><a href="https://webchat.is/">Chat</a></em></li>
   <li><a href="https://filesharingtalk.com/forum.php">FileSharingTalk</a></li>
   <li><a href="https://fileforums.com/">Fileforums</a> - <em>Gaming / Emulator / Data Compression Discussion</em></li>
   <li><a href="https://xforum.tech/">X-Forum</a> - <em>Discussion / Piracy / Guides</em></li>
   <li><a href="https://pirate-haven.github.io/">Pirate Haven</a> - <em>Guides / Discussion / <a href="https://discord.gg/JWqrdfN9Y8">Discord</a></em></li>
   <li><a href="https://discord.gg/FQ6EaprXyr">The MegaDrive</a> - <em>Piracy / DataHoarding Discussion</em></li>
   <li><a href="https://discord.gg/piracy">/r/AnimePiracy Discord</a></li>
   <li><a href="https://deepdive.gg/">deep dive</a> - <em>Piracy / Tech / Discussion / <a href="https://discord.gg/ZDhQkxdDT4">Discord</a></em></li>
   <li><a href="https://reddit.com/r/riprequests">RipRequests</a> - <em>FLAC / MP3 / Ripping Discussion / <a href="https://discord.gg/y4MSkdvWYg">Discord</a></em></li>
   <li><a href="https://www.reddit.com/r/GenP">GenP</a> - <em>Adobe Software Patcher / <a href="https://discord.com/invite/X9ZuegSM4N">Discord</a></em></li>
   <li><a href="https://t.me/TorrentCommunity">Torrent Community</a> - <em>Telegram</em></li>
   <li><a href="https://lostmediawiki.com/">The Lost Media Wiki</a> / <a href="https://forums.lostmediawiki.com/">Forum</a></li>
   <li><a href="https://krinkels.org/">Krinkels</a> or <a href="https://encode.su/">Encode</a> - <em>Data Compression Discussion</em></li>
   <li><a href="https://www.wjunction.com/">WJunction</a> - <em>Pirate webhost / provider discussion</em> </li>
   <li><a href="https://discord.gg/D9rs7TM">VR Pirates</a> - <em>VR Piracy Discussion</em> </li>
   <li><a href="https://discord.gg/rCqKSvR">VRChat Modding Group</a> - <em>VR Modding Discussion</em> </li>
   <li><a href="https://www.reddit.com/r/Piracy/wiki/megathread/related_subreddits">More Piracy Subs</a></li>
</ul>
<hr>
<h1 id="-free-stuff">► Free Stuff</h1>
<ul>
   <li><a href="https://store.steampowered.com/genre/Free%20to%20Play/">Steam F2P</a>, /r/FreeGamesOnSteam or <a href="https://steamdb.info/upcoming/free/">SteamDB</a>  - <em>Steam Games</em> </li>
   <li><a href="https://gamesfree.today/">Games Free Today</a> - <em>Games</em></li>
   <li><a href="https://freegames.codes/">FreeGames.codes</a> - <em>Games / <a href="http://play.google.com/store/apps/details?id=com.freegamescodes.freegamescodes">Android</a></em></li>
   <li><a href="https://isthereanydeal.com/#/filter:&amp;price/0/0">IsThereAnyDeal</a> - <em>Games</em> </li>
   <li><a href="https://freebies.indiegala.com/">IndieGala</a> - <em>Games</em></li>
   <li><a href="https://claimfreegames.com/">ClaimFreeGames</a> - <em>Games</em> </li>
   <li><a href="https://www.epicgames.com/store/en-US/free-games">Epic Games Free</a>, <a href="https://t.me/egsnotifier_bot">egsnotifier_bot</a> or <a href="https://t.me/epicfreegames">Epic Free Games</a> - <em>Games</em></li>
   <li>/r/googleplaydeals - <em>Paid apps</em> </li>
   <li><a href="https://t.me/androidappsales">Android App Sales</a> - <em>Paid apps / Telegram</em> </li>
   <li><a href="https://play.google.com/store/apps/details?id=net.tsapps.appsales">AppSales</a> - <em>Paid apps</em></li>
   <li><a href="https://play.google.com/store/apps/details?id=com.appsfree.android">AppsFree</a> - <em>Paid apps</em></li>
   <li><a href="https://onehack.us/c/free-give-away/6">OneHack Freebie Thread</a> - <em>Give-Aways and Freebies</em></li>
   <li><a href="https://aws.amazon.com/free/?all-free-tier.sort-by=item.additionalFields.SortRank&amp;all-free-tier.sort-order=asc">AWS Free Tier</a> - <em>Products / Services</em></li>
   <li><a href="https://appsumo.com/tools/freebies/">AppSumo Freebies</a> - <em>Apps</em></li>
   <li><a href="https://www.freecycle.org/">FreeCycle</a> - <em>People giving away free stuff</em></li>
   <li><a href="https://imaginationlibrary.com/">Dolly Parton’s Imagination Library</a> - <em>Book Gifting Program (For Children)</em></li>
   <li><a href="https://t.me/FreeSteamOffers_Bot/">FreeSteamOffers_Bot</a> - <em>Telegram</em></li>
   <li>/r/eFreebies </li>
   <li>/r/FreeGameFindings </li>
   <li>/r/udemyfreebies </li>
   <li>/r/FREECoursesEveryday </li>
   <li>/r/FreeEBOOKS  </li>
   <li>/r/FreeMusicFindings </li>
   <li>/r/Freenookbooks/</li>
   <li>/r/bookdownloads/</li>
   <li>/r/KindleFreebies/</li>
   <li>/r/Freegamestuff</li>
</ul>
<hr>
<h1 id="-fun-sites">► Fun Sites</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_conversational_chatbots">Conversational Chatbots</a></strong> - <em>Chat with AI</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_live_webcams">Live Webcams</a></strong> - <em>Watch Live Webcams</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_multireddits">FMHY Curated Multireddits</a></strong> - <em>Multireddits curated by FMHY memebers</em></li>
   <li><a href="https://stumblingon.com/">StumblingOn</a>, <a href="https://stumbled.cc/">Stumbled</a>, <a href="https://www.boredbutton.com/">BoredButton</a>, <a href="https://sharkle.com/">Sharkle!</a>, <a href="https://theuselessweb.com/">The Useless Web</a>, <a href="https://jumpstick.app/">JumpStick</a>, <a href="https://openbulkurl.com/random/">OpenBulkURL</a> or <a href="https://random.new/">random</a> - <em>Takes you to a Random Site</em></li>
   <li><a href="https://neverthink.tv/">NeverThink</a> - <em>Watch Random Memes / Videos</em> </li>
   <li><a href="https://r.sine.com/index">r.sine.com</a>, <a href="https://funnyjunk.com//">Funnyjunk</a> or <a href="https://nik.bot.nu/">Imageboard Scraper</a> - <em>Images, Memes &amp; GIFs / Some NSFW</em></li>
   <li><a href="https://neal.fun/">Neal.fun</a> or <a href="https://jenniferdewalt.com/">JenniferDewalt</a> - <em>Sites / Games</em></li>
   <li><a href="https://justforfun.io/">Just For Fun</a> or <a href="http://andrewmarsh.com/software">Andrew Marsh</a> - <em>Coding Project Showcase</em> </li>
   <li><a href="https://triptoysfor.me/">Trippy shit Mega List</a>, <a href="https://aidn.jp/">AIDN</a>, <a href="https://codepen.io/neave">Neave</a> or <a href="https://mrdoob.com/">Mr.doob</a> - <em>Toys &amp; Experiments</em> </li>
   <li><a href="https://in.bimble.space/toys">Bimble Space</a> - <em>Multiple Toys / Art Tools</em> </li>
   <li><a href="https://www.kamogo.com/faq/">Kamogo</a> - <em>Useless Web Apps</em></li>
   <li><a href="https://www.moodlight.org/">MoodLight</a> - <em>Turn Screen into Strobe Light</em></li>
   <li><a href="https://drinkinggamezone.com/">Drinking Game Zone</a> - <em>Drinking Games Encyclopedia</em> </li>
   <li><a href="http://drinkify.org/">Drinkify</a> - <em>Picks Drinks Based on Songs</em> </li>
   <li><a href="https://www.activitysuggestion.com/">Activity Suggestion</a>, <a href="https://randomthingstodo.com/">Things to Do</a> or <a href="https://bored.solutions/">bored.solutions</a> - <em>Activity Suggestions</em> </li>
   <li><a href="https://humanbenchmark.com/">Human Benchmark</a> - <em>Brain Games &amp; Cognitive Tests</em> </li>
   <li><a href="http://david.li/">David.li</a> - <em>Physics Games</em></li>
   <li><a href="https://sandspiel.club/">sandspiel.club</a> - <em>Falling Sand Physics Sandbox</em> </li>
   <li><a href="http://drivemeinsane.com/">DriveMeInsane</a> - <em>Control a Home Automation System</em> </li>
   <li><a href="https://lookslikeyouneediceland.com/">LooksLikeYouNeedIceland</a> or <a href="https://justscream.baby/">JUST SCREAM!</a> - <em>Scream Into the Universe</em> </li>
   <li><a href="https://www.ventscape.life/">VentScape</a> - <em>Speak into a Void</em> </li>
   <li><a href="https://thenicestplace.net/">The Nicest Place</a> - <em>Internet Hugs</em></li>
   <li><a href="https://aggie.io/">Aggie.io</a> or <a href="https://malmal.io/">malmal</a> - <em>Draw with Friends or Strangers</em> </li>
   <li><a href="https://www.monsterland.net/">Monsterland</a> - <em>Collabortive Monster Drawing</em> </li>
   <li><a href="https://www.bricklink.com/v2/build/studio.page">BrickLink Studio</a> - <em>Lego building software</em></li>
   <li><a href="https://outsidesimulator.com/">Outside Simulator</a> - <em>Simulate Being Outside</em> </li>
   <li><a href="https://travel-remotely.netlify.app/">Travel Remotely</a> - <em>Traveling Simulator</em> </li>
   <li><a href="https://stringers.live/">stringers.live</a> - <em>Live Stringer (freelance journalist) Streams</em></li>
   <li><a href="https://window-swap.com/window">WindowSwap</a> - <em>Open Random Windows</em> </li>
   <li><a href="https://web.archive.org/web/20191229101209/https://justtypestuff.com/">Just Type Stuff </a> - <em>Type Things into Existence</em></li>
   <li><a href="https://pokemonshowdown.com/">Pokemon Showdown</a> - <em>Pokemon Battle Simulation</em> </li>
   <li><a href="https://thisissand.com/">This Is Sand</a> - <em>Make Sand Art</em> </li>
   <li><a href="https://orb.farm/">Orb.Farm</a> - <em>Virtual Aquatic Ecosystem</em> </li>
   <li><a href="https://www.marblerun.at/">MarbleRun</a> - <em>Create Marble Courses</em></li>
   <li><a href="https://bouncyballs.org/">Bouncy Balls</a> or <a href="http://ricktu288.github.io/balls-simulation/">Balls Simulation</a> - <em>Ball Physics Simulator</em></li>
   <li><a href="https://paveldogreat.github.io/WebGL-Fluid-Simulation/">Fluid Simulation WebGL</a> or <a href="http://haxiomic.github.io/GPU-Fluid-Experiments/html5/">WebGL Fluid Experiment</a> - <em>Fluid Simulation</em></li>
   <li><a href="http://madebyevan.com/webgl-water/">WebGL Water</a> - <em>Water Simulation</em> </li>
   <li><a href="https://origamisimulator.org/">Origami Simulator</a> - <em>Origami Simulation</em> </li>
   <li><a href="https://www.onemotion.com/fold-cut-paper/">Fold &amp; Cut</a> - <em>Make Digital Paper Snowflakes</em></li>
   <li><a href="https://29a.ch/sandbox/2011/neonflames/">Neonflames</a> - <em>Draw Nebula</em> </li>
   <li><a href="https://quazikb.github.io/WaveEq/index.html">WaveEQ</a> - <em>Real-Time Wave Tracing</em> </li>
   <li><a href="https://codepen.io/Godje/full/mOzpEY/">Leapy Grid</a> - <em>Play with Rainbow Grid</em> </li>
   <li><a href="https://noisedeck.app/">NoiseDeck</a> - <em>Visual Noise Mixer</em> </li>
   <li><a href="https://www.mandalagaba.com/">MandalaGaba</a> / <a href="https://pro.mandalagaba.com/">Pro Version</a> or <a href="https://codymoose.github.io/web-applications/DigitalDoily/index.html">DigitalDoily</a> - <em>Zen Geometry Tool</em></li>
   <li><a href="http://weavesilk.com/">Silk</a> - <em>Create Geometric Silk Art</em></li>
   <li><a href="https://stephaneginier.com/sculptgl/">SculptGL</a> - <em>Sculpting Tool</em> </li>
   <li><a href="https://gregtatum.com/poems/recursive/5/">Recursivity</a> - <em>3D Tree Creator</em> </li>
   <li><a href="https://nathanfriend.io/inspirograph/">Inspirograph</a> - <em>Inspirograph Tool</em></li>
   <li><a href="http://seedcode.com/SpirographN/sgn.html">SpirographN</a> - <em>Spirograph Tool</em></li>
   <li><a href="https://codepen.io/davidpanik/full/myMrLx/">myMrLx</a> - <em>Spiral Art Generator</em> </li>
   <li><a href="https://bomomo.com/">bomomo</a> - <em>Digital Art Creator</em></li>
   <li><a href="http://www.random-art.org/">Random Art</a> - <em>Random Art Generator</em></li>
   <li><a href="https://williamhoza.com/periodicity/">Periodicity</a> - <em>Harmonic Motion Patterns</em></li>
   <li><a href="http://cubes.io/">Cubes.io</a> - <em>Cellular Automata</em> </li>
   <li><a href="https://csh.bz/line/05x5.html">05x5</a> - <em>Rainbow Pattern Generator</em></li>
   <li><a href="https://chaos-equations.glitch.me/?p=LBMRMS">Chaos Equations</a> - <em>Chaos Equation Visualizations</em></li>
   <li><a href="https://loveeevee.github.io/Dots-Converter/dots-draw.html">Dots-Converter</a> - <em>Draw with Dots</em></li>
   <li><a href="https://superformula.club/">Super Forumula</a> - <em>Shape Creation Tool</em> </li>
   <li><a href="https://paint.wtf/">paint.wtf</a> - <em>Have an AI Judge your Art</em> </li>
   <li><a href="https://ybenbihi.github.io/windows-error-worm/">Windows XP Error Worm</a> - <em>Click &amp; Drag Windows Errors</em> </li>
   <li><a href="https://ourworldoftext.com/">Our World of Text</a> or <a href="https://www.yourworldoftext.com/">Your World of Text</a> - <em>Infinite grid of text editable by anyone</em></li>
   <li><a href="https://pixels.land/">pixels.land</a> - <em>Infinite Pixel Art online</em>  </li>
   <li><a href="https://rednuht.org/genetic_cars_2/">Genetic Cars 2</a> - <em>Random 2D Car Generator</em></li>
   <li><a href="http://cachemonet.com/">cachemonet</a> - <em>Randomly Generated GIFs/ Backgrounds</em> </li>
   <li><a href="https://aidn.jp/wowa/">Wonder of Wonder Art</a> - <em>Create a Dancing Character</em> </li>
   <li><a href="https://cat-bounce.com/">CAT BOUNCE!</a> - <em>Bounce Cats</em></li>
   <li><a href="https://gifypet.neocities.org/">Gifypet</a> - <em>Create Your Own Cute Pet</em> </li>
   <li><a href="http://www.20q.net/">20Q</a> or <a href="https://en.akinator.com/">Akinator</a> - <em>20 Questions</em></li>
   <li><a href="https://www.my70stv.com/">70&#39;s TV Simulator</a>, <a href="https://www.my80stv.com/">80&#39;s</a>, <a href="https://www.my90stv.com/">90&#39;s</a> or <a href="https://www.my00stv.com/">00&#39;s TV Simulator</a></li>
   <li><a href="https://neave.tv/">Neave.tv</a> - <em>TV without context</em> </li>
   <li><a href="http://theofficestaremachine.com/">The Office Stare Machine</a> - <em>The Office Video Emotions</em> </li>
   <li><a href="https://workatdundermifflin.com/">Work at Dunder Mifflin</a> - <em>Listen to the Sounds of Dunder Mifflin</em> </li>
   <li><a href="http://pierrepapierciseaux.net/.skynet/?lang=en">Skynet</a> - <em>View Websites like they&#39;re from the 90&#39;s</em></li>
   <li><a href="https://www.toonamiremastered.com/">Toonami Remastered</a> - <em>Remastered Toonami Content</em> </li>
   <li><a href="https://explosm.net/rcg">Random Comic Generator 3.0</a> - <em>Explosm Random Comic Generator</em></li>
   <li><a href="https://pudding.cool/2020/04/music-challenge/">Music Challenge</a> - <em>How well do you recognize hit songs?</em></li>
   <li><a href="https://themes.moe/">Themes.moe</a> - <em>Anime Opening / Theme Search</em></li>
   <li><a href="https://geekprank.com/">GeekPrank</a> - <em>Windows Pranks</em></li>
   <li><a href="https://hackertyper.net/">Hacktyper</a> or <a href="https://geektyper.com/">Geektyper</a> - <em>Fake Hacking Screen</em> </li>
   <li><a href="https://www.peteranswers.com/">Peter Answers</a> - <em>Create Fake Questions &amp; Answers / <a href="https://peteranswers.info/peter-answers-hack">Tutorial</a></em> </li>
   <li><a href="https://nopaint.art/">No Paint</a> - <em>Press &quot;Paint&quot; if you like what you see, &quot;No&quot; if you don&#39;t</em> </li>
   <li><a href="https://pointerpointer.com/">PointerPointer</a> - <em>Get Your Pointer Pointed At</em> </li>
   <li><a href="https://bubblespop.netlify.app/">BubblesPop</a> or <a href="https://calming.netlify.app/">Relax</a> - <em>Pop Bubble Wrap</em> </li>
   <li><a href="https://smashthewalls.com/">Smash The Walls</a> - <em>Smash Walls</em></li>
   <li><a href="http://oos.moxiecode.com/js_webgl/fur/index_petting.html">Petting</a> - <em>Fur Simulator</em></li>
   <li><a href="http://oos.moxiecode.com/js_webgl/spiders_2_hammertime/">Spider 2 Hammertime</a> - <em>Murder Spiders</em></li>
   <li><a href="https://www.slapkirk.com/">Slap Kirk</a> - <em>Slap Captain Kirk</em></li>
   <li><a href="https://slideventura.com/">Slide Ventura</a> - <em>Ace Ventura Sliding Door Simulator</em></li>
   <li><a href="https://thisxdoesnotexist.com/">ThisXDoesNotExist</a> - <em>Realistic-looking fake versions of things</em> </li>
   <li><a href="https://www.thispersondoesnotexist.com/">ThisPersonDoesNotExist</a> - <em>People That Don&#39;t Exist</em></li>
   <li><a href="https://www.thisworddoesnotexist.com/">This Word Does Not Exist</a> - <em>Words That Don&#39;t Exist</em> </li>
   <li><a href="https://thiswojakdoesnotexist.com/">This Wojak Does Not Exist</a> - <em>Wojak&#39;s That Don&#39;t Exist</em> </li>
   <li><a href="https://thiscatdoesnotexist.com/">ThisCatDoesNotExist</a> - <em>Cats That Don&#39;t Exist</em></li>
   <li><a href="https://thisanimedoesnotexist.ai/">This Anime Does Not Exist</a> - <em>Anime Characters That Don&#39;t Exist</em> </li>
   <li><a href="https://www.thiswaifudoesnotexist.net/">This Waifu Does Not Exist</a> - <em>Waifu&#39;s That Don&#39;t Exist</em> </li>
   <li><a href="https://thisfursonadoesnotexist.com/">This Fursona Does Not Exist</a> - <em>Fursona That Don&#39;t Exist</em></li>
   <li><a href="http://www.windows93.net/">Windows93</a> - <em>Windows 93 Browser Emulator / Games</em></li>
   <li><a href="https://github.com/Emupedia/emupedia.github.io/">EmuOS</a> - <em>Run Classic Games / Apps In Browser</em> </li>
   <li><a href="http://www.seehearparty.com/">see. hear. party.</a> - <em>List Things You Want to See... Party</em> </li>
   <li><a href="https://www.futureme.org/">FutureMe</a> - <em>Send messages to your future self</em></li>
   <li><a href="http://you.regettingold.com/">You&#39;re Getting Old</a> - <em>Age Perspective</em> </li>
   <li><a href="https://www.onthisday.com/">OnThisDay</a> - <em>What happened on a specific day many years ago</em> </li>
   <li><a href="https://www.openscope.co/">openScope</a> - <em>Air Traffic Control Simulator</em> </li>
   <li><a href="https://github.com/a-b-street/abstreet">Game a-b-street</a> - <em>Traffic Simulation</em></li>
   <li><a href="https://quartermaester.info/">Quarter Maester</a> - <em>Interactive Game of Thrones Map</em> </li>
   <li><a href="https://www.virtualvisittours.com/">Virtual Vist Tours</a> - <em>Ireland Virtual Tours</em> </li>
   <li><a href="http://wikiverse.io/">Wikiverse</a> - <em>3D visualization of Wikipedia</em> </li>
   <li><a href="http://playjudgey.com/">Judgey</a> - <em>Judge A Book By Its Cover</em> </li>
   <li><a href="https://www.didntknowiwantedthat.com/">Didn&#39;t Know I Wanted That</a> - <em>Things you didn&#39;t know you wanted</em></li>
   <li><a href="https://drawastickman.com/">Draw a Stickman</a> - <em>Stickman Adventure</em> </li>
   <li><a href="https://world-draw.appspot.com/draw">World Draw</a> - <em>Draw the World Together</em></li>
   <li><a href="https://scratch.mit.edu/">Scratch</a> - <em>Create Animations / Games</em> </li>
   <li><a href="https://joshdata.me/iceberger.html">Iceberger</a> - <em>Draw an Iceberg, See how it Floats</em></li>
   <li><a href="https://felixboiii.github.io/paper-plotter/">Paper Plotter</a> - <em>Create 3D plots out of paper</em> </li>
   <li><a href="https://www.instructables.com/">Instructables</a> - <em>Free Projects / Crafts</em> </li>
   <li><a href="http://www.arvindguptatoys.com/toys.html">Toys from Trash</a> - <em>Use Everyday Items to Make Toys</em> </li>
   <li><a href="https://freecampsites.net/">Free Camp Sites</a> - <em>Go Camping For Free</em></li>
   <li><a href="https://deardiary.wtf/">deardiary</a> - <em>Machine Learning Diary / <a href="https://youtu.be/Zc3qayGmYZQ">Concept Video</a></em> </li>
   <li><a href="https://maple.pet/webgbcam/">webgbcam</a> - <em>Gameboy Camera in Browser</em></li>
   <li><a href="http://wolfmanmuseum.org/">The Wolfman Museum of Art </a> - <em>Virtual Museum</em></li>
   <li><a href="http://eeemo.net/">Zalgo</a>, <a href="https://lingojam.com/WeirdTextGenerator">lingojam</a> or <a href="https://coolfont.org/">coolfont</a> - <em>Text style generators</em> </li>
   <li><a href="http://either.io/">Either</a> - <em>Would You Rather</em> </li>
   <li><a href="http://nightmare.mit.edu/">Nightmare Machine</a> - <em>Scary AI generated imagery</em></li>
   <li><a href="https://botnik.org/">Botnik</a> - <em>Word Remixer</em> </li>
   <li><a href="https://objection.lol/">Objection</a> - <em>Ace Attorney Objecting on Your Behalf !</em> </li>
   <li><a href="https://blueballmachine2.ytmnd.com/">Blue Ball Machine 2</a> - <em>Full Page Chain Reaction Machine</em></li>
   <li><a href="https://libraryofbabel.info/">Library of Babel</a> - <em>Every Book of Past, Present, and Future</em></li>
   <li><a href="https://www.xrdinosaurs.com/">xrDinosaurs</a> - <em>VR Dino Park</em></li>
   <li><a href="https://hubs.mozilla.com/">Hubs by Mozzila</a> - <em>VRChat-like hangout room (PC &amp; PCVR)</em> </li>
   <li><a href="https://lines.chromeexperiments.com/">Land Lines</a> - <em>Explore Google Earth via Gestures</em> </li>
   <li><a href="https://aprilfoolsdayontheweb.com/">April Fools Day On The Web</a> - <em>Find April Fools Pranks played by Websites</em> </li>
   <li><a href="https://framesynthesis.com/drivingsimulator/maps/">DrivingSimulator</a> - <em>2D Driving Simulator</em> </li>
   <li><a href="https://edition.cnn.com/interactive/2021/03/cnnix-steership/">cnnix-steership</a> - <em>Steer through the Suez Canal</em></li>
   <li><a href="https://moments.epic.net/">Moments of Happiness</a> - <em>Animated WebGL Animals</em></li>
   <li><a href="http://oskarstalberg.com/game/planet/planet.html">Planet</a> - <em>Planet Creator</em></li>
   <li><a href="http://whathappenedinmybirthyear.com/">What Happened in my Birthyear</a> - <em>Find out what happened on your birthyear</em> </li>
   <li><a href="https://whatthemovie.com/">WTM</a> - <em>Guess Movie from Screenshot</em> </li>
   <li><a href="http://www.kittenwar.com/">Kittenwar!</a> - <em>Rate Kittens</em></li>
   <li><a href="http://www.lmgtfy.com/">LMGTFY</a>, <a href="https://www.just-google.it/">Just Google</a>, <a href="https://www.just-fucking-google.it/">Just Fucking Google</a> or <a href="http://giybf.com/">GIYBF</a> - <em>Remind People that Google Exists</em> </li>
   <li><a href="http://www.olsenhome.com/gif/">The GIF Pronunciation Page</a> - <em>How to Pronouce &quot;GIF&quot;</em></li>
   <li><a href="http://www.umop.com/rps101.htm">RPS101</a> - <em>101 Gesture Rock-Paper-Scissors</em></li>
   <li><a href="https://localingual.com/">Localingual</a> - <em>Listen to International Dialects / Languages</em> </li>
   <li><a href="https://heyfromthefuture.com/">HeyFromTheFuture</a> - <em>What people wish they knew at your age</em></li>
   <li><a href="https://ifaketextmessage.com/">Fake Text Message</a> - <em>Make Fake Text Conversation</em> </li>
   <li><a href="https://www.futuretimeline.net/">FutureTimeline</a> - <em>Timeline of future predictions</em> </li>
   <li><a href="https://www.housecreep.com/">House creep</a> - <em>Homes With A Curious or Criminal History</em> </li>
   <li><a href="https://www.16personalities.com/">16 Personalities</a> - <em>Personality Tests</em></li>
   <li><a href="https://sixtriangles.github.io/">Six Triangles</a>, <a href="https://9axes.github.io/">9 Axes</a> or <a href="https://8values.github.io/">8 Values</a> - <em>Political Alignment Test</em></li>
   <li><a href="https://mattround.com/usvsth3m/1000-seconds/">1000 Seconds</a> - <em>Test of Patience</em></li>
   <li><a href="http://hypochondriapp.io/">Hypochondriapp</a> - <em>Get a terrible diagnosis for your symptoms</em></li>
   <li><a href="https://cuberule.com/">Cube Rule</a> - <em>The Cube Rule of Food</em> </li>
   <li><a href="https://everysecond.io/">EverySecond</a> - <em>Visualize Per Second Data</em></li>
   <li><a href="http://deathdate.info/">Death Date</a> - <em>Calculate your day of death</em> </li>
   <li><a href="https://www.wheresgeorge.com/">Where&#39;s George?</a> - <em>Currency Tracking Project</em> </li>
   <li><a href="https://fontbutts.netlify.app/">Fontbutts</a> - <em>Create Butts with different fonts</em></li>
   <li><a href="https://userinyerface.com/">User Inyerface</a> - <em>The most annoying website</em></li>
   <li><a href="https://www.storylocks.com/">Storylocks</a> - <em>Write Stories with different authors/friends</em></li>
   <li><a href="http://www.longestpoemintheworld.com/">LongestPoemInTheWorld</a> - <em>Matches Tweets to form Rhymes</em></li>
   <li><a href="https://www.rrrgggbbb.com/">RGB</a> - <em>RRRGGGBBB</em> </li>
   <li><a href="http://dogeweather.com/">DogeWeather</a> - <em>Weather with Doge</em> </li>
   <li><a href="https://www.csh.bz/">Chris Shier</a> - <em>Canvas Animations / GIFs</em> </li>
   <li><a href="http://www.staggeringbeauty.com/">StaggeringBeauty</a> - <em>Wiggle a Worm, Have a Seizure</em> </li>
   <li><a href="https://calm.ovh/">Keep calm and poke me.</a> - <em>Poke &amp; Pull</em> </li>
   <li><a href="https://artsandculture.google.com/experiment/blob-opera/AAHWrq360NcGbw?hl=en">Blob Opera</a> - <em>Lead a Blob Opera</em></li>
   <li><a href="http://pixelsfighting.com/">Pixels Fighting</a> - <em>Watch A Pixel Battle</em> </li>
   <li><a href="https://experiments.runwayml.com/generative_engine/">Generative Engine</a> - <em>Text to Image generator</em> </li>
   <li><a href="https://magenta.tensorflow.org/lofi-player">lofi-player</a> - <em>Create your own music room</em> </li>
   <li><a href="https://michaelbach.de/ot/">Michaelbach</a> - <em>Optical Illusions</em> </li>
   <li><a href="https://nobody.live/">nobody.live</a> - <em>Zero Viewer Twitch Stream Roulette</em> </li>
   <li><a href="https://urlebird.com/">Urlebird</a> - <em>3rd Party TikTok with better UI</em></li>
   <li><a href="https://codepen.io/akm2/full/rHIsa">Gravity Points</a> or <a href="http://justfound.co/gravity/">Gravity</a> - <em>Play with gravity</em> </li>
   <li><a href="https://bongo.cat/">bongo.cat</a> - <em>Become Bongo Cat</em> </li>
   <li><a href="http://dinahmoelabs.com/plink/">Plink</a> - <em>Multiplayer Music Maker</em></li>
   <li><a href="http://www.vitling.com/toys/acid-banger/">The Endless Acid Banger</a> - <em>Endless Autogenerated  Song</em></li>
   <li><a href="https://eternalbox.dev/jukebox_index.html">The Eternal Jukebox</a> - <em>Never-ending, ever changing versions of any song</em></li>
   <li><a href="https://www.typatone.com/">Typatone</a> - <em>Play Music by Typing</em> </li>
   <li><a href="http://typedrummer.com/">typedrummer</a> - <em>Drum by Typing</em> </li>
   <li><a href="https://soundscape.world/">Soundscape</a> - <em>Beat Builder / Visualizer</em> </li>
   <li><a href="https://aidn.jp/mikutap/">MikuTap</a> - <em>Click to Make Sounds / Graphics</em> </li>
   <li><a href="https://www.patatap.com/">Patatap</a> - <em>Type to Create Melodies / Moving Shapes</em> </li>
   <li><a href="http://touchpianist.com/">Touch Pianist</a> - <em>Magical Piano App</em> </li>
   <li><a href="https://experiments.withgoogle.com/ai/ai-duet/view/">A.I. DUET</a> - <em>AI Piano Duet</em> </li>
   <li><a href="https://www.concerthotels.com/got-rhythm">Got Rhythm?</a> - <em>Rhythm / Tempo Test</em> </li>
   <li><a href="https://www.fakemusicgenerator.com/">Fake Music Generator</a> - <em>Computer Generated Music</em></li>
   <li><a href="http://magickeyboard.io/">MagicKeyboard</a> - <em>Try &quot;feross&quot;, &quot;hexbin&quot;, &quot;rain&quot;, or &quot;semi&quot;</em> </li>
   <li><a href="https://www.bouncingdvdlogo.com/">Bouncing DVD Logo</a> - <em>DVD Logo</em> </li>
   <li><a href="https://starwarsintrocreator.kassellabs.io/">Star Wars Intro Creator</a> - <em>Create Star Wars intros</em> </li>
   <li><a href="https://waifulabs.com/">Waifu Labs</a> - <em>Meet your Waifu</em> </li>
   <li><a href="https://dood.al/pinktrombone/">Pink Trombone</a> - <em>Human Pitch Generator</em></li>
   <li><a href="https://purrli.com/">Purrli</a> - <em>Cat Purr Generator</em> </li>
   <li><a href="https://experiments.withgoogle.com/ai/bird-sounds/view/">BirdSounds</a> - <em>Thousands of Bird Sounds Visualized</em> </li>
   <li><a href="https://www.bumpworthy.com/">BumpWorthy</a> - <em>Adult Swim Bumps</em> </li>
   <li><a href="https://www.google.com/doodles?q=interactive">Google Doodles</a> - <em>Interactive Google Doodles</em></li>
   <li><a href="https://www.screentoys.com/">Screentoys</a> - <em>Photo Morphing Toy</em></li>
   <li><a href="https://www.wordblanks.com/">Word Blanks</a> or <a href="https://www.plot-generator.org.uk/">Plot Generator</a> - <em>Online Mad Libs</em></li>
   <li><a href="https://fact.directory/">Fact Directory</a> - <em>Facts &amp; Trivia For Every Topic</em> </li>
   <li><a href="https://www.funtrivia.com/">Fun Trivia</a> - <em>Trivia</em></li>
   <li><a href="http://theotaku.com/quizzes">theOtaku</a> - <em>Anime Personality Quizzes</em> </li>
   <li><a href="https://threejs.org/">Three.js</a> - <em>JavaScript 3D library</em> </li>
   <li><a href="https://pokemon.alexonsager.net/">Pokémon Fusion</a> - <em>Fuse Pokémon</em></li>
   <li><a href="https://pokepalettes.com/">Poke Palettes</a> - <em>Pokemon Color Palettes</em> </li>
   <li><a href="https://github.com/tobiasbueschel/awesome-pokemon">Awesome Pokemon</a> - <em>Pokemon Resource Index</em> </li>
   <li><a href="https://github.com/ad-si/awesome-lego">Awesome Lego</a> - <em>Lego Resource Index</em> </li>
   <li><a href="https://github.com/hkirat/awesome-chess">Awesome Chess</a> - <em>Chess Resource Index</em>  </li>
   <li><a href="https://github.com/yanchick/awesome-GoBadukWeiqi">Awesome Go/Baduk/Weiqi</a> - <em>Go/Baduk/Weiqi Resource Index</em> </li>
   <li><a href="https://tcrf.net/The_Cutting_Room_Floor/">The Cutting Room Floor</a> - <em>Unused Video Game Content Research</em></li>
   <li><a href="https://archive.org/details/4chan-threads-2009-2012">4GBs of 4chan Threads</a>, <a href="https://arch.b4k.co/">arch.b4k</a> or <a href="http://suptg.thisisnotatrueending.com/">Sup/tg/</a>  - <em>4Chan Archive</em></li>
   <li><a href="http://zoomquilt2.com/">Zoomquilt2</a> - <em>An infinitely zooming painting</em> </li>
   <li><a href="https://www.miragegallery.ai/">Mirage Gallery</a> - <em>AI Art Gallery</em> </li>
   <li><a href="https://www.saveriomorelli.com/commonvoice/">Common Voice</a> - <em>Help Teach a Machine How to Talk</em> </li>
   <li><a href="https://rubiksolve.com/">RubikSolve</a> - <em>Rubik&#39;s Cube Solver</em> </li>
   <li><a href="https://ifaketextmessage.com/">iFake</a> - <em>Make Fake Text Conversation</em> </li>
   <li><a href="https://www.secretrickroll.com/">SecretRickRoll</a> - <em>Custom Rick Roll Generator</em> </li>
   <li><a href="https://thefed.app/">The Fed</a> - <em>Central Banking Game</em> </li>
   <li><a href="https://brrr.money/">Money printer go BRRR</a> - <em>Print it, baby!</em> </li>
   <li><a href="https://classic.systemspace.network/">The Tsuki Project</a> - <em>Gain Eternal Life / <a href="https://youtu.be/mWkgvM-Qnhw">Explanation</a></em></li>
   <li><a href="http://orteil.dashnet.org/nested">Nested</a> - <em>Explore the Universe in a File System</em> </li>
   <li><a href="https://pornolize.com/">Pornolize</a> - <em>Make Inappropriate Versions of Webpages</em> </li>
   <li><a href="http://www.jezzamon.com/checkboxes/index.html">Checkboxes</a> - <em>Check Boxes</em> </li>
   <li><a href="https://discord.gg/pZZ3STQZ9Y">Make-A-Wish Foundation</a> - <em>100% Real Make-A-Wish</em></li>
   <li><a href="https://isitacat.com/">Is It A Cat?</a> - <em>Cat Image Detector</em> </li>
   <li><a href="http://takeovertheworld.org/matrix/">The.Matrix-ASCII</a> - <em>The Matrix Encoded in Text</em></li>
   <li><a href="https://scandybars.com/">sCandyBars</a> - <em>Candy Bar Photo Blog</em></li>
   <li><a href="http://www.vintageadbrowser.com/">Vintage Ad Browser</a> - <em>100,000+ Vintage Advertisements</em> </li>
   <li><a href="https://archive.org/details/jpcm_yuzu4k">Yuzu4K Japanese Commercials</a> - <em>Japanese Commercial Archive</em></li>
   <li><a href="https://www.isitnight.com/">isitnight</a> - <em>Determine if it is night</em> </li>
   <li><a href="https://www.watching-grass-grow.com/">Watching Grass Grow</a> - <em>Watch grass grow.</em></li>
   <li><a href="http://info.cern.ch/">info.cern</a> - <em>First Website on the Internet</em> </li>
   <li><a href="https://worlds-highest-website.com/">Worlds Highest Website</a> - <em>The Worlds Longest Website</em></li>
   <li><a href="http://idiotproofwebsite.com/">IdiotProofWebsite</a></li>
   <li><a href="http://motherfuckingwebsite.com/">MotherFuckingWebsite</a>, <a href="http://bettermotherfuckingwebsite.com/">BetterMotherFuckingWebsite</a>, <a href="https://evenbettermotherfucking.website/">EvenBetterMotherFuckingWebsite</a> or <a href="https://thebestmotherfuckingwebsite.co/">TheBestMotherFuckingWebsite</a></li>
   <li><a href="http://aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.com/">aaaaaa.....</a> - <em>Make URL&#39;s longer... ?</em></li>
</ul>
<hr>
<h1 id="-font-sites">►  Font Sites</h1>
<ul>
   <li><strong><a href="https://redd.it/8tqfg6">How to Download Fonts</a></strong></li>
   <li><a href="https://coolfont.org/">coolfont</a>, <a href="https://fontmeme.com/">Font Meme</a>, <a href="https://www.fontgeneratoronline.com/">Font Generator Online</a>, <a href="https://textfancy.com/">TextFancy</a> or <a href="https://fsymbols.com/generators/">fSymbols</a> - <em>Font Generator</em></li>
   <li><a href="https://drive.google.com/drive/folders/1aJVKslK0v_kKxvEd5KV3KSCfY0epXNz0">2000+ Fonts</a> - <em>Fonts / Drive</em></li>
   <li><a href="https://drive.google.com/file/d/1Y4yRd5KugATG5XfcjkuUgN9BU4wJJMVj/view">2300+ Fonts Pack</a> - <em>Fonts / Drive</em></li>
   <li><a href="https://www.dafont.com/">DaFont</a></li>
   <li><a href="https://graphicex.com/font/">graphicex</a></li>
   <li><a href="https://www.fontspace.com/">FontSpace</a></li>
   <li><a href="https://fonts.google.com/">Google Fonts</a></li>
   <li><a href="https://www.dafontfree.net/">Dafont Free</a> </li>
   <li><a href="https://www.fontsquirrel.com/">Font Squirrel</a></li>
   <li><a href="https://www.1001freefonts.com/">1001 Free Fonts </a></li>
   <li><a href="https://velvetyne.fr/">Velvetyne</a></li>
   <li><a href="https://fontlibrary.org/">Font Library</a> </li>
   <li><a href="https://www.theleagueofmoveabletype.com/">The League of Movable Type</a></li>
   <li><a href="http://losttype.com/">Lost Type Co-op</a></li>
   <li><a href="https://brick.im/fonts/">Fonts Brick</a> </li>
   <li><a href="https://getfont.herokuapp.com/">Get Font</a> - <em>Find Font in Github</em> </li>
   <li><a href="https://caveras.net/">Cava&#39;s Pixel Resources </a> - <em>Pixel Fonts</em> </li>
   <li><a href="https://drive.google.com/drive/folders/1hPV4o8fmxY2Ab9tXi84l0vVOUQEgFIbU">Scanlation School Drive</a> - <em>Comic Fonts</em></li>
   <li><a href="https://www.makewordart.com/">Make WordArt</a> - <em>WordArt Generator</em></li>
   <li><a href="https://int10h.org/oldschool-pc-fonts/">int10h</a> - <em>Oldschool PC Fonts</em> </li>
   <li><a href="https://github.com/chrissimpkins/codeface">Codeface</a> - <em>Fonts for Coding</em> </li>
   <li><a href="https://github.com/tonsky/FiraCode">FiraCode</a> - <em>Monospace Fonts</em> </li>
   <li><a href="https://nfggames.com/games/fontmaker/">NFG&#39;s Arcade Font Maker</a> or <a href="http://arcade.photonstorm.com/">Arcade Font Writer</a> - <em>Arcade Font Engine</em></li>
   <li><a href="http://www.meeshdesigns.com/Western%20Fonts/">MeeshDesigns</a> - <em>Font Index</em> </li>
   <li><a href="https://github.com/snowie2000/mactype/releases">MacType</a> - <em>Use Mac fonts on Windows</em></li>
   <li><a href="https://fontjoy.com/">FontJoy</a> - <em>Font Pairings Generator</em></li>
   <li><a href="https://www.myfonts.com/WhatTheFont/">WhatTheFont</a> or <a href="https://www.whatfontis.com/">What Font Is</a> - <em>Font identification from an image</em></li>
   <li><a href="https://www.nerdfonts.com/">Nerd Fonts</a> - <em>Iconic Font Aggregator</em></li>
   <li><a href="https://github.com/ayoy/fontedit">FontEdit</a>, <a href="https://www.glyphrstudio.com/">Glyphr Studio</a>, <a href="https://birdfont.org/">Bird Font</a> or <a href="https://fontforge.org/en-US/">Font Forge</a> - <em>Font Editor</em> </li>
   <li><a href="https://www.calligraphr.com/en/">Calligraphr</a> - <em>Create Your Own Fonts</em> </li>
   <li><a href="https://fontba.se/">FontBase</a> - <em>Font Manager</em> </li>
   <li><a href="http://eeemo.net/">Zalgo</a> or <a href="https://lingojam.com/WeirdTextGenerator">lingojam</a> - <em>Weird Font style generators</em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'm'
}
</script>

<style>

</style>