<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/WDV90lh.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-streaming-sites">► Streaming Sites</h1>
<h2 id="-dedicated-hosts">▷ Dedicated Hosts</h2>
<ul>
   <li><strong><a href="https://discord.com/invite/XBGm36RWEs">MoviesforDiscord</a></strong> - <em>Movies / TV / <a href="https://movies4discord.xyz/">Website</a></em></li>
   <li><strong><a href="https://lookmovie.io/">LookMovie</a></strong> - <em>Movies / TV</em></li>
   <li><strong><a href="https://trailers.to/">Trailers.to</a></strong> - <em>Movies / TV</em>  </li>
   <li><strong><a href="https://soapgate.org/">Soap2Day</a></strong> - <em>Movies / TV</em></li>
   <li><strong><a href="http://hdbest.net/">HDBest</a></strong>, <a href="https://vikv.net/">VikV</a>, <a href="https://gostream.site/">GoStream</a> or <a href="http://vexmovies.org/">VexMovies</a> - <em>Movies / TV</em></li>
   <li><strong><a href="https://weboas.is/stream/">WebOas.is</a></strong> - <em>Movies</em> </li>
   <li><strong><a href="https://ww1.m4ufree.com">M4uFree</a></strong> - <em>Movies / TV / Anime / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_m4ufree_clones">Clones</a></em></li>
   <li><strong><a href="https://c1ne.co/">C1NE</a></strong> - <em>Movies / TV</em> </li>
   <li><a href="https://nyafilmer.vip/">NyaFilmer</a>, <a href="https://nyafilmer1.com/">2</a>, <a href="https://gerryreid.com/">3</a> - <em>Movies / TV / JawCloud</em></li>
   <li><a href="https://www.theflix.to/">TheFlix</a> - <em>Movies / TV</em> </li>
   <li><a href="http://sockshare.ac/">SockShare</a> - <em>Movies / TV / Anime / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_sockshare_clones">Clones</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_google_drive_search">GDrivePlayer</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://openloadmov.net/">OpenloadMovies</a> - <em>Movies / TV</em></li>
   <li><a href="https://yesmovies.ag">Yes! Movies</a>, <a href="https://ww1.putlocker.vip/">Putlocker</a> or <a href="https://www2.solarmovie.to/">SolarMovie</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://simplestream.in/">Simple Stream</a> - <em>Movies / TV / Anime / ClipWatching</em></li>
   <li><a href="https://ww2.batflix.org/">BatFLIX</a> - <em>Movies / TV / Videyo</em></li>
   <li><a href="https://dekhobd.com/genre/hollywood.html">dekhoBD</a> - <em>Movies</em></li>
   <li><a href="http://103.205.233.70/">DHAKA FTP</a>, <a href="http://dhakaftp.com/">2</a> - <em>Movies / TV</em></li>
   <li><a href="http://162.12.215.254/">162.12.215.254</a> - <em>Movies / <a href="http://162.12.215.254/Data/Movies/">Drive</a></em></li>
   <li><a href="https://rainierland.to/">Rainierland</a> - <em>Movies / TV</em> </li>
   <li><a href="https://clubfilm4.xyz/">ClubFilm</a> - <em>Movies / TV / <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Use Translator</a></em></li>
   <li><a href="https://mellimovies2.tk/">MelliMovies</a> - <em>Movies / TV / <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Use Translator</a></em> </li>
   <li><a href="https://supernova.to/">SuperNova</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://ww2.putlocker123.to/">PutLocker123</a> - <em>Movies / TV</em></li>
   <li><a href="https://vumoo.to/">Vumoo</a> - <em>Movies / TV</em> </li>
   <li><a href="https://fsharetv.co/">FshareTV</a> - <em>Movies</em> </li>
   <li><a href="https://ohh.io/">Ohh.io</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.lunchflix.org/">LunchFlix</a> - <em>Movies / TV</em></li>
   <li><a href="https://uniquestream.vip/">UniqueStream</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://coolmoviez.app/">CooLMoviez</a> - <em>Movies / TV / Anime / <a href="https://t.me/coolmoviezfree">Telegram</a></em></li>
   <li><a href="https://flixhub.net/">FlixHub</a> - <em>Movies</em></li>
   <li><a href="https://vww.themoviebay.net/">TheMovieBay</a> - <em>Movies / TV / Videyo</em></li>
   <li><a href="https://thewebflicks.com/">TheWebFlicks</a> - <em>Movies / Streamtape</em> </li>
   <li><a href="https://fzmovies.net/">FZMovies</a> - <em>Movies / <a href="https://imgur.com/a/EtLokxO">How to Use</a></em> </li>
   <li><a href="https://movieforfree.co/">MoviesForFree</a> - <em>Movies / TV</em></li>
   <li><a href="https://ww2.1movies.is/">1movies</a>, <a href="https://ww1.couchtuner.space/">CouchTuner</a> or <a href="https://ww1.new-primewire.com/">New-Primewire</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://azm.to">AZMovies</a> - <em>Movies</em></li>
   <li><a href="https://hdm.to/">HDM.to</a> - <em>Movies</em> </li>
   <li><a href="https://www.moviehdkh.com/">Moviehdkh</a> - <em>Movies</em> </li>
   <li><a href="https://tainio-mania.online/">Tainio-Mania</a> - <em>Movies / TV / Anime / <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Use Translator</a></em> </li>
   <li><a href="http://isaidubb.co/tamil/hollywood-movies-in-english.html">IsAiDub</a> - <em>Movies</em></li>
   <li><a href="https://yesmovies.sh/">YesMovies.sh</a> - <em>Movie / TV / Anime</em> </li>
   <li><a href="https://123moviesfree.net/">123MoviesFree</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://gophie.cam/">Gophie</a> - <em>Movies / TV</em></li>
   <li><a href="https://flixgo.biz/">FlixGo</a> - <em>Movies / TV</em></li>
   <li><a href="https://smflix.cc/">SmFlix</a> - <em>Movies / TV</em></li>
   <li><a href="http://www.streamlord.com/">StreamLord</a> - <em>Movies / TV</em></li>
   <li><a href="https://onionplay.is/">OnionPlay.co</a> - <em>Movies / TV</em></li>
   <li><a href="https://afdah.info/">Afdah</a> - <em>Movies / TV</em></li>
   <li><a href="https://movie.directmoviedl.com/">VStream</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.goojara.to/">Goojara</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.join4films.net/hollywood/">Join4Films</a> - <em>Movies</em></li>
   <li><a href="https://www.imovies.cc/">iMovies</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://okfreemovies.com/home">OkFreeMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://allmoviesforyou.co/">AllMoviesForYou</a> - <em>Movies / TV</em> </li>
   <li><a href="https://flixtor.to">Flixtor</a> or <a href="https://filme21.com/">Filme21</a> - <em>Movies / TV / Movies Older Than 6 Months For Premium Only</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_teamdrives_.2F_open_directories">TeamDrive Indexes</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://tubitv.com">Tubi</a> - <em>Movies / TV / <a href="https://github.com/warren-bank/node-hls-downloader-tubitv">Downloader</a></em></li>
   <li><a href="https://kanopy.com/">Kanopy</a> - <em>Movies / TV / Library Card Required</em> </li>
   <li><a href="https://www.popcornflix.com/">PopcornFlix</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.crackle.com/">Crackle</a> - <em>Movies / TV</em></li>
   <li>Peacock - <em><a href="https://www.peacocktv.com/stream/movies">Movies</a> / <a href="https://www.peacocktv.com/stream/tv">TV</a> / <a href="https://www.peacocktv.com/stream/kids">Kids</a></em></li>
   <li><a href="https://www.shoutfactorytv.com/">ShoutFactoryTV</a> - <em>Movies / TV</em> </li>
   <li><a href="https://therokuchannel.roku.com/">Roku</a> - <em>Movies / TV</em></li>
   <li><a href="http://pluto.tv/on-demand">Pluto</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.vudu.com/">Vudu</a> - <em>Movies</em></li>
   <li><a href="https://www.imdb.com/tv/">IMDB TV</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.bbc.co.uk/iplayer">BBC iPlayer</a> - <em>Movies / TV / <a href="https://github.com/get-iplayer/get_iplayer">Downloader</a> / UK VPN required / <a href="https://windscribe.com/">Windscribes</a> free version works</em></li>
   <li><a href="https://bin.disroot.org/?12737f5d5ce404f2#3LhDYgPi7c1s3cfDsNZEHsZjKTNWpCm8ppxT7AH4JJYz">Free YouTube, Dailymotion &amp; Archive Movies</a> - <em>Big list of Free Movies</em></li>
   <li><a href="https://www.streamdor.com/">StreamDor</a>, <a href="https://freemovies.ltd/">FreeMovies</a> or <a href="https://moviesfoundonline.com/">MoviesFoundOnline</a> - <em>Movies / YouTube</em></li>
   <li><a href="https://www.reddit.com/user/nbatman/m/streaming/">YT Movies Multireddit</a> - <em>Youtube streaming subreddits</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_youtube_streaming_channels">YouTube Streaming Channels</a> - <em>Channels that host movies or shows</em></li>
   <li><a href="https://www.youtube.com/feed/storefront?bp=kgEmCGQSIlBMSFBUeFR4dEMwaWJWWnJUMl9XS1dVbDJTQXhzS3VLd3iiBQIoAg%3D%3D">Official YT Movies</a> - <em>Free with Ads</em></li>
   <li><a href="https://www.justwatch.com/">JustWatch</a> or <a href="https://reelgood.com/">ReelGood</a> - <em>Search Legal Streaming Hosts</em></li>
</ul>
<hr>
<h2 id="-multi-hosts">▷ Multi Hosts</h2>
<ul>
   <li><strong><a href="https://www.primewire.li/">PrimeWire</a></strong> - <em>Movies / TV / Anime</em></li>
   <li><strong><a href="https://www3.himovies.to/">HiMovies</a></strong> - <em>Movies / TV / Anime / <a href="https://www.reddit.com/r/freemediaheckyeah/wiki/storage#wiki_himovies_clones">Clones</a></em></li>
   <li><strong><a href="https://fmovies.name/">FMovies</a></strong> - <em>Movies / TV / Anime / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_fmovies_clones">Clones</a></em></li>
   <li><a href="https://yourptflixmovies.com/"><strong>YourPTFlixMovies</strong></a> - <em>Movies / TV</em></li>
   <li><a href="https://rarefilmm.com/">RareFilmm</a> - <em>Rare Movies</em> </li>
   <li><a href="https://movie-forum.co/forum.php">Movie-Forum</a> - <em>Movies / TV</em></li>
   <li><a href="https://kpkyk.com/">K a p K e y K</a> - <em>Movies / TV</em></li>
   <li><a href="https://wwv.icefilms-info.com/">IceFilms</a> - <em>Movies / TV</em></li>
   <li><a href="https://losmovies.live/">LosMovies</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://goldmovies.to/">GoldMovies</a> - <em>Movies / TV / Anime / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_goldmovies_clones">Clones</a></em> </li>
   <li><a href="https://dutafilm.network/">Dutafilm</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://cloudy.pk/category/english/">Cloudy</a> - <em>Movies / TV</em></li>
   <li><a href="https://cinevood.cyou/">CineVood</a> - <em>Movies / TV</em></li>
   <li><a href="https://moviewetrust.co/">MovieWeTrust</a> - <em>Movies / TV / <a href="https://discord.gg/UgYckg3hzQ">Discord</a></em></li>
   <li><a href="https://www.movies123.email/">Movies123</a> or <a href="https://ww.123movies.club">123movies</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://ymovies.se/">YMovies</a> - <em>Movies</em></li>
   <li><a href="https://topeuropix.site/">TopEuroPix</a> or <a href="https://europixhd.io/">europixHD</a>, <a href="https://europixhd.pro/">2</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://vidhotel.com/">VidHotel</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.cinebloom.org">CineBloom</a> - <em>Movies / TV</em></li>
   <li><a href="https://movieshunters.com/">MovieHunters</a> - <em>Movies / TV</em></li>
   <li><a href="https://movieshd.co/">MoviesHD</a> - <em>Movies / TV</em> </li>
   <li><a href="https://dogeflix.net/">Dogeflix</a> - <em>Movies / TV</em> </li>
   <li><a href="https://best-movies.watch/">Best-Movies</a> - <em>Movies</em></li>
   <li><a href="https://yeshd.net/">YesHD</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.uwatchfree.mn/">UWatchFree</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://flixpad.net/">FlixPad</a> - <em>Movies / TV</em> </li>
   <li><a href="https://moviewetrust.co/">MovieWeTrust</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www4.watchserieshd.tv/">WatchSeriesHD</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.downloads-anymovies.com/">DownloadAnyMovie</a> - <em>Movies</em> </li>
   <li><a href="https://teatv.xyz/">Teatv.xyz</a> or <a href="https://f5movies.co/">F5Movies</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.vmovee.watch/">Vmovee</a> - <em>Movies / TV</em></li>
   <li><a href="https://www3.gowatchseries.bz/">GoWatchSeries</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://w9.hdonline.eu/">HDO</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.filmxy.tv/">Filmxy</a> - <em>Movies</em></li>
   <li><a href="http://ligaxxi.xyz/">Ligaxxi</a> - <em>Movies / TV</em> </li>
   <li><a href="https://1watch-free.cc/">Watch free</a> - <em>Movies / TV</em> </li>
   <li><a href="https://emovies.io/">EMovies</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://movie4k.123movies.online/">Movie4k</a> - <em>Movies / TV</em></li>
   <li><a href="https://seehd.nl/">SeeHD</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.seehd.uno/">SeeHD.uno</a> - <em>Movies / TV / Anime / NSFW</em> </li>
   <li><a href="https://yesmovies.love/">Yesmovies.love</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www2.gustatv.to/">GustaTV</a> - <em>Movies / TV Anime</em></li>
   <li><a href="https://old.pubfilms.club/">Pubfilms</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.cimaclub.cc/category/%D8%A3%D9%81%D9%84%D8%A7%D9%85-%D8%A3%D8%AC%D9%86%D8%A8%D9%8A-%D9%85%D8%AA%D8%B1%D8%AC%D9%85%D8%A9-%D8%A7%D9%88%D9%86%D9%84%D8%A7%D9%8A%D9%86">CimaClub</a> - <em>Movies / TV / <a href="https://addons.mozilla.org/en-US/firefox/addon/traduzir-paginas-web/">Use Translator</a></em></li>
   <li><a href="https://www13.gomoviesfree.page/">GoMoviesFree</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://ww1.put-locker.com/">Put-Locker</a> or <a href="https://www.123moviesc.co/">123moviesc</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://cinehub.wtf/">Cinehub</a> - <em>Movies / TV / <a href="https://discord.com/invite/ZqHsfSEkBE">Discord</a></em> </li>
   <li><a href="https://flenix.net/">Flenix</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://hdfull.lv/">HDFull</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://vidnext.net/">Vidnext</a> or <a href="https://vidcloud9.com/">Vidcloud9</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://layarkacaxxi.biz/">Layerca21</a> - <em>Movies / TV / Use AdBlocker</em>  </li>
   <li><a href="https://4movierulz.mn/category/hollywood-movie-2020/">4MovieRulz</a> - <em>Movies</em> </li>
   <li><a href="https://123movie.uno/">123Movie</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.123moviesme.org/">123MoviesMe</a> or <a href="https://www.minionstream.com/">MinionStream</a> - <em>Movies / TV</em> </li>
   <li><a href="https://123moviesx.tv/">123Moviesx</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://watch0123movies.org">0123movies</a> - <em>Movies / TV</em></li>
   <li><a href="https://0123movieshub.to/">0123MoviesHub </a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.123moviesgo.li/">123MoviesGo</a> - <em>Movies / TV</em></li>
   <li><a href="https://123moviesweb.net/">123MovieWeb</a> - <em>Movies</em></li>
</ul>
<hr>
<h2 id="-search-hosts">▷ Search Hosts</h2>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_streaming_site_cse">Streaming Sites CSE</a></strong></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_video_search_sites">Video Search Engines</a></strong> - <em>Search sites similar to YouTube / <a href="https://cse.google.com/cse?cx=006516753008110874046:6v9mqdaai6q#gsc.tab=0">CSE</a></em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/find-rare-movies">How-to Find Rare Movies</a></strong> - <em>Obscure Film Hunting Guide</em></li>
   <li><strong><a href="https://fsapi.xyz/">FSAPI</a></strong> - <em>Search API, IMDb ids</em></li>
   <li><strong><a href="https://imdbstream.xyz/">IMDbStream</a></strong> - <em>Search API, IMDb ids</em></li>
   <li><strong><a href="https://netu.io/view_page.php?pid=4">NetU</a></strong> - <em>Search by clicking the <a href="https://i.imgur.com/c19hKLw.png">blue box</a>, try IMDb ids</em></li>
   <li><a href="https://streamy-flix.my-trials.ml/">Streamy-Flix</a> - <em>Multi host search</em> </li>
   <li><a href="https://videospider.in/">VideoSpider</a> - <em>Host crawler, IMDb ids</em></li>
   <li><a href="https://dbgo.fun/">DBGO</a> - <em>Search API, IMDb ids / <a href="https://dbgo.fun/list.php">Content List</a></em></li>
   <li><a href="https://apimdb.net/">ApiMDB</a> - <em>Search API, IMDb ids</em></li>
   <li><a href="http://vplus.ucoz.com/">VPlus.ucoz</a> - <em>Search API, IMDb ids</em> </li>
   <li><a href="https://api.123movie.cc/">123movies</a> - <em>Search API, IMDb ids</em></li>
   <li><a href="https://1movietv.com/">1movietv</a> - <em>Search API, IMDb ids</em> </li>
   <li><a href="https://www.2embed.ru/">2Embed</a> - <em>Search API, IMDb ids</em> </li>
   <li><a href="https://vidsrc.me/">VidSrc</a> - <em>Search API, IMDb ids</em></li>
   <li><a href="https://www.videocrawler.net/">VideoCrawler</a> - <em>Search API, IMDb ids</em> </li>
   <li><a href="http://crocovid.com/">Crocovid</a> - <em>Multi host search</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_manually_scrape_sites">Manually Scrape Sites</a> - <em>Scrape sites manually using a search engine</em></li>
   <li><a href="https://github.com/4L00/TemperMonkey-Scripts/">Stream IMDb</a> - <em>Add Stream Site Search Buttons to IMDb Pages</em></li>
   <li><a href="https://playphrase.me/">PlayPhrase</a> or <a href="https://yarn.co/">Yarn</a> - <em>Clip Quote Search Engine</em></li>
</ul>
<hr>
<h2 id="-specialty-streaming">▷ Specialty Streaming</h2>
<ul>
   <li><a href="http://www.club-mst3k.com/">Club-MST3k</a> - <em>All MST3k episodes</em></li>
   <li><a href="https://www.twitch.tv/rifftrax">Rifftrax Twitch</a> or <a href="https://pluto.tv/live-tv/rifftrax">RiffTrax Pluto</a> - <em>RiffTrax Live Streams</em></li>
   <li><a href="https://classiccinemaonline.com/">Classic Cinema Online</a>, <a href="https://bnwmovies.com/">BnWMovies</a> or <a href="http://www.dumb.com/movies/">Dumb Classic Movies</a> - <em>Classic Films</em></li>
   <li><a href="https://thefilmdetective.tv/">TheFilmDetective</a> - <em>Classic Films / TV</em></li>
   <li><a href="http://www.retrovisionmedia.com/">RetroVision Media</a> - <em>Retro / Classic Films</em> </li>
   <li><a href="https://www.thewutangcollection.com/">Wu Tang Collection</a> - <em>Martial Arts Films</em></li>
   <li><a href="https://ubu.com/film/">Ubu</a> - <em>Short Films / Avant-Garde</em></li>
   <li><a href="https://www.li-ma.nl/">LIMA</a> - <em>Short / Experimental Films</em></li>
   <li><a href="https://www.loc.gov/film-and-videos/">The Library of Congress</a> - <em>Movies / Short Films</em> </li>
   <li><a href="https://www.vdb.org/">Video Data Bank</a> - <em>Short Films / Rare Videos</em> </li>
   <li><a href="http://www.totalshortfilms.com/">Total Short Films</a>, <a href="https://www.viddsee.com/">Viddsee</a>, <a href="https://www.maff.tv/">MAFF</a>, <a href="https://www.shortoftheweek.com/">Short of the Week</a> or <a href="https://audpop.com/">Audpop</a> - <em>Short Films</em> </li>
   <li><a href="https://www.huntleyarchives.com/">HuntleyArchives</a> - <em>Rare / Forgotten Short Films</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_asian_drama_sites">Asian Drama Sites</a> - <em>Asian Drama Sites / English Subs</em></li>
   <li><a href="https://einthusan.tv/">Einthusan</a> - <em>South Asian Film Archive</em></li>
   <li><a href="https://indiancine.ma/">IndianCine</a> - <em>Indian Film Archive</em></li>
   <li><a href="https://jp-films.com/">JP-Films</a> - <em>Japanese Movies / TV / English Subs</em> </li>
   <li><a href="https://vinspirezhk.blogspot.com/">Watch HK Movies Online</a> - <em>Rare Chinese Movies / English Subs</em> </li>
   <li><a href="http://www.chicagofilmarchives.org/">Chicago Film Archives</a> - <em>Chicago Film Archive</em></li>
   <li><a href="https://easterneuropeanmovies.com/">Eastern European Movies</a> - <em>Eastern European Film Archive</em> </li>
   <li><a href="https://player.bfi.org.uk/free">BFIPlayer</a> or <a href="https://www.bfi.org.uk/bfi-national-archive">BFI National Archive</a> - <em>British Film Archive / UK VPN Required</em></li>
   <li><a href="https://www.britishpathe.com/">British Pathé</a> - <em>British Video Archive</em>  </li>
   <li><a href="https://www.nfb.ca/">nfb.ca</a> - <em>Canadian Film Archive</em></li>
   <li><a href="https://www.nfsa.gov.au/">NFSA</a> - <em>Australian Film Archive</em></li>
   <li><a href="https://ngataonga.org.nz/search-landing">NGA Taonga</a> or <a href="https://www.nzonscreen.com/">NZOnScreen</a> - <em>New Zealand Video Archive</em> </li>
   <li><a href="https://www.nls.uk/">NLS</a>, <a href="https://movingimage.nls.uk/">2</a> - <em>Scottish Film Archive</em> </li>
   <li><a href="https://digitalfilmarchive.net/">Northern Ireland Screen</a> - <em>Irish Film Archive</em></li>
   <li><a href="https://www.historicfilms.com/">Historic Films</a> or <a href="https://www.filmpreservation.org/">National Film Preservation Foundation</a> - <em>Historic Footage / Films</em></li>
   <li><a href="http://www.panix.com/~footage/">Prelinger Archives</a> - <em>Ephemeral Films <a href="https://archive.org/details/prelinger">Archive</a></em></li>
   <li><a href="http://stagedork.com/">StageDork</a> - <em>Broadway Show Recordings</em> </li>
   <li><a href="https://mehotkhan.github.io/BandersnatchInteractive/">Bandersnatch Interactive Player</a> - <em>Interactive player for Black Mirror: Bandersnatch</em></li>
   <li><a href="http://listentoamovie.com/">ListenToAMovie</a> - <em>Listen to Movies</em> </li>
   <li><a href="http://www.cheeseheadhosting.us/downloads/Descriptive%20Videos%20For%20The%20Blind/">Descriptive Audio of Movies / Shows</a>, <a href="http://www.cheeseheadhosting.us/downloads.php?link=discriptive%20videos%20for%20the%20blind%20vault%202">2</a>, <a href="http://www.cheeseheadhosting.us/downloads.php?link=discriptive%20movies%20for%20the%20blind%20vault%203%202013%20and%20newer">3</a> - <em>For blind users</em> </li>
   <li><a href="https://saidit.net/s/freemediafuckyeah/wiki/index">NSFW Sites</a> - <em>18+ / Account Required</em></li>
</ul>
<hr>
<h2 id="-educational-streaming-https-www-reddit-com-r-freemediaheckyeah-wiki-edu-wiki_-25ba_streaming-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/edu#wiki_.25BA_streaming">Educational Streaming</a></h2>
<hr>
<h1 id="-tv-streaming">► TV Streaming</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:hrhinud6efg">TV Streaming CSE</a></strong></li>
   <li><strong><a href="https://noxx.is">Noxx</a></strong> - <em>TV</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_google_drive_search">GDrivePlayer</a></strong> - <em>TV / Anime</em></li>
   <li><strong><a href="https://best-series.me/">Best-Series</a></strong> - <em>TV / Anime</em> </li>
   <li><strong><a href="https://www.couchtuner.host/">CouchTuner</a></strong> - <em>TV</em> </li>
   <li><a href="https://www.watchepisodes4.com/">WatchEpisodes</a> - <em>TV / Anime</em></li>
   <li><a href="https://www5.mywatchseries.stream/">MyWatchSeries</a> - <em>TV / Anime</em> </li>
   <li><a href="https://kisstvshow.to/">KissTVShow</a> - <em>Asian TV Shows / Subtitles</em>   </li>
   <li><a href="https://turkish123.com/">turkish123</a> - <em>Turkish TV Shows / Subtitles</em> </li>
   <li><a href="https://diva.sfsu.edu/collections/sfbatv">SFBTV</a> - <em>Bay Area TV Archive</em>  </li>
   <li><a href="https://killmyself.xyz/">killmyself.xyz</a> - <em>Episode Streams / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_killmyself_clones">Clones</a></em></li>
</ul>
<hr>
<h2 id="-anime-streaming">▷ Anime Streaming</h2>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:vzcl7wcfhei">Anime Streaming CSE</a></strong> / <a href="https://cse.google.com/cse?cx=006516753008110874046:mrfarx7-dxu">CSE 2</a></li>
   <li><strong><a href="https://piracy.moe/">/r/AnimePiracy Index</a></strong> or <a href="https://github.com/anshumanv/awesome-anime-sources">Awesome Piracy Anime</a> - <em>Curated List of Anime Sites / <a href="https://discord.gg/piracy">Discord</a></em></li>
   <li><strong><a href="https://www12.9anime.to/">9Anime</a></strong> or <a href="https://www12.9anime.ru/">9anime.ru</a> - <em>Sub / Dub / <a href="https://9anime.zone/">Mirrors</a> / <a href="https://redd.it/c330dx">Use Filter</a></em></li>
   <li><strong><a href="https://twist.moe/">Anime Twist</a></strong> - <em>Sub / <a href="https://discord.gg/Ea3Mq9n">Discord</a></em></li>
   <li><strong><a href="https://anime8.ru/">Anime8</a></strong> - <em>Sub / Dub</em></li>
   <li><strong><a href="https://animeflix.io/">AnimeFlix</a></strong> - <em>Sub / Dub</em></li>
   <li><strong><a href="https://animixplay.to/">AniMixPlay</a></strong> - <em>Sub / Dub / <a href="https://discord.gg/YyQ9cpS">Discord</a></em> </li>
   <li><strong><a href="https://animetribes.ru/">AnimeTribes</a></strong> - <em>Sub</em> </li>
   <li><strong><a href="https://animekisa.tv/">AnimeKisa</a></strong> - <em>Sub / Dub</em></li>
   <li><strong><a href="https://zoro.to/">Zoro</a></strong> - <em>Sub / Dub</em></li>
   <li><a href="https://4anime.to/">4Anime</a> - <em>Sub / <a href="https://discord.gg/TzuEpf8">Discord</a></em></li>
   <li><a href="https://aninow.net/">Aninow</a> - <em>Sub / Dub</em></li>
   <li><a href="https://animepahe.com/">AnimePahe</a> - <em>Sub</em></li>
   <li><a href="https://animehub.ac/">AnimehHub</a> - <em>Sub / Dub</em></li>
   <li><a href="https://animesa.ga/">Animesa</a> - <em>Sub / Dub</em></li>
   <li><a href="https://noobsubs.com/">NoobSubs</a> - <em>Sub / Dub / <a href="https://noobftp1.noobsubs.com/">Drive</a></em> </li>
   <li><a href="https://animelon.com/">AnimeLon</a> - <em>Sub / Learn Japanese</em></li>
   <li><a href="https://because.moe/">because.moe</a> - <em>Legal Anime Sites Search</em> </li>
   <li><a href="https://www.wonderfulsubs.com/">WonderfulSubs</a> - <em>Sub / Dub / <a href="https://discord.com/invite/AQkYAbb">Discord</a></em></li>
   <li><a href="https://aniwoofy.ml/">Aniwoofy</a> - <em>Sub / Dub / <a href="https://discord.gg/7FbaqBWKzb">Discord</a></em> </li>
   <li><a href="https://simplyaweeb.com/">Simplyaweeb</a> - <em>Sub / Dub / <a href="https://discord.gg/4uGvPUV">Discord</a></em> </li>
   <li><a href="https://www.dubbedanime.vip/">DubbedAnime</a> - <em>Sub / Dub / <a href="https://discord.gg/8FyN3w5">Discord</a></em></li>
   <li><a href="https://kissanime.nz/">KissAnime.ac</a> - <em>Sub / Dub / Not Original KissAnime</em></li>
   <li><a href="https://www.animebam.se/">AnimeBam</a> - <em>Sub / Dub</em></li>
   <li><a href="https://www2.kickassanime.rs/">KickAssAnime</a> - <em>Sub / Dub</em></li>
   <li><a href="https://ryuanime.com/">RyuAnime</a> - <em>Sub / Dub</em></li>
   <li><a href="https://genoanime.com/">Genoanime</a> - <em>Sub / Dub</em> </li>
   <li><a href="http://justdubs.org/">Just Dubs</a> - <em>Dub</em></li>
   <li><a href="https://fastani.net/">Fastanime</a> - <em>Sub</em> </li>
   <li><a href="https://gogo-stream.com/">Gogo-Stream</a>, <a href="https://www3.animeseries.io/">2</a>, <a href="https://gogoanime.sh/">3</a>, <a href="https://gogoanime.vc/">4</a>, <a href="https://vidstreaming.io/">5</a> - <em>Sub / Dub</em></li>
   <li><a href="https://ww5.dubbedanime.net/">Dubbed Anime</a> - <em>Sub / Dub</em></li>
   <li><a href="https://www1.animeshow.tv/">AnimeShow</a> - <em>Sub</em></li>
   <li><a href="http://www.chia-anime.me/">Chia-Anime</a> - <em>Sub</em></li>
   <li><a href="https://www.animerush.tv/">AnimeRush</a> - <em>Sub / Dub</em></li>
   <li><a href="https://animehd47.com/">AnimeHD47</a> - <em>Sub / Dub</em></li>
   <li><a href="https://kisscartoon.info/">KissCartoon.info</a> - <em>Anime / Cartoons / Sub / Dub</em></li>
   <li><a href="http://ww9.soul-anime.us/">Soul-Anime</a> - <em>Sub</em></li>
   <li><a href="https://nwanime.tv/">NWAnime</a> - <em>Sub</em> </li>
   <li><a href="https://aniorb.me/">AniOrb</a> - <em>Sub</em></li>
   <li><a href="https://darkanime.stream/">DarkAnime</a> - <em>Sub</em></li>
   <li><a href="https://kawaiifu.com/">Kawaiifu</a> - <em>Sub / Dub</em></li>
   <li><a href="https://animedaisuki.moe/">AnimeDaisuk</a> - <em>Sub</em></li>
   <li><a href="https://animeheaven.ru/">AnimeHeaven</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://animedao.to/">AnimeDao</a> - <em>Sub</em></li>
   <li><a href="https://animepill.com/">AnimePill</a> - <em>Sub</em></li>
   <li><a href="https://simply.moe/">Simply</a> - <em>Sub</em> </li>
   <li><a href="https://animumu.ga/">AniMumu</a> - <em>Sub</em></li>
   <li><a href="https://shiro.is/">Shiro</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.arrayanime.com/">Array Anime</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://pantsubase.tv/">Pantsubase</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://ww2.animeram.cc/">AnimeRam</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.picotube.online/">Picotube</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.animeland.us/">AnimeLand</a> - <em>Dub</em> </li>
   <li><a href="https://animetake.tv/">Animetake</a> - <em>Sub</em> </li>
   <li><a href="https://animevibe.tv/">AnimeVibe</a> - <em>Sub</em> </li>
   <li><a href="https://www3.animepace.si/">AnimePace</a> - <em>Sub</em> </li>
   <li><a href="https://www.divineanime.ru/">DivineAnime</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://animeow.me/">Animeow.me</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://kimanime.ru/">KimAnime</a> - <em>Sub / Dub</em> </li>
   <li><a href="http://www.anime1.com/">Anime1</a> - <em>Sub</em> </li>
   <li><a href="https://netanime.tv/">NetAnime</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://yugenani.me/">YugenAnime</a> - <em>Sub / Dub</em></li>
   <li><a href="https://tenshi.moe/">tenshi.moe</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.animefever.tv/">Animefever</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://anime-tv.fun/">Anime-TV</a> - <em>Sub</em> </li>
   <li><a href="https://animefrenzy.org/">AnimeFrenzy</a> - <em>Sub</em> </li>
   <li><a href="https://animesuge.io/">AnimeSuge</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.animefreak.tv/">Animefreak</a> - <em>Sub</em> </li>
   <li><a href="https://animereborn.net/">AnimeReborn</a> - <em>Sub</em></li>
   <li><a href="https://ww1.animesimple.com/">Anime Simple</a> - <em>Sub / Dub</em></li>
   <li><a href="https://aniwatcher.com/">AniWatcher</a> - <em>Sub / Dub</em></li>
   <li><a href="https://streamanimetv.net/">StreamAnimeTV</a> - <em>Sub / Dub</em></li>
   <li><a href="https://animemoviespot.com/">AnimeMovieSpot</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.divineanime.ru/">DivineAnime</a> - <em>Sub</em></li>
   <li><a href="https://animekh.com/">AnimeKH</a> - <em>Sub</em> </li>
   <li><a href="https://www.cartooncrazy.tv/">cartooncrazy</a>, <a href="http://www.cartooncrazy.net/">2</a> - <em>Anime / Cartoons</em> </li>
   <li><a href="http://www.animetoon.org/">animetoon</a> - <em>Anime / Cartoons</em> </li>
   <li><a href="https://www.thewatchcartoononline.tv/">thewatchcartoononline</a>, <a href="https://www.wcostream.com/">wcostream</a>, <a href="https://www.wcoforever.com/">wcoforever</a> or <a href="https://www.wco.tv/">WCO</a> - <em>Anime / Cartoons</em> </li>
   <li><a href="https://otaku-streamers.com/">Otaku-Streamers</a> - <em>Sub (Account Required)</em> </li>
   <li><a href="https://www.funimation.com/shows/free/">Funimation</a> - <em>Sub / Dub</em> </li>
   <li><a href="https://www.crunchyroll.com/videos/anime">CrunchyRoll</a> - <em>Sub / Dub</em> </li>
</ul>
<hr>
<h2 id="-cartoon-streaming">▷ Cartoon Streaming</h2>
<ul>
   <li><strong><a href="https://kimcartoon.to">KimCartoon.to</a></strong></li>
   <li><a href="https://www.topcartoons.tv/">TopCartoons</a></li>
   <li><a href="https://kisscartoon.info/">KissCartoon.info</a> - <em>Anime / Cartoons</em></li>
   <li><a href="http://www.toonova.net/">Toonova</a></li>
   <li><a href="https://www.supercartoons.net/">Supercartoons</a></li>
   <li><a href="https://www.b98.tv/">b98</a></li>
   <li><a href="https://www.cartooncrazy.tv/">cartooncrazy</a>, <a href="http://www.cartooncrazy.net/">2</a> - <em>Anime / Cartoons</em> </li>
   <li><a href="http://www.animetoon.org/">animetoon</a> - <em>Anime / Cartoons</em> </li>
   <li><a href="https://www.thewatchcartoononline.tv/">thewatchcartoononline</a>, <a href="https://www.wcostream.com/">wcostream</a>, <a href="https://www.wcoforever.com/">wcoforever</a> or <a href="https://www.wco.tv/">WCO</a> - <em>Anime / Cartoons</em> </li>
   <li><a href="https://southpark.cc.com/">South Park</a> - <em>South Park Episodes</em> </li>
   <li><a href="https://www.toonamiaftermath.com/">ToonamiAftermath</a> - <em>Toonami Stream</em> </li>
</ul>
<hr>
<h2 id="-sports-streaming">▷ Sports Streaming</h2>
<ul>
   <li><a href="https://nbafullhd.com/">NBAFullHD</a> or <a href="https://nbahdreplay.com/">NBAHDReplay</a> - <em>Full NBA games</em></li>
   <li><a href="http://watchwrestling24.net/">WatchWrestling24</a> - <em>MMA / Wrestling</em></li>
   <li><a href="http://www.allwrestling.live/">Allwrestling</a> - <em>MMA / Wrestling</em></li>
   <li><a href="https://watchwrestling.in/">WatchWrestling.in</a> - <em>MMA / Wrestling</em></li>
   <li><a href="https://watchwrestling.la/">WatchWrestling.la</a> - <em>MMA / Wrestling</em> </li>
   <li><a href="http://www.bellator.com/events">Bellator</a> - <em>Replays / MMA</em></li>
   <li><a href="https://www.reddit.com/r/mmafights/">/r/MMAFights</a> - <em>Videos / MMA</em></li>
   <li><a href="https://www.mma-core.com/videos/home">MMACore</a> - <em>Videos / MMA</em></li>
   <li><a href="https://www.allthebestfights.com/">AllTheBestFights</a> - <em>Videos / MMA / Boxing / K1</em></li>
   <li><a href="http://www.racinghd.net/">Racing HD</a> or /r/MotorsportsReplays - <em>Racing Replays</em> </li>
   <li><a href="https://f1fullraces.com/">F1 Full Races</a> - <em>F1 Replays</em> </li>
   <li><a href="https://www.sport-video.org.ua/">Sport Video</a> - <em>Sports Replays / Torrents</em> </li>
</ul>
<hr>
<h2 id="-live-tv-sports">▷ Live TV / Sports</h2>
<ul>
   <li><strong><a href="https://sportsurge.net/">Sportsurge</a></strong> - <em>Sports / Stream Locator</em></li>
   <li><strong><a href="https://jackal.surge.sh/">Jackal</a></strong> - <em>TV / Sports</em></li>
   <li><strong><a href="https://nbabite.com/">nbabite</a> or <a href="https://nflbite.com/">nflbite</a></strong> - <em>NBA / NFL</em></li>
   <li><strong><a href="http://streamwat.ch/">WebOas.is TV</a></strong> - <em>TV / Sports</em></li>
   <li><a href="https://www.stream2watch.is/">Stream2Watch</a> - <em>TV / Sports</em></li>
   <li><a href="https://github.com/iptv-org/awesome-iptv">Awesome IPTV</a>, <a href="https://github.com/iptv-org/iptv">2</a> - IPTV Resources / <a href="https://kodi.tv/addon/pvr-client/pvr-iptv-simple-client">Kodi app</a></li>
   <li><a href="https://m3u4u.com/">m3u Index</a>, <a href="https://hlscat.com/">HLSCat</a>, <a href="https://iptvcat.net/">2</a> / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_m3u_players">Players</a> / <a href="https://xteve.de/">Plex + Emby Proxy</a></li>
   <li><a href="http://123tv.live/">123TV</a> - <em>TV / Sports</em></li>
   <li><a href="https://www.streamlive.to/">streamlive</a> - <em>TV / Sports</em></li>
   <li><a href="https://sportsbay.org/live-streams">SportsBay</a> - <em>Sports</em> </li>
   <li><a href="https://firstsrowsports.tv/">First Row Sports</a> - <em>Sports</em></li>
   <li><a href="http://720pstream.tv/">720pStream</a> - <em>Sports</em></li>
   <li><a href="https://crackstreams.io/">CrackStreams</a>, <a href="https://crackstreams.me/">2</a>, <a href="http://crackstreams.is/">3</a> - <em>Sports / <a href="https://discord.gg/UhNr5XDx5R">Discord</a></em></li>
   <li><a href="http://www.streameast.live/">StreamEast</a> - <em>Sports</em></li>
   <li><a href="http://atdhe.pro/">ATDHE</a> - <em>Sports</em> </li>
   <li><a href="https://cricfree.sc/">Cricfree</a> - <em>Sports</em> </li>
   <li><a href="http://ripple.stream/">Ripple.stream</a> - <em>Sports</em> </li>
   <li><a href="https://givemeredditstreams.com/">GiveMeRedditStreams</a> - <em>Sports</em> </li>
   <li><a href="https://www.streamonsport.info/">StreamonSport</a> - <em>Sports</em></li>
   <li><a href="https://www.sportsala.cc/">SportSala</a> or <a href="https://www.123cric.com/">123Cric</a> - <em>Sports</em></li>
   <li><a href="http://pluto.tv/live-tv">Pluto</a> - <em>TV / Sports</em></li>
   <li><a href="http://time4tv.stream/">Time4TV</a> - <em>TV / Sports</em></li>
   <li><a href="http://www.cxtvlive.com/">CXtv</a> - <em>TV / Sports</em></li>
   <li><a href="https://ustv247.tv/">USTV247</a> - <em>TV / Sports</em></li>
   <li><a href="http://www.freeintertv.com/">FreeInterTV</a> - <em>TV / Sports</em></li>
   <li><a href="https://www.stream4free.live/">Stream4Free Live</a> - <em>TV / Sports</em></li>
   <li><a href="http://vipotv.com/">vipotv</a> - <em>TV / Sports</em></li>
   <li><a href="https://ustvgo.tv/">USTVGO</a> - <em>TV / Sports</em></li>
   <li><a href="https://ustreamix.to/index.html">uStreamix</a> - <em>TV / Sports</em> </li>
   <li><a href="https://lmshows.se/">LM Shows</a> - <em>TV</em></li>
   <li><a href="https://tvonline.liveschauen.com/">TVOnline.Liveschauen</a> - <em>TV</em> </li>
   <li><a href="http://www.worldcupfootball.me/">WorldCupFootball</a> - <em>Sports</em></li>
   <li><a href="https://cytu.be/">cytube</a> - <em>TV / chat</em></li>
   <li><a href="http://6stream.xyz/">6stream</a> - <em>Sports</em></li>
   <li><a href="http://yoursports.stream/">Your Sports Stream</a> - <em>Sports</em></li>
   <li><a href="http://livetv.sx">livetv</a> - <em>Sports</em></li>
   <li><a href="http://bilasport.net/">bilaSport</a> - <em>Sports</em></li>
   <li><a href="http://watchkobe.info/">WatchKobe</a> - <em>Sports</em></li>
   <li><a href="https://buffstreams.tv/">BuffStreams</a> - <em>Sports</em></li>
   <li><a href="https://sporthd.live/">SportHD</a> - <em>Sports</em> </li>
   <li><a href="http://crickfree.be/">cricfree.tv</a> - <em>Sports</em></li>
   <li><a href="https://thehomesport.com/">TheHomeSports</a> - <em>Sports</em> </li>
   <li><a href="https://live-sport.online/">Live-Sport</a> - <em>Sports</em> </li>
   <li><a href="https://fc2.crichd.com/new-home7">CricHD</a> - <em>Sports</em> </li>
   <li><a href="http://liveonscore.tv/">LiveOnScore</a> - <em>Sports</em> </li>
   <li><a href="https://blacktiesports.net/">Black Tie Sports</a> - <em>Sports</em> </li>
   <li><a href="https://mamahd.best/">MamaHD</a> - <em>Sports</em></li>
   <li><a href="https://daddylive.co/">DaddyLive</a> - <em>Sports</em></li>
   <li><a href="http://www.volokit.com/schedule/">Volokit</a> - <em>Sports</em> </li>
   <li><a href="https://www.vipleague.lc/">VIPLeague</a> or <a href="https://www.vipbox.lc/">VIPBox</a> - <em>Sports</em> </li>
   <li><a href="http://freestreams-live1.com/">FreeStream-Live</a> - <em>Sports</em> </li>
   <li><a href="https://t.me/tvlab">TVLab</a> - <em>IPTV Playlists / Telegram</em></li>
   <li><a href="https://t.me/iptv_sport">iptv_sport</a> - <em>IPTV Sports Playlists / Telegram</em></li>
   <li><a href="http://taima.tv/">TaimaTV</a> - <em>Wrestling / MMA / Boxing</em></li>
   <li><a href="https://reedit.soccerstreams.net/">Soccer Streams</a> - <em>Soccer</em></li>
   <li><a href="https://football-live.stream/free-matches-online-6">Football Live Stream</a> - <em>Football</em> </li>
   <li><a href="https://live-nfl.stream/">Live.NFL.Stream</a> + <em><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_live_nfl_stream_.28other_sports.29">Other Sports</a></em> </li>
   <li><a href="https://nbastreams.to/">NBAStreams</a>, <a href="https://nflstreams.to/">NFL</a>, <a href="https://nhlstreams.to/">NHL</a>, <a href="https://mlbstreams.to/">MLB</a> - <em>Sports</em> </li>
   <li><a href="http://topstreams.info/">Topstreams</a> - <em>Sports</em> </li>
   <li><a href="https://mlb66.ir/">MLB66</a> - <em>MLB</em> </li>
   <li><a href="https://boxingstreams.cc/">BoxingStreams</a> - <em>Boxing</em></li>
   <li><a href="https://formula1-live.stream/free-races-online-4">F1 Live Stream</a> - <em>F1</em> </li>
   <li><a href="https://www.livesoccertv.com/">LiveSoccer TV</a> - <em>Soccer</em></li>
   <li><a href="https://live.footybite.com/">footybite</a> - <em>Soccer</em> </li>
   <li><a href="https://www.nhlstream.net/">NHLstream</a> - <em>NHL</em></li>
   <li><a href="https://nhl66.ir/">NHL66</a> - <em>NHL</em></li>
   <li><a href="https://www.reddit.com/r/InsectsEnthusiasts/">InsectsEnthusiasts</a> - <em>Cricket</em></li>
   <li><a href="http://hd1.mylivecricket.live/">MyLiveCricket</a>, <a href="http://my3.mylivecricket.cc/">2</a> - <em>Cricket</em></li>
   <li><a href="https://ipl21.xyz/">ipl21</a> - <em>IPL Cricket Live</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_sports_streaming_subs">Sports Streaming Subreddits</a></li>
   <li><a href="http://reddit-livetv-links.blogspot.com/?m=1">Reddit Live TV Links</a> - <em>Live TV / Reddit</em></li>
   <li><a href="https://tv.jest.one/">TV.Jest</a> - <em>News</em> </li>
   <li><a href="https://showroom-live.com/">SHOWROOM</a> - <em>Live Performance Broadcasts</em></li>
   <li><a href="https://kcnawatch.org/korea-central-tv-livestream/">KCNA</a> - <em>North Korean Live TV</em> </li>
</ul>
<hr>
<h1 id="-android-streaming-https-www-reddit-com-r-freemediaheckyeah-wiki-android-wiki_-25ba_android_streaming-">► <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25BA_android_streaming">Android Streaming</a></h1>
<hr>
<h1 id="-download-sites">► Download Sites</h1>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:wevn3lkn9rr">Video Download CSE</a></strong> / <a href="https://cse.google.com/cse?cx=89f2dfcea452fc451">CSE 2</a> / <a href="https://cse.google.com/cse?cx=aab218d0aa53e3578">CSE 3</a></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/download">Download Piracy Guide</a></strong> - <em>ctrl+f and type &quot;video&quot;</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25B7_video_tools">Video Download Tools</a></strong> - <em>Download videos from streaming sites</em></li>
   <li><strong><a href="http://pahe.ph/">pahe.ph</a></strong> - <em>Movies / TV / Anime / HD / <a href="https://discord.gg/33P8hpR">Discord</a></em></li>
   <li><strong><a href="https://snahp.it/">snahp.it</a></strong> - <em>Movies / TV / Anime / HD / Passwords: snahp.it or snahp</em></li>
   <li><strong><a href="https://movieparadise.org/">MovieParadise</a></strong> - <em>Movies / TV</em></li>
   <li><strong><a href="http://worldscinema.org/">Worlds Cinema</a></strong> - <em>Old / Classic / Cult Films</em></li>
   <li><strong><a href="http://topnow.se/">TopNow</a></strong> - <em>Movies / <a href="https://discord.gg/WHYmgeB">Discord</a></em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_persian_video_download">Persian Video Download Sites</a></strong> - <em>Many of these sites have single click downloads</em></li>
   <li><strong><a href="https://mega.nz/folder/spMwmDTA#qYCZT7Wq0JqoJpkVsQv36A">50TB Mega Drive</a></strong>, <a href="https://mega.nz/folder/bswnSACT#EeW3b_CV7Es3Rbqim__pQA">2</a>, <a href="https://mega.nz/folder/jotyXZgJ#u1bncm3OWEk2wc9gXxhTbQ">3</a> - <em>Movies</em> </li>
   <li><strong><a href="https://mega.nz/folder/Jk8RjIBA#_dTNthUX3LL7OwSaauqIpw">The Criterion Collection</a></strong> - <em>Movies</em></li>
   <li><strong><a href="https://mega.nz/folder/xcZBBapA#x_KTMT2pTjv7_4Jjr8U5Rw">Marvel Media</a></strong> - <em>Marvel Movies / Shows</em></li>
   <li><strong><a href="https://drive.google.com/drive/folders/1rG-yrwKxhPOxTOE76QcxGWUSrZaRRql2">Disney Movie Collection</a></strong> - <em>Disney Movies</em></li>
   <li><a href="https://rarelust.com/">RareLust</a> - <em>Rare Movies / NSFW</em> </li>
   <li><a href="http://www.myduckisdead.org/">My Duck Is Dead</a> - <em>Rare Movies / NSFW</em> </li>
   <li><a href="https://reviviendoviejasjoyas.blogspot.com/">Reviviendo Viejas Joyas</a> - <em>Rare Movies / Stop Pages from Loading to use w/o Account</em> </li>
   <li><a href="https://discord.com/invite/XBGm36RWEs">MoviesforDiscord</a> - <em>Movie Streaming / Download Bot / <a href="https://movies4discord.xyz/">Website</a></em></li>
   <li><a href="https://psarips.uk/">PSARips</a> or <a href="https://x265.club/">x265.club</a> - <em>Movies / TV</em> </li>
   <li><a href="https://crazy4tv.com/">Crazy4tv</a> - <em>Movies / TV</em></li>
   <li><a href="https://ddlbase.net/">DDLBase</a> - <em>Movies / TV</em></li>
   <li><a href="https://megaddl.co/">megaDDL</a> - <em>Movies / TV</em></li>
   <li><a href="https://gdrivedl.com/">GDriveDL</a> - <em>Movies / TV</em></li>
   <li><a href="http://103.205.233.70/">DHAKA FTP</a>, <a href="http://dhakaftp.com/">2</a> - <em>Movies / TV</em></li>
   <li><a href="https://redd.it/ns1ejo">Movies, Series... in English</a>, <a href="https://redd.it/ns1kdi">2</a>, <a href="https://redd.it/nsb38a">3</a>, <a href="https://redd.it/ns2avz">4</a>, <a href="https://redd.it/ns2wcv">5</a> - <em>Movies / TV</em></li>
   <li><a href="https://hdpopcorns.blog/">HDPopcorns</a> - <em>Movies</em></li>
   <li><a href="http://movieswbb.com/">MoviesWBB</a> - <em>Movie / TV</em></li>
   <li><a href="https://katmoviehd.nl/">KatMovieHD</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.amadei33.com/">Amadei33</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://mkvbee.com/">MKVBee</a> - <em>Movies / TV</em></li>
   <li><a href="https://mkvhouse.com/">MKVHOUSE</a> - <em>Movies / TV</em></li>
   <li><a href="https://rinzry.stream/">Rinzry</a> - <em>TV / Anime</em></li>
   <li><a href="https://minirlss.com/">Minirlss</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://tagmovies.co/">TagMovies</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://fzmovies.net/">FZMovies</a> - <em>Movies / <a href="https://imgur.com/a/EtLokxO">How to Use</a></em> </li>
   <li><a href="http://hugewarez.net/movie/">HugeWarez</a> - <em>Movies / TV</em></li>
   <li><a href="https://hevcbay.com/">HEVCBay</a> - <em>Movies</em></li>
   <li><a href="https://extramovies.world/">Extra Movies</a> - <em>Movies</em>  </li>
   <li><a href="https://www.thenetnaija.com/">NetNaija</a> - <em>Movies / TV</em>  </li>
   <li><a href="http://best-movies.info/">Best-Movies</a> - <em>Movies / TV</em>   </li>
   <li><a href="https://happy2hub.net/">Happy2Hub</a> - <em>Movies / TV</em>   </li>
   <li><a href="https://moviefire.net/">MovieFire</a> - <em>Movies</em> </li>
   <li><a href="https://somosmovies.com/">SomosMovies</a> - <em>Movies</em> </li>
   <li><a href="https://seriesvault.win/">SeriesVault</a> - <em>TV / Anime</em> </li>
   <li><a href="https://o2tvseries.com/">o2tvseries</a> - <em>TV</em>  </li>
   <li><a href="https://flixseries.club/">FlixSeries</a> - <em>TV</em> </li>
   <li><a href="https://www.micinehd.com/">MiCineHD</a> - <em>Movies / TV</em> </li>
   <li><a href="https://moviesverse.net/">MoviesVerse</a> - <em>Movies / TV</em></li>
   <li><a href="https://tvindexer.com/">TVindexer</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://seriesvault.tk/">SeriesVault</a> - <em>TV</em> </li>
   <li><a href="https://moviezaddiction.me/">MoviezAddiction</a> - <em>Movies / TV</em> </li>
   <li><a href="https://10starhd.run/category/hollywood-movies/">10StarHD</a> - <em>Movies</em></li>
   <li><a href="https://www.movieminions.co/">MovieMinions</a> - <em>Movies</em></li>
   <li><a href="https://worldfree4u.download/">WorldFree4u</a> - <em>Movies</em> </li>
   <li><a href="https://mp4moviez.pw/5/hollywood-english-movies.html">MP4Moviez</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.best-moviez.ws/">Best-MovieZ</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.mkvcinemas.tube/">mkvCinemas</a> - <em>Movies</em></li>
   <li><a href="https://www.mkvhub.co/">MKVHub</a> - <em>Movies / TV</em></li>
   <li><a href="https://gophie.cam/">Gophie</a> - <em>Movies / TV</em></li>
   <li><a href="https://ulmovies.xyz/">ULMovies</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.okhatrimaza.vin/category/7/hollywood-english-movies/default/1.html">oKhatrimaza</a> - <em>Movies</em></li>
   <li><a href="https://1sdmoviespoint.kim/category/hollywooddd/">SD Movies Point</a> - <em>Movies / TV</em></li>
   <li><a href="https://skymovieshd.kim/category/Hollywood-English-Movies.html">SkyMoviesHD</a> - <em>Movies</em></li>
   <li><a href="https://www.freemovieswatchonline.me/category/hollywood-movies-free-online-2019-s/">Free Movies Watch Online</a> - <em>Movies</em></li>
   <li><a href="https://hdfriday.com/category/download-hollywood-movies/">HDFriday</a> - <em>Movies</em></li>
   <li><a href="https://privatemoviez.com/">PrivateMovieZ</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.megauploadagora.com.br/">MegaUploadAgora</a> - <em>Movies / TV</em> </li>
   <li><a href="https://khatrimaza1.in/">Khatrimaza</a> - <em>Movies / TV</em> </li>
   <li><a href="https://warezlover.org/">Warez Lover</a> - <em>Movies / TV</em> </li>
   <li><a href="https://7starhd.cards/category/hollywood/">7StarHD</a> - <em>Movies / TV</em></li>
   <li><a href="https://latestmovie4u.com/">LatestMovie4U</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://coolmoviezone.lat/">CoolMovieZone</a> - <em>Movies</em></li>
   <li><a href="https://torrent2drive.video/0:/">Torrent2Drive</a> - <em>Movies / TV / <a href="https://t.me/torrent_2_drive">Telegram</a></em></li>
   <li><a href="https://drive.google.com/drive/folders/1FEXQWN5szPBTau3EPFaC8PkOgp3v4cve">Media</a> - <em>Movies / TV / Anime / Drive</em> </li>
   <li><a href="http://dl1.3rver.org/">dl1.3rver</a>, <a href="http://dl2.3rver.org/">2</a>, <a href="http://dl3.3rver.org/">3</a> - <em>Movies / TV / Drive</em></li>
   <li><a href="http://dl5.dlb3d.ir/Films/">dlb3d.ir</a>, <a href="http://dl5.dlb3d.ir/G/">2</a>, <a href="http://dl5.dlb3d.ir/M/">3</a>, <a href="http://dl5.dlb3d.ir/S/">4</a>, <a href="http://dl5.dlb3d.ir/Tv.Shows/">5</a>, <a href="http://dl10.dlb3d.ir/M/">6</a>, <a href="http://dl11.dlb3d.ir/G/">7</a>, <a href="http://dl12.dlb3d.ir/F/">8</a>, <a href="http://dl12.dlb3d.ir/J/">9</a>, <a href="http://dl12.dlb3d.ir/S/">10</a> - <em>Movies / TV / Drive</em></li>
   <li><a href="http://103.222.20.150/ftpdata/">103.222.20.150</a> - <em>Movies / Drive</em> </li>
   <li><a href="http://188.165.227.112/portail/">188.165.227.112</a> - <em>Movies / TV / Drive</em> </li>
   <li><a href="http://103.145.10.110/Data/">103.145.10.110</a> - <em>Movies / TV / Drive</em></li>
   <li><a href="http://162.12.215.254/Data/Movies/">162.12.215.254</a> - <em>Movies / Drive</em></li>
   <li><a href="http://124.29.199.194/">124.29.199.194</a> - <em>Movies / Drive</em></li>
   <li><a href="http://185.105.101.222/">185.105.101.222</a> - <em>Movies / Drive</em></li>
   <li><a href="https://drive.a092devs.workers.dev/0:/">a092devs</a> - <em>Movies / TV / Anime / Drive</em> </li>
   <li><a href="http://s27.bitdl.ir/">s27.BitDL.ir</a> - <em>Movies / TV / Drive</em></li>
   <li><a href="http://103.205.233.70/">DHAKA FTP</a> - <em>Movies / Drive</em> </li>
   <li><a href="https://easy-movie.com.au/cdn/">Easy-Movie</a> - <em>Movies / Drive</em> </li>
   <li><a href="https://sv.dcnm.ir/Serial/Foreign/">sv.dcnm.ir</a> - <em>TV / Drive</em> </li>
   <li><a href="https://sites.google.com/view/live-action-movies/home">Live Action Movies </a>, <a href="https://live-action-raws.tumblr.com/">2</a> - <em>Movies</em> </li>
   <li><a href="http://173.249.48.243/movies2/">173.249.48.243</a> - <em>Animation / Kids Movies</em></li>
   <li><a href="https://cartoons-raws.tumblr.com/master-list">Cartoons Raw</a>, <a href="https://sites.google.com/view/cartoonraws-disney/home">2</a> - <em>Cartoons</em> </li>
   <li><a href="https://bakabt.me/">Bakabt</a> - <em>Cartoons / <a href="http://wiki.bakabt.me/index.php/Sign_up">Signup</a></em> </li>
   <li><a href="https://tinymkv.xyz/">TinyMKV</a> - <em>Movies / TV</em></li>
   <li><a href="https://tvshows.480mkv.com/">480mkv</a> - <em>TV</em></li>
   <li><a href="https://www.480ptvshows.com/">480p TV Shows</a> - <em>Movies / TV</em> </li>
   <li><a href="https://www.300mbfilms.ws/">300mbFilms</a> - <em>Movies / TV</em></li>
   <li><a href="https://300mbplus.space/category/hollywood/">300mbPlus</a> - <em>Movies</em></li>
   <li><a href="https://tvshows4mobile.com/">TvShows4Mobile</a> - <em>TV / Anime</em></li>
   <li><a href="https://uhdmv.org/">UHDMV</a> - <em>HD Movies / TV</em></li>
   <li><a href="https://blu-ray.world/">Blu-Ray.world</a> - <em>HD Movies / TV</em></li>
   <li><a href="https://4k-hdr.org/">4K HDR</a> - <em>HD Movies / TV</em></li>
   <li><a href="https://4k-hd.club/">4k-hd.club</a> - <em>HD Movies</em></li>
   <li><a href="https://olamovies.top/">OlaMovies</a> - <em>HD Movies / TV</em> </li>
   <li><a href="https://mega.nz/folder/Pt8AHLAC#tAte3gNlNossthoHiSCL5w">4k Movie Collection</a> - <em>HD Movies</em></li>
   <li><a href="https://mega.nz/folder/fv4lCaZQ#6tS6HpQiWAjx6Ibr1N_D8w">r/MegaLinks Backup</a>, <a href="https://www71.zippyshare.com/v/behLhk3F/file.html">2</a></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_video_download">Telegram Video Download</a></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_teamdrive_indexes">TeamDrive Indexes</a> - <em>Most contain videos</em> </li>
   <li><a href="https://t.me/CartoonLibrary">CartoonLibrary</a> or <a href="https://t.me/Cartoon_Index">Cartoon_Index</a> - <em>Cartoons / Telegram</em></li>
   <li><a href="https://www.audio-track.com/en">Audio-Track</a> - <em>Download audio tracks for movies / tv</em></li>
</ul>
<hr>
<h2 id="-anime-downloading">▷ Anime Downloading</h2>
<ul>
   <li><strong><a href="https://piracy.moe/">/r/AnimePiracy Index</a></strong> - <em>Curated List of Anime Sites / <a href="https://discord.gg/piracy">Discord</a></em></li>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:osnah6w0yw8">Anime Download CSE</a></strong></li>
   <li><strong><a href="https://animekaizoku.com/">AnimeKaizoku</a></strong></li>
   <li><strong><a href="https://hi10anime.com/">hi10anime</a></strong></li>
   <li><strong><a href="https://animebatchddl.wordpress.com/">AnimeBatchDDL</a></strong> - <em><a href="https://discord.gg/h5pGByTZ9Z">Discord</a> / <a href="https://animebatchddl.code-geass.workers.dev/0:/">Drive</a>, <a href="https://animebatchddl.lelouch-vi-britannia.workers.dev/0:/">2</a>, <a href="https://animebatchddl.seisei-ruten.workers.dev/0:/">3</a>, <a href="https://animebatchddl.lelouch-lamperouge.workers.dev/0:/">4</a></em></li>
   <li><strong><a href="https://discord.gg/vbJ7RTn">Judas Discord</a></strong> - <em>Sub / Dub / <a href="https://reskk-my.sharepoint.com/personal/frankcastle_f_odpan_cn/_layouts/15/onedrive.aspx">OneDrive</a> / <a href="https://drive.google.com/drive/folders/19URIgzsbkOfNCXG13Wklmoq3KugKzk9j">GDrive</a> / <a href="https://groups.google.com/d/forum/judasddl">TeamDrive</a></em> </li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_anime_downloads">Telegram Anime Downloads</a></strong> - <em>Telegram Anime Download Channels</em> </li>
   <li><a href="http://www.anime-sharing.com/forum/">Anime-Sharing</a> - <em>Anime / Manga Download Forum</em></li>
   <li><a href="https://anime.thehylia.com/">TheHylia</a></li>
   <li><a href="https://animk.info/">Animk</a></li>
   <li><a href="https://www.animeout.xyz/">AnimeOut</a></li>
   <li><a href="https://www.anime2enjoy.com/">Anime2Enjoy</a> - <em><a href="https://discord.gg/PxSmumS">Discord</a></em> </li>
   <li><a href="https://animekayo.com/">Animekayo</a></li>
   <li><a href="https://www.soulreaperzone.com/">Soulreaperzone</a></li>
   <li><a href="https://anidl.org/">AniDL</a></li>
   <li><a href="https://www.picotube.online/">Picotube</a> </li>
   <li><a href="https://www.animeland.us/">AnimeLand</a> </li>
   <li><a href="https://animesub.in/">AnimeSub</a> </li>
   <li><a href="https://darklegends60mb.org/">DarkLegends</a></li>
   <li><a href="https://ssanime.ga/">SSAnime</a></li>
   <li><a href="https://kayoanime.com/">Kayoanime</a></li>
   <li><a href="https://drive.google.com/drive/folders/1nQ73oKeE5b50lzyDeszmdLv6rjYFolk5?usp=sharing">Anime Collection (3Tb)</a> - <em>Drive</em></li>
   <li><a href="https://www.erai-raws.info/">Erai-Raws</a> - <em><a href="https://discord.gg/2PfWaar">Discord</a></em></li>
   <li><a href="https://animedevil.com/">Anime Devil</a> - <em><a href="https://groups.google.com/g/animedevil">Telegram</a></em></li>
   <li><a href="https://noobsubs.com/">NoobSubs</a> - <em><a href="https://noobftp1.noobsubs.com/">Drive</a></em></li>
   <li><a href="https://damedesuyo.com/">DameDesuYo</a> </li>
   <li><a href="http://www.animechiby.com/">Chiby</a></li>
   <li><a href="http://anime7.download/">anime7.download</a></li>
   <li><a href="https://sites.google.com/view/animerawsmasterlist/home">Anime Raws Masterlist</a></li>
   <li><a href="https://mega.nz/#folder/jpMFlQLB#QZ0W2OIyko-n2BTouWjHOQ">CopyCat Encodes</a> - <em>Drive</em> </li>
   <li><a href="https://atdrive.animetimeserver.workers.dev/0:/">Anime Time Drive</a> - <em>Drive</em> </li>
   <li><a href="https://ffa.shiraha.workers.dev/">FFA DDL BATCH</a> - <em>Drive</em> </li>
   <li><a href="https://nibl.co.uk/bots.php">nibl</a> - <em>Anime Downloads / XDCC</em></li>
   <li><a href="https://github.com/Oshan96/monkey-dl">Monkey-DL</a>, <a href="https://hakuneko.download/">HakuNeko</a> / <a href="https://github.com/manga-download/hakuneko">2</a>, <a href="https://github.com/anime-dl/anime-downloader">anime-dl</a> or <a href="https://github.com/KorigamiK/ultimate-batch-anime-downloader">ultimate-batch-anime-downloader</a> - <em>Bulk Anime Downloader</em></li>
   <li><a href="https://github.com/asakura42/manyame/">manyame</a> - <em>IRC Anime Download Script</em> </li>
   <li><a href="https://archive.org/details/animedl4.0_202004">Anime DL</a> - <em>Stream &amp; Download Anime in VLC</em></li>
   <li><a href="https://github.com/Sakurai07/Crunchyroll.dl">Crunchyroll.dl</a>, <a href="https://github.com/anidl/crunchyroll-downloader-nx">Crunchyroll Downloader NX</a> or <a href="https://github.com/hama3254/Crunchyroll-Downloader-v3.0">Crunchyroll Downloader</a> - <em>Crunchyroll Downloaders (Non-Premium Only)</em> </li>
   <li><a href="https://github.com/anidl/funimation-downloader-nx">Funimation Downloader NX</a> - <em>Funimation Downloader (Non-Premium Only)</em> </li>
   <li><a href="https://github.com/yaqinking/DMHY">DMHY</a> - <em>OS X Anime Autodownloader</em> </li>
</ul>
<hr>
<h2 id="-educational-downloading-https-www-reddit-com-r-freemediaheckyeah-wiki-edu-wiki_-25ba_downloading-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/edu#wiki_.25BA_downloading">Educational Downloading</a></h2>
<hr>
<h1 id="-torrent-apps">► Torrent Apps</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_.25BA_vpn">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><strong><a href="https://www.stremio.com/">Stremio</a></strong> - <em>Torrent streaming app / <a href="https://redd.it/ahd6gk">Addons</a> / <a href="https://github.com/sungshon/PimpMyStremio">PimpMyStremio</a> / <a href="https://github.com/BurningSands70/stremio-downloader">Downloader</a> / <a href="https://github.com/streamio/streamio-ffmpeg">ffmpeg Wrapper</a></em></li>
   <li><strong><a href="https://getpopcorntime.is/">PopcornTime.is</a></strong> - <em>Movies / TV / Anime</em></li>
   <li><strong><a href="https://github.com/Jackett/Jackett">Jackett</a></strong> or <a href="https://nosmokingbandit.github.io/">Watcher</a> - <em>Autodownload Torrents</em></li>
   <li><a href="https://github.com/carlelieser/Flixerr">Flixerr</a> - <em>Movies / TV / r/Flixerr_Official / <a href="https://discord.gg/KrEYTJb">Discord</a></em></li>
   <li><a href="https://popcorntime.app/">PopcornTime.app</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="http://watchitapp.site/">WatchIt</a> - <em>Movies / TV / Anime / <a href="https://github.com/ZorrillosDev/watchit-desktop">GitHub</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/torrent#wiki_.25BA_torrent_clients">Torrent Clients</a> - <em>Some clients allow you to stream torrents</em></li>
   <li><a href="https://github.com/Radarr/Radarr">Radarr</a> - <em>Movie torrent autodownload</em></li>
   <li><a href="https://github.com/Sonarr/Sonarr">Sonarr</a>, <a href="https://schizoduckie.github.io/DuckieTV/">DuckieTV</a> or <a href="https://pymedusa.com/">Medusa</a> - <em>TV torrent autodownload</em></li>
   <li><a href="https://github.com/iam4x/bobarr">Bobarr</a> or <a href="https://github.com/lardbit/nefarious">Nefarious</a> - <em>Movie / TV autodownload / <a href="https://discord.gg/PFwM4zk">Discord</a></em></li>
   <li><a href="https://sickchill.github.io/">SickChill</a> or <a href="https://couchpota.to/">CouchPotato</a> - <em>Automatic torrent/nzb searching, downloading &amp; processing / Manager</em></li>
   <li><a href="https://redd.it/hbwnb2">Autodownload Tools</a> - <em>All Autodownload Tools</em></li>
   <li><a href="https://github.com/theotherp/nzbhydra">NZBHydra</a> - <em>Meta search for NZB indexers</em></li>
   <li><a href="https://github.com/fabiospampinato/cliflix">Clifix</a> - <em>Torrent Stream Search App</em></li>
   <li><a href="https://github.com/orinocoz/pirateflix">pirateflix</a> - <em>Stream TPB Movies from CLI</em> </li>
   <li><a href="https://github.com/johang/vlc-bittorrent">VLC-Bittorrent</a> - <em>Plays Torrent Files in VLC</em></li>
   <li><a href="https://github.com/diericx/iceetime">Iceetime</a> - <em>Self-Hosted Torrent Streaming</em> </li>
   <li><a href="http://duckietv.github.io/DuckieTV/">DuckieTV</a> - <em>TV Tracker / Torrent Downloader</em> </li>
   <li><a href="https://github.com/mafintosh/peerflix">PeerFlix</a> - <em>Streaming Torrent Client for Node.js</em> </li>
</ul>
<hr>
<h1 id="-torrent-sites">► Torrent Sites</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_.25BA_vpn">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:gaoebxgop7j">Video Torrent CSE</a></strong></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/torrent">Torrent Piracy Guide</a></strong> - <em>ctrl+f and type &quot;video&quot;</em></li>
   <li><strong><a href="http://topnow.se/">TopNow</a></strong> - <em>Movies / <a href="https://discord.gg/WHYmgeB">Discord</a></em></li>
   <li><strong><a href="https://eztv.re/">EZTV</a></strong> - <em>TV / Anime</em></li>
   <li><a href="http://magnet4you.me">Magnet4You</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://msearch.now.sh/">MSearch</a>, <a href="https://msearch.vercel.app/">2</a> - <em>Movies / TV</em></li>
   <li>WatchSoMuch - <a href="https://watchsomuch.tv/">Streaming</a> / <a href="https://watchsomuch.org/">Downloading</a></li>
   <li><a href="https://www.magnetoo.io/">magnetoo</a> - <em>Stream Movie Torrents Online</em></li>
   <li><a href="http://127.0.0.1:43110/1PLAYgDQboKojowD3kwdb3CtWmWaokXvfp/">Play</a> - <em><a href="https://zeronet.io/">ZeroNet Required</a> / Movies / TV</em></li>
   <li><a href="https://babytorrent.fun/">Baby Torrent</a> - <em>Movies / TV</em></li>
   <li><a href="http://yuptorrents.com/">YupTorrents</a> - <em>Movies</em> </li>
   <li><a href="https://www.vuze.com/content/">Vuze</a> - <em>Movies / TV</em> </li>
   <li><a href="https://tvsplurge.io/">Splurge TV</a> - <em>TV</em> </li>
   <li><a href="https://tvunderground.org.ru/">TV Underground</a> - <em>TV</em> </li>
   <li><a href="https://atorrents.com/">ATORRENTS</a> - <em>Movies</em></li>
   <li><a href="http://www.publicdomaintorrents.info/">Public Domain Movie Torrents</a> - <em>Movies</em></li>
   <li><a href="https://yts.mx/">YTS</a> - <strong>WARNING:</strong> Do <a href="https://androidrookies.com/top-torrent-website-yts-is-sharing-user-emails-and-ip-addresses-with-anti-piracy-law-firm/"><em>NOT</em></a> make a YTS account! - <em>Movies / <a href="https://yify.netlify.app/">Mirror</a></em> </li>
   <li><a href="https://xbit.pw/">xbit</a> - <em>Movie Torrent Release Information</em></li>
   <li><a href="https://greasyfork.org/en/scripts/17154-imdb-link-em-all">IMDb Link em All</a>, <a href="https://greasyfork.org/en/scripts/3967-imdb-scout">IMDb Scout</a> or <a href="https://github.com/singhkumarpratik/TMDB-Torrent-Movie-Database">TMDB-Torrent-Movie-Database </a> - <em>Add Torrent Site Results to IMDb Pages</em></li>
   <li><a href="https://greasyfork.org/en/scripts/376793-imdb-to-rarbg-torrent-search">IMDB to RARBG</a> - <em>RARBG Torrent / Magnet Links on IMDB</em> </li>
</ul>
<hr>
<h2 id="-anime-torrenting">▷ Anime Torrenting</h2>
<ul>
   <li><strong><a href="apa">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:lamzt6ls4iz">Anime Torrent CSE</a></strong></li>
   <li><strong><a href="https://nyaa.si/">nyaa</a></strong>, <a href="http://nyaa.iss.one/">2</a>, <a href="http://meowinjapanese.cf/">3</a> - <em><a href="https://github.com/natanbc/nyaasi">Scrape Tool</a></em></li>
   <li><strong><a href="https://anidex.info/">Anidex</a></strong></li>
   <li><strong><a href="https://hi10anime.com/">Hi10Anime</a></strong></li>
   <li><strong><a href="https://subsplease.org/">SubsPlease</a></strong></li>
   <li><a href="https://github.com/Kylart/KawAnime">KawAnime</a> - <em>Anime Streaming App / <a href="https://discord.com/invite/sdArN2Z">Discord</a></em> </li>
   <li><a href="https://www.tokyotosho.info/">TokyoTosho</a></li>
   <li><a href="https://animetosho.org/">AnimeTosho</a></li>
   <li><a href="https://www.anirena.com/">Anirena</a></li>
   <li><a href="https://www.shanaproject.com/">ShanaProject</a></li>
   <li><a href="https://discord.gg/4teAREmqdQ">Hakata Ramen</a></li>
   <li><a href="https://beatrice-raws.org/">Beatrice</a></li>
   <li><a href="https://nyaa.net/">Nyaa.net</a>  </li>
   <li><a href="https://ssanime.ga/">SSAnime</a></li>
   <li><a href="https://damedesuyo.com/">DameDesuYo</a> </li>
   <li><a href="https://www.goodjobmedia.com/">GoodJobMedia</a> </li>
   <li><a href="https://chihiro-subs.com/">Chihiro</a></li>
   <li><a href="http://some-stuffs.com/">Some-Stuffs</a> - <em><a href="https://discord.gg/wYgXer2">Discord</a></em></li>
   <li><a href="https://www.erai-raws.info/">Erai-Raws</a> - <em><a href="https://discord.gg/2PfWaar">Discord</a></em></li>
   <li><a href="http://127.0.0.1:43110/1AnimePihDhcbVdK1nvnbSEtH4oKU8RAYG/">Play Anime</a> - <em><a href="https://zeronet.io/">ZeroNet Required</a></em></li>
   <li><a href="https://github.com/laxyapahuja/nyaamal">nyaamal</a> - <em>Add torrents DL&#39;s to MAL / Anilist</em></li>
</ul>
<hr>
<h2 id="-educational-torrenting-https-www-reddit-com-r-freemediaheckyeah-wiki-edu-wiki_-25ba_torrenting-">▷ <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/edu#wiki_.25BA_torrenting">Educational Torrenting</a></h2>
<hr>
<h1 id="-tracking-discovery">► Tracking / Discovery</h1>
<ul>
   <li><strong><a href="https://www.imdb.com/search/">IMDb Advanced Search</a></strong></li>
   <li><strong><a href="https://tastedive.com/">TasteDive</a></strong> - <em>Recommendations</em> </li>
   <li><strong><a href="https://flickmetrix.com/">FlixMetrix</a></strong> - <em>Combines IMDb, Rotten Tomatoes and Letterbox ratings</em></li>
   <li><strong><a href="https://letterboxd.com/">Letterboxd</a></strong> - <em>Movies / <a href="http://www.letterboxd.tools/">Tools</a> / <a href="https://github.com/alandours/letterboxd-shortcuts">Add Shortcuts</a> / <a href="https://letterboxd-recommendations.herokuapp.com/">Generate Recommendations</a> / <a href="https://watchlistpicker.com/">Watchlist Picker</a> / <a href="https://mrdys.github.io/letterboxd-completionist/">Collections Index</a></em> </li>
   <li><strong><a href="https://trakt.tv/">Trakt</a></strong> - <em>TV / Anime / Movies / <a href="https://trakt.tv/apps">Apps</a> / <a href="https://huere.net/trakt/duplicate_removal/">Duplicate Remover</a></em></li>
   <li><strong><a href="https://myanimelist.net/">MyAnimeList</a></strong> or <a href="https://anilist.co/">AniList</a> - <em>Anime / <a href="https://anime.plus/">Extenstion</a> / <a href="https://malsync.moe/">Mal Site Sync</a> / <a href="https://mal.rl404.com/">Mal Alt View</a> / <a href="https://github.com/butterstroke/Anilist-Node">Anilist Wrapper</a> / <a href="https://jikan.moe/">Mal API</a></em></li>
   <li><strong><a href="https://www.icheckmovies.com/">ICheckMovies</a></strong> - <em>Movies / List Database / <a href="https://greasyfork.org/en/scripts/11541-icheckmovies-enhanced">Enhanced</a></em></li>
   <li><a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a> - <em>TV / Anime</em></li>
   <li><a href="https://www.imdb.com/">IMDb</a> or <a href="https://www.themoviedb.org/">TMDb</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.thetvdb.com/">TVDb</a> - <em>TV / Anime</em></li>
   <li><a href="https://movieo.me/">Movieo</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.allmovie.com/">AllMovie</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://www.tvmaze.com/">TVMaze,</a> <a href="https://www.trackseries.tv/">TrackSeries</a> or <a href="https://watched.li/">watched</a>  - <em>TV / Anime</em></li>
   <li><a href="https://showrss.info/">showRSS</a>  - <em>RSS / TV</em></li>
   <li><a href="https://www.anime-planet.com/">Anime-Planet</a> - <em>Anime</em> </li>
   <li><a href="https://kitsu.io/">Kitsu</a> - <em>Anime</em> </li>
   <li><a href="https://www.metacritic.com/">MetaCritic</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://rate.house/">rate.house</a> - <em>Media Tracker</em></li>
   <li><a href="https://www.flickchart.com/">FlickChart</a> - <em>Rank your movies</em></li>
   <li><a href="https://www.tastoid.com/">Tastoid</a> - <em>Mood Based Recommendations</em> </li>
   <li><a href="https://bestsimilar.com/">BestSimilar</a> - <em>Movie Recommendations</em> </li>
   <li><a href="https://github.com/rounakbanik/movies">Movies Capstone Project</a> - <em>Movie Recommendations</em> </li>
   <li><a href="https://www.film-fish.com/">FilmFish</a> - <em>Movie &amp; TV Recommendations</em> </li>
   <li><a href="https://www.suggestmemovie.com/">Suggest Me Movie</a> - <em>Movie Recommendations</em></li>
   <li><a href="https://movie-sync-app.web.app/">MovieSync</a> - <em>Movie Recommendations</em> </li>
   <li><a href="http://whatthehellshouldiwatchonnetflix.com/">What the Hell Should I Watch on Netflix?</a> - <em>Netflix TV Show / Movie Recommendations</em> </li>
   <li><a href="https://couchmoney.tv/">CouchMoney</a> - <em>Movie Recommendations for Trakt</em> </li>
   <li><a href="https://cinetrii.com/">Cinetrii</a> - <em>Discover Movies with Similar Themes</em> </li>
   <li><a href="https://datenightmovies.com/">DateNightMovies</a> - <em>Get Recommendations Based on 2 Movies</em> </li>
   <li><a href="https://daumann.github.io/imdb-compare-shows/">imdb-compare-shows</a> - <em>Compare TV Shows by IMDB ratings</em></li>
   <li><a href="https://www.mrqe.com/">MRQE</a> - <em>Movie Review Search Engine</em></li>
   <li><a href="https://tvchart.benmiz.com/">TV Chart</a> or <a href="https://whattowatchon.tv/">WhatToWatchOn.tv</a> - <em>TV Show Episode Ratings Graph</em></li>
   <li><a href="https://digitaldreamdoor.com/">DigitalDreamDoor</a> - <em>Greatest 100 Lists</em></li>
   <li><a href="http://www.reelscary.com/">ReelScary</a> - <em>Movies Rated by Scariness</em> </li>
   <li><a href="https://www.mymcpl.org/books-movies-music/read/based-on-the-book">Based on the Book</a> - <em>List of Movies Based on Books</em></li>
   <li><a href="https://www.whatismymovie.com/">What is My Movie?</a> - <em>Describe a film you remember / want to see</em></li>
   <li><a href="http://www.quodb.com/">QuoDB</a> - <em>Find Movies via Quotes</em></li>
   <li><a href="https://anitrakt.huere.net/">AniTrakt</a> - <em>Trakt / MyAnimeList Sync</em></li>
   <li><a href="https://cringemdb.com/">cringeMDb</a> - <em>Find Movies Safe to Watch with Parents</em> </li>
   <li><a href="https://www.bingeclock.com/">BingeClock</a> - <em>TV Show Length Calculator</em> </li>
   <li><a href="https://mydramalist.com/">MyDramaList</a> - <em>Asian Drama Tracker</em> </li>
   <li><a href="https://mythbank.com/">MythBank</a> - <em>Media Timelimes / Watch Orders</em> </li>
   <li><a href="https://notify.moe/">Anime Notifier</a> - <em>Anime List, Tracker, Database &amp; Notifier</em> </li>
   <li><a href="https://github.com/erengy/taiga">Tiaga</a> - <em>Anime Tracking Program</em> </li>
   <li><a href="https://github.com/BeeeQueue/arm-server">arm-server</a> - <em>Map Anime ID&#39;s between AniList, AniDB, MAL &amp; Kitsu</em> </li>
   <li><a href="http://www.animated-divots.net/chronst.html">Chronology of Animation</a> - <em>Animation History / Index</em></li>
   <li><a href="https://www.movie-censorship.com/">Movie-Censorship</a> - <em>Compare Alternate Versions of Media</em> </li>
   <li><a href="http://www.themoviemap.com/">MovieMap</a>, <a href="https://www.reelstreets.com/">ReelStreets</a>, <a href="http://www.movie-locations.com/">Movie-Locations</a>, <a href="http://www.wheredidtheyfilmthat.co.uk/">WhereDidTheyFilmThat</a>, <a href="http://www.british-film-locations.com/">British-Film-Locations</a> - <em>Film Location Maps</em></li>
   <li><a href="https://gogetspoiled.com/">GoGetSpoiled</a>, <a href="http://www.howdoesthemovieend.com/">HowDoesTheMovieEnd</a>, <a href="https://moviepooper.com/">MoviePooper</a>, <a href="https://www.spollywood.com/">Spollywood</a>, <a href="https://themoviespoiler.com/">themoviespoiler</a> or <a href="https://www.doesthedogdie.com/">DoesTheDogDie</a> - <em>Movie Spoilers</em> </li>
</ul>
<hr>
<h1 id="-request-videos">► Request Videos</h1>
<ul>
   <li><strong><a href="https://forum.dirtywarez.com/categories/download-requests.113/">DirtyWarez</a></strong> - <em>Movies / TV</em> </li>
   <li><strong><a href="https://yourptflixmovies.com/forum/44-movie-requests/">YourPTFlix</a></strong> - <em>Movies / TV / Sports</em></li>
   <li><strong><a href="https://movie-forum.co/forums/23-Requests">Movie-Forum</a></strong> - <em>Movies</em></li>
   <li><strong><a href="https://discord.gg/marBA97">TopNow</a></strong> - <em>Movies / TV / Anime</em></li>
   <li><strong><a href="http://worldscinema.org/movie-request/">WorldsCinema</a></strong> - <em>Movies</em> </li>
   <li><strong><a href="https://discord.com/invite/XBGm36RWEs">MoviesForDiscord</a></strong> - <em>Movies / TV / Anime</em></li>
   <li><a href="http://rarefilmm.com/requests/">RareFilmm</a> - <em>Rare Movies</em> </li>
   <li><a href="https://movieforfree.co/requests/">MoviesForFree</a> - <em>Movies / TV</em></li>
   <li><a href="https://sanet.st/community/t/requests">Sanet.st</a> - <em>Movies / TV</em> </li>
   <li><a href="https://megaddl.co/tv-request/">MegaDDL</a> - <em>TV</em></li>
   <li><a href="https://pirates-forum.org/Forum-Requests">pirates-forum</a> - <em>Movies / TV</em>  </li>
   <li><a href="https://c1ne.co/faq-requests/">C1NE</a> - <em>Movies / TV</em> </li>
   <li><a href="https://snahp.it/have-a-request/">Snahp</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://mkvbee.com/request/">MKVbee</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://www.tehparadox.net/requests/">TehParadox</a> - <em>Movies / TV</em> </li>
   <li><a href="https://supernova.to/sn/requests">SuperNova</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://t.me/WorldsrcOfficial">WorldSrc</a> - <em>Movies / TV / Telegram</em></li>
   <li><a href="https://discord.gg/h2P5zsNMxZ">TheMegaDrive</a> - <em>Movies / TV / Anime</em> </li>
   <li><a href="https://fmovies.co/">Fmovies</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://ww2.1movies.is/contact">1movies</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://uniquestream.vip/requests/">UniqueStream</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://9anime.to/">9Anime</a> - <em>Anime / Click Request</em></li>
   <li><a href="https://ssanime.ga/request">SSAnime</a> - <em>Anime</em> </li>
   <li><a href="https://animebatchddl.wordpress.com/">AnimeBatchDDL</a> - *<a href="https://discord.gg/h5pGByTZ9Z">Discord</a></li>
   <li><a href="https://www2.gustatv.to/requests/">GustaTV</a> - <em>Movies / TV</em> </li>
   <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe1-DTmK9yuAtmO6_pLMO4fR5UF2aWf0QbMME41blXfFWSQBA/viewform">TheWebFlix</a> - <em>Movies / TV</em> </li>
   <li><a href="http://www.anime-sharing.com/forum/anime-requests-19/">anime-sharing</a> - <em>Anime</em></li>
   <li><a href="https://www1.animeultima.to/anime-request?filter=Open">animeultima</a> - <em>Anime</em></li>
   <li><a href="https://nyafilmer.vip/contact/">NyaFilmer</a> - <em>Movies / TV / Anime</em></li>
   <li><a href="https://warezforums.com/Forum-Request-Movies-TV-Shows">warezforums</a> - <em>Movies / TV</em></li>
   <li><a href="https://katmoviehd.se/movie-request-page/">KatmovieHD</a> - <em>Movies / TV</em></li>
   <li><a href="http://psychodownloads.com/forumdisplay.php?19-Request-Zone">Psycho Download</a> - <em>Movies / TV</em></li>
   <li><a href="http://www.cyberphoenix.org/forum/forum/54-requests/">cyberphoenix</a> - <em>Movies / TV</em></li>
   <li><a href="https://www.dreamteamdownloads1.com/24/requests-new/">dreamteamdownloads1</a> - <em>Movies / TV</em></li>
   <li><a href="https://t.me/Rarefilmsbot">Rarefilmsbot</a> - <em>Movies / Telegram</em> </li>
   <li><a href="https://t.me/cc_mmrequestbot">Mobile movies request bot</a> - <em>Movies / Telegram / 480p</em> </li>
   <li><a href="https://t.me/all_world_movies_here_group">AWMHG</a> - <em>Movies / Telegram</em> </li>
   <li><a href="https://t.me/MoviesX_support">MoviesX_support</a> - <em>Movies / Telegram</em> </li>
   <li><a href="https://t.me/request_movies_group">request_movies_group</a> - <em>Movies / Telegram</em> </li>
   <li><a href="https://www.facebook.com/messages/t/kimcartoonfp">KimCartoon.to</a> - <em>Cartoons</em></li>
   <li><a href="https://kissasian.sh/RequestDrama">KissAsian.sh</a> - <em>KDrama</em></li>
   <li><a href="https://freecoursesite.com/request-course/">Free Course Site</a> - <em>Courses</em></li>
   <li><a href="https://gigacourse.com/request-course/">Gigcourse</a> - <em>Courses</em></li>
   <li><a href="https://www.tutflix.org/forums/request-section.12/">TutFlix</a> - <em>Courses / account required</em> </li>
   <li><a href="https://getfreecourses.co/request-course/">GetFreeCourses.co</a> - <em>Udemy Courses</em></li>
</ul>
<hr>
<h1 id="-subtitles">► Subtitles</h1>
<ul>
   <li><strong><a href="https://www.opensubtitles.org/">Open Subtitles</a></strong> - <em>Subtitles</em> </li>
   <li><strong><a href="https://www.nikse.dk/SubtitleEdit/Online">Subtitle Edit</a></strong>, <a href="https://www.syedgakbar.com/projects/dst">DST</a> or <a href="https://github.com/SubtitleEdit/subtitleedit">Subtitle Edit</a> - <em>Subtitle Editor</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_external_subs_player">External Subtitles Player</a></strong> - <em>Player Subs Externally</em> </li>
   <li><a href="http://www.elsubtitle.com/">elSubtitle</a> - <em>Subtitles &amp; Tools</em> </li>
   <li><a href="https://www.subtitlecat.com/">Subtitle Cat</a> - <em>Subtitles</em> </li>
   <li><a href="https://subscene.com/">Subscene</a> - <em>Subtitles</em> </li>
   <li><a href="https://subdl.com/">SubDL</a> - <em>Subtitles</em> </li>
   <li><a href="https://www.addic7ed.com/">Addic7ed</a> - <em>Subtitles</em> </li>
   <li><a href="https://www.subtitles.hr/">Subtitles.hr</a> - <em>Subtitles</em> </li>
   <li><a href="https://www.podnapisi.net/">Podnapisi</a> - <em>Subtitles</em> </li>
   <li><a href="https://subsplease.org/">Subsplease</a> - <em>Subtitles</em> </li>
   <li><a href="https://isubtitles.org/">iSubtitles</a> - <em>Subtitles</em> </li>
   <li><a href="https://www.subs4free.info/">Subs4Free</a> - <em>Subtitles</em> </li>
   <li><a href="https://english-subtitles.org/">English-Subtitles</a> - <em>Subtitles</em> </li>
   <li><a href="http://www.moviesubtitles.net/">MovieSubtitles</a> - <em>Subtitles</em></li>
   <li><a href="https://subtitlist.com/">Subtitlist</a> - <em>Subtitles</em> </li>
   <li><a href="https://subtitleshub.net/">SubtitlesHub</a> - <em>Subtitles</em> </li>
   <li><a href="https://www.english-subtitles.me/">English-Subtitles</a> - <em>Subtitles</em></li>
   <li><a href="https://megasubtitles.com/">MegaSubtitles</a> - <em>Subtitles</em> </li>
   <li><a href="https://subf2m.ir/">subf2m</a> - <em>Subtitles</em></li>
   <li><a href="http://www.tvsubtitles.net/">TVSubtitles</a> or <a href="http://www.tvsubs.net/">TVSubs</a> - <em>TV Subtitles</em> </li>
   <li><a href="https://kitsunekko.net/">kitsuneko</a> - <em>Anime Subtitles</em> </li>
   <li><a href="https://downsub.com/">DownSub</a> - <em>Download Subs from Video Sites</em> </li>
   <li><a href="https://amara.org/en/">amara</a> - <em>Add Subs to Youtube Videos</em></li>
   <li><a href="https://kentonishi.github.io/LiveTL/">LiveTL</a> - <em>YouTube Live Stream Translator</em> </li>
   <li><a href="https://www.bazarr.media/">Bazarr</a> - <em>Auto-Download Subtitles</em> </li>
   <li><a href="https://github.com/Diaoul/subliminal">Subliminal</a> - <em>Python Script</em> </li>
   <li><a href="https://github.com/sameera-madushan/SubtitleBOX">SubtitleBOX</a> - <em>Python Script</em> </li>
   <li><a href="https://github.com/pannal/Sub-Zero.bundle">Sub-Zero</a> - <em>Plex Subtitles</em> </li>
   <li><a href="https://subshifter.bitsnbites.eu/">Subshifter</a>, <a href="https://github.com/sc0ty/subsync">subsync</a>, <a href="https://github.com/smacke/ffsubsync">ffsubsync</a>, <a href="https://github.com/oseiskar/autosubsync">autosubsync</a> or <a href="https://github.com/micheleb/subslider.js">subslider.js</a> / <a href="https://micheleb.github.io/subslider.js/">2</a> - <em>Sync Subtitles</em> </li>
   <li><a href="https://t.me/SubtitleDLbot">SubtitleDLbot</a>, <a href="https://t.me/Tv_subtitles_bot">TV Sub Bot</a>, <a href="https://t.me/subtitle_dl_bot">subtitle_dl_bot</a> or <a href="https://t.me/subtitlepoolbot">subtitlepoolbot</a> - <em>Telegram Subtitles Bot</em> </li>
   <li><a href="https://t.me/MuxedBot">MuxedBot</a> - <em>Merge Subtitles / Telegram</em> </li>
   <li><a href="https://github.com/exebetche/vlsub">vlsub</a> - <em>VLC Subtitle Download</em> </li>
   <li><a href="https://sorz.github.io/asstosrt-wasm/">asstosrt-wasm</a> - <em>ASS / SSA to SRT Subtitles Converter</em> </li>
   <li><a href="https://github.com/Eshaan7/RenameThemSubs">RenameThemSubs</a> - <em>Rename Sub Files to match Video</em> </li>
   <li><a href="https://github.com/raryelcostasouza/pyTranscriber">pyTranscriber</a>, <a href="https://www.veed.io/auto-subtitle">Auto-Subtitle</a> or <a href="https://github.com/agermanidis/autosub">autosub</a>, <a href="https://github.com/BingLingGroup/autosub">2</a> - <em>Subtitle Generator</em> </li>
   <li><a href="https://github.com/gorhill/ccaptioner">CCaptioner</a> - <em>Add Subtitles to Videos / Extension</em> </li>
   <li><a href="https://github.com/gsantiago/subtitle.js">subtitle.js</a> - <em>Parse and manipulate SRT (SubRip)</em> </li>
   <li><a href="https://github.com/mepeichun/SubtitleTranslate">SubtitleTranslate</a> - <em>Translate Subtitles</em> </li>
   <li><a href="https://github.com/bonigarcia/dualsub">DualSub</a> - <em>Bilingual subtitles maker</em>  </li>
   <li><a href="https://hierogly.ph/">Hieroglyph</a> - <em>Transcribe YouTube videos</em> </li>
   <li><a href="https://github.com/HandyOrg/HandySub">HandySub</a> - <em>Subtitle Downloader</em></li>
   <li><a href="https://www.savesubs.com/">SaveSubs</a> - <em>Download Subs from Video Sites</em> </li>
   <li><a href="https://github.com/tp7/Sushi">Sushi</a> - <em>Automatic Subtitle Shifter Based on Audio</em> </li>
   <li><a href="https://github.com/kelciour/movies2anki">movies2anki</a> - <em>Convert Movies with Subs to Anki</em></li>
</ul>
<hr>
<h1 id="-helpful-sites-tools">► Helpful Sites / Tools</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25B7_video_tools">Video Tools</a></strong> - <em>General Video Tools</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_media_servers">Media Servers</a></strong> - <em>Servers to Host / Play Media</em> </li>
   <li><strong><a href="https://openvideofs.github.io">OpenVideo</a></strong> - <em>Use Streaming Sites in Ad Free Player w/ subs, Speed Control &amp; More</em></li>
   <li><strong><a href="https://www.reddit.com/r/Piracy/wiki/guides/video_quality_and_types_of_releases">Video Quality &amp; Types of Releases</a></strong> - <em>Video Quality / Release Type Guide / <a href="https://i.imgur.com/kEOrKJT.png">Image Guide</a></em></li>
   <li><strong><a href="https://github.com/Cloudbox/Community/wiki/Quality-Release-Groups">Quality Release Groups</a></strong> - <em>Movie / TV Release Group Index</em></li>
   <li><strong><a href="https://wiki.piracy.moe/">/r/animepiracy Wiki</a></strong> - <em>Anime Piracy Guides / Tutorials</em></li>
   <li><strong><a href="https://whereyouwatch.com/latest-reports/">WhereYouWatch,</a></strong> <a href="https://www.squawkr.io/">Squawkr</a>, <a href="https://play.google.com/store/apps/details?id=com.tashila.movieupdates">Movie Updates</a> or /r/movieleaks - <em>Check if a Movie has Leaked</em></li>
   <li><a href="https://dirtywarez.org/cat/streaming">Streaming Site Ranking</a> - <em>Alexa Rankings</em></li>
   <li><a href="https://runpee.com/">RunPee</a> - <em>Best times to break during movies</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_covers_.2F_posters">Media Poster / Covers</a> - <em>Covers for movies, TV ect.</em> </li>
   <li><a href="https://isthisdubbed.com/">IsThisDubbed?</a> - <em>Check if an anime is dubbed</em></li>
   <li><a href="https://www.animefillerlist.com/">AnimeFillerList</a> - <em>Anime Filler Guide</em></li>
   <li><a href="https://trace.moe/">trace.moe</a> - <em>Anime Scene Reverse Image Search</em></li>
   <li><a href="https://github.com/soruly/awesome-acg">Awesome ACG</a> - <em>Anime Tool Index</em> </li>
   <li><a href="https://anilinks.neocities.org/">Anilinks</a> - <em>Anime Related Site Index</em></li>
   <li><a href="https://spoilerprotection.wecdev.com/">Spoiler Protection 2.0</a> - <em>Keyword / Spoiler Blocker</em></li>
</ul>
</div>
</template>
<script>
export default {
  name: 'mtas'
}
</script>

<style>

</style>