<template>
<div class="content">
  <hr>
<hr>
<p><strong><a href="/">Back</a></strong></p>
<hr>
<hr>
<p><strong><a href="https://i.imgur.com/tkrjVnQ.png">Table of Contents</a></strong> - <em>For mobile users</em></p>
<hr>
<hr>
<h1 id="-audio-streaming">► Audio Streaming</h1>
<h2 id="-streaming-apps">▷ Streaming Apps</h2>
<ul>
   <li><strong><a href="https://spotify.com/">Spotify Client</a></strong> or <a href="https://xpomusic.com/">XpoMusic</a> - <em>Streaming</em></li>
   <li><strong>Spotify Tools</strong> - <strong><a href="https://github.com/mrpond/BlockTheSpot">Block Ads</a></strong>, <a href="https://www.ericzhang.me/projects/spotify-ad-blocker-ezblocker/">2</a>, <a href="https://github.com/Lyut/SpotiHook2">3</a> / <a href="https://versefy.app/">Lyrics</a> / <a href="https://github.com/khanhas/spicetify-cli">Spicetify</a>, <a href="https://github.com/khanhas/Spicetify">2</a>, <a href="https://github.com/3raxton/spicetify-custom-apps-and-extensions">Spicetify Addons</a> / <a href="https://spotify-dedup.com/">Dedup</a> / <a href="https://github.com/aleab/toastify">Hotkeys</a></li>
   <li><strong><a href="https://freezer.life/">Freezer</a></strong> - <em>Streaming</em> </li>
   <li><a href="https://funkwhale.audio/">FunkWhale</a> - <em>Streaming</em></li>
   <li><a href="https://github.com/nukeop/nuclear">nuclear</a> - <em>Streaming</em></li>
   <li><a href="https://github.com/JamesParkDev/ytmdesktop-adblock">YTMDesktop</a>, <a href="https://ytmdesktop.app/">2</a>, <a href="https://github.com/th-ch/youtube-music">Youtube-Music</a> or <a href="https://github.com/MaverickMartyn/youtube-music-desktop">YMD</a> - <em>YouTube Music Streaming</em> </li>
   <li><a href="https://github.com/mps-youtube/mps-youtube">mps-youtube</a> - <em>Stream / Download Youtube Music from Terminal</em></li>
   <li><a href="https://www.deezer.com/">Deezer</a> - <em>Streaming</em></li>
   <li><a href="https://musicbucket.net/">MusicBucket</a> - <em>Track / Share Music / Telegram</em> </li>
   <li><a href="https://github.com/xou816/spot">Spot</a> - <em>Spotify Desktop Client for Gnome</em> </li>
</ul>
<hr>
<h2 id="-streaming-sites">▷ Streaming Sites</h2>
<ul>
   <li><strong><a href="https://open.spotify.com/">Spotify</a></strong> - <em>Browser Music / <a href="https://gist.github.com/Simonwep/24f8cdcd6d32d86e929004013bd660ae">Adblocker</a> / <a href="http://jqbx.fm/">Listen Together</a></em></li>
   <li><strong><a href="https://music.youtube.com/">YouTube Music</a></strong> - <em>Browser Music</em></li>
   <li><strong><a href="https://reddit.musicplayer.io/">Reddit Music Player</a></strong> - <em>Subreddit music player</em></li>
   <li><strong><a href="https://soundcloud.com/">SoundCloud</a></strong> - <em>User made songs</em></li>
   <li><a href="http://ccmixter.org/">ccMixter</a> or <a href="http://dig.ccmixter.org/dig">dig ccMixter</a> - <em>Browser music</em></li>
   <li><a href="https://audiomack.com/">Audiomack</a> - <em>Browser music</em></li>
   <li><a href="https://slider.kz/">Slider</a> or <a href="https://myfreemp3.vip/">My Free MP3</a> - <em>Browser music</em></li>
   <li><a href="https://xprm.net/">xprm</a> - <em>Browser music</em></li>
   <li><a href="https://www.pandora.com/">Pandora</a> - <em>Browser music</em></li>
   <li><a href="https://www.jamendo.com/">Jamendo</a> - <em>Browser music</em></li>
   <li><a href="https://www.last.fm/">Last.fm</a> or <a href="https://libre.fm/">Libre.fm</a> - <em>Browser music</em></li>
   <li><a href="https://plug.dj/">plug.dj</a> - <em>Community Streaming by Genre</em> </li>
   <li><a href="https://hypem.com/popular">hypem</a> - <em>Rising</em></li>
   <li><a href="https://www.datpiff.com/">datpiff</a> - <em>Mixtapes</em></li>
   <li><a href="http://www.pumpyouup.com/">pumpyouup</a> - <em>Indie Dubstep</em></li>
   <li><a href="https://musopen.org/music/">musopen</a> - <em>Classical</em></li>
   <li><a href="https://www.jamendo.com/">jamendo</a> - <em>Independent</em></li>
   <li><a href="https://bandcamp.com/tag/free-music?tab=all_releases">Bandcamp</a> - <em>Free Bandcamp Music</em> </li>
   <li><a href="https://www.getfvid.com/">GetFVid</a> - <em>Facebook Video / Audio Downloader</em> </li>
   <li><a href="https://audionautix.com/">AudionautiX</a> - <em>Mood based streaming</em></li>
   <li><a href="https://downloads.khinsider.com/">Khinsider</a>, <a href="https://cirrusretro.com/">Cirrus Retro</a> or <a href="https://www.zophar.net/music">Zophar&#39;s</a> - <em>Video Game Soundtracks</em></li>
   <li><a href="https://themes.moe/">Themes.moe</a> - <em>Anime Themes</em></li>
   <li><a href="https://musicmap.info/">Musicmap</a> - <em>Genealogy / History of Music Genres</em> </li>
   <li><a href="https://randomsong.net/">Random Song</a> - <em>Random Song Generator</em></li>
   <li><a href="http://thenostalgiamachine.com/">The Nostalgia Machine</a> or <a href="https://bops.fm/">bops.fm</a> - <em>Random Songs by Year</em> </li>
   <li><a href="https://driveandlisten.herokuapp.com/">Drive &amp; Listen</a> - <em>Listen to Music and Drive in Multiple Cities</em> </li>
   <li><a href="http://mapofmetal.com/">Map of Metal</a> - <em>Interactive Map of Metal History</em> </li>
   <li><a href="https://pudding.cool/2018/06/music-map/?date=202102">The Cultural Borders of Songs</a> - <em>#1 Songs from 3,000 Countries</em> </li>
   <li><a href="https://eternalbox.dev/jukebox_index.html">The Eternal Jukebox</a> - <em>Never-ending, ever changing versions of any song</em></li>
   <li><a href="http://lostmyspace.com/">LostMyspace</a> - <em>Lost Myspace Songs</em> </li>
   <li><a href="https://bitmidi.com/">BitMidi</a> - <em>Stream / Download MIDI Files</em> </li>
   <li><a href="https://keygenmusic.net/">KeyGenMusic</a> or <a href="https://keygenmusic.tk/">keygenmusic.tk</a> - <em>Music from keygens, cracks, trainers, intros</em> </li>
   <li><a href="https://tabletopaudio.com/">Tabletop Audio</a> - <em>Ambient Audio for Tabletop Games</em> </li>
   <li><a href="https://diglib.library.vanderbilt.edu/ama-browse.pl">DigLib</a> - <em>East African Recordings</em> </li>
   <li><a href="https://www.freemusicarchive.org/">Free Music Archive</a> - <em>Royalty Free Music</em> </li>
   <li><a href="https://battleofthebits.org/">Battle of the Bits</a> - <em>User-Made Music Competitions</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_browser_music_sites">More Browser Music Sites</a> - <em>Browser music</em></li>
   <li><a href="https://funkwhale.xyz/">FunkWhale</a> - <em>Listen to &amp; Share Music in a Decentralized Network</em></li>
</ul>
<hr>
<h2 id="-podcasts-radio">▷ Podcasts / Radio</h2>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25B7_android_podcasts_.2F_radio">Android</a> / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25B7_ios_podcasts_.2F_radio">iOS</a></strong> - <em>Podcasts &amp; Radio</em></li>
   <li><strong><a href="https://open.spotify.com/browse/podcasts">Spotify Podcasts</a></strong> - <em>Podcasts / <a href="https://github.com/timdorr/spotifeed">RSS</a></em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_radio_streaming_sites">Radio Streaming Sites</a> - <em>Radio Sites</em></li>
   <li><a href="https://www.listennotes.com/">Listen Notes</a> - <em>Podcast Search Engine</em> </li>
   <li><a href="https://www.iheart.com/">iHeartRadio</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://www.mixcloud.com/">Mixcloud</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://tunein.com/">TuneIn</a> - <em>Podcasts / Radio</em></li>
   <li><a href="https://kukufm.com/">Kukufm</a> - <em>Podcasts / Radio</em> </li>
   <li><a href="https://www.podbean.com/">Podbean</a> - <em>Podcasts</em></li>
   <li><a href="https://podbay.fm/">Podbay</a> - <em>Podcasts</em></li>
   <li><a href="http://streamwat.ch/radio/">WebOasis Radio</a> - <em>Genre-Based Radio</em></li>
   <li><a href="https://chiru.no/">Chiru.no</a> - <em>Multiple Online Radio Sites</em> </li>
   <li><a href="https://archive.org/details/audio?&amp;sort=-downloads&amp;page=1">Archive.org</a> - <em>News / Classic Radio / Podcasts</em></li>
   <li><a href="http://www.dumb.com/oldtimeradio/">Dumb Old Time Radio</a> or <a href="https://oldtime.radio/">Old Time Radio</a> - <em>Classic Radio</em></li>
   <li><a href="https://www.oldtimeradiodownloads.com/">Old Time Radio Downloads</a> - <em>Classic Radio Downloads</em></li>
   <li><a href="https://www.adblockradio.com/en/">adblock radio</a> - <em>Ad Free Podcasts / Radio Player / <a href="https://github.com/adblockradio/adblockradio">GitHub</a></em></li>
   <li><a href="https://t.me/radiobot">radiobot</a> - <em>Radio / Telegram</em> </li>
   <li><a href="http://www.websdr.org/">WebSDR</a> - <em>Internet Radio Receiver</em></li>
   <li><a href="https://github.com/xgi/castero">castero</a> - <em>TUI Terminal Podcast Client</em></li>
   <li><a href="https://github.com/chronitis/curseradio">Curseradio</a> - <em>Internet radio in the terminal</em></li>
   <li><a href="https://plaza.one/">Nightwave Plaza</a> or <a href="https://vapor.fm/">vapor.fm</a> - <em>Vaporwave Radio</em></li>
   <li><a href="https://retrowave.ru/">Retrowave</a> - <em>Synthwave &amp; Retrowave Radio</em> </li>
   <li><a href="https://nightride.fm/">Nightride.fm</a> - <em>Synthwave &amp; Darksynth Radio</em> </li>
   <li><a href="https://www.di.fm/">Di.fm</a> - <em>Electronic Radio</em> </li>
   <li><a href="https://0x40.mon.im/">0x40</a> - <em>Electronic Radio w/ Anime Pictures</em> </li>
   <li><a href="https://poolside.fm/">Poolside FM</a> - <em>Summer Radio</em></li>
   <li><a href="http://radio.late.city/">latestation</a> - <em>Late-Night Radio</em></li>
   <li><a href="https://listen.moe/">LISTEN.moe</a>  - <em>K-Pop Radio</em></li>
   <li><a href="https://fountainofdreams.net/">Fountain of Dreams</a> - <em>Japanese 80&#39;s Radio</em> </li>
   <li><a href="https://rainwave.cc/">Rainwave</a> - <em>Video Game Music Radio</em></li>
   <li><a href="https://radio.garden/">Radio Garden</a> - <em>Play radio from anywhere in the world</em></li>
   <li><a href="https://radiooooo.com/">Radiooooo</a> - <em>Radio / Time Machine</em></li>
   <li><a href="https://420.moe/">420.moe</a> - <em>420 Radio</em> </li>
   <li><a href="http://listentothe.cloud/">Listen To The Clouds</a> or <a href="https://www.liveatc.net/">LiveATC</a> - <em>Air Traffic Radio Chatter</em> </li>
   <li><a href="https://www.broadcastify.com/">Broadcastify</a> - <em>Live Emergency, Aircraft &amp; Rail Feeds</em> </li>
   <li><a href="http://morsecode.me/">morsecode.me</a> - <em>Morse Code Radio / Communication</em></li>
   <li><a href="http://forums.mozillazine.org/viewtopic.php?t=3039738">Worldwide Radio</a> - <em>Radio Extension</em> </li>
   <li><a href="https://www.listenlater.fm/">ListenLater</a> - <em>Turn Articles into Podcasts</em> </li>
   <li><a href="https://listenbox.app/">ListenBox</a> - <em>Turn YouTube Video into Podcasts</em></li>
   <li><a href="https://www.podcastchart.com/">Podcast Chart</a> - <em>Podcast Chart / Rankings</em> </li>
</ul>
<hr>
<h2 id="-ambient-relaxation">▷ Ambient / Relaxation</h2>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25B7_android_relaxation">Android</a> / <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/android#wiki_.25B7_ios_relaxation">iOS</a></strong> - <em>Ambient</em> </li>
   <li><a href="https://lofi.cafe/">lofi.cafe</a> - <em>Lo-fi Radio</em></li>
   <li><a href="https://viberoom.audio/">Viberoom</a> - <em>Lofi Hip-Hop Radio</em></li>
   <li><a href="http://musicforprogramming.net/">Music For Programming</a> - <em>Music for Focus</em> </li>
   <li><a href="https://www.rainymood.com/">RainyMood</a> - <em>Rain Sounds</em> </li>
   <li><a href="http://rainfor.me/">rainfor.me</a> - <em>Rain Sounds / Relaxation</em> </li>
   <li><a href="https://drive.google.com/drive/u/0/mobile/folders/1sZ7Rev2ownSl-JlUn2VhE87RBwW9ZX9n">Headspace</a> - <em>Ambient / Sleep / Relaxation</em></li>
   <li><a href="https://raining.fm/">Raining.fm</a> - <em>Ambient</em> </li>
   <li><a href="https://noiz.io/">Noizio</a> - <em>Ambient</em> </li>
   <li><a href="https://rainyscope.com/">Rainyscope</a> - <em>Ambient</em> </li>
   <li><a href="https://www.calmsound.com/">Calmsound</a> - <em>Ambient</em> </li>
   <li><a href="https://relaxing.world/">Relaxing World</a> - <em>Ambient</em> </li>
   <li><a href="https://www.moszen.com/">Moszen</a> - <em>Ambient</em> </li>
   <li><a href="http://soundrown.com/">Soundrown</a> - <em>Ambient</em> </li>
   <li><a href="https://asoftmurmur.com/">A Soft Murmur</a> - <em>Ambient</em> </li>
   <li><a href="https://naturemixer.com/">Nature Mixer</a> - <em>Ambient</em> </li>
   <li><a href="http://www.effectgames.com/demos/canvascycle/">CanvasCycle</a> - <em>Ambient</em></li>
   <li><a href="http://moodturn.com/">MoodTurn</a> - <em>Ambient</em></li>
   <li><a href="https://www.ambient-mixer.com/">Ambient Mixer</a> - <em>Ambient / Music</em> </li>
   <li><a href="https://app.www.calm.com/">Calm</a> - <em>Meditation / Sleep Music</em> </li>
   <li><a href="https://tide.fm/">Tide.fm</a> or <a href="https://sounds4sleep.com/">Sounds4Sleep</a> - <em>Meditation / Sleep Sounds</em> </li>
   <li><a href="http://www.chillouts.com/">ChillOuts</a> - <em>Meditation Aid</em></li>
   <li><a href="https://augustambience.com/">August Ambiance</a> - <em>Ambient Summer Sounds / Relaxation</em> </li>
   <li><a href="https://virtocean.com/">VirtCcean</a> - <em>Ambient Ocean Sounds</em></li>
   <li><a href="https://asmrion.com/">ASMRion</a>, <a href="https://defonic.com/vibeasmrion.html">2</a> - <em>Ambient Noise Generator</em></li>
   <li><a href="https://coffitivity.com/">Coffitivity</a> or <a href="https://hipstersound.com/">Hipstersound</a> - <em>Ambient Cafe Sounds / Relaxation</em> </li>
   <li><a href="https://soundofcolleagues.com/">Sound Of Colleagues</a> - <em>Ambient Office Sounds</em></li>
   <li><a href="http://imissmybar.com/">I Miss My Bar</a> - <em>Ambient Bar Sounds</em> </li>
   <li><a href="http://youarelistening.to/">You are Listening To LA</a> - <em>Ambient City Sounds &amp; Live LAPD Police Radio</em> </li>
   <li><a href="https://mynoise.net/">myNoise</a> - <em>Background Noises &amp; Interactive Soundscapes</em> </li>
   <li><a href="https://www.noisli.com/">Noisli</a> - <em>Background Sounds for Productivity &amp; Focus</em> </li>
   <li><a href="https://movies.ambient-mixer.com/">Ambient-Mixer</a> - <em>Ambient Media Inspired Sounds</em> </li>
   <li><a href="http://listen.hatnote.com/">Listen to Wikipedia</a> - <em>Listen to the sound of Wikipedia&#39;s recent changes feed</em> </li>
   <li><a href="https://insecretgarden.com/">My Secret Garden</a> - <em>Ambient Sound Garden</em> </li>
   <li><a href="https://hostrider.com/">Coding Cat</a> - <em>Nyan Cat&#39;s Cousin / Lo-Fi Radio</em></li>
   <li><a href="http://anoise.tuxfamily.org/">ANoise</a> - <em>Ambient Sounds for Ubuntu / Relaxation</em> </li>
</ul>
<hr>
<h1 id="-audio-downloading">► Audio Downloading</h1>
<h2 id="-downloading-apps">▷ Downloading Apps</h2>
<ul>
   <li><strong><a href="https://deemix.app/">Deemix</a></strong> - <em>FLAC / MP3 / /r/deemix / <a href="https://t.me/deemixcommunity">Telegram</a> / <a href="https://archive.is/aQ3JA">ARL</a></em></li>
   <li><strong><a href="https://freezer.life/">Freezer</a></strong> - <em>MP3 / FLAC</em> </li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_youtube_to_mp3">YouTube to MP3</a></strong> - <em>Download from YouTube</em></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_audio_download">Telegram Audio Download</a></strong> - <em>Telegram audio download channels</em></li>
   <li><a href="https://t.me/SMLoadrNews">SMLoadr</a> - <em>FLAC / MP3 / <a href="https://github.com/thelucifermorningstar/SMLoadr-AUX/releases">Desktop GUI</a></em></li>
   <li><a href="https://notabug.org/sayem314/d-fi">d-fi</a>, <a href="https://github.com/frannyfx/freezer">freezer</a> or <a href="https://notabug.org/dlspt/dl-spt">DL-Spt</a> - <em>Deezer Music Download App</em>  </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_deezer_bots">Telegram Deezer Bots</a> - <em>FLAC / MP3</em></li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_telegram_audio_download_bots">Telegram Audio Download Bots</a></li>
   <li><a href="http://www.soulseekqt.net">Soulseek</a> or <a href="https://nicotine-plus.github.io/nicotine-plus/">Nicotine+</a> - <em>FLAC / MP3 / Account Required</em></li>
   <li><a href="https://yadi.sk/d/9H37O67t9XKsnA">Chimera</a> - <em>Music Download Tool</em> </li>
   <li><a href="https://github.com/RipMeApp/ripme">RipMe</a> - <em>Bulk Album Downloader</em>  </li>
   <li><a href="https://jwallet.github.io/spy-spotify/overview.html">Spytify</a> or <a href="https://github.com/jwallet/spy-spotify">spy-spotify</a> - <em>Record / Download Spotify Songs</em></li>
   <li><a href="https://github.com/LaurenceRawlings/savify">Savify</a> or <a href="https://github.com/spotDL/spotify-downloader">spotDL</a> - <em>Download Spotify Songs via YouTube</em> </li>
   <li><a href="https://github.com/artyshko/smd">smd</a> - <em>Download Spotify Songs / Linux</em></li>
   <li><a href="https://github.com/iheanyi/bandcamp-dl">BandCamp-DL</a>, <a href="https://downloadmusicschool.com/bandcamp/">Download Bandcamp</a>, <a href="https://github.com/daot/bcdl">bcdl</a> or <a href="https://github.com/Otiel/BandcampDownloader">Bandcamp Downloader</a> - <em>Bandcamp Downloader</em></li>
   <li><a href="https://github.com/NotTobi/soundcloud-dl">SoundCloud Downloader</a>, <a href="https://www.klickaud.co/">Klickaud</a>, <a href="https://greasyfork.org/en/scripts/394837-local-soundcloud-downloader">Local SoundCloud Downloader</a> or <a href="https://addons.mozilla.org/pl/firefox/addon/scdl-soundcloud-downloader/">SCDL</a> - <em>Soundcloud Downloader</em></li>
   <li><a href="https://github.com/nathom/streamrip">streamrip</a> - <em>Deezer &amp; SoundCloud Downloader</em></li>
   <li><a href="https://you-get.org/">you-get</a> or <a href="https://github.com/cooperhammond/irs">irs</a> - <em>Audio Command Line Download Tool</em></li>
   <li><a href="https://metacpan.org/pod/VK::MP3">VK::MP3</a> - <em>VK MP3 Search Tool</em> </li>
   <li><a href="https://github.com/zhenze12345/fetch-audio-from-fm">fetch-audio-from-fm</a> - <em>Download FM Site Audio</em> </li>
</ul>
<hr>
<h2 id="-downloading-sites">▷ Downloading Sites</h2>
<ul>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:ibmyuhh72io">Audio Download Sites Search</a></strong> + <a href="https://cse.google.com/cse?cx=006516753008110874046:ohobg3wvr_w">Audio Download Sites 2</a></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/download">Download Piracy Guide</a></strong> - <em>ctrl+f and type &quot;audio&quot;</em></li>
   <li><strong><a href="https://reddit.com/r/riprequests">RipRequests</a></strong> - <em>FLAC / MP3 / Ripping Discussion / <a href="https://discord.gg/y4MSkdvWYg">Discord</a></em></li>
   <li><strong><a href="https://free-mp3-download.net/">Free MP3 Download</a></strong> - <em>Search / MP3 / FLAC</em></li>
   <li><strong><a href="https://mudome.org/">Mudome</a></strong> - <em>MP3 / FLAC</em></li>
   <li><a href="https://www.pluspremieres.ws/">Plus Premieres</a> - <em>iTunes M4A</em></li>
   <li><a href="http://www7.iplusfree.org/">iPlusFree</a> - <em>iTunes M4A</em> </li>
   <li><a href="https://itdmusic.in/">iTDMusic</a> - <em>iTunes M4A</em> </li>
   <li><a href="https://thelastdisaster.vip/">The Last Disaster</a>, <a href="https://thelastdisaster.org/">2</a> - <em>MP3 / FLAC</em></li>
   <li><a href="https://songslover.vip/">SongsLover</a> - <em>MP3</em></li>
   <li><a href="http://freshremix.ru/">FreshRemix</a> - <em>MP3</em></li>
   <li><a href="https://nodata.tv/">nodata</a> - <em>MP3</em></li>
   <li><a href="http://ccmixter.org/">ccMixter</a> / <a href="http://dig.ccmixter.org/dig">dig ccMixter</a> - <em>DL / Stream / MP3</em> </li>
   <li><a href="https://www.mp3juices.cc/">MP3Juices</a> / <a href="https://mp3skulls.to/">MP3Skull</a> - <em>DL / Stream / MP3</em> </li>
   <li><a href="http://digitalmeltd0wn.blogspot.com/">Digital Meltd0wn</a> - <em>MP3</em></li>
   <li><a href="https://musicblogtrotter.blogspot.com/">Music Blogtrotter</a> - <em>MP3</em></li>
   <li><a href="https://newalbumreleases.net/">New Album Releases</a> - <em>MP3</em></li>
   <li><a href="https://mp3db.pro/">mp3db</a> - <em>MP3</em></li>
   <li><a href="https://music4newgen.org/">Music4NewGen</a> - <em>MP3</em> </li>
   <li><a href="https://www.thenetnaija.com/">NetNaija</a> - <em>MP3</em> </li>
   <li><a href="https://www.deadpulpit.com/">DeadPulpit</a> - <em>MP3</em></li>
   <li><a href="https://forum.funkysouls.org/">Funky Souls</a>, <a href="https://funkysouls.org/">2</a> - <em>MP3</em></li>
   <li><a href="http://74.136.132.35/MUSIC/ORIG/">74.136.132.35</a> - <em>MP3 / Drive</em></li>
   <li><a href="https://redd.it/nt7fea">Music for the masses !</a> - <em>MP3 / Drives</em></li>
   <li><a href="http://jacobsm.com/geedryve/records/mp3s/">geedryve</a> - <em>MP3 / Drive</em> </li>
   <li><a href="https://drive.google.com/drive/folders/1qJ9CT36FzGd7_4048__LLS4ZicV1qYl7">Music Library</a> - <em>MP3 / Drive</em></li>
   <li><a href="https://drive.google.com/drive/folders/1J6VVfN-iD6DLEMIC1kLETcc5f8ENoJs0">Kyan&#39;s Music</a> - <em>MP3 / Drive</em></li>
   <li><a href="https://newalbum.club/">NewAlbum.club</a> - <em>MP3 Search</em></li>
   <li><a href="https://flacattack.net/">FLAC Attack</a> - <em>FLAC</em></li>
   <li><a href="https://24flac.net/">24Flac.net</a> - <em>FLAC</em></li>
   <li><a href="https://flachdmusic.org/">Flac Music</a> - <em>FLAC</em></li>
   <li><a href="https://lossless-music.org/">Lossless-Music</a> - <em>FLAC</em></li>
   <li><a href="https://flaccat.com/">Flaccat</a> - <em>FLAC</em></li>
   <li><a href="https://losslessma.net/">Losslessma</a> - <em>FLAC</em></li>
   <li><a href="http://ubdn.me/">ubdn</a> - <em>MP3 / FLAC</em> </li>
   <li><a href="https://intmusic.net/">IntMusic</a> - <em>MP3 / FLAC</em>  </li>
   <li><a href="https://gangster.su/">Gangster</a> - <em>MP3 / FLAC</em>  </li>
   <li><a href="https://coreradio.ru/">Core Radio</a> - <em>MP3 / FLAC</em> </li>
   <li><a href="https://alterportal.net/">AlterPortal</a> - <em>MP3 / FLAC</em></li>
   <li><a href="https://wrzs.me/">Warez DL</a> - <em>MP3 / FLAC</em> </li>
   <li><a href="http://exystence.net/">Exystence</a> - <em>MP3 / FLAC</em>  </li>
   <li><a href="http://findflac.com/">FindFlac</a> - <em>FLAC / MP3 / MP4</em> </li>
   <li><a href="https://tvg-blog.tumblr.com/">TvG</a> - <em>MP3 / Rare Music</em></li>
   <li><a href="https://www.zippysharedjs.com/">zippyshare DJs</a> - <em>Zippyshare File Search</em> </li>
   <li><a href="https://archive.org/details/audio">Archive.org</a> - <em>DL / Stream / MP3</em> </li>
   <li><a href="https://xprm.net/">xprm</a> - <em>MP3 / DL / Stream / Requests</em></li>
   <li><a href="http://www.jimmyr.com/mp3_search.php">Jimmy R</a> or <a href="http://www.musgle.com/">Musgle</a> - <em>Google Directory Search / MP3</em></li>
   <li><a href="https://archive.org/details/noise-arch">The Noise-Arch Archive</a> - <em>Underground Cassette Tapes</em></li>
   <li><a href="http://takemetal.org/">Take Metal</a> - <em>Metal / MP3</em></li>
   <li><a href="https://getmetal.club/">GetMetal Club</a> - <em>Metal / MP3 / FLAC</em> </li>
   <li><a href="https://me-4u.com/index.php">Me-4U</a> - <em>Metal / MP3</em></li>
   <li><a href="https://thelastdisaster.org/">The Last Disaster</a> - <em>Metal / Hardcore / Rock / MP3 / FLAC</em></li>
   <li><a href="https://sophiesfloorboard.blogspot.com/">Sophie&#39;s Floorboard</a> - <em>Hardcore / MP3</em></li>
   <li><a href="https://1gabba.pw/">1Gabba</a> - <em>Electronic / MP3</em></li>
   <li><a href="https://gabber.od.ua/">Gabber</a> - <em>Electronic / MP3</em></li>
   <li><a href="http://freake.ru/">freake</a> - <em>Electronic / MP3</em> </li>
   <li><a href="https://dqqd.org/">DQQD</a> - <em>Electronic / MP3 / FLAC</em></li>
   <li><a href="https://themusicfire.com/">TheMusicFire</a> - <em>Electronic / MP3 / FLAC</em> </li>
   <li><a href="https://1trance.org/">1Trance</a> - <em>Trance / MP3</em></li>
   <li><a href="https://1techno.org/">1Techno</a> - <em>Techno / MP3</em></li>
   <li><a href="https://vaporwave.ivan.moe/">Vaporwave Library Project</a> - <em>Vaporwave</em></li>
   <li><a href="https://loa2k.neocities.org/">loa2k</a> - <em>Vaporwave</em></li>
   <li><a href="https://nuvaporwave.neocities.org/mirrors.html">nu guide</a> - <em>Vaporwave</em></li>
   <li><a href="http://lolicore.org/">lolicore.org</a> - <em>Lolicore / Breakcore</em></li>
   <li><a href="https://archive.org/details/davidwnivenjazz">David W. Niven Collection</a> - <em>Jazz music collection / <a href="https://www.electronicbeats.net/the-feed/download-650-gigabytes-jazz-free/">Article</a></em></li>
   <li><a href="https://boxset.ru/">BOXSET</a> - <em>Classical / FLAC</em></li>
   <li><a href="https://rabanetecomquiabo.blogspot.com/">chucrute com quiabo</a> - <em>Classical</em></li>
   <li><a href="http://94hiphop.com/">HQ Hip Hop</a> - <em>Hip Hop / MP3 / FLAC</em></li>
   <li><a href="https://rapload.org/">Rapload</a> - <em>Hip Hop / MP3</em></li>
   <li><a href="http://mikudb.moe/">MikuDB</a> - <em>Vocaloid / MP3</em></li>
   <li><a href="http://download-soundtracks.com/">Download-Soundtracks</a>, <a href="https://3ost.ru/">3ost</a> or <a href="https://www.tanikal.com/">tanikal</a> - <em>Movie Soundtracks / MP3</em></li>
   <li><a href="https://downloads.khinsider.com/">Khinsider</a> / <a href="https://github.com/TheLastZombie/VGMLoader">DL Tool</a>, <a href="https://project2612.org/index.php">Project2612</a>, <a href="https://vgmrips.net/packs/">VGMRips</a> or <a href="https://www.zophar.net/music">Zophar&#39;s</a> - <em>Video Game Soundtracks</em></li>
   <li><a href="https://www.sittingonclouds.com/">Sitting On Clouds</a> - <em>Game / Animation Soundtracks</em> </li>
   <li><a href="http://koe.anime-sharing.com/Packlist/">Anime Sharing</a> - <em>Anime Soundtracks</em> </li>
   <li><a href="https://www.squid-board.ru/">Squid-Board</a> - <em>Soundtracks / Forum</em> </li>
   <li><a href="https://bitmidi.com/">BitMidi</a> or <a href="http://www.vgmusic.com/">VGMusic</a>- <em>MIDI Files</em> </li>
   <li><a href="https://tabletopaudio.com/">Tabletop Audio</a> - <em>Ambient Audio for Tabletop Games</em> </li>
   <li><a href="https://www.freemusicarchive.org/">Free Music Archive</a> - <em>Royalty Free Music</em> </li>
   <li><a href="https://offers.adobe.com/en/na/audition/offers/audition_dlc.html">Adobe Audition Downloads</a>, <a href="http://free-loops.com/">Free-Loops</a>, <a href="https://www.freesoundeffects.com/free-sounds/airplane-10004/">FreeSOundEffects</a>, <a href="http://freesound.org/">Freesound</a> or <a href="https://sound-effects.bbcrewind.co.uk/">BBC Sound Effects</a> / <a href="https://github.com/FThompson/BBCSoundDownloader">Downloader</a> - <em>SFX / Loops</em></li>
   <li><a href="https://soundbible.com/">soundbible</a>, <a href="https://www.zapsplat.com/">ZapsPlat</a> or <a href="https://findsounds.com/">FindSounds</a> - <em>Sound Search Engine</em> </li>
   <li><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/storage#wiki_mp3_download_sites">More MP3 DL Sites</a>  - <em>DL / Stream / MP3</em> </li>
</ul>
<hr>
<h1 id="-audio-torrenting">► Audio Torrenting</h1>
<ul>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/adblock-vpn-privacy#wiki_.25BA_vpn">VPN Guide</a></strong> - <em>Get a VPN before torrenting</em></li>
   <li><strong><a href="https://cse.google.com/cse?cx=006516753008110874046:v75cyb4ci55">Audio Torrent Sites Search</a></strong></li>
   <li><strong><a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/torrent">Torrent Piracy Guide</a></strong> - <em>ctrl+f and type &quot;audio&quot;</em></li>
   <li><strong><a href="https://git.fuwafuwa.moe/cairn/Redtopia">Redtopia</a></strong> - <em>Redtopia Repository / FLAC</em></li>
   <li><strong><a href="https://kpg.neocities.org/">the /kpg/ torrent</a></strong> - <em>800gb+ Torrent File</em></li>
   <li><strong><a href="https://github.com/Lidarr/Lidarr">Lidarr</a></strong> - <em>Autodownload Music Torrents</em></li>
   <li><a href="http://music-torrent.net/">Music Torrent</a> - <em>FLAC</em></li>
   <li><a href="https://flactor.ru/">Flactor</a> - <em>FLAC</em></li>
   <li><a href="https://en.metal-tracker.com/">Metal Tracker</a> - <em>Metal / MP3</em></li>
   <li><a href="https://rawkbawx.rocks/">RockBox</a> - <em>Metal / MP3</em></li>
   <li><a href="http://www.mixtapetorrent.com/">MixtapeTorrent</a> - <em>Mixtapes / MP3</em></li>
   <li><a href="http://zombtracker.the-zomb.com/">ZOMB Torrents</a> - <em>Music sharing community / forum</em></li>
   <li><a href="http://bt.etree.org/">bt.etree</a> or <a href="https://www.etree.org/">Etree</a>- <em>Live Concert Recordings</em> </li>
</ul>
<hr>
<h1 id="-android-audio-https-www-reddit-com-r-freemediaheckyeah-wiki-android-wiki_-25ba_android_audio-">► <a href="/ai">Android Audio</a></h1>
<hr>
<h1 id="-ios-audio-https-www-reddit-com-r-freemediaheckyeah-wiki-android-wiki_-25ba_ios_audio-">► <a href="/ai">iOS Audio</a></h1>
<hr>
<h1 id="-tracking-discovery">► Tracking / Discovery</h1>
<ul>
   <li><strong><a href="https://www.last.fm/home">Last.fm</a></strong> or <a href="https://libre.fm/">Libre</a> - <em>Automatically track music you listen to + <a href="https://openscrobbler.com/">Manual Scrobble</a></em></li>
   <li><strong><a href="https://hasitleaked.com/">Has it leaked</a></strong> or <a href="https://leaked.cx/">LEAKED</a> - <em>Album Leak Tracker</em></li>
   <li><strong><a href="https://muspy.com/">Muspy</a></strong> - <em>Get album release updates</em></li>
   <li><strong><a href="https://www.sputnikmusic.com/">Sputnik</a></strong> - <em>albums</em></li>
   <li><a href="https://rateyourmusic.com/">RateYourMusic</a>, <a href="https://www.discogs.com/">Discogs</a> or <a href="https://musicbrainz.org/">Musicbranz</a> - <em>albums / songs</em></li>
   <li><a href="https://www.worldspotify.com/">World Spotify</a> - <em>Daily Most Streamed Tracks by Country</em> </li>
   <li><a href="https://spotalike.com/">Spotalike</a> - <em>Spotify Playlist Generator</em></li>
   <li><a href="https://forgotify.com/">Forgotify</a> - <em>Spotify songs with 0 plays</em>  </li>
   <li><a href="https://obscurifymusic.com/">Obscurify</a> - <em>Compare Music Taste to Others</em> </li>
   <li><a href="https://www.music-map.com/">Music-Map</a>, <a href="https://www.musicroamer.com/">Musicroamer</a> or <a href="http://akinbeat.com/">AkinBeats</a> - <em>Similar Artist Discovery</em> </li>
   <li><a href="http://boilthefrog.playlistmachinery.com/">BoilTheFrog</a> - <em>Create Playlists From 2 Artists</em> </li>
   <li><a href="https://t.me/UnknownMusicBot">UnknownMusicBot</a> - <em>Play a random rare song from YouTube</em> </li>
   <li><a href="https://www.gnoosic.com/">Gnoosic</a> - <em>Band Discovery Tool</em> </li>
   <li><a href="https://musicroamer.com/">Musicroamer</a> - <em>Band Discovery Tool</em> </li>
   <li><a href="https://1001albumsgenerator.com/">1001 Albums Generator</a> - <em>Generates Random Album Each Weekday</em> </li>
   <li><a href="https://digitaldreamdoor.com/">DigitalDreamDoor</a> - <em>Greatest 100 Lists</em></li>
   <li><a href="http://www.acclaimedmusic.net/">Acclaimed Music</a> - <em>Discover Acclaimed Music of the Times</em></li>
   <li><a href="https://www.besteveralbums.com/index.php">Best Ever Albums</a> - <em>Discover Albums</em></li>
   <li><a href="https://www.tunefind.com/">Tunefind</a> - <em>Find Music from Movies / TV</em> </li>
   <li><a href="https://www.musicgenretree.org/chart.html">MusicGenreTree</a> - <em>Discover New Music by Genre</em></li>
   <li><a href="http://music.ishkur.com/">Music.ishkur</a> - <em>Electronic Music Guide</em> </li>
   <li><a href="http://everynoise.com/">Every Noise at Once</a> - <em>Music samples of any genre</em></li>
   <li><a href="https://listeningtogether.atspotify.com/">Listening Together</a> - <em>Tracks Each Time Two People Play the Same Song</em></li>
   <li><a href="https://rate.house/">rate.house</a> - <em>Media Tracker</em></li>
</ul>
<hr>
<h1 id="-request-music">► Request Music</h1>
<ul>
   <li><strong><a href="https://forum.dirtywarez.com/categories/download-requests.113/">DirtyWarez</a></strong> </li>
   <li><a href="https://discord.gg/r7wwuAam3t">RIP REQUESTS</a> - <em>MP3 / FLAC / r/riprequests</em></li>
   <li><a href="https://t.me/WorldsrcOfficial">WorldSrc</a></li>
   <li><a href="https://www.tehparadox.net/requests/">TehParadox</a></li>
   <li><a href="https://sanet.st/community/t/requests">Sanet.st</a> </li>
   <li><a href="https://xprm.net/">xprm</a></li>
   <li><a href="https://pirates-forum.org/Forum-Requests">pirates-forum</a> </li>
   <li><a href="https://discord.gg/h2P5zsNMxZ">TheMegaDrive</a> - <em>Megadrive Discord</em> </li>
</ul>
<hr>
<h1 id="-audio-tools-https-www-reddit-com-r-freemediaheckyeah-wiki-tools-misc-wiki_-25b7_audio_tools-">► <a href="https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/tools-misc#wiki_.25B7_audio_tools">Audio Tools</a></h1>
</div>
</template>
<script>
export default {
  name: 'mpr'
}
</script>

<style>

</style>